Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(core): release native results when casting fails
  docs/function-lookup.md
  src/core.ts
  src/core/cleanupError.ts
  src/core/shapeTypes.ts
  src/index.ts
  src/topology/adjacencyFns.ts
  src/topology/booleanFns.ts
  tests/nativeResultCasting.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(topology): preserve placement composition and cleanup failures
  src/topology/api.ts
  src/topology/metadata/metadataPropagation.ts
  src/topology/transformFns.ts
  tests/locateComposed.test.ts
Due: eslint --fix, prettier --write

fix(core): release native results when casting or placement fails (#2318)
  docs/function-lookup.md
  src/core.ts
  src/core/cleanupError.ts
  src/core/shapeTypes.ts
  src/index.ts
  src/topology/adjacencyFns.ts
  src/topology/api.ts
  src/topology/booleanFns.ts
  src/topology/metadata/metadataPropagation.ts
  src/topology/transformFns.ts
  tests/locateComposed.test.ts
  tests/nativeResultCasting.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

chore(deps-dev): bump vitest and @vitest/coverage-v8 to 5.0.0 (#2323)
  package-lock.json
  package.json
  packages/brepjs-bim/package.json
  packages/brepjs-cad/package.json
  packages/brepjs-sheetmetal/package.json
  packages/brepjs-viewer/package.json
Due: none

fix(manifold): preserve native locator arguments during initialization
  packages/brepjs-manifold/src/index.ts
  tests/helpers/kernelInit.ts
  tests/manifoldInit.test.ts
Due: eslint --fix, prettier --write

fix(bim): validate rigid frames before native placement
  apps/playground/src/types/brepjs-ambient.d.ts
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  apps/playground/src/types/brepjs-families-ambient.d.ts
  packages/brepjs-bim/src/elementFns/placedGeometry.ts
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/familiesFrame.ts
  packages/brepjs-bim/src/familiesProductBody.ts
  packages/brepjs-bim/src/ifc-writer/tessellationWriter.ts
  packages/brepjs-bim/src/import/geometryRead.ts
  packages/brepjs-bim/src/import/placement.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/placementFrame.ts
  packages/brepjs-bim/src/rigidPlacement.ts
  packages/brepjs-bim/tests/helpers/nativeArena.ts
  packages/brepjs-bim/tests/helpers/nativeBodyFixture.ts
  packages/brepjs-bim/tests/ifcFrameValidation.test.ts
  packages/brepjs-bim/tests/importPlacement.test.ts
  packages/brepjs-bim/tests/nativeBodyBaseline.test.ts
  packages/brepjs-bim/tests/placedGeometry.test.ts
  packages/brepjs-bim/tests/placementFrame.test.ts
  packages/brepjs-bim/tests/productBodyArena.test.ts
  packages/brepjs-bim/tests/rigidFrame.test.ts
  packages/brepjs-bim/tests/rigidPlacementValidation.test.ts
  packages/brepjs-bim/tsconfig.nativeBaseline.json
  packages/brepjs-bim/tsconfig.rigidFrames.json
Due: none

fix(bim): reject degenerate supplied IFC placement directions
  packages/brepjs-bim/src/import/placement.ts
  packages/brepjs-bim/tests/ifcFrameValidation.test.ts
Due: none

fix(bim): index GlobalIds for every IFC root
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/src/import/spfReader.ts
  packages/brepjs-bim/tests/spfReaderGuidIndex.test.ts
Due: none

test(manifold): preserve native locator arguments during initialization (#2327)
  packages/brepjs-manifold/src/index.ts
  tests/helpers/kernelInit.ts
  tests/manifoldInit.test.ts
Due: eslint --fix, prettier --write

fix(bim): index GlobalIds for every IFC root (#2329)
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/src/import/spfReader.ts
  packages/brepjs-bim/tests/spfReaderGuidIndex.test.ts
Due: none

fix(bim)!: validate rigid frames before native placement (#2328)
  apps/playground/src/types/brepjs-ambient.d.ts
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  apps/playground/src/types/brepjs-families-ambient.d.ts
  packages/brepjs-bim/src/elementFns/placedGeometry.ts
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/familiesFrame.ts
  packages/brepjs-bim/src/familiesProductBody.ts
  packages/brepjs-bim/src/ifc-writer/tessellationWriter.ts
  packages/brepjs-bim/src/import/geometryRead.ts
  packages/brepjs-bim/src/import/placement.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/placementFrame.ts
  packages/brepjs-bim/src/rigidPlacement.ts
  packages/brepjs-bim/tests/helpers/nativeArena.ts
  packages/brepjs-bim/tests/helpers/nativeBodyFixture.ts
  packages/brepjs-bim/tests/ifcFrameValidation.test.ts
  packages/brepjs-bim/tests/importPlacement.test.ts
  packages/brepjs-bim/tests/nativeBodyBaseline.test.ts
  packages/brepjs-bim/tests/placedGeometry.test.ts
  packages/brepjs-bim/tests/placementFrame.test.ts
  packages/brepjs-bim/tests/productBodyArena.test.ts
  packages/brepjs-bim/tests/rigidFrame.test.ts
  packages/brepjs-bim/tests/rigidPlacementValidation.test.ts
  packages/brepjs-bim/tsconfig.nativeBaseline.json
  packages/brepjs-bim/tsconfig.rigidFrames.json
Due: none

fix(create-brepjs): track brepjs 20 in the scaffold template
  packages/create-brepjs/templates/package.json.tpl
Due: none

chore(release): exclude tests from the root release train
  .claude/skills/companion-packages/references/publish-pipeline.md
  .claude/skills/release-publishing/SKILL.md
  release-please-config.json
Due: prettier --write

fix(create-brepjs): track brepjs 20 in the scaffold template (#2332)
  packages/create-brepjs/templates/package.json.tpl
Due: none

docs(bim): list #2328 in the 0.24.2 changelog
  .prettierignore
  packages/brepjs-bim/CHANGELOG.md
Due: prettier --write

docs(bim): scope the changelog note and the prettier ignore
  .prettierignore
  packages/brepjs-bim/CHANGELOG.md
Due: prettier --write

chore(release): exclude tests from the root release train (#2333)
  .claude/skills/companion-packages/references/publish-pipeline.md
  .claude/skills/release-publishing/SKILL.md
  release-please-config.json
Due: prettier --write

docs(bim): list #2328 in the 0.24.2 changelog (#2335)
  .prettierignore
  packages/brepjs-bim/CHANGELOG.md
Due: prettier --write

docs(changelog): mark brepjs 20.0.0 as a no-op version
  CHANGELOG.md
Due: prettier --write

chore(release): rewind brepjs to 19.0.5 after unpublishing 20.0.0
  .claude/skills/release-publishing/SKILL.md
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  packages/create-brepjs/CHANGELOG.md
  packages/create-brepjs/package.json
  packages/create-brepjs/templates/package.json.tpl
Due: prettier --write

docs(changelog): mark brepjs 20.0.0 as a no-op version
  .claude/skills/release-publishing/SKILL.md
  CHANGELOG.md
Due: prettier --write

docs(changelog): mark brepjs 20.0.0 as a no-op version (#2338)
  .claude/skills/release-publishing/SKILL.md
  CHANGELOG.md
Due: prettier --write

fix(bim): measure borrowed Body items with owned temporary cleanup
  package-lock.json
  packages/brepjs-bim/README.md
  packages/brepjs-bim/package.json
  packages/brepjs-bim/src/productBodyCleanup.ts
  packages/brepjs-bim/src/productBodyTestHooks.ts
  packages/brepjs-bim/src/serialize/exactWallQuantities.ts
  packages/brepjs-bim/src/types/productBody.ts
  packages/brepjs-bim/tests/exactProductBodyIfc.test.ts
  packages/brepjs-bim/tests/materialQuantityCleanup.test.ts
  packages/brepjs-bim/tests/productBodyMaterial.test.ts
  packages/brepjs-bim/tests/productBodyMaterialNative.test.ts
Due: prettier --write

chore(bim): leave the lockfile peer range to a follow-up sync
  package-lock.json
Due: none

fix(bim): measure borrowed Body items with owned temporary cleanup (#2339)
  packages/brepjs-bim/README.md
  packages/brepjs-bim/package.json
  packages/brepjs-bim/src/productBodyCleanup.ts
  packages/brepjs-bim/src/productBodyTestHooks.ts
  packages/brepjs-bim/src/serialize/exactWallQuantities.ts
  packages/brepjs-bim/src/types/productBody.ts
  packages/brepjs-bim/tests/exactProductBodyIfc.test.ts
  packages/brepjs-bim/tests/materialQuantityCleanup.test.ts
  packages/brepjs-bim/tests/productBodyMaterial.test.ts
  packages/brepjs-bim/tests/productBodyMaterialNative.test.ts
Due: prettier --write

chore(deps): sync the lockfile with the brepjs-bim peer range
  package-lock.json
Due: none

chore(deps): sync the lockfile with the brepjs-bim peer range (#2340)
  package-lock.json
Due: none

fix(bim): report retained Wall quantity failures from serialization
  apps/docs/bim/elements.md
  packages/brepjs-bim/README.md
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/src/ifc-writer/psetWriter.ts
  packages/brepjs-bim/src/serialize/exactWallQuantities.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/src/serialize/wallQuantities.ts
  packages/brepjs-bim/tests/exactProductBodyIfc.test.ts
  packages/brepjs-bim/tests/exactWallQuantityOmission.test.ts
  packages/brepjs-bim/tests/helpers/ifcBodyFixture.ts
  packages/brepjs-bim/tests/helpers/wallQuantityFixture.ts
  packages/brepjs-bim/tests/materialQuantityCleanup.test.ts
  packages/brepjs-bim/tests/wallQuantityEligibility.test.ts
  packages/brepjs-bim/tests/wallQuantityNativeFailures.test.ts
  packages/brepjs-bim/tests/wallQuantityWrapper.test.ts
Due: prettier --write

fix(bim): report retained Wall quantity failures from serialization (#2342)
  apps/docs/bim/elements.md
  packages/brepjs-bim/README.md
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/src/ifc-writer/psetWriter.ts
  packages/brepjs-bim/src/serialize/exactWallQuantities.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/src/serialize/wallQuantities.ts
  packages/brepjs-bim/tests/exactProductBodyIfc.test.ts
  packages/brepjs-bim/tests/exactWallQuantityOmission.test.ts
  packages/brepjs-bim/tests/helpers/ifcBodyFixture.ts
  packages/brepjs-bim/tests/helpers/wallQuantityFixture.ts
  packages/brepjs-bim/tests/materialQuantityCleanup.test.ts
  packages/brepjs-bim/tests/wallQuantityEligibility.test.ts
  packages/brepjs-bim/tests/wallQuantityNativeFailures.test.ts
  packages/brepjs-bim/tests/wallQuantityWrapper.test.ts
Due: prettier --write

fix(bim): retain every imported opening-cut survivor
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/README.md
  packages/brepjs-bim/src/geometryCleanupDiagnostics.ts
  packages/brepjs-bim/src/import/cutImportedSolids.ts
  packages/brepjs-bim/src/import/fromIfc.ts
  packages/brepjs-bim/src/import/importedModel.ts
  packages/brepjs-bim/tests/geometryCleanupDiagnostics.test.ts
  packages/brepjs-bim/tests/helpers/importedBodyFixture.ts
  packages/brepjs-bim/tests/importedBodyItems.test.ts
  packages/brepjs-bim/tests/importedOpeningNativeCast.test.ts
  packages/brepjs-bim/tests/importedOpeningOwnership.test.ts
Due: prettier --write

fix(bim): retain every imported opening-cut survivor (#2344)
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/README.md
  packages/brepjs-bim/src/geometryCleanupDiagnostics.ts
  packages/brepjs-bim/src/import/cutImportedSolids.ts
  packages/brepjs-bim/src/import/fromIfc.ts
  packages/brepjs-bim/src/import/importedModel.ts
  packages/brepjs-bim/tests/geometryCleanupDiagnostics.test.ts
  packages/brepjs-bim/tests/helpers/importedBodyFixture.ts
  packages/brepjs-bim/tests/importedBodyItems.test.ts
  packages/brepjs-bim/tests/importedOpeningNativeCast.test.ts
  packages/brepjs-bim/tests/importedOpeningOwnership.test.ts
Due: prettier --write

chore(deps): hold mermaid at 11.x until vitepress-plugin-mermaid accepts 12
  .github/dependabot.yml
Due: none

chore(deps): hold mermaid at 11.x until vitepress-plugin-mermaid accepts 12 (#2349)
  .github/dependabot.yml
Due: none

feat(bim): export retained Wall and Railing items with Reference openings
  apps/docs/bim/elements.md
  apps/docs/bim/overview.md
  packages/brepjs-bim/README.md
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/src/ifc-writer/geometryWriter.ts
  packages/brepjs-bim/src/ifc-writer/headerWriter.ts
  packages/brepjs-bim/src/ifc-writer/openingWriter.ts
  packages/brepjs-bim/src/ifc-writer/railingWriter.ts
  packages/brepjs-bim/src/ifc-writer/tessellationWriter.ts
  packages/brepjs-bim/src/serialize/productBodyPreflight.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/tests/bimGeometryIfc.test.ts
  packages/brepjs-bim/tests/exactProductBodyIfc.test.ts
  packages/brepjs-bim/tests/exactProductBodyTakeover.test.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-bim/tests/helpers/ifcBodyFixture.ts
  packages/brepjs-bim/tests/helpers/importedBodyFixture.ts
  packages/brepjs-bim/tests/helpers/openingFixture.ts
  packages/brepjs-bim/tests/irDrift.test.ts
  packages/brepjs-bim/tests/openingRepresentation.test.ts
  packages/brepjs-bim/tests/phase2Geometry.test.ts
  packages/brepjs-bim/tests/phase4RoundTrip.test.ts
  packages/brepjs-bim/tests/placementRoundTrip.test.ts
  packages/brepjs-bim/tests/productBodyIfcExchange.test.ts
  packages/brepjs-bim/tests/productBodyIfcFailures.test.ts
  packages/brepjs-bim/tests/productBodyIfcNativeFailures.test.ts
Due: prettier --write

feat(bim): export retained Wall and Railing items with Reference openings (#2350)
  apps/docs/bim/elements.md
  apps/docs/bim/overview.md
  packages/brepjs-bim/README.md
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/src/ifc-writer/geometryWriter.ts
  packages/brepjs-bim/src/ifc-writer/headerWriter.ts
  packages/brepjs-bim/src/ifc-writer/openingWriter.ts
  packages/brepjs-bim/src/ifc-writer/railingWriter.ts
  packages/brepjs-bim/src/ifc-writer/tessellationWriter.ts
  packages/brepjs-bim/src/serialize/productBodyPreflight.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/tests/bimGeometryIfc.test.ts
  packages/brepjs-bim/tests/exactProductBodyIfc.test.ts
  packages/brepjs-bim/tests/exactProductBodyTakeover.test.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-bim/tests/helpers/ifcBodyFixture.ts
  packages/brepjs-bim/tests/helpers/importedBodyFixture.ts
  packages/brepjs-bim/tests/helpers/openingFixture.ts
  packages/brepjs-bim/tests/irDrift.test.ts
  packages/brepjs-bim/tests/openingRepresentation.test.ts
  packages/brepjs-bim/tests/phase2Geometry.test.ts
  packages/brepjs-bim/tests/phase4RoundTrip.test.ts
  packages/brepjs-bim/tests/placementRoundTrip.test.ts
  packages/brepjs-bim/tests/productBodyIfcExchange.test.ts
  packages/brepjs-bim/tests/productBodyIfcFailures.test.ts
  packages/brepjs-bim/tests/productBodyIfcNativeFailures.test.ts
Due: prettier --write

fix(kernel): pass circularPattern's total angle in radians to occt-wasm
  src/kernel/occtWasm/transformOps.ts
  tests/patterns.test.ts
Due: eslint --fix, prettier --write

feat(measurement): add orientedBoundingBox on the principal axes of inertia
  docs/function-lookup.md
  src/index.ts
  src/kernel/interfaces/measureOps.ts
  src/kernel/occtWasm/measureOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/occtWasmTypes.ts
  src/measurement.ts
  src/measurement/README.md
  src/measurement/orientedBoxFns.ts
  src/ns/measurement.ts
  tests/orientedBoxFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(csg): let the Evaluator materialize caller-defined IR kinds
  src/csg/evaluate.ts
  src/csg/index.ts
  tests/csg/csgCustomKinds.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
