Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

chore(manifold): remove scratch repro test, fix delegate lint, bump size limit
  .size-limit.json
  src/kernel/manifold/kernel2dNative.ts
  tests/parity/roundedRectRepro.test.ts
Due: eslint --fix, prettier --write

chore(manifold): prettier-format kernel2dOps + drop unused pointToFaceDistance (knip)
  src/kernel/manifold/kernel2dOps.ts
  src/kernel/manifold/nativeFaces.ts
Due: eslint --fix, prettier --write

feat(manifold): exact analytic 1D curve queries — full curves parity
  src/kernel/manifold/builderOps.ts
  src/kernel/manifold/curveDesc.ts
  src/kernel/manifold/geometryOps.ts
  src/kernel/manifold/measureOps.ts
  src/kernel/manifold/profileOps.ts
Due: eslint --fix, prettier --write

chore(manifold): prettier-format profileOps
  src/kernel/manifold/profileOps.ts
Due: eslint --fix, prettier --write

fix(manifold): rotate angle is radians (was double-converting deg→rad)
  src/kernel/manifold/transformOps.ts
  tests/helpers/kernelInit.ts
Due: eslint --fix, prettier --write

feat(manifold): profile-curve sampling follows kernel quality + skip OCCT-format roundtrip on manifold-only
  src/kernel/manifold/profileOps.ts
  tests/parity/roundtrip.test.ts
Due: eslint --fix, prettier --write

feat(manifold): empty-shape volume=0 + register mesh-kernel parity divergences
  src/kernel/manifold/topologyOps.ts
  tests/helpers/kernelDivergences.ts
  tests/helpers/kernelInit.ts
  tests/parity/booleans.test.ts
Due: eslint --fix, prettier --write

feat(kernel): capability flags + quality tiers (preview/exact ergonomics)
  src/index.ts
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/capabilities.ts
  src/kernel/index.ts
  src/kernel/interfaces/core.ts
  src/kernel/manifold/manifoldAdapter.ts
  src/kernel/occt/defaultAdapter.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/quality.ts
  src/topology/meshFns.ts
  tests/kernelTiers.test.ts
Due: eslint --fix, prettier --write

fix(kernel): address Greptile review on quality tiers
  src/kernel/index.ts
  src/topology/meshFns.ts
  tests/kernelTiers.test.ts
Due: eslint --fix, prettier --write

fix(test): register quality-tier exports in public-api contract; simplify
  src/kernel/manifold/manifoldAdapter.ts
  src/topology/meshFns.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

docs(agent): rework Authoring with AI for first-time approachability
  apps/docs/.vitepress/config.ts
  apps/docs/agent/cli.md
  apps/docs/agent/eval.md
  apps/docs/agent/overview.md
Due: prettier --write

test(voxel): add resolution-bound parity/conformance suite
  tests/parity/voxel/README.md
  tests/parity/voxel/booleans.test.ts
  tests/parity/voxel/convergence.test.ts
  tests/parity/voxel/helpers.ts
  tests/parity/voxel/invariants.test.ts
  tests/parity/voxel/measurement.test.ts
  tests/parity/voxel/vsOcct.test.ts
Due: eslint --fix, prettier --write

test(voxel): address review — separate bad-mesh bounds, cache fuse
  tests/parity/voxel/invariants.test.ts
  tests/parity/voxel/vsOcct.test.ts
Due: eslint --fix, prettier --write

fix(manifold): orient sketch extrudes by full plane basis, not just the axis
  src/kernel/manifold/sweepOps.ts
  tests/parity/planeExtrudeOrientation.test.ts
Due: eslint --fix, prettier --write

fix(manifold): honor the degree contract in composed transforms and implement makeCompound
  src/kernel/manifold/builderOps.ts
  src/kernel/manifold/transformOps.ts
  tests/parity/composedTransformParity.test.ts
Due: eslint --fix, prettier --write

fix(manifold): address review — plain error for empty makeCompound, honest skips in parity test
  src/kernel/manifold/builderOps.ts
  tests/parity/composedTransformParity.test.ts
Due: eslint --fix, prettier --write

chore(release): register brepjs-voxel-wasm + boundary enforcement test
  .release-please-manifest.json
  release-please-config.json
  scripts/check-layer-boundaries.sh
  tests/layerBoundaries.test.ts
Due: eslint --fix, prettier --write

chore(release): sync brepjs-voxel-wasm workspace range + enable node-workspace plugin
  package-lock.json
  packages/brepjs-voxel/package.json
  release-please-config.json
Due: none

perf(voxel): accelerate voxelize distance pass with a BVH
  packages/brepjs-voxel-wasm/Cargo.lock
  packages/brepjs-voxel-wasm/Cargo.toml
  packages/brepjs-voxel-wasm/benches/voxelize.rs
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/src/bvh.rs
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/ops.rs
Due: none

perf(voxel): reuse a traversal stack in the BVH nearest-distance hot path
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/src/bvh.rs
  packages/brepjs-voxel-wasm/src/ops.rs
Due: none

perf(voxel): hierarchical Barnes-Hut FWN for the voxelize sign pass
  packages/brepjs-voxel-wasm/benches/voxelize.rs
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/src/bvh.rs
  packages/brepjs-voxel-wasm/src/fwn.rs
  packages/brepjs-voxel-wasm/src/ops.rs
Due: none

docs(voxel): note BVH-build is in the bench timed region (Greptile P2)
  packages/brepjs-voxel-wasm/benches/voxelize.rs
Due: none

perf(voxel): narrow-band distance via a band-cutoff BVH query
  packages/brepjs-voxel-wasm/benches/voxelize.rs
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/src/bvh.rs
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/ops.rs
Due: none

perf(voxel): sparse tiled grid + seam-free tiled contouring
  .github/workflows/ci.yml
  packages/brepjs-voxel-wasm/benches/voxelize.rs
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/src/contour.rs
  packages/brepjs-voxel-wasm/src/grid.rs
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/ops.rs
  packages/brepjs-voxel-wasm/src/sparse.rs
  tests/voxelRepair.test.ts
Due: eslint --fix, prettier --write

fix(voxel): refuse sparse tile counts past u32::MAX (Greptile)
  packages/brepjs-voxel-wasm/benches/voxelize.rs
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/src/contour.rs
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/sparse.rs
Due: none

feat(voxel): persistent VoxelField + op-chains + Fast Sweeping reinit
  packages/brepjs-voxel-wasm/pkg/index.d.ts
  packages/brepjs-voxel-wasm/pkg/index.js
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm.d.ts
  packages/brepjs-voxel-wasm/src/grid.rs
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/ops.rs
  packages/brepjs-voxel/src/index.ts
  src/index.ts
  src/voxel/engine.ts
  src/voxel/fieldFns.ts
  src/voxel/index.ts
  tests/public-api-types.test.ts
  tests/voxelField.test.ts
Due: eslint --fix, prettier --write

style(voxel): prettier format VoxelField TS (CI format:check)
  src/voxel/engine.ts
  src/voxel/fieldFns.ts
  tests/voxelField.test.ts
Due: eslint --fix, prettier --write

chore(release): keep brepjs-voxel-wasm Cargo.toml in version lockstep
  packages/brepjs-voxel-wasm/Cargo.lock
  packages/brepjs-voxel-wasm/Cargo.toml
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  release-please-config.json
Due: none

build(voxel): widen loader range to survive voxel-wasm minor bumps
  package-lock.json
  packages/brepjs-voxel/package.json
Due: none

chore(release): sync voxel-wasm Cargo.toml to 0.3.0
  packages/brepjs-voxel-wasm/Cargo.lock
  packages/brepjs-voxel-wasm/Cargo.toml
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
Due: none

feat(playground): voxel lattice examples + voxel engine in the worker
  apps/playground/package.json
  apps/playground/src/lib/examples/index.ts
  apps/playground/src/lib/examples/voxel.ts
  apps/playground/src/types/node-shims.d.ts
  apps/playground/src/workers/cad.worker.ts
  package-lock.json
Due: none

feat(playground): make voxel examples teach, fix render + lockfile
  apps/playground/public/example-thumbs/lattice-lightweighting.webp
  apps/playground/public/example-thumbs/tpms-families.webp
  apps/playground/src/components/playground/StatusBar.tsx
  apps/playground/src/hooks/useWorker.ts
  apps/playground/src/lib/examples/voxel.ts
  apps/playground/src/stores/engineStore.ts
  apps/playground/src/workers/cad.worker.ts
  apps/playground/src/workers/workerProtocol.ts
  package-lock.json
Due: none

feat(playground): redesign voxel examples to teach when to use voxels
  apps/playground/public/example-thumbs/lattice-lightweighting.webp
  apps/playground/public/example-thumbs/robust-boolean.webp
  apps/playground/public/example-thumbs/robust-offset.webp
  apps/playground/public/example-thumbs/tpms-families.webp
  apps/playground/public/example-thumbs/voxel-op-chain.webp
  apps/playground/src/lib/examples/voxel.ts
  apps/playground/src/types/brepjs-ambient.d.ts
Due: none

test(playground): init voxel engine + accept raw-mesh returns in example eval
  tests/helpers/playgroundExampleEval.ts
  tests/playgroundExamples.test.ts
Due: eslint --fix, prettier --write

fix(playground): raise voxel example resolution to remove ripply edges
  apps/playground/public/example-thumbs/lattice-lightweighting.webp
  apps/playground/public/example-thumbs/robust-boolean.webp
  apps/playground/public/example-thumbs/robust-offset.webp
  apps/playground/public/example-thumbs/voxel-op-chain.webp
  apps/playground/src/lib/examples/voxel.ts
Due: none

feat(implicit): field-first SDF algebra — primitives, operators, expr tree, wasm Sdf + TS builder
  packages/brepjs-voxel-wasm/pkg/index.d.ts
  packages/brepjs-voxel-wasm/pkg/index.js
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm.d.ts
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/sdf/expr.rs
  packages/brepjs-voxel-wasm/src/sdf/mod.rs
  packages/brepjs-voxel-wasm/src/sdf/operators.rs
  packages/brepjs-voxel-wasm/src/sdf/primitives.rs
  packages/brepjs-voxel/src/index.ts
  scripts/check-layer-boundaries.sh
  src/implicit/index.ts
  src/implicit/sdfFns.ts
  src/index.ts
  src/voxel/engine.ts
  src/voxel/fieldFns.ts
  tests/implicitCore.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

docs(implicit): clarify offset param and cone axis orientation in docstrings
  packages/brepjs-voxel-wasm/src/sdf/operators.rs
  src/implicit/sdfFns.ts
Due: eslint --fix, prettier --write

test(implicit): guard chamber handle with using to avoid leak on assertion failure
  tests/implicitCore.test.ts
Due: eslint --fix, prettier --write

feat(implicit): profile-along-spine sweep operator with RMF frames (Phase 2a)
  packages/brepjs-voxel-wasm/pkg/index.d.ts
  packages/brepjs-voxel-wasm/pkg/index.js
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm.d.ts
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/sdf/expr.rs
  packages/brepjs-voxel-wasm/src/sdf/mod.rs
  packages/brepjs-voxel-wasm/src/sdf/sweep.rs
  src/implicit/index.ts
  src/implicit/sdfFns.ts
  src/index.ts
  src/voxel/engine.ts
  tests/implicitCore.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(implicit): close holonomy seam at sweep wrap and drop redundant closed flag
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/sdf/expr.rs
  packages/brepjs-voxel-wasm/src/sdf/mod.rs
  packages/brepjs-voxel-wasm/src/sdf/sweep.rs
Due: none
