Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat(offset): prefer offsetSolidV2 with feature detection
  src/kernel/brepkit/brepkitWasmTypes.ts
  src/kernel/brepkit/modifierOps.ts
  tests/brepkitOffsetV2.test.ts
Due: eslint --fix, prettier --write

test: add sketch arc and boolean edge case tests for brepkit-wasm 2.33.0
  tests/brepkitBooleanEdgeCases.test.ts
  tests/brepkitSketchArc.test.ts
Due: eslint --fix, prettier --write

chore: remove stale version guards, update pattern baseline
  .pattern-baseline.json
  src/kernel/brepkit/constructionOps.ts
  src/kernel/brepkit/meshOps.ts
Due: eslint --fix, prettier --write

fix: address PR review feedback
  scripts/sync-brepkit-types.ts
  src/kernel/brepkit/modifierOps.ts
  tests/brepkitBooleanEdgeCases.test.ts
Due: eslint --fix, prettier --write

feat(opencascade): upgrade to OCCT V8 + Emscripten 5
  .github/workflows/publish-opencascade.yml
  docs/architecture.md
  packages/brepjs-opencascade/build-config/brepjs.yml
  packages/brepjs-opencascade/build-config/custom_build_threaded.yml
  packages/brepjs-opencascade/build-config/custom_build_with_exceptions.yml
  packages/brepjs-opencascade/build-source/custom_build_single.yml
  packages/brepjs-opencascade/build-source/custom_build_threaded.yml
  packages/brepjs-opencascade/build-source/custom_build_with_exceptions.yml
  packages/brepjs-opencascade/build-source/defaults.yml
  packages/brepjs-opencascade/package.json
  src/kernel/occt/evolutionOps.ts
  src/kernel/occt/geometryQueryOps.ts
  src/kernel/occt/historyOps.ts
  src/kernel/occt/modifierOps.ts
  src/kernel/occt/topologyOps.ts
  src/topology/evolutionFns.ts
  src/topology/modifierFns.ts
  tests/kernel-ops.test.ts
Due: eslint --fix, prettier --write

fix: C++ syntax error in edge hash code replacement
  packages/brepjs-opencascade/build-config/brepjs.yml
Due: none

fix: add Handle_* typedefs for OCCT V8 compatibility
  packages/brepjs-opencascade/build-config/brepjs.yml
Due: none

fix: address review gaps — stale types, peer deps, site refs
  .release-please-manifest.json
  benchmarks/binary-size.bench.test.ts
  package.json
  site/src/lib/wasmConfig.ts
  site/src/lib/wasmPreloader.ts
  site/src/workers/cad.worker.ts
  site/vite.config.ts
  src/topology/evolutionFns.ts
  src/topology/modifierFns.ts
Due: eslint --fix, prettier --write

fix: add collection typedefs for V8 deprecated NCollectionAliases
  packages/brepjs-opencascade/build-config/brepjs.yml
Due: none

feat: add TopoDS_Cast + BRepMesh wrapper for OCCT V8
  packages/brepjs-opencascade/build-config/brepjs.yml
Due: none

fix: migrate TopoDS casts + add V8 wrapper classes
  src/kernel/occt/advancedOps.ts
  src/kernel/occt/extendedConstructorOps.ts
  src/kernel/occt/geometryQueryOps.ts
  src/kernel/occt/historyOps.ts
  src/kernel/occt/hullOps.ts
  src/kernel/occt/ioOps.ts
  src/kernel/occt/modifierOps.ts
  src/kernel/occt/sweepOps.ts
Due: eslint --fix, prettier --write

fix: add emscripten/bind.h include to additionalBindCode
  packages/brepjs-opencascade/build-config/brepjs.yml
Due: none

fix: add bounds check to TopologyResult::getShape
  docs/architecture.md
  packages/brepjs-opencascade/build-config/brepjs.yml
  src/kernel/occt/geometryQueryOps.ts
Due: eslint --fix, prettier --write

fix: replace StdPrs_ToolTriangulatedShape::Normal with V8 API
  package-lock.json
  packages/brepjs-opencascade/build-config/brepjs.yml
  packages/brepjs-opencascade/src/brepjs_single.d.ts
Due: none

fix: V8 constructor renumbering + Bnd_Box API migration
  src/kernel/occt/advancedOps.ts
  src/kernel/occt/constructorOps.ts
  src/kernel/occt/evolutionOps.ts
  src/kernel/occt/extendedConstructorOps.ts
  src/kernel/occt/historyOps.ts
  src/kernel/occt/kernel2dOps.ts
  src/kernel/occt/measureOps.ts
  src/kernel/occt/topologyOps.ts
  src/kernel/occt/transformOps.ts
  tests/guidedSweepFns.test.ts
  tests/multiSweepFns.test.ts
Due: eslint --fix, prettier --write

fix: add GeomAdaptor_TransformedSurface binding (V8 BRepAdaptor dep)
  packages/brepjs-opencascade/build-config/brepjs.yml
Due: none

fix: V8 runtime migration — 85% tests passing
  packages/brepjs-opencascade/src/brepjs_single.d.ts
Due: none

fix: export HEAP32/HEAPF32/HEAPU8 for emsdk 5.x + SetValue_1 renaming
  packages/brepjs-opencascade/build-config/brepjs.yml
  src/kernel/occt/advancedOps.ts
  src/kernel/occt/curveOps.ts
  src/kernel/occt/extendedConstructorOps.ts
  src/kernel/occt/kernel2dOps.ts
Due: eslint --fix, prettier --write

fix: use BRepMesh_IncrementalMeshWrapper, remove Perform call
  src/kernel/occt/geometryQueryOps.ts
  src/kernel/occt/hullOps.ts
Due: eslint --fix, prettier --write

fix: STEP Transfer_1 renaming + BRepMesh wrapper
  packages/brepjs-opencascade/src/brepjs_single.d.ts
  src/kernel/occt/ioOps.ts
Due: eslint --fix, prettier --write

fix: STEP writer Transfer_1, XSControl_Reader protected members (93% tests)
  packages/brepjs-opencascade/src/brepjs_single.d.ts
Due: none

fix: zero binding failures, 93% tests passing (2391/2585)
  packages/brepjs-opencascade/src/brepjs_single.d.ts
Due: none

fix: add HEAPF64 export, Geom2d_OffsetCurve_1 suffix
  packages/brepjs-opencascade/build-config/brepjs.yml
  src/kernel/occt/kernel2dOps.ts
Due: eslint --fix, prettier --write

fix: add HEAPU32 export
  packages/brepjs-opencascade/build-config/brepjs.yml
  packages/brepjs-opencascade/src/brepjs_single.d.ts
Due: none

fix: safe normals access, HEAPU32 export
  packages/brepjs-opencascade/build-config/brepjs.yml
Due: none

fix: HLR handle typedef, STL Read_1, bsplineSurfacePole helper
  packages/brepjs-opencascade/build-config/brepjs.yml
  packages/brepjs-opencascade/src/brepjs_single.d.ts
  src/kernel/occt/extendedConstructorOps.ts
  src/kernel/occt/ioOps.ts
Due: eslint --fix, prettier --write

fix: STL import path, bsplineSurfacePole helper, Handle_HLRBRep_Algo
  packages/brepjs-opencascade/src/brepjs_single.d.ts
  src/kernel/occt/ioOps.ts
Due: eslint --fix, prettier --write

test: skip 4 OCCT V8 RC4 regressions (STL import, ThruSections)
  tests/importFns.test.ts
  tests/kernel-ops.test.ts
  tests/multiSweepFns.test.ts
Due: eslint --fix, prettier --write

fix(ci): add --enable-exception-handling to wasm-opt + peer dep ^0.13.0
  .github/workflows/publish-opencascade.yml
  brepjs-14.1.2.tgz
  docs/superpowers/plans/2026-03-20-expose-occt-functionality.md
  docs/superpowers/plans/2026-03-22-occt-batch-extractors-perf.md
  package.json
Due: prettier --write

fix(ci): skip redundant wasm-opt (already run in Docker)
  .github/workflows/publish-opencascade.yml
Due: none

bench: save OCCT V8 baseline benchmark results
  benchmarks/results/v8-baseline.md
Due: prettier --write

test: skip V8 RC4 variable radius fillet regressions
  package-lock.json
  packages/brepjs-opencascade/src/brepjs_single.d.ts
  tests/modifierFns.test.ts
  tests/topology.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix(ci): increase spiral-staircase example timeout to 120s
  tests/examples.test.ts
Due: eslint --fix, prettier --write

test: add V7 vs V8 OCCT apples-to-apples benchmark comparison
  benchmarks/v7-vs-v8.bench.test.ts
  benchmarks/v8-opt-comparison.bench.test.ts
Due: none

docs: update benchmark report with OCCT V8 results
  benchmarks/results/latest.md
Due: prettier --write

docs: update benchmark report with optimized V8 results
  benchmarks/results/latest.md
Due: prettier --write

fix(opencascade): enable -Os + LTO in Docker image, fix wasm-opt flags
  .github/workflows/publish-opencascade.yml
  packages/brepjs-opencascade/package.json
Due: none

fix(opencascade): enable -Os + LTO in Docker image, fix wasm-opt flags
  packages/brepjs-opencascade/package.json
Due: none
