Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test(bim): add ir drift gate against the parametric spec path (#2043)
  packages/brepjs-bim/tests/irDrift.test.ts
Due: none

feat(csg): add color node with evaluation-time metadata attachment
  src/csg/builders.ts
  src/csg/edit.ts
  src/csg/evaluate.ts
  src/csg/evaluators/color.ts
  src/csg/index.ts
  src/csg/optimize.ts
  src/csg/serialize.ts
  src/csg/types.ts
  src/topology/metadata/colorFns.ts
  tests/csg/csgColor.test.ts
  tests/csg/csgProfile.test.ts
Due: eslint --fix, prettier --write

fix(csg): release relocation slots and validate rgba range in color
  src/csg/evaluators/color.ts
  src/csg/serialize.ts
  tests/csg/csgColor.test.ts
Due: eslint --fix, prettier --write

fix(csg): clamp color components to canonical rgba at the builder
  .size-limit.json
  src/csg/builders.ts
  tests/csg/csgColor.test.ts
Due: eslint --fix, prettier --write

feat(csg): add color node with evaluation-time metadata attachment (#2047)
  .size-limit.json
  src/csg/builders.ts
  src/csg/edit.ts
  src/csg/evaluate.ts
  src/csg/evaluators/color.ts
  src/csg/index.ts
  src/csg/optimize.ts
  src/csg/serialize.ts
  src/csg/types.ts
  src/topology/metadata/colorFns.ts
  tests/csg/csgColor.test.ts
  tests/csg/csgProfile.test.ts
Due: eslint --fix, prettier --write

fix(csg): canonicalize non-finite color components
  src/csg/builders.ts
  tests/csg/csgColor.test.ts
Due: eslint --fix, prettier --write

feat(families): scaffold the brepjs-families package
  .github/workflows/ci.yml
  knip.config.ts
  package-lock.json
  package.json
  packages/brepjs-families/eslint.config.js
  packages/brepjs-families/package.json
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/src/evaluateModel.ts
  packages/brepjs-families/src/index.ts
  packages/brepjs-families/src/jsxRuntime.ts
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
  packages/brepjs-families/tsconfig.json
  packages/brepjs-families/tsconfig.test.json
  packages/brepjs-families/vitest.config.ts
Due: prettier --write

fix(families): carry host transforms onto openings and reject slot collisions
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
Due: none

fix(families): reserve colon in user keys
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
Due: none

feat(families): scaffold the brepjs-families package (#2051)
  .github/workflows/ci.yml
  knip.config.ts
  package-lock.json
  package.json
  packages/brepjs-families/eslint.config.js
  packages/brepjs-families/package.json
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/src/evaluateModel.ts
  packages/brepjs-families/src/index.ts
  packages/brepjs-families/src/jsxRuntime.ts
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
  packages/brepjs-families/tsconfig.json
  packages/brepjs-families/tsconfig.test.json
  packages/brepjs-families/vitest.config.ts
Due: prettier --write

feat(csg): add fillet node carrying an edge lineage ref
  src/csg/builders.ts
  src/csg/edit.ts
  src/csg/evaluate.ts
  src/csg/evaluators/fillet.ts
  src/csg/index.ts
  src/csg/optimize.ts
  src/csg/serialize.ts
  src/csg/types.ts
  tests/csg/csgColor.test.ts
  tests/csg/csgFillet.test.ts
Due: eslint --fix, prettier --write

fix(csg): deep-copy the fillet ref and require a solid target
  src/csg/builders.ts
  src/csg/evaluators/fillet.ts
  tests/csg/csgFillet.test.ts
Due: eslint --fix, prettier --write

feat(csg): add fillet node carrying an edge lineage ref (#2055)
  src/csg/builders.ts
  src/csg/edit.ts
  src/csg/evaluate.ts
  src/csg/evaluators/fillet.ts
  src/csg/index.ts
  src/csg/optimize.ts
  src/csg/serialize.ts
  src/csg/types.ts
  tests/csg/csgColor.test.ts
  tests/csg/csgFillet.test.ts
Due: eslint --fix, prettier --write

feat(csg): add chamfer node mirroring the fillet ref pattern
  .size-limit.json
  src/csg/builders.ts
  src/csg/edit.ts
  src/csg/evaluate.ts
  src/csg/evaluators/chamfer.ts
  src/csg/index.ts
  src/csg/optimize.ts
  src/csg/serialize.ts
  src/csg/types.ts
  tests/csg/csgChamfer.test.ts
Due: eslint --fix, prettier --write

fix(csg): reject non-finite scalars in chamfer, fillet, and revolve
  src/csg/evaluators/chamfer.ts
  src/csg/evaluators/fillet.ts
  src/csg/evaluators/revolve.ts
  tests/csg/csgChamfer.test.ts
Due: eslint --fix, prettier --write

feat(csg): add chamfer node mirroring the fillet ref pattern (#2059)
  .size-limit.json
  src/csg/builders.ts
  src/csg/edit.ts
  src/csg/evaluate.ts
  src/csg/evaluators/chamfer.ts
  src/csg/evaluators/fillet.ts
  src/csg/evaluators/revolve.ts
  src/csg/index.ts
  src/csg/optimize.ts
  src/csg/serialize.ts
  src/csg/types.ts
  tests/csg/csgChamfer.test.ts
Due: eslint --fix, prettier --write

feat(bim): add the families-to-bim adapter with key-path identity
  package-lock.json
  packages/brepjs-bim/package.json
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-families/src/resolve.ts
Due: none

fix(bim): place transformed elements, require containment, guard stable keys
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
Due: none

fix(bim): reject duplicate stable keys before building geometry
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
Due: none

feat(bim): add the families-to-bim adapter with key-path identity (#2063)
  package-lock.json
  packages/brepjs-bim/package.json
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-families/src/resolve.ts
Due: none

feat(bim): map families openings onto doors, windows, and IfcRelVoids
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
Due: none

feat(families): make meshes the primary evaluateModel output
  packages/brepjs-families/src/evaluateModel.ts
  packages/brepjs-families/src/index.ts
  packages/brepjs-families/tests/families.test.ts
Due: none

fix(bim): contain fillers spatially and map opening key paths
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
Due: none

feat(csg): add the shell node with serializable face refs
  .size-limit.json
  src/csg/builders.ts
  src/csg/edit.ts
  src/csg/evaluate.ts
  src/csg/evaluators/shell.ts
  src/csg/index.ts
  src/csg/optimize.ts
  src/csg/serialize.ts
  src/csg/types.ts
  tests/csg/csgChamfer.test.ts
  tests/csg/csgShell.test.ts
Due: eslint --fix, prettier --write

fix(2d): transform trimmed arcs exactly in mirrors and rotations
  src/2d/lib/approximations.ts
  src/2d/lib/svgPath.ts
  src/kernel/geometry2d.ts
  src/kernel/occtWasm/kernel2dOps.ts
  tests/geometry2dTransforms.test.ts
  tests/svgPathRegression.test.ts
Due: eslint --fix, prettier --write

fix(csg): surface an empty shell ref list as a Result error
  src/csg/builders.ts
  src/csg/evaluators/shell.ts
  tests/csg/csgShell.test.ts
Due: eslint --fix, prettier --write

feat(bim): map families openings onto doors, windows, and IfcRelVoids (#2067)
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
Due: none

feat(families): make meshes the primary evaluateModel output (#2068)
  packages/brepjs-families/src/evaluateModel.ts
  packages/brepjs-families/src/index.ts
  packages/brepjs-families/tests/families.test.ts
Due: none

feat(families): validate props with zod and require keys for identity
  package-lock.json
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-families/package.json
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
Due: none

fix(2d): use shared point precision in svg arc classification
  src/2d/lib/svgPath.ts
Due: eslint --fix, prettier --write

fix(families): enforce schema output type matches render props
  packages/brepjs-families/src/element.ts
Due: none

feat(csg): add the shell node with serializable face refs (#2069)
  .size-limit.json
  src/csg/builders.ts
  src/csg/edit.ts
  src/csg/evaluate.ts
  src/csg/evaluators/shell.ts
  src/csg/index.ts
  src/csg/optimize.ts
  src/csg/serialize.ts
  src/csg/types.ts
  tests/csg/csgChamfer.test.ts
  tests/csg/csgShell.test.ts
Due: eslint --fix, prettier --write

fix(2d): transform trimmed arcs exactly in mirrors and rotations (#2070)
  src/2d/lib/approximations.ts
  src/2d/lib/svgPath.ts
  src/kernel/geometry2d.ts
  src/kernel/occtWasm/kernel2dOps.ts
  tests/geometry2dTransforms.test.ts
  tests/svgPathRegression.test.ts
Due: eslint --fix, prettier --write

feat(families): validate props with zod and require keys for identity (#2074)
  package-lock.json
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-families/package.json
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
Due: none

feat(bim): add the declarative families sample building with IfcOpenShell gate
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/examples/sampleBuildingFamilies.ts
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesSampleBuilding.test.ts
  packages/brepjs-bim/tsconfig.test.json
Due: none

feat(families): add the starter registry with manifest and version markers
  packages/brepjs-families/eslint.config.js
  packages/brepjs-families/package.json
  packages/brepjs-families/registry/families/door.ts
  packages/brepjs-families/registry/families/room.ts
  packages/brepjs-families/registry/families/slab.ts
  packages/brepjs-families/registry/families/storey.ts
  packages/brepjs-families/registry/families/wall.ts
  packages/brepjs-families/registry/families/window.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/tests/registry.test.ts
  packages/brepjs-families/tsconfig.test.json
Due: none

feat(bim): add the declarative families sample building with IfcOpenShell gate (#2079)
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/examples/sampleBuildingFamilies.ts
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesSampleBuilding.test.ts
  packages/brepjs-bim/tsconfig.test.json
Due: none

feat(cli): add brepjs add and diff for copy-in family distribution
  bin/brepjs.mjs
  package.json
  tests/cliFamilies.test.ts
  tests/fixtures/cliRegistry/families/alpha.ts
  tests/fixtures/cliRegistry/families/beta.ts
  tests/fixtures/cliRegistry/manifest.json
Due: eslint --fix, prettier --write

fix(families): validate door bounds in the room starter family
  packages/brepjs-families/registry/families/room.ts
  packages/brepjs-families/tests/registry.test.ts
Due: none

fix(cli): harden the registry trust boundary
  bin/brepjs.mjs
  tests/cliFamilies.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
