Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix(io): report STEP/STL writer crashes accurately instead of as file-read errors
  src/core/errors.ts
  src/topology/meshFns.ts
  tests/meshFns.test.ts
Due: eslint --fix, prettier --write

test(topology): cover getCompSolids and the solid/shell/compsolid iterators
  tests/shapeFns.test.ts
Due: eslint --fix, prettier --write

fix(manifold): dispose replay intermediates to stop WASM-heap leak
  src/kernel/manifold/replay.ts
  tests/parity/manifold.test.ts
Due: eslint --fix, prettier --write

chore(deps): restore pruned @emnapi/core and @emnapi/runtime lockfile entries
  package-lock.json
Due: none

fix(bim): use web-ifc Handle class for references (web-ifc 0.0.77 compat)
  packages/brepjs-bim/src/ifc-writer/ifcWriter.ts
Due: none

chore(deps-dev): migrate brepjs-bim specs to zod 4 API + restore @emnapi lockfile entries
  package-lock.json
  packages/brepjs-bim/src/specs/beamSpec.ts
  packages/brepjs-bim/src/specs/columnSpec.ts
  packages/brepjs-bim/src/specs/slabSpec.ts
  packages/brepjs-bim/src/specs/wallSpec.ts
Due: none

fix(io): probe bounds before STEP/STL export to avoid kernel-crashing on degenerate geometry
  src/core/errors.ts
  src/topology/meshFns.ts
  tests/meshFns.test.ts
Due: eslint --fix, prettier --write

test(io): assert STL writer skipped + re-throw programming errors in export guard
  src/topology/meshFns.ts
  tests/meshFns.test.ts
Due: eslint --fix, prettier --write

fix(io): name the offending sub-solid when STEP/STL export aborts on degenerate geometry
  src/topology/meshFns.ts
  tests/meshFns.test.ts
Due: eslint --fix, prettier --write

refactor(io): consistent sub-solid wording + re-throw TypeError in localization loop
  src/topology/meshFns.ts
Due: eslint --fix, prettier --write

test(io): cover STEP export of BOPAlgo-corrupted geometry (#1126)
  src/topology/meshFns.ts
  tests/stepExportDegenerate.test.ts
Due: eslint --fix, prettier --write

test(io): assert no-throw contract directly instead of vacuous toBeDefined
  tests/stepExportDegenerate.test.ts
Due: eslint --fix, prettier --write

fix(kernel): correct occt-wasm loft vertices and mixed-wire assembly
  src/kernel/occtWasm/constructionOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/sweepOps.ts
  tests/kernel-ops.test.ts
Due: eslint --fix, prettier --write

fix(kernel): wire occt-wasm assembly STEP export to xcaf* API
  src/kernel/occtWasm/ioOps.ts
  src/kernel/occtWasm/occtWasmTypes.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

fix(kernel): close occt-wasm in-repo parity gaps (hull, B-spline, divergences)
  src/kernel/hullGeometry.ts
  src/kernel/occt/hullOps.ts
  src/kernel/occtWasm/hullOps.ts
  src/kernel/occtWasm/kernel2dOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

fix(kernel): bump occt-wasm to 3.2.0 and read mesh UVs
  package-lock.json
  package.json
  src/kernel/occtWasm/meshOps.ts
  src/kernel/occtWasm/occtWasmTypes.ts
Due: eslint --fix, prettier --write

docs(decisions): add ADR-0013 voxel geometry domain
  docs/decisions/0013-voxel-domain.md
Due: prettier --write

docs(decisions): clarify surface-nets manifold caveat in ADR-0013
  docs/decisions/0013-voxel-domain.md
Due: prettier --write

docs(decisions): enumerate full layer-boundary token sets in ADR-0013 §9
  docs/decisions/0013-voxel-domain.md
Due: prettier --write

fix(deps): constrain workspace dev-dep ranges to clear Dependabot alerts
  package-lock.json
  packages/brepjs-agent/package.json
  packages/brepjs-viewer/package.json
Due: none

fix(playground): sanitize wrapper export names via lookup table
  apps/playground/src/workers/cad.worker.ts
Due: none

feat(voxel): add voxel/SDF domain foundation
  knip.config.ts
  package-lock.json
  package.json
  packages/brepjs-voxel-wasm/.gitignore
  packages/brepjs-voxel-wasm/Cargo.lock
  packages/brepjs-voxel-wasm/Cargo.toml
  packages/brepjs-voxel-wasm/LICENSE
  packages/brepjs-voxel-wasm/NOTICE
  packages/brepjs-voxel-wasm/package.json
  packages/brepjs-voxel-wasm/pkg/index.d.ts
  packages/brepjs-voxel-wasm/pkg/index.js
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm.d.ts
  packages/brepjs-voxel-wasm/src/fwn.rs
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel/package.json
  packages/brepjs-voxel/src/index.ts
  scripts/check-layer-boundaries.sh
  src/index.ts
  src/voxel/engine.ts
  src/voxel/index.ts
  src/voxel/registry.ts
  src/voxel/signFns.ts
  tests/public-api-types.test.ts
  tests/voxel.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

refactor(voxel): address review — Result API, derived loader type
  packages/brepjs-voxel/package.json
  packages/brepjs-voxel/src/index.ts
  src/voxel/signFns.ts
  tests/voxel.test.ts
Due: eslint --fix, prettier --write

fix(voxel): bounds-check triangle indices to keep the Result contract
  src/voxel/signFns.ts
  tests/voxel.test.ts
Due: eslint --fix, prettier --write

feat(tooling): add brepjs-vscode extension package
  package-lock.json
  package.json
  packages/brepjs-vscode/esbuild.mjs
  packages/brepjs-vscode/media/icon.svg
  packages/brepjs-vscode/package.json
  packages/brepjs-vscode/snippets/brepjs.json
  packages/brepjs-vscode/src/cli.ts
  packages/brepjs-vscode/src/codelens.ts
  packages/brepjs-vscode/src/commands.ts
  packages/brepjs-vscode/src/extension.ts
  packages/brepjs-vscode/src/hover.ts
  packages/brepjs-vscode/src/preview.ts
  packages/brepjs-vscode/src/reportCache.ts
  packages/brepjs-vscode/src/types.ts
  packages/brepjs-vscode/src/webviewHtml.ts
  packages/brepjs-vscode/tsconfig.json
  packages/brepjs-vscode/webview/MetricsPanel.tsx
  packages/brepjs-vscode/webview/Viewer.tsx
  packages/brepjs-vscode/webview/index.html
  packages/brepjs-vscode/webview/main.tsx
  packages/brepjs-vscode/webview/tsconfig.json
  packages/brepjs-vscode/webview/types.ts
  packages/brepjs-vscode/webview/vite.config.ts
Due: prettier --write

fix(brepjs-vscode): address 5 Greptile review findings
  packages/brepjs-vscode/src/cli.ts
  packages/brepjs-vscode/src/codelens.ts
  packages/brepjs-vscode/src/extension.ts
  packages/brepjs-vscode/src/preview.ts
  packages/brepjs-vscode/webview/Viewer.tsx
Due: none

feat(voxel): add Grid/Ops/Contour/Bridge seams (v1 repair slice)
  packages/brepjs-voxel-wasm/Cargo.lock
  packages/brepjs-voxel-wasm/Cargo.toml
  packages/brepjs-voxel-wasm/pkg/index.d.ts
  packages/brepjs-voxel-wasm/pkg/index.js
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm.d.ts
  packages/brepjs-voxel-wasm/src/contour.rs
  packages/brepjs-voxel-wasm/src/grid.rs
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/ops.rs
  packages/brepjs-voxel/src/index.ts
  src/index.ts
  src/voxel/engine.ts
  src/voxel/index.ts
  src/voxel/repairFns.ts
  src/voxel/signFns.ts
  tests/public-api-types.test.ts
  tests/voxelRepair.test.ts
Due: eslint --fix, prettier --write

chore(size): raise total JS budget to 290 kB for the voxel domain
  .size-limit.json
Due: none

fix(voxel): free the WASM RepairResult and require padding >= 1
  src/voxel/engine.ts
  src/voxel/repairFns.ts
  tests/voxelRepair.test.ts
Due: eslint --fix, prettier --write

fix(deps): restore @emnapi/* peer-dep lockfile entries
  package-lock.json
Due: none

feat(lattice): add Layer-3 TPMS lattice domain
  packages/brepjs-voxel-wasm/pkg/index.d.ts
  packages/brepjs-voxel-wasm/pkg/index.js
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm.d.ts
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/ops.rs
  packages/brepjs-voxel-wasm/src/tpms.rs
  packages/brepjs-voxel/src/index.ts
  src/index.ts
  src/lattice/index.ts
  src/lattice/latticeFns.ts
  src/voxel/engine.ts
  tests/lattice.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(lattice): guard lattice params at the wasm boundary; broaden periodicity test
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/tpms.rs
Due: none

feat(voxel): brep<->voxel interop — robust CSG, offset/shell, shape conveniences
  packages/brepjs-voxel-wasm/pkg/index.d.ts
  packages/brepjs-voxel-wasm/pkg/index.js
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm.d.ts
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/ops.rs
  packages/brepjs-voxel/src/index.ts
  src/index.ts
  src/lattice/index.ts
  src/lattice/latticeFns.ts
  src/voxel/engine.ts
  src/voxel/index.ts
  src/voxel/meshOpsFns.ts
  src/voxel/shapeMesh.ts
  tests/public-api-types.test.ts
  tests/voxelInterop.test.ts
Due: eslint --fix, prettier --write

fix(voxel): error on degenerate (empty) op results; drop dead index guard
  src/voxel/meshOpsFns.ts
  tests/voxelInterop.test.ts
Due: eslint --fix, prettier --write

fix(2d): transform line direction/length in scaleCurve2d, not just origin
  src/kernel/geometry2d.ts
  src/kernel/occtWasm/kernel2dOps.ts
Due: eslint --fix, prettier --write

fix(occt-wasm): build binary STL from mesh + thread tolerance through adapter
  src/kernel/interfaces/ioOps.ts
  src/kernel/occtWasm/ioOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/topology/meshFns.ts
Due: eslint --fix, prettier --write

fix(occt-wasm): fuse multi-solid compound boolean tools before cut/cutWithHistory
  src/kernel/occtWasm/booleanOps.ts
  src/kernel/occtWasm/evolutionOps.ts
Due: eslint --fix, prettier --write

docs(occtwasm): reword scaleCurve2d adapter comment as a forward constraint
  src/kernel/occtWasm/kernel2dOps.ts
Due: eslint --fix, prettier --write

fix(occtwasm): close compound-tool + tolerance gaps in intersect and ASCII STL
  src/kernel/occtWasm/booleanOps.ts
  src/kernel/occtWasm/evolutionOps.ts
  src/kernel/occtWasm/ioOps.ts
Due: eslint --fix, prettier --write

feat(bim): phase 1 foundations — deterministic guids, type layer, mvd, validation gates
  packages/brepjs-bim/BIM_PARITY_ROADMAP.md
  packages/brepjs-bim/src/identity/guidDerivation.ts
  packages/brepjs-bim/src/ifc-writer/headerWriter.ts
  packages/brepjs-bim/src/ifc-writer/ifcWriter.ts
  packages/brepjs-bim/src/ifc-writer/openingWriter.ts
  packages/brepjs-bim/src/ifc-writer/psetWriter.ts
  packages/brepjs-bim/src/ifc-writer/typeWriter.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/src/specs/spatialSpec.ts
  packages/brepjs-bim/src/validation/referentialIntegrity.ts
  packages/brepjs-bim/src/validation/roundTrip.ts
  packages/brepjs-bim/src/validation/schemaCheck.ts
  packages/brepjs-bim/src/validation/severity.ts
  packages/brepjs-bim/tests/guidDerivation.test.ts
  packages/brepjs-bim/tests/phase1Integration.test.ts
  packages/brepjs-bim/tests/referentialIntegrity.test.ts
  packages/brepjs-bim/tests/roundTrip2.test.ts
  packages/brepjs-bim/tests/schemaCheck.test.ts
  packages/brepjs-bim/tests/severity.test.ts
  packages/brepjs-bim/tests/typeWriter.test.ts
Due: prettier --write
