Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: fix query README reference to deleted index.ts
  src/query/README.md
Due: prettier --write

feat!: remove all deprecated APIs
  docs/api-review.md
  docs/function-lookup.md
  llms.txt
  src/2d/blueprints/customCorners.ts
  src/compat.ts
  src/core/README.md
  src/core/geometryHelpers.ts
  src/index.ts
  src/operations/README.md
  src/operations/batchBooleans.ts
  src/query.ts
  src/query/README.md
  src/query/cornerFinder.ts
  src/query/definitions.ts
  src/query/edgeFinder.ts
  src/query/faceFinder.ts
  src/query/finderFns.ts
  src/query/generic3dfinder.ts
  src/query/helpers.ts
  src/query/index.ts
  src/topology/README.md
  src/topology/index.ts
  src/topology/shapeBooleans.ts
  src/topology/shapeModifiers.ts
  tests/cornerFinder.test.ts
  tests/edgeFinder.test.ts
  tests/faceFinder.test.ts
  tests/helpers.test.ts
  tests/operations-batch.test.ts
  tests/operations.test.ts
  tests/public-api-types.test.ts
  tests/query.test.ts
  tests/topology.test.ts
Due: eslint --fix, prettier --write

chore(main): release brepjs-opencascade 0.7.1
  .release-please-manifest.json
  packages/brepjs-opencascade/CHANGELOG.md
  packages/brepjs-opencascade/package.json
Due: prettier --write

docs: update assessment with PR #186 completion status
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

feat: complete wrapper API with critical missing methods
  src/topology/wrapperFns.ts
  tests/wrapperFns.test.ts
Due: eslint --fix, prettier --write

feat: make extrudeFace/extrude return Result for consistency
  src/operations/cleanOpsFns.ts
  src/operations/extrudeFns.ts
  src/topology/compoundOpsFns.ts
  src/topology/wrapperFns.ts
  tests/api.test.ts
  tests/fn-extrudeFns.test.ts
Due: eslint --fix, prettier --write

refactor: remove "clean API" terminology from codebase
  docs/plans/2026-02-07-public-api-assessment.md
  src/index.ts
  src/operations/api.ts
  src/topology/api.ts
  src/topology/wrapperFns.ts
Due: eslint --fix, prettier --write

feat: complete wrapper API and improve consistency (#188)
  docs/plans/2026-02-07-public-api-assessment.md
  src/index.ts
  src/operations/api.ts
  src/operations/extrudeFns.ts
  src/topology/api.ts
  src/topology/compoundOpsFns.ts
  src/topology/wrapperFns.ts
  tests/api.test.ts
  tests/fn-extrudeFns.test.ts
  tests/wrapperFns.test.ts
Due: eslint --fix, prettier --write

docs: document shape() wrapper as canonical API
  docs/cheat-sheet.md
  docs/getting-started.md
  docs/which-api.md
Due: prettier --write

docs: document shape() wrapper as canonical API (#190)
  docs/cheat-sheet.md
  docs/getting-started.md
  docs/which-api.md
Due: prettier --write

docs: update assessment after PR #190 (wrapper documentation)
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

feat: standardize parameter naming to `at` and `axis`
  docs/cheat-sheet.md
  docs/migration/v7.2-parameter-naming.md
  src/operations/api.ts
  src/topology/api.ts
  src/topology/apiTypes.ts
  src/topology/compoundOpsFns.ts
  src/topology/primitiveFns.ts
  tests/api-canonical-params.test.ts
Due: eslint --fix, prettier --write

feat: standardize parameter naming to `at` and `axis` (#191)
  docs/cheat-sheet.md
  docs/migration/v7.2-parameter-naming.md
  src/operations/api.ts
  src/topology/api.ts
  src/topology/apiTypes.ts
  src/topology/compoundOpsFns.ts
  src/topology/primitiveFns.ts
  tests/api-canonical-params.test.ts
Due: eslint --fix, prettier --write

docs: update assessment after PR #191 (parameter naming)
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

feat: standardize Config → Options naming for consistency
  src/index.ts
  src/operations.ts
  src/operations/api.ts
  src/operations/exporterFns.ts
  src/operations/exporters.ts
  src/operations/extrude.ts
  src/operations/extrudeFns.ts
  src/operations/extrudeUtils.ts
  src/operations/loft.ts
  src/operations/loftFns.ts
  src/sketching.ts
  src/sketching/CompoundSketch.ts
  src/sketching/Sketch.ts
  src/sketching/Sketcher.ts
  src/sketching/Sketcher2d.ts
  src/sketching/cannedSketches.ts
  src/sketching/draw.ts
  src/sketching/sketchFns.ts
  src/sketching/sketchLib.ts
  src/sketching/sketcherlib.ts
  src/topology/index.ts
  src/topology/primitiveFns.ts
  src/topology/shapeHelpers.ts
  src/topology/shapeModifiers.ts
  src/topology/wrapperFns.ts
Due: eslint --fix, prettier --write

docs: update assessment after Config → Options standardization
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

feat: add white strokes to logo geometric shapes
  site/public/apple-touch-icon.png
  site/public/favicon.ico
  site/public/favicon.svg
  site/public/logo.svg
  site/src/components/shared/Logo.tsx
Due: none

feat: add white strokes to logo geometric shapes (#194)
  site/public/apple-touch-icon.png
  site/public/favicon.ico
  site/public/favicon.svg
  site/public/logo.svg
  site/src/components/shared/Logo.tsx
Due: none

feat: add clean 2D API naming aliases
  src/2d.ts
  src/2d/blueprints/blueprintFns.ts
  src/2d/blueprints/boolean2dFns.ts
  src/index.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat: update loading skeleton logo with geometric design
  site/index.html
Due: none

docs: update assessment after 2D API naming cleanup (Consistency 10/10)
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

docs: simplify which-api.md to reduce decision paralysis
  docs/which-api.md
Due: prettier --write

fix: regenerate PWA icons with white stroke logo
  site/public/icon-192x192.png
  site/public/icon-512x512.png
Due: none

docs: update assessment after which-api.md simplification
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

docs: promote brepjs/quick as default initialization path
  docs/getting-started.md
Due: prettier --write

fix: increase stroke width on PWA icons for better visibility
  site/public/icon-192x192.png
  site/public/icon-512x512.png
  site/public/icon-source.svg
Due: none

docs: update assessment after init simplification
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

docs: streamline assessment doc to reduce bloat
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

docs: add cookbook with 15 practical CAD recipes
  docs/cookbook.md
Due: prettier --write

docs: update assessment after cookbook addition (Discoverability 9/10)
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

feat: add volumeProps() and surfaceProps() to wrapper
  src/topology/wrapperFns.ts
  tests/wrapperFns.test.ts
Due: eslint --fix, prettier --write

docs: update assessment after adding volumeProps/surfaceProps
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

feat: accept ShapeFinder directly in fillet/chamfer/shell
  src/topology/api.ts
  src/topology/wrapperFns.ts
  tests/wrapperFns.test.ts
Due: eslint --fix, prettier --write

docs: update assessment after ShapeFinder support
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

feat: add OCCT error translation layer
  src/core/errors.ts
  src/core/kernelCall.ts
  tests/fn-occtErrorTranslation.test.ts
Due: eslint --fix, prettier --write

docs: update assessment after OCCT error translation
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
