Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: convert Layer 2-3 throws to Result<T,E> returns
  .pattern-baseline.json
  src/2d/blueprints/blueprint.ts
  src/2d/blueprints/compoundBlueprint.ts
  src/2d/lib/curve2D.ts
  src/core/planeOps.ts
  src/operations/straightSkeleton.ts
  src/sketching/cannedSketches.ts
  src/sketching/sketcher.ts
  src/topology/booleanFns.ts
Due: eslint --fix, prettier --write

refactor: convert Layer 2-3 throws to Result<T,E> returns
  tests/operations.test.ts
  tests/planeOps.test.ts
  tests/sweepFns.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

refactor(kernel): replace file-level lint disables with per-line annotations
  .pattern-baseline.json
  src/kernel/brepkit/booleanOps.ts
  src/kernel/brepkit/brepkit2d.ts
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/brepkit/constructionOps.ts
  src/kernel/brepkit/evolutionOps.ts
  src/kernel/brepkit/geometryOps.ts
  src/kernel/brepkit/helpers.ts
  src/kernel/brepkit/internalOps.ts
  src/kernel/brepkit/ioOps.ts
  src/kernel/brepkit/kernel2dOps.ts
  src/kernel/brepkit/measureOps.ts
  src/kernel/brepkit/meshOps.ts
  src/kernel/brepkit/modifierOps.ts
  src/kernel/brepkit/sketchOps.ts
  src/kernel/brepkit/topologyOps.ts
Due: eslint --fix, prettier --write

chore: regenerate pattern baseline after adapter decomposition
  .pattern-baseline.json
Due: none

chore: cleanup dead comments, fix docs, simplify planeOps and kernel2dOps
  .pattern-baseline.json
  src/core/README.md
  src/core/planeOps.ts
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/brepkit/kernel2dOps.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: address PR review — revert pointless unwrap(polyAt()) pattern, restore test identity check
  .pattern-baseline.json
  src/operations/straightSkeleton.ts
  tests/planeOps.test.ts
Due: eslint --fix, prettier --write

fix(ci): fix Prettier formatting and bump size limit
  .pattern-baseline.json
  .size-limit.json
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/brepkit/kernel2dOps.ts
  tests/sweepFns.test.ts
Due: eslint --fix, prettier --write

fix: prevent params.sort() mutation and guard zero-length direction
  src/kernel/brepkit/kernel2dOps.ts
Due: eslint --fix, prettier --write

chore: remove stale docs (plan file + obsolete migration guide)
  docs/migration/v7.2-parameter-naming.md
  docs/plans/phantom-dimension-types.md
Due: prettier --write

feat(types): add PlanarFace and PlanarWire geometric validity brands (ADR-0011)
  docs/decisions/0005-topological-validity-types.md
  docs/decisions/0011-geometric-validity-brands.md
  src/core/shapeTypes.ts
  src/core/validityTypes.ts
  src/index.ts
  tests/public-api-types.test.ts
  tests/validityTypes.test.ts
Due: eslint --fix, prettier --write

feat(types)!: require ValidSolid on boolean operations (fuse, cut, intersect, fuseAll, cutAll)
  .pattern-baseline.json
  src/kernel/types.ts
  src/operations/compoundOpsFns.ts
  src/operations/patternFns.ts
  src/topology/api.ts
  src/topology/booleanFns.ts
  src/topology/wrapperFns.ts
Due: eslint --fix, prettier --write

feat(types)!: require ValidSolid on modifier operations (fillet, chamfer, shell, offset, draft)
  .pattern-baseline.json
  src/topology/api.ts
  src/topology/modifierFns.ts
  src/topology/wrapperFns.ts
Due: eslint --fix, prettier --write

feat(types): makeFace/face/polygon return PlanarFace brand
  .pattern-baseline.json
  src/topology/primitiveFns.ts
  src/topology/surfaceBuilders.ts
Due: eslint --fix, prettier --write

feat(types)!: roof() requires PlanarWire and returns ValidSolid
  .pattern-baseline.json
  src/operations/roofFns.ts
  tests/roof.test.ts
Due: eslint --fix, prettier --write

feat(types)!: require PlanarFace on extrude and revolve
  .pattern-baseline.json
  src/operations/api.ts
  src/operations/extrudeFns.ts
  src/sketching/compoundSketch.ts
  src/sketching/sketch.ts
  src/sketching/sketchFns.ts
  src/topology/wrapperFns.ts
  tests/operations.test.ts
Due: eslint --fix, prettier --write

feat(types)!: require PlanarWire on face() and makeFace()
  .pattern-baseline.json
  src/2d/blueprints/blueprint.ts
  src/operations/compoundOpsFns.ts
  src/sketching/compoundSketch.ts
  src/sketching/draw3d.ts
  src/sketching/sketch.ts
  src/topology/booleanFns.ts
  src/topology/primitiveFns.ts
  src/topology/surfaceBuilders.ts
Due: eslint --fix, prettier --write

docs: add ADR-0011 (geometric validity brands) and update ADR-0005 Phase 3b
  docs/superpowers/plans/2026-03-20-branded-types-phase3.md
Due: prettier --write

fix(types): address PR review — validate sew fallback, tighten fill(), update ADR statuses
  .pattern-baseline.json
  docs/decisions/0005-topological-validity-types.md
  docs/decisions/0011-geometric-validity-brands.md
  src/operations/compoundOpsFns.ts
  src/operations/roofFns.ts
  src/topology/surfaceBuilders.ts
Due: eslint --fix, prettier --write

feat(topology): expose positionOnCurve for Frenet frame positioning along curves
  src/index.ts
  src/topology.ts
  src/topology/positionFns.ts
  tests/positionFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(healing): expose fixShape, solidFromShell, and fixSelfIntersection
  src/topology/healingFns.ts
  tests/healingFns.test.ts
Due: eslint --fix, prettier --write

feat(io): expose exportSTEPConfigured for configured STEP export
  src/index.ts
  src/io.ts
  src/io/stepConfigFns.ts
  tests/public-api-types.test.ts
  tests/stepConfigFns.test.ts
Due: eslint --fix, prettier --write

feat(modifiers): expose variableFillet for variable-radius edge rounding
  src/index.ts
  src/topology.ts
  src/topology/modifierFns.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(evolution): expose shape evolution API for face tracking across operations
  .pattern-baseline.json
  src/index.ts
  src/topology.ts
  src/topology/evolutionFns.ts
  tests/evolutionFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

chore: bump total JS size limit to 205 kB for new API surface
  .size-limit.json
Due: none

fix: address review — variableFillet safety, register error codes in BrepErrorCode
  src/core/errors.ts
  src/io/stepConfigFns.ts
  src/topology/healingFns.ts
  src/topology/modifierFns.ts
  src/topology/positionFns.ts
Due: eslint --fix, prettier --write

docs: regenerate function-lookup.md
  docs/function-lookup.md
Due: prettier --write

feat(booleans): extract OCCT diagnostics from HasErrors/HasWarnings after Build
  src/kernel/occt/evolutionOps.ts
  src/kernel/occt/historyOps.ts
  src/kernel/occt/wasmTypes/occtBuilders.ts
  src/kernel/types.ts
  src/topology/booleanFns.ts
  tests/booleanDiagnostics.test.ts
Due: eslint --fix, prettier --write

feat(booleans): add checkBoolean pre-validation with structured diagnostics
  .pattern-baseline.json
  src/index.ts
  src/kernel/brepkit/booleanOps.ts
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/interfaces/booleanOps.ts
  src/kernel/occt/booleanOps.ts
  src/kernel/occt/defaultAdapter.ts
  src/kernel/types.ts
  src/topology.ts
  src/topology/booleanDiagnosticFns.ts
  tests/booleanDiagnostics.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(booleans): return BOOLEAN_HAS_ERRORS when OCCT reports internal failures
  src/core/errors.ts
  src/topology/booleanFns.ts
  tests/booleanDiagnostics.test.ts
Due: eslint --fix, prettier --write

fix(booleans): update KernelEvolutionOps interface types, remove phantom BooleanIssue variants
  .pattern-baseline.json
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/brepkit/evolutionOps.ts
  src/kernel/interfaces/evolutionOps.ts
  src/kernel/occt/defaultAdapter.ts
  src/kernel/types.ts
  src/topology/booleanFns.ts
Due: eslint --fix, prettier --write

fix(booleans): dispose WASM shape on hasErrors early return, clarify messages docstring
  src/kernel/brepkit/booleanOps.ts
  src/kernel/occt/booleanOps.ts
  src/kernel/types.ts
  src/topology/booleanFns.ts
Due: eslint --fix, prettier --write

test(nurbs): add coverage tests for non-BSpline geometry paths
  tests/nurbsFns.test.ts
Due: eslint --fix, prettier --write

feat(nurbs): add getNurbsCurveData and getNurbsSurfaceData for NURBS introspection
  .pattern-baseline.json
  src/index.ts
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/interfaces/curveOps.ts
  src/kernel/interfaces/surfaceOps.ts
  src/kernel/occt/defaultAdapter.ts
  src/kernel/occt/nurbsQueryOps.ts
  src/kernel/types.ts
  src/topology.ts
  src/topology/nurbsFns.ts
  tests/nurbsFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(nurbs): only accept BSpline surfaces, delete WASM handles after reading
  src/kernel/occt/nurbsQueryOps.ts
Due: eslint --fix, prettier --write

chore: lower branch coverage threshold to 75% to accommodate new API surface
  vitest.config.ts
Due: prettier --write

test: add error-path tests to restore branch coverage above 76%
  tests/evolutionFns.test.ts
  tests/healingFns.test.ts
  tests/modifierFns.test.ts
  tests/positionFns.test.ts
  tests/stepConfigFns.test.ts
Due: eslint --fix, prettier --write

chore: bump max package files to 570 for new API surface
  scripts/validate-pack.sh
Due: none

docs: add 2D geometry API design spec
  docs/superpowers/specs/2026-03-21-2d-geometry-api-design.md
Due: prettier --write

feat(2d): add functional 2D curve geometry API
  docs/function-lookup.md
  src/2d.ts
  src/2d/curve2dGeometryFns.ts
  src/core/curve2dHandle.ts
  src/core/errors.ts
  src/index.ts
  tests/curve2dGeometry.test.ts
Due: eslint --fix, prettier --write

fix: address PR review feedback
  .size-limit.json
  src/2d/curve2dGeometryFns.ts
  tests/curve2dGeometry.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
