Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

perf(topology): cache surfaceType() per face in topology cache
  src/topology/faceFns.ts
  src/topology/minkowskiFns.ts
  src/topology/topologyQueryFns.ts
Due: eslint --fix, prettier --write

perf(bench): add isValid and surfaceType cache benchmarks
  benchmarks/adapter-overhead.bench.test.ts
Due: none

fix: address PR review feedback
  benchmarks/adapter-overhead.bench.test.ts
  src/topology/topologyQueryFns.ts
Due: eslint --fix, prettier --write

feat(kernel): promote occt-wasm to supported secondary kernel
  package.json
  src/index.ts
  src/kernel/index.ts
  src/kernel/types.ts
  tests/helpers/kernelRegistry.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix: drop OcctWasmAdapter from main bundle to stay under size limit
  src/index.ts
  src/kernel/index.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

refactor(kernel): move brepkit2d.ts to kernel/geometry2d.ts
  .pattern-baseline.json
  docs/superpowers/plans/2026-03-27-kernel-testing-architecture.md
  docs/superpowers/specs/2026-03-27-kernel-testing-architecture-design.md
  src/kernel/brepkit/helpers.ts
  src/kernel/brepkit/kernel2dOps.ts
  src/kernel/geometry2d.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

docs: update README and comment references to geometry2d
  src/kernel/README.md
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

fix: exclude geometry2d.ts from OCCT coverage (pure-TS, not exercised by OCCT)
  vitest.config.ts
Due: prettier --write

test(2d): add coverage for geometry2d intersection, serialization, bbox
  .pattern-baseline.json
  src/kernel/geometry2d.ts
  tests/curve2dGeometry.test.ts
Due: eslint --fix, prettier --write

refactor(kernel): unify OCCT 2D on pure-TS geometry2d.ts
  benchmarks/geometry2d.bench.test.ts
  src/kernel/occt/defaultAdapter.ts
  src/kernel/occt/kernel2dOps.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

perf: restore v8-ignore on geometry2d.ts to prevent coverage timeout
  .pattern-baseline.json
  src/kernel/geometry2d.ts
Due: eslint --fix, prettier --write

test: increase timeout for 2D SVG tests under coverage
  tests/2d.test.ts
Due: eslint --fix, prettier --write

test: increase global test timeout to 90s for coverage runs
  tests/2d.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

perf: cache vertex positions and hash codes across WASM boundary
  .pattern-baseline.json
  src/core/shapePropertyCache.ts
  src/topology/adjacencyFns.ts
  src/topology/booleanFns.ts
  src/topology/evolutionFns.ts
  src/topology/metadata/colorFns.ts
  src/topology/metadata/faceTagFns.ts
  src/topology/metadata/metadataPropagation.ts
  src/topology/metadata/originTrackingFns.ts
  src/topology/modifierFns.ts
  src/topology/shapeFns.ts
  src/topology/topologyQueryFns.ts
Due: eslint --fix, prettier --write

docs: reference occt-wasm as compatible kernel
  docs/architecture.md
  docs/compatibility.md
  docs/getting-started.md
  docs/kernel-swap.md
  src/kernel/README.md
Due: prettier --write

fix: address PR review comments
  docs/kernel-swap.md
  package.json
Due: prettier --write

chore(kernel): upgrade brepkit-wasm 2.33.0 → 2.43.1
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

fix(tests): resolve brepkit 2.43.1 test compatibility issues (#705 #706 #707 #708)
  src/kernel/brepkit/brepkitAdapter.ts
  src/topology/healingFns.ts
  tests/helpers/kernelDivergences.ts
  tests/helpers/kernelRegistry.ts
  tests/nurbsFns.test.ts
Due: eslint --fix, prettier --write

chore(kernel): upgrade brepkit-wasm 2.43.1 → 2.43.2
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
  tests/helpers/kernelDivergences.ts
  tests/helpers/kernelRegistry.ts
  tests/nurbsFns.test.ts
Due: eslint --fix, prettier --write

fix(kernel): remove dead transformFace feature-detection guard
  src/kernel/brepkit/internalOps.ts
Due: eslint --fix, prettier --write

fix(kernel): return trimmed arcs from occt-wasm adapter (#712)
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/boolean2dRegression.test.ts
Due: eslint --fix, prettier --write

test: address Greptile review — add geometry assertions and explicit params
  tests/boolean2dRegression.test.ts
Due: eslint --fix, prettier --write

fix(2d): add tolerance fallback for hash-based curve lookup (#712)
  src/2d/blueprints/booleanHelpers.ts
  tests/boolean2dRegression.test.ts
Due: eslint --fix, prettier --write

fix(2d): match reversed common segments in rotateToStartAtSegment (#712)
  src/2d/blueprints/booleanHelpers.ts
  tests/boolean2dRegression.test.ts
Due: eslint --fix, prettier --write

test(2d): improve regression test accuracy and coverage
  tests/boolean2dRegression.test.ts
Due: eslint --fix, prettier --write

fix(2d): four correctness fixes in boolean2D pipeline
  src/2d/blueprints/boolean2D.ts
  src/2d/blueprints/intersectionSegments.ts
  src/2d/blueprints/segmentAssembly.ts
  tests/boolean2dRegression.test.ts
Due: eslint --fix, prettier --write

docs(2d): address Greptile review comments
  src/2d/blueprints/booleanHelpers.ts
  src/2d/blueprints/segmentAssembly.ts
Due: eslint --fix, prettier --write

fix(2d): filter degenerate curves in boolean pipeline; widen occt-wasm peer dep (#719, #720)
  package.json
  src/2d/blueprints/intersectionSegments.ts
  tests/boolean2dRegression.test.ts
Due: eslint --fix, prettier --write

chore: upgrade occt-wasm devDependency from 0.1.1 to 1.1.0
  package-lock.json
  package.json
Due: none

fix(2d): address review feedback — handle degenerate curves in-place
  src/2d/blueprints/intersectionSegments.ts
  tests/boolean2dRegression.test.ts
Due: eslint --fix, prettier --write

fix(boolean): accept OCCT boolean results with warnings (#724)
  src/topology/booleanFns.ts
  tests/gridfinity-lip-regression.test.ts
Due: eslint --fix, prettier --write

fix(boolean): dispose null result shape to prevent WASM memory leak
  src/topology/booleanFns.ts
Due: eslint --fix, prettier --write

fix(deps): resolve typescript 6.0 compatibility issues
  package-lock.json
  package.json
  tsconfig.json
Due: none

test: add gridfinity lip debug and withScope disposal regression tests
  tests/gridfinity-lip-debug.test.ts
  tests/withScope-disposal.test.ts
Due: eslint --fix, prettier --write

chore(deps): bump occt-wasm from 1.1.0 to 1.2.1
  package-lock.json
  package.json
Due: none

fix(build): emit OcctWasmAdapter JS and export from main
  src/index.ts
  src/kernel/index.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/public-api-types.test.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix(2d): address correctness, performance, and robustness issues in 2D geometry subsystem
  src/2d/blueprints/blueprint.ts
  src/2d/blueprints/blueprintOffset.ts
  src/2d/curves.ts
  src/2d/lib/curve2D.ts
  src/2d/lib/offset.ts
  src/2d/lib/stitching.ts
  src/kernel/occt/kernel2dOps.ts
  src/sketching/compoundSketch.ts
Due: eslint --fix, prettier --write

fix(2d): address PR review feedback
  src/2d/blueprints/blueprint.ts
  src/2d/blueprints/blueprintOffset.ts
Due: eslint --fix, prettier --write

chore: bump total size limit from 220 kB to 235 kB
  .size-limit.json
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
