Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat(implicit): scalar-field modulation + position-varying operators (Phase 2b)
  packages/brepjs-voxel-wasm/Cargo.lock
  packages/brepjs-voxel-wasm/pkg/index.d.ts
  packages/brepjs-voxel-wasm/pkg/index.js
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm.d.ts
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/sdf/expr.rs
  packages/brepjs-voxel-wasm/src/sdf/field.rs
  packages/brepjs-voxel-wasm/src/sdf/mod.rs
  packages/brepjs-voxel/src/index.ts
  src/implicit/index.ts
  src/implicit/sdfFns.ts
  src/index.ts
  src/voxel/engine.ts
  tests/implicitCore.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(implicit): raise total bundle size limit for the implicit surface; review nits
  .size-limit.json
  src/implicit/sdfFns.ts
Due: eslint --fix, prettier --write

feat(implicit): graded + conformal lattices (TPMS + strut) and chamber v1 (Phase 2c)
  packages/brepjs-voxel-wasm/Cargo.lock
  packages/brepjs-voxel-wasm/pkg/index.d.ts
  packages/brepjs-voxel-wasm/pkg/index.js
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm.d.ts
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/sdf/expr.rs
  packages/brepjs-voxel-wasm/src/sdf/mod.rs
  packages/brepjs-voxel-wasm/src/tpms.rs
  src/implicit/index.ts
  src/implicit/sdfFns.ts
  src/index.ts
  src/voxel/engine.ts
  tests/implicitCore.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(implicit): validate lattice kind and add strut-lattice integration test
  src/implicit/sdfFns.ts
  tests/implicitCore.test.ts
Due: eslint --fix, prettier --write

feat(implicit): manifold dual contouring — watertight + 2-manifold chamber (Phase 3a)
  packages/brepjs-voxel-wasm/Cargo.lock
  packages/brepjs-voxel-wasm/pkg/index.d.ts
  packages/brepjs-voxel-wasm/pkg/index.js
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm
  packages/brepjs-voxel-wasm/pkg/index_bg.wasm.d.ts
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/mesh/dual_contour.rs
  packages/brepjs-voxel-wasm/src/mesh/mod.rs
  packages/brepjs-voxel-wasm/src/ops.rs
  packages/brepjs-voxel-wasm/src/sdf/expr.rs
  packages/brepjs-voxel-wasm/src/sdf/mod.rs
  packages/brepjs-voxel-wasm/src/sdf/sweep.rs
  packages/brepjs-voxel-wasm/src/sparse.rs
  packages/brepjs-voxel-wasm/src/tpms.rs
  src/index.ts
  src/voxel/engine.ts
  src/voxel/fieldFns.ts
  src/voxel/index.ts
  tests/implicitCore.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(brepjs-verify): point skills entry at ./skill directory, not SKILL.md
  packages/brepjs-verify/.claude-plugin/plugin.json
Due: none

fix(brepjs-verify): dedupe React in preview viewer build
  packages/brepjs-verify/viewer/vite.config.ts
Due: prettier --write

fix(brepjs-verify): make CLI bin executable in build
  packages/brepjs-verify/package.json
Due: none

feat(io): export GLB Y-up by default and add MaterialFn types
  src/index.ts
  src/io.ts
  src/io/gltfExportFns.ts
  tests/gltfExport.test.ts
  tests/gltfRoundTrip.test.ts
Due: eslint --fix, prettier --write

feat(brepjs-verify): color GLB preview via part 'export const materials'
  packages/brepjs-verify/src/verify/runPart.ts
  packages/brepjs-verify/tests/fixtures/materialsBadShape.brep.ts
  packages/brepjs-verify/tests/fixtures/materialsBox.brep.ts
  packages/brepjs-verify/tests/runPart.test.ts
Due: none

docs(brepjs-verify): document compound vs fuseAll, materials, Y-up GLB
  docs/function-lookup.md
  packages/brepjs-verify/skill/SKILL.md
  packages/brepjs-verify/skill/references/booleans.md
  packages/brepjs-verify/skill/references/export.md
Due: prettier --write

feat(brepjs-viewer): shared ViewerControls toolbar; adopt in verify viewer
  packages/brepjs-verify/src/snapshot/shoot.ts
  packages/brepjs-verify/viewer/main.tsx
  packages/brepjs-viewer/src/ViewerCanvas.tsx
  packages/brepjs-viewer/src/ViewerControls.tsx
  packages/brepjs-viewer/src/index.ts
Due: none

docs: document ViewerControls + interactive serve viewer
  packages/brepjs-verify/README.md
  packages/brepjs-viewer/README.md
Due: prettier --write

fix(brepjs-viewer): address Greptile review (a11y + effect deps)
  packages/brepjs-viewer/src/ViewerCanvas.tsx
  packages/brepjs-viewer/src/ViewerControls.tsx
Due: none

feat(viewer): measurements info panel in verify --serve
  packages/brepjs-verify/viewer/main.tsx
  packages/brepjs-verify/viewer/src/kernelWorker.ts
  packages/brepjs-verify/viewer/src/loaders.ts
  packages/brepjs-verify/viewer/src/useModel.ts
  packages/brepjs-verify/viewer/tests/loaders.test.ts
  packages/brepjs-viewer/README.md
  packages/brepjs-viewer/src/ViewerInfoPanel.tsx
  packages/brepjs-viewer/src/geometry.ts
  packages/brepjs-viewer/src/index.ts
Due: prettier --write

fix(brepjs-verify): guard area measurement against non-positive values
  packages/brepjs-verify/viewer/src/loaders.ts
Due: none

feat(viewer): click-to-inspect face picking in verify --serve
  packages/brepjs-verify/viewer/main.tsx
  packages/brepjs-verify/viewer/src/kernelWorker.ts
  packages/brepjs-verify/viewer/src/loaders.ts
  packages/brepjs-verify/viewer/src/useModel.ts
  packages/brepjs-verify/viewer/tests/loaders.test.ts
  packages/brepjs-viewer/README.md
  packages/brepjs-viewer/src/ViewerSelectionPanel.tsx
  packages/brepjs-viewer/src/index.ts
Due: prettier --write

fix(brepjs-verify): warn on skipped face metadata
  packages/brepjs-verify/viewer/src/loaders.ts
Due: none

feat(viewer): section/clipping plane in verify --serve
  packages/brepjs-verify/viewer/main.tsx
  packages/brepjs-viewer/README.md
  packages/brepjs-viewer/src/EdgeRenderer.tsx
  packages/brepjs-viewer/src/Renderer.tsx
  packages/brepjs-viewer/src/ViewerCanvas.tsx
  packages/brepjs-viewer/src/ViewerSectionControls.tsx
  packages/brepjs-viewer/src/geometry.ts
  packages/brepjs-viewer/src/index.ts
  packages/brepjs-viewer/tests/geometry.test.ts
Due: prettier --write

fix(brepjs-viewer): address Greptile review (clip cleanup + zero-extent slider)
  packages/brepjs-viewer/src/ViewerCanvas.tsx
  packages/brepjs-viewer/src/ViewerSectionControls.tsx
Due: none

feat(brepjs-verify): burn bbox dimensions into agent snapshots
  packages/brepjs-verify/README.md
  packages/brepjs-verify/src/snapshot/shoot.ts
  packages/brepjs-verify/viewer/main.tsx
Due: prettier --write

feat(viewer): orthographic/perspective projection toggle
  packages/brepjs-verify/viewer/main.tsx
  packages/brepjs-viewer/README.md
  packages/brepjs-viewer/src/ViewerCanvas.tsx
  packages/brepjs-viewer/src/ViewerControls.tsx
  packages/brepjs-viewer/src/index.ts
Due: prettier --write

chore: gitignore docs/superpowers working docs
  .gitignore
Due: none

fix(brepjs-viewer): address Greptile review (Projection type + ortho comment)
  packages/brepjs-viewer/src/ViewerCanvas.tsx
  packages/brepjs-viewer/src/ViewerControls.tsx
  packages/brepjs-viewer/src/index.ts
  packages/brepjs-viewer/src/types.ts
Due: none

refactor(playground): consume shared ViewerControls toolbar
  apps/playground/src/components/playground/ViewerToolbar.tsx
  packages/brepjs-viewer/src/ViewerControls.tsx
Due: none

docs(brepjs-verify): document new viewer features in the skill
  packages/brepjs-verify/skill/SKILL.md
  packages/brepjs-verify/skill/references/getting-started.md
  packages/brepjs-verify/skill/references/measurement-validation.md
Due: prettier --write

feat(verify): add topology counts to the verify report
  packages/brepjs-verify/src/verify/checks.ts
  packages/brepjs-verify/src/verify/report.ts
  packages/brepjs-verify/tests/checks.test.ts
Due: none

fix(verify): export VerifyTopology; add topology-fallback regression test
  packages/brepjs-verify/src/index.ts
  packages/brepjs-verify/tests/checks.test.ts
Due: none

feat(verify): add center of mass to the verify report
  packages/brepjs-verify/src/verify/checks.ts
  packages/brepjs-verify/src/verify/report.ts
  packages/brepjs-verify/tests/checks.test.ts
Due: none

fix(kernel): thread STL tolerance/angularTolerance through brepkit + occt-wasm
  src/kernel/brepkit/ioOps.ts
  src/kernel/occtWasm/ioOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/stlBuilder.ts
  tests/helpers/kernelDivergences.ts
  tests/meshFns.test.ts
Due: eslint --fix, prettier --write

fix(verify): derive volume and CoM from one measureVolumeProps call
  packages/brepjs-verify/src/verify/checks.ts
Due: none

refactor(kernel): share STL export tolerance defaults, reuse facet scratch
  src/kernel/brepkit/ioOps.ts
  src/kernel/occtWasm/ioOps.ts
  src/kernel/stlBuilder.ts
Due: eslint --fix, prettier --write

feat(verify): add manifold flag to the topology channel
  packages/brepjs-verify/src/verify/checks.ts
  packages/brepjs-verify/src/verify/report.ts
  packages/brepjs-verify/tests/checks.test.ts
Due: none

test(verify): cover manifold false and absent-for-no-shells branches
  packages/brepjs-verify/tests/checks.test.ts
Due: none

fix(assembly): compose mate constraints down a chain (kinematics Phase 0)
  CLAUDE.md
  src/kernel/solverAdapter.ts
  tests/mateFns.test.ts
Due: eslint --fix, prettier --write

feat(verify): validate each body of multi-solid assemblies
  packages/brepjs-verify/src/verify/checks.ts
  packages/brepjs-verify/tests/checks.test.ts
Due: none

refactor(assembly): address Phase 0 review (drop dead param, cover cycle)
  src/kernel/solverAdapter.ts
  tests/mateFns.test.ts
Due: eslint --fix, prettier --write

fix(verify): surface per-body validity errors; test partial failure
  packages/brepjs-verify/src/verify/checks.ts
  packages/brepjs-verify/tests/checks.test.ts
Due: none

feat(verify): sandbox executor — run agent code in an isolated child process
  packages/brepjs-verify/src/sandbox/runProgram.ts
  packages/brepjs-verify/tests/runProgram.test.ts
  packages/brepjs-verify/vitest.config.ts
Due: prettier --write

fix(verify): robust default CLI entry, append NODE_OPTIONS, test crashed outcome
  packages/brepjs-verify/src/sandbox/runProgram.ts
  packages/brepjs-verify/tests/runProgram.test.ts
Due: none
