Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(2d): declare disposal on DrawingInterface
  src/2d/blueprints/lib.ts
  tests/drawingDisposal.test.ts
Due: eslint --fix, prettier --write

fix(2d): make Drawing and blueprint containers disposable (#1912)
  src/2d/README.md
  src/2d/blueprints/blueprint.ts
  src/2d/blueprints/blueprints.ts
  src/2d/blueprints/compoundBlueprint.ts
  src/2d/blueprints/lib.ts
  src/sketching/README.md
  src/sketching/drawing.ts
  tests/drawingDisposal.test.ts
Due: eslint --fix, prettier --write

fix(deps): drop redundant brace-expansion override
  package-lock.json
  package.json
Due: none

fix(deps): bump ndarray-pixels and mcp sdk to clear sharp/hono advisories
  package-lock.json
  packages/brepjs-cad/package.json
Due: none

fix(deps): drop redundant brace-expansion override (#1916)
  package-lock.json
  package.json
Due: none

fix(deps): bump postcss and body-parser, document dompurify exception
  osv-scanner.toml
  package-lock.json
Due: none

docs(security): correct the dompurify exception rationale
  osv-scanner.toml
Due: none

fix(deps): clear all remaining OSV findings to get main green (#1917)
  osv-scanner.toml
  package-lock.json
  packages/brepjs-cad/package.json
Due: none

fix(playground): bundle monaco locally instead of loading from a CDN
  apps/playground/src/components/playground/EditorPanel.tsx
  apps/playground/src/lib/monacoLoader.ts
  apps/playground/src/lib/monacoSetup.ts
Due: none

fix(playground): bundle monaco locally instead of loading from a CDN (#1923)
  apps/playground/src/components/playground/EditorPanel.tsx
  apps/playground/src/lib/monacoLoader.ts
  apps/playground/src/lib/monacoSetup.ts
Due: none

chore(security): drop the withdrawn esbuild ignore
  osv-scanner.toml
Due: none

chore(security): drop the withdrawn esbuild ignore (#1924)
  osv-scanner.toml
Due: none

fix(brepkit): transform compounds in applyMatrix
  src/kernel/brepkit/internalOps.ts
  tests/brepkitExtended.test.ts
Due: eslint --fix, prettier --write

fix(brepkit): transform vertices so synthetic compounds with one work
  src/kernel/brepkit/internalOps.ts
  tests/brepkitExtended.test.ts
Due: eslint --fix, prettier --write

fix(brepkit): transform compounds in applyMatrix (#1925)
  src/kernel/brepkit/internalOps.ts
  tests/brepkitExtended.test.ts
Due: eslint --fix, prettier --write

chore(deps): hold knip at 6.27.x
  .github/dependabot.yml
Due: none

chore(deps): hold knip at 6.27.x (#1931)
  .github/dependabot.yml
Due: none

chore(deps): bump occt-wasm to 3.8.3 and brepkit-wasm to 2.128.20
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
  tests/brepkitExtended.test.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

docs(kernel): regenerate conformance matrix
  docs/kernel-conformance.md
Due: prettier --write

fix(kernel): pass OCCT default tolerance to occt-wasm defeature
  docs/kernel-conformance.md
  src/kernel/occtWasm/modifierOps.ts
  tests/helpers/kernelDivergences.ts
  tests/modifierFns.test.ts
Due: eslint --fix, prettier --write

fix(deps): bump occt-wasm to 3.8.3 and brepkit-wasm to 2.128.20 (#1938)
  docs/kernel-conformance.md
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
  src/kernel/occtWasm/modifierOps.ts
  tests/brepkitExtended.test.ts
  tests/helpers/kernelDivergences.ts
  tests/modifierFns.test.ts
Due: eslint --fix, prettier --write

fix(deps): bump brepkit-wasm to 2.129.8
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

fix(deps): bump brepkit-wasm to 2.129.8 (#1942)
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

chore(deps): bump brepkit-wasm to 2.129.13
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

chore(deps): bump brepkit-wasm to 2.129.13 (#1946)
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

fix(scripts): format the generated kernel types in the sync itself
  scripts/sync-brepkit-types.ts
Due: none

fix(scripts): format the generated kernel types in the sync itself (#1950)
  scripts/sync-brepkit-types.ts
Due: none

ci: add CLA document and enforcement workflow
  .github/CLA.md
  .github/workflows/cla.yml
  CONTRIBUTING.md
Due: prettier --write

docs(readme): state per-kernel licensing in the license section
  README.md
Due: prettier --write

feat(kernel): bump brepkit-wasm to 3.0.0
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

ci: pin contributor-assistant to its release commit and state per-repo signing
  .github/workflows/cla.yml
  CONTRIBUTING.md
  packages/brepjs-opencascade/src/brepjs_single.d.ts
Due: prettier --write

docs(readme): both licenses apply to shipped products, precise LGPL id
  README.md
Due: prettier --write

feat(kernel): bump brepkit-wasm to 3.0.0 (#1957)
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

docs(readme): state per-kernel licensing in the license section (#1956)
  README.md
Due: prettier --write

ci: add CLA document and enforcement workflow (#1955)
  .github/CLA.md
  .github/workflows/cla.yml
  CONTRIBUTING.md
  packages/brepjs-opencascade/src/brepjs_single.d.ts
Due: prettier --write

docs: state per-repo signing without asserting cross-repo equivalence
  CONTRIBUTING.md
Due: prettier --write

docs: state per-repo signing without asserting cross-repo equivalence (#1960)
  CONTRIBUTING.md
Due: prettier --write

chore(deps): bump occt-wasm to 4.0.0 and brepkit-wasm to 3.0.2
  package-lock.json
  package.json
  packages/brepjs-cad/package.json
Due: none

chore(deps): bump occt-wasm to 4.0.0 and brepkit-wasm to 3.0.2 (#1961)
  package-lock.json
  package.json
  packages/brepjs-cad/package.json
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
