Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

perf(metadata): collect input face hashes via subShapeHashes (no per-face handle)
  src/topology/metadata/metadataPropagation.ts
  tests/wasmArenaDisposal.test.ts
Due: eslint --fix, prettier --write

docs: regenerate kernel conformance matrix
  docs/kernel-conformance.md
Due: prettier --write

test(bench): add metadata-propagation face-hash collection benchmark
  benchmarks/metadata-propagation.bench.test.ts
Due: none

chore(brepjs-cad): pin brepjs dep to "*" to stop node-workspace repin churn
  package-lock.json
  packages/brepjs-cad/package.json
Due: none

test(brepjs-cad): run the standalone smoke under --legacy-peer-deps too
  packages/brepjs-cad/scripts/smokeStandalone.mjs
Due: none

revert: restore brepjs-cad brepjs dep floor (">=18.117.1") — "*" did not fix the churn
  package-lock.json
  packages/brepjs-cad/package.json
Due: none

fix(kernel): make manifold copyShape a real copy, not an alias
  src/kernel/manifold/meshHandle.ts
  src/kernel/manifold/modifierOps.ts
  src/kernel/manifold/topologyOps.ts
  tests/manifoldCopyShape.test.ts
Due: eslint --fix, prettier --write

fix: plug occt-wasm arena leaks in imports/modifiers and fuseAll pairwise simplify
  src/io/gltfImportFns.ts
  src/io/importFns.ts
  src/io/ioUtils.ts
  src/io/threemfImportFns.ts
  src/topology/booleanFns.ts
  src/topology/modifierFns.ts
Due: eslint --fix, prettier --write

test: cover fuseAll pairwise simplify + intermediate-solid disposal
  tests/booleanFns.test.ts
  tests/helpers/kernelDivergences.ts
  tests/wasmArenaDisposal.test.ts
Due: eslint --fix, prettier --write

chore: bump total JS size limit to 349 kB for the disposal fixes
  .size-limit.json
Due: none

fix(kernel): reconstruct a real pcurve in occt-wasm extractCurve2dFromEdge
  src/kernel/occtWasm/kernel2dOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/curves.test.ts
Due: eslint --fix, prettier --write

docs(kernel): correct pcurve accuracy note + denser sampling (Greptile P1)
  src/kernel/occtWasm/kernel2dOps.ts
Due: eslint --fix, prettier --write

fix(kernel): implement linear variable fillet on occt-wasm
  src/kernel/occtWasm/modifierOps.ts
  src/topology/modifierFns.ts
  tests/modifierFns.test.ts
  tests/wasmArenaDisposal.test.ts
Due: eslint --fix, prettier --write

refactor(kernel): harden variable-fillet WASM cleanup (Greptile P2)
  src/kernel/occtWasm/modifierOps.ts
Due: eslint --fix, prettier --write

fix(topology): size the section cutting face to the shape's bounding box
  src/topology/booleanFns.ts
  tests/booleanFns.test.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

chore: bump total JS size limit to 350 kB for the section bbox sizing
  .size-limit.json
Due: none

fix(topology): keep explicit planeSize origin-centred; check both section axes (Greptile P2)
  src/topology/booleanFns.ts
  tests/booleanFns.test.ts
Due: eslint --fix, prettier --write

fix(kernel): implement occt-wasm fixSelfIntersection via healWire
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/healingFns.test.ts
Due: eslint --fix, prettier --write

chore(deps): restore pruned @emnapi/core and @emnapi/runtime lockfile entries
  package-lock.json
Due: none

fix(topology): reject array passed as mirror/rotate options object
  src/topology/api.ts
  tests/api.test.ts
  tests/wasmArenaDisposal.test.ts
Due: eslint --fix, prettier --write

docs(api): use canonical at/axis keys for rotate/mirror
  apps/docs/getting-started/cheat-sheet.md
  apps/docs/tasks/primitives.md
  tests/api.test.ts
  tests/operations.test.ts
  tests/shapeFns.test.ts
  tests/topology.test.ts
Due: eslint --fix, prettier --write

feat(kernel): sketch on indirect cylindrical faces (occt-wasm)
  package-lock.json
  package.json
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/occtWasmTypes.ts
  src/kernel/occtWasm/surfaceOps.ts
  tests/curves.test.ts
Due: eslint --fix, prettier --write

chore(deps): restore pruned @emnapi lockfile entries
  package-lock.json
Due: none

fix(deps): restore @emnapi lockfile entries dropped by dependabot
  package-lock.json
Due: none

build(deps): pin @emnapi/core and @emnapi/runtime as direct devDependencies
  package-lock.json
  package.json
Due: none

chore(knip): ignore the intentionally-unimported @emnapi lockfile pins
  knip.config.ts
Due: prettier --write

fix(deps): bump dompurify to 3.4.12 for GHSA-c2j3-45gr-mqc4
  package-lock.json
Due: none

fix(kernel): expand brepkit edge polylines into segment pairs
  src/kernel/brepkit/meshOps.test.ts
  src/kernel/brepkit/meshOps.ts
Due: eslint --fix, prettier --write

fix(kernel): satisfy lint and pattern rules in the edge-pair change
  src/kernel/brepkit/meshOps.test.ts
  src/kernel/brepkit/meshOps.ts
Due: eslint --fix, prettier --write

fix(kernel): correct the edge-lines stub type and formatting
  src/kernel/brepkit/meshOps.test.ts
Due: eslint --fix, prettier --write

fix(kernel): drop degenerate edge pairs, matching occtWasm
  src/kernel/brepkit/meshOps.test.ts
  src/kernel/brepkit/meshOps.ts
Due: eslint --fix, prettier --write

chore(ci): raise total JS size budget to 380 kB and ignore typescript majors
  .github/dependabot.yml
  .size-limit.json
Due: none

chore(ci): raise total JS size budget to 380 kB and ignore typescript majors (#1904)
  .github/dependabot.yml
  .size-limit.json
Due: none

fix(2d): free 2D handles stranded by custom corners (#1906)
  src/2d/README.md
  src/2d/blueprints/baseSketcher2d.ts
  src/2d/lib/curve2D.ts
  src/2d/lib/curve2dFns.ts
  src/2d/lib/customCorners.ts
  tests/curve2dFns.test.ts
  tests/customCornerHandleLeaks.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix(2d): dispose corner temporaries on exception paths
  src/2d/lib/customCorners.ts
  tests/customCornerHandleLeaks.test.ts
Due: eslint --fix, prettier --write

fix(2d): free 2D handles stranded by custom corners (#1907)
  src/2d/README.md
  src/2d/blueprints/baseSketcher2d.ts
  src/2d/lib/curve2D.ts
  src/2d/lib/curve2dFns.ts
  src/2d/lib/customCorners.ts
  tests/curve2dFns.test.ts
  tests/customCornerHandleLeaks.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix(2d): make Drawing and blueprint containers disposable (#1910)
  src/2d/README.md
  src/2d/blueprints/blueprint.ts
  src/2d/blueprints/blueprints.ts
  src/2d/blueprints/compoundBlueprint.ts
  src/sketching/drawing.ts
  tests/drawingDisposal.test.ts
Due: eslint --fix, prettier --write

docs(sketching): note Drawing disposal semantics
  src/sketching/README.md
Due: prettier --write
