Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat(cli): add the create-brepjs project scaffold
  knip.config.ts
  package-lock.json
  package.json
  packages/create-brepjs/bin/create-brepjs.mjs
  packages/create-brepjs/package.json
  packages/create-brepjs/templates/README.md
  packages/create-brepjs/templates/gitignore
  packages/create-brepjs/templates/package.json.tpl
  packages/create-brepjs/templates/src/main.ts
  packages/create-brepjs/templates/tsconfig.json
  tests/createBrepjs.test.ts
Due: eslint --fix, prettier --write

fix(cli): plan before writing and refuse symlinked targets
  bin/brepjs.mjs
  tests/cliFamilies.test.ts
Due: eslint --fix, prettier --write

feat(families): add the starter registry with manifest and version markers (#2080)
  packages/brepjs-families/eslint.config.js
  packages/brepjs-families/package.json
  packages/brepjs-families/registry/families/door.ts
  packages/brepjs-families/registry/families/room.ts
  packages/brepjs-families/registry/families/slab.ts
  packages/brepjs-families/registry/families/storey.ts
  packages/brepjs-families/registry/families/wall.ts
  packages/brepjs-families/registry/families/window.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/tests/registry.test.ts
  packages/brepjs-families/tsconfig.test.json
Due: none

fix(cli): validate scaffold project names strictly
  packages/create-brepjs/bin/create-brepjs.mjs
  tests/createBrepjs.test.ts
Due: eslint --fix, prettier --write

fix(cli): open targets with O_NOFOLLOW to close the symlink race
  bin/brepjs.mjs
Due: none

fix(cli): report partial closures explicitly on mid-apply failure
  bin/brepjs.mjs
Due: none

fix(cli): refuse to diff through symlinked local files
  bin/brepjs.mjs
  tests/cliFamilies.test.ts
Due: eslint --fix, prettier --write

feat(cli): add the create-brepjs project scaffold (#2085)
  knip.config.ts
  package-lock.json
  package.json
  packages/create-brepjs/bin/create-brepjs.mjs
  packages/create-brepjs/package.json
  packages/create-brepjs/templates/README.md
  packages/create-brepjs/templates/gitignore
  packages/create-brepjs/templates/package.json.tpl
  packages/create-brepjs/templates/src/main.ts
  packages/create-brepjs/templates/tsconfig.json
  tests/createBrepjs.test.ts
Due: eslint --fix, prettier --write

fix(cli): contain diff reads to the resolved project root
  bin/brepjs.mjs
  tests/cliFamilies.test.ts
Due: eslint --fix, prettier --write

fix(cli): write via sibling temp file and atomic rename
  bin/brepjs.mjs
Due: none

fix(cli): install registry deps with lifecycle scripts suppressed
  bin/brepjs.mjs
Due: none

feat(ci): autopublish brepjs-families and create-brepjs via release-please
  .github/workflows/publish-brepjs-families.yml
  .github/workflows/publish-create-brepjs.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

feat(cli): add brepjs add and diff for copy-in family distribution (#2084)
  bin/brepjs.mjs
  package.json
  tests/cliFamilies.test.ts
  tests/fixtures/cliRegistry/families/alpha.ts
  tests/fixtures/cliRegistry/families/beta.ts
  tests/fixtures/cliRegistry/manifest.json
Due: eslint --fix, prettier --write

feat(ci): autopublish brepjs-families and create-brepjs via release-please (#2092)
  .github/workflows/publish-brepjs-families.yml
  .github/workflows/publish-create-brepjs.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

docs: add the declarative models section core
  apps/docs/.vitepress/config.ts
  apps/docs/families/first-building.md
  apps/docs/families/identity.md
  apps/docs/families/overview.md
Due: prettier --write

docs: add openings, validation, and ifc export pages
  apps/docs/.vitepress/config.ts
  apps/docs/families/identity.md
  apps/docs/families/ifc-export.md
  apps/docs/families/openings.md
  apps/docs/families/overview.md
  apps/docs/families/props-and-validation.md
Due: prettier --write

docs: add copy-in distribution page and families reference entries
  apps/docs/.vitepress/config.ts
  apps/docs/families/copy-in.md
  apps/docs/getting-started/cheat-sheet.md
  apps/docs/reference/decisions.md
  apps/docs/reference/errors.md
  apps/docs/reference/glossary.md
  docs/decisions/0014-identity-beside-content.md
Due: prettier --write

docs: add the declarative models section core (#2098)
  apps/docs/.vitepress/config.ts
  apps/docs/families/first-building.md
  apps/docs/families/identity.md
  apps/docs/families/overview.md
Due: prettier --write

feat(families): add cylinder and geometry intrinsics
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
Due: none

docs: add the bim professional entry point and audit fixes
  apps/docs/.vitepress/config.ts
  apps/docs/families/first-building.md
  apps/docs/families/for-bim-professionals.md
  apps/docs/families/overview.md
  apps/docs/getting-started/cheat-sheet.md
Due: prettier --write

feat(families): add cylinder and geometry intrinsics (#2102)
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
Due: none

test(bim): add the families ifc round-trip gate
  packages/brepjs-bim/tests/familiesRoundTrip.test.ts
Due: none

test(bim): add the families ifc round-trip gate (#2106)
  packages/brepjs-bim/tests/familiesRoundTrip.test.ts
Due: none

docs: add openings, validation, and ifc export pages (#2099)
  apps/docs/.vitepress/config.ts
  apps/docs/families/identity.md
  apps/docs/families/ifc-export.md
  apps/docs/families/openings.md
  apps/docs/families/overview.md
  apps/docs/families/props-and-validation.md
Due: prettier --write

fix(sheetmetal): relax the opencascade devdep to a published range
  package-lock.json
  packages/brepjs-sheetmetal/package.json
Due: none

fix(sheetmetal): drop the unused opencascade devdep entirely
  package-lock.json
  packages/brepjs-sheetmetal/package.json
Due: none

fix(sheetmetal): drop the unused brepjs-opencascade devdep (#2108)
  package-lock.json
  packages/brepjs-sheetmetal/package.json
Due: none

docs: add copy-in distribution page and families reference entries (#2101)
  apps/docs/.vitepress/config.ts
  apps/docs/families/copy-in.md
  apps/docs/getting-started/cheat-sheet.md
  apps/docs/reference/decisions.md
  apps/docs/reference/errors.md
  apps/docs/reference/glossary.md
  docs/decisions/0014-identity-beside-content.md
Due: prettier --write

fix: reconcile the release branch lockfile
  package-lock.json
Due: none

fix(release): remove node-workspace re-pinning and widen the bim pin
  package-lock.json
  packages/brepjs-bim/package.json
  release-please-config.json
Due: none

fix(release): bound the families range below the next major
  package-lock.json
  packages/brepjs-bim/package.json
Due: none

docs: add the bim professional entry point and audit fixes (#2103)
  apps/docs/.vitepress/config.ts
  apps/docs/families/first-building.md
  apps/docs/families/for-bim-professionals.md
  apps/docs/families/overview.md
  apps/docs/getting-started/cheat-sheet.md
Due: prettier --write

fix(release): remove node-workspace re-pinning and widen the bim pin (#2113)
  package-lock.json
  packages/brepjs-bim/package.json
  release-please-config.json
Due: none

feat(families): ship built dist with type declarations
  .github/workflows/ci.yml
  .github/workflows/publish-brepjs-bim.yml
  .github/workflows/publish-brepjs-families.yml
  package-lock.json
  packages/brepjs-bim/vitest.config.ts
  packages/brepjs-families/package.json
  packages/brepjs-families/vite.config.ts
Due: prettier --write

fix(families): build dist before lint/tests that resolve it via exports
  .github/workflows/ci.yml
  vitest.config.ts
Due: prettier --write

feat(families): ship built dist with type declarations (#2116)
  .github/workflows/ci.yml
  .github/workflows/publish-brepjs-bim.yml
  .github/workflows/publish-brepjs-families.yml
  package-lock.json
  packages/brepjs-bim/vitest.config.ts
  packages/brepjs-families/package.json
  packages/brepjs-families/vite.config.ts
  vitest.config.ts
Due: prettier --write

docs: replace load-bearing metaphors with plain wording
  apps/docs/families/first-building.md
  packages/brepjs-bim/tests/bcfXml.test.ts
  packages/brepjs-cad/skills/implement/references/gridfinity.md
  packages/brepjs-sheetmetal/tests/nfpNest.test.ts
Due: prettier --write

feat(families): map circular columns onto IfcColumn through the adapter
  apps/docs/families/for-bim-professionals.md
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-families/registry/families/column.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/tests/registry.test.ts
Due: prettier --write

docs: replace load-bearing metaphors with plain wording (#2120)
  apps/docs/families/first-building.md
  packages/brepjs-bim/tests/bcfXml.test.ts
  packages/brepjs-cad/skills/implement/references/gridfinity.md
  packages/brepjs-sheetmetal/tests/nfpNest.test.ts
Due: prettier --write

feat(families): map circular columns onto IfcColumn through the adapter (#2121)
  apps/docs/families/for-bim-professionals.md
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-families/registry/families/column.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/tests/registry.test.ts
Due: prettier --write
