Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(playground): add bim-datacenter data hall example
  apps/playground/public/example-thumbs/bim-datacenter.turntable.webp
  apps/playground/public/example-thumbs/bim-datacenter.webp
  apps/playground/src/lib/examples/bim.ts
Due: none

feat(playground): add bim-datacenter data hall example (#2183)
  apps/playground/public/example-thumbs/bim-datacenter.turntable.webp
  apps/playground/public/example-thumbs/bim-datacenter.webp
  apps/playground/src/lib/examples/bim.ts
Due: none

fix(playground): improve bim-datacenter visual legibility
  apps/playground/public/example-thumbs/bim-datacenter.turntable.webp
  apps/playground/public/example-thumbs/bim-datacenter.webp
  apps/playground/src/lib/examples/bim.ts
Due: none

fix(playground): improve bim-datacenter visual legibility (#2184)
  apps/playground/public/example-thumbs/bim-datacenter.turntable.webp
  apps/playground/public/example-thumbs/bim-datacenter.webp
  apps/playground/src/lib/examples/bim.ts
Due: none

fix(playground): correct bim example element placements
  apps/playground/public/example-thumbs/bim-datacenter.turntable.webp
  apps/playground/public/example-thumbs/bim-datacenter.webp
  apps/playground/public/example-thumbs/bim-finishes.webp
  apps/playground/public/example-thumbs/bim-spaces-zones.webp
  apps/playground/src/lib/examples/bim.ts
Due: none

fix(playground): correct bim example element placements (#2185)
  apps/playground/public/example-thumbs/bim-datacenter.turntable.webp
  apps/playground/public/example-thumbs/bim-datacenter.webp
  apps/playground/public/example-thumbs/bim-finishes.webp
  apps/playground/public/example-thumbs/bim-spaces-zones.webp
  apps/playground/src/lib/examples/bim.ts
Due: none

fix(create-brepjs): ship a scaffold that installs and runs
  .github/workflows/ci.yml
  bin/brepjs.mjs
  packages/create-brepjs/bin/create-brepjs.mjs
  packages/create-brepjs/package.json
  packages/create-brepjs/templates/package.json.tpl
  packages/create-brepjs/templates/tsconfig.json
  packages/create-brepjs/tests/scaffold.test.ts
  packages/create-brepjs/vitest.config.ts
Due: prettier --write

fix(csg): scale the default mesh deflection with model size
  src/core/errors.ts
  src/csg/evaluate.ts
  tests/csg/csgMeshScale.test.ts
Due: eslint --fix, prettier --write

fix(families): carry identity props past zod schemas into BIM export
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesRegistry.test.ts
  packages/brepjs-families/README.md
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/src/index.ts
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
Due: prettier --write

fix(create-brepjs): smoke the full scaffold journey in CI
  .github/workflows/ci.yml
  packages/create-brepjs/templates/tsconfig.json
  packages/create-brepjs/tests/scaffold.test.ts
Due: none

fix(csg): derive the relative mesh default from placement-stripped bounds
  src/csg/evaluate.ts
  tests/csg/csgMeshScale.test.ts
Due: eslint --fix, prettier --write

fix(families): scope common-pset mapping and run it for fills
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesRegistry.test.ts
Due: none

fix(csg): scale the default mesh deflection with model size (#2187)
  src/core/errors.ts
  src/csg/evaluate.ts
  tests/csg/csgMeshScale.test.ts
Due: eslint --fix, prettier --write

feat(cad): teach the agent skill the declarative families/IFC path
  packages/brepjs-cad/skills/implement/SKILL.md
  packages/brepjs-cad/skills/implement/references/families-bim.md
  packages/brepjs-cad/skills/polish/references/export.md
Due: prettier --write

fix(families): carry identity props past zod schemas into BIM export (#2188)
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesRegistry.test.ts
  packages/brepjs-families/README.md
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/src/index.ts
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
Due: prettier --write

docs: surface the declarative families layer on every discovery path
  README.md
  apps/docs/.vitepress/theme/components/Landing.vue
  apps/docs/concepts/csg-ir.md
  apps/docs/getting-started/install.md
  apps/docs/tasks/parametric-csg.md
  packages/brepjs-bim/README.md
Due: prettier --write

feat(viewer): bridge evaluated family models to renderable mesh data
  packages/brepjs-viewer/src/index.ts
  packages/brepjs-viewer/src/model.ts
  packages/brepjs-viewer/tests/model.test.ts
Due: none

docs: use real props in the readme families example
  README.md
Due: prettier --write

feat(cad): tighten result-handling and sharing guidance in families reference
  packages/brepjs-cad/skills/implement/references/families-bim.md
Due: prettier --write

docs: surface the declarative families layer on every discovery path (#2191)
  README.md
  apps/docs/.vitepress/theme/components/Landing.vue
  apps/docs/concepts/csg-ir.md
  apps/docs/getting-started/install.md
  apps/docs/tasks/parametric-csg.md
  packages/brepjs-bim/README.md
Due: prettier --write

feat(cad): teach the agent skill the declarative families/IFC path (#2189)
  packages/brepjs-cad/skills/implement/SKILL.md
  packages/brepjs-cad/skills/implement/references/families-bim.md
  packages/brepjs-cad/skills/polish/references/export.md
Due: prettier --write

feat(families): structural composition — children, hierarchical transforms, rotation
  package-lock.json
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesRegistry.test.ts
  packages/brepjs-families/README.md
  packages/brepjs-families/package.json
  packages/brepjs-families/registry/families/room.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/src/index.ts
  packages/brepjs-families/src/jsxRuntime.ts
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
  packages/brepjs-families/tests/registry.test.ts
Due: prettier --write

fix(csg): memoize tree walks so shared DAGs stay linear
  src/csg/edit.ts
  src/csg/optimize.ts
  tests/csg/csgCoverage.test.ts
  tests/csg/csgDagWalks.test.ts
  tests/csg/csgIR.test.ts
Due: eslint --fix, prettier --write

fix(cli): pin the default registry to the installed families release
  bin/brepjs.mjs
Due: none

feat(viewer): bridge evaluated family models to renderable mesh data (#2194)
  packages/brepjs-viewer/src/index.ts
  packages/brepjs-viewer/src/model.ts
  packages/brepjs-viewer/tests/model.test.ts
Due: none

fix(families): detect placement rotation from transform props, not geometry
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesRegistry.test.ts
Due: none

test(families): reference the model so bim lint passes
  packages/brepjs-bim/tests/familiesRegistry.test.ts
Due: none

fix(cli): resolve the installed families version through ancestor node_modules
  bin/brepjs.mjs
Due: none

fix(voxel): adopt as_chunks over chunks_exact for constant chunk sizes
  packages/brepjs-voxel-wasm/src/contour.rs
  packages/brepjs-voxel-wasm/src/fwn.rs
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/ops.rs
Due: none

feat(families): structural composition — children, hierarchical transforms, rotation (#2196)
  package-lock.json
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesRegistry.test.ts
  packages/brepjs-families/README.md
  packages/brepjs-families/package.json
  packages/brepjs-families/registry/families/room.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/src/index.ts
  packages/brepjs-families/src/jsxRuntime.ts
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
  packages/brepjs-families/tests/registry.test.ts
Due: prettier --write

fix(csg): linear DAG walks + registry pinned to the installed release (#2197)
  bin/brepjs.mjs
  src/csg/edit.ts
  src/csg/optimize.ts
  tests/csg/csgCoverage.test.ts
  tests/csg/csgDagWalks.test.ts
  tests/csg/csgIR.test.ts
Due: eslint --fix, prettier --write

fix(families): give the dome roof a true hemispherical cap
  packages/brepjs-families/registry/families/roof.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/tests/registry.test.ts
Due: none

fix(families): give the dome roof a true hemispherical cap (#2202)
  packages/brepjs-families/registry/families/roof.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/tests/registry.test.ts
Due: none

fix(voxel): cover the sdf module's chunks_exact sites too
  packages/brepjs-voxel-wasm/src/sdf/expr.rs
  packages/brepjs-voxel-wasm/src/sdf/mod.rs
Due: none

fix(voxel): adopt as_chunks over chunks_exact for constant chunk sizes (#2198)
  packages/brepjs-voxel-wasm/src/contour.rs
  packages/brepjs-voxel-wasm/src/fwn.rs
  packages/brepjs-voxel-wasm/src/lib.rs
  packages/brepjs-voxel-wasm/src/ops.rs
  packages/brepjs-voxel-wasm/src/sdf/expr.rs
  packages/brepjs-voxel-wasm/src/sdf/mod.rs
Due: none

feat(families): typed JSX intrinsics and a compiled-path gate
  apps/docs/.vitepress/config.ts
  apps/docs/families/jsx.md
  packages/brepjs-families/eslint.config.js
  packages/brepjs-families/package.json
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/src/index.ts
  packages/brepjs-families/src/intrinsics.ts
  packages/brepjs-families/src/jsxRuntime.ts
  packages/brepjs-families/tests/familiesJsx.test.tsx
  packages/brepjs-families/tsconfig.jsx.json
  packages/brepjs-families/vitest.config.ts
Due: prettier --write

fix(create-brepjs): preconfigure jsx for the families runtime
  packages/create-brepjs/templates/tsconfig.json
Due: none

fix(create-brepjs): widen the families range past the 0.x caret treadmill
  packages/create-brepjs/templates/package.json.tpl
  packages/create-brepjs/tests/scaffold.test.ts
Due: none

fix(create-brepjs): ship a scaffold that installs and runs (#2186)
  .github/workflows/ci.yml
  bin/brepjs.mjs
  packages/create-brepjs/bin/create-brepjs.mjs
  packages/create-brepjs/package.json
  packages/create-brepjs/templates/package.json.tpl
  packages/create-brepjs/templates/tsconfig.json
  packages/create-brepjs/tests/scaffold.test.ts
  packages/create-brepjs/vitest.config.ts
Due: prettier --write

fix(families): alias the jsx runtime subpaths in the root vitest config
  vitest.config.ts
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
