Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: consolidate mesh/face types into functional API
  src/topology/shapes.ts
Due: eslint --fix, prettier --write

docs: update topology README with type consolidation note
  src/topology/README.md
Due: prettier --write

refactor: extract boolean operations to shapeBooleans.ts
  src/topology/shapeBooleans.ts
  src/topology/shapes.ts
Due: eslint --fix, prettier --write

docs: add shapeBooleans.ts to topology README
  src/topology/README.md
Due: prettier --write

refactor: extract modifier types to shapeModifiers.ts
  src/topology/README.md
  src/topology/shapeModifiers.ts
  src/topology/shapes.ts
Due: eslint --fix, prettier --write

docs: add file splitting refactoring plan
  REFACTOR_PLAN.md
Due: prettier --write

refactor: extract kernel operation modules
  src/kernel/ioOps.ts
  src/kernel/measureOps.ts
  src/kernel/occtAdapter.ts
  src/kernel/transformOps.ts
Due: eslint --fix, prettier --write

docs: update kernel README with new operation modules
  src/kernel/README.md
Due: prettier --write

refactor: extract boolean operations to booleanOps.ts
  src/kernel/booleanOps.ts
  src/kernel/occtAdapter.ts
Due: eslint --fix, prettier --write

docs: add booleanOps.ts to kernel README
  src/kernel/README.md
Due: prettier --write

refactor: extract meshing operations to meshOps.ts
  src/kernel/README.md
  src/kernel/meshOps.ts
  src/kernel/occtAdapter.ts
Due: eslint --fix, prettier --write

refactor: extract topology iteration to topologyOps.ts
  src/kernel/README.md
  src/kernel/occtAdapter.ts
  src/kernel/topologyOps.ts
Due: eslint --fix, prettier --write

refactor: extract constructor, sweep, and modifier ops from occtAdapter
  src/kernel/README.md
  src/kernel/constructorOps.ts
  src/kernel/modifierOps.ts
  src/kernel/occtAdapter.ts
  src/kernel/sweepOps.ts
Due: eslint --fix, prettier --write

chore: remove completed REFACTOR_PLAN.md
  REFACTOR_PLAN.md
Due: prettier --write

fix: align hashPoint precision with PRECISION_INTERSECTION
  src/2d/blueprints/booleanOperations.ts
Due: eslint --fix, prettier --write

fix: align hashPoint precision with PRECISION_INTERSECTION (#34)
  src/2d/blueprints/booleanOperations.ts
Due: eslint --fix, prettier --write

docs: add focused improvement sprint design
  docs/plans/2026-02-03-improvements-design.md
Due: prettier --write

feat(core): add deprecation warnings to legacy geometry classes
  src/core/geometry.ts
  src/index.ts
Due: eslint --fix, prettier --write

chore: fix .gitignore and add knip to CI
  .github/workflows/ci.yml
  .gitignore
Due: none

test(boolean): add edge case tests for boolean operations
  tests/fn-booleanFns.test.ts
Due: prettier --write

test: add coverage tests for shapeTypes and finders
  tests/faceFinder.test.ts
  tests/fn-finderFns.test.ts
  tests/fn-shapeTypes.test.ts
Due: prettier --write

docs: add performance optimization guide
  benchmarks/harness.ts
  docs/performance.md
  package.json
Due: prettier --write

docs: add production readiness documentation
  SECURITY.md
  docs/compatibility.md
  docs/errors.md
  docs/memory-management.md
Due: prettier --write

docs: add examples, architecture diagram, and improve README
  README.md
  docs/architecture.md
  examples/2d-to-3d.ts
  examples/README.md
  examples/basic-primitives.ts
  examples/import-export.ts
  examples/mechanical-part.ts
  examples/text-engraving.ts
Due: prettier --write

docs: mark improvement sprint as complete
  docs/plans/2026-02-03-improvements-design.md
Due: prettier --write

chore(eslint): configure deprecation warnings to warn not error
  eslint.config.js
Due: none

style: fix formatting in test files
  tests/faceFinder.test.ts
  tests/fn-booleanFns.test.ts
Due: prettier --write

docs: remove completed improvement sprint plan
  docs/plans/2026-02-03-improvements-design.md
Due: prettier --write

feat: focused improvement sprint - DX, quality, performance, production readiness (#36)
  .github/workflows/ci.yml
  .gitignore
  README.md
  SECURITY.md
  benchmarks/harness.ts
  docs/architecture.md
  docs/compatibility.md
  docs/errors.md
  docs/memory-management.md
  docs/performance.md
  docs/plans/2026-02-03-improvements-design.md
  eslint.config.js
  examples/2d-to-3d.ts
  examples/README.md
  examples/basic-primitives.ts
  examples/import-export.ts
  examples/mechanical-part.ts
  examples/text-engraving.ts
  package.json
  src/core/geometry.ts
  src/index.ts
  tests/faceFinder.test.ts
  tests/fn-booleanFns.test.ts
  tests/fn-finderFns.test.ts
  tests/fn-shapeTypes.test.ts
Due: eslint --fix, prettier --write

docs: add deprecation removal plan
  docs/plans/2026-02-03-deprecation-removal.md
Due: prettier --write

refactor: migrate from Vector class to Vec3 tuples (Phase 1)
  src/2d/blueprints/Blueprint.ts
  src/operations/extrude.ts
  src/operations/loft.ts
  src/projection/ProjectionCamera.ts
  src/query/definitions.ts
  src/query/edgeFinder.ts
  src/query/faceFinder.ts
  src/query/generic3dfinder.ts
  src/sketching/Sketch.ts
  src/sketching/Sketcher.ts
  src/sketching/Sketcher2d.ts
  src/sketching/cannedSketches.ts
  src/topology/shapeHelpers.ts
  src/topology/shapes.ts
  tests/boolean.test.ts
  tests/edgeFinder.test.ts
  tests/faceFinder.test.ts
  tests/fn-finderFns.test.ts
  tests/geometry.test.ts
  tests/helpers.test.ts
  tests/import-export.test.ts
  tests/memory.test.ts
  tests/operations-batch.test.ts
  tests/operations-exporters.test.ts
  tests/operations.test.ts
  tests/projection.test.ts
  tests/query.test.ts
  tests/shapes.test.ts
  tests/topology.test.ts
Due: eslint --fix, prettier --write

docs: update deprecation removal progress
  docs/plans/2026-02-03-deprecation-removal.md
Due: prettier --write

refactor: migrate from makeAx*, asPnt, asDir (Phase 2)
  src/2d/blueprints/Blueprint.ts
  src/2d/curves.ts
  src/operations/extrude.ts
  src/query/generic3dfinder.ts
  src/topology/shapes.ts
Due: eslint --fix, prettier --write

refactor: migrate from BoundingBox class (Phase 3)
  src/projection/ProjectionCamera.ts
  src/topology/shapes.ts
Due: eslint --fix, prettier --write

docs: update progress - phases 2 and 3 complete
  docs/plans/2026-02-03-deprecation-removal.md
Due: prettier --write

refactor: remove deprecated exports and cleanup (Phase 4)
  eslint.config.js
  src/index.ts
  tests/edgeFinder.test.ts
  tests/faceFinder.test.ts
  tests/geometry.test.ts
Due: eslint --fix, prettier --write

docs: mark deprecation removal plan as complete
  docs/plans/2026-02-03-deprecation-removal.md
Due: prettier --write

chore: update brepjs-opencascade peer dependency to ^0.4.0
  package.json
Due: none

chore: remove deprecation removal plan doc
  docs/plans/2026-02-03-deprecation-removal.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
