Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: add occtWasmAdapter as knip entry point
  knip.config.ts
Due: prettier --write

fix(kernel): address PR review — WASM resource cleanup with try-finally
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

fix: exclude occtWasm from coverage (matches brepkit exclusion)
  vitest.config.ts
Due: prettier --write

chore: bump size limits for 2d module and total
  .size-limit.json
Due: none

fix(kernel): implement GTrsf2d stubs, fix makeSolid compound handling
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

fix(kernel): add delete() to GTrsf2d objects, affinity transform dispatch
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

fix(kernel): fixFaceOrientations in sewAndSolidify, GTrsf2d cleanup
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

fix(kernel): draftWithHistory, empty XCAF check, orientation fixes
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

fix(kernel): makeCylinder direction rotation, draft, empty XCAF
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

chore: bump package file limit 600→650 for occtWasm adapter
  scripts/validate-pack.sh
Due: none

ci: skip CI checks for release-please PRs
  .github/workflows/ci.yml
Due: none

feat(test-infra): add kernel registry with config-driven kernel definitions
  tests/helpers/kernelRegistry.test.ts
  tests/helpers/kernelRegistry.ts
Due: eslint --fix, prettier --write

feat(test-infra): add divergence registry cataloguing all kernel-specific skips
  tests/helpers/kernelDivergences.test.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

refactor(test-infra): unify kernel init into tests/helpers/kernelInit.ts
  tests/helpers/kernelInit.ts
  tests/setup-kernel.ts
Due: eslint --fix, prettier --write

refactor(test-infra): generate vitest projects from kernel registry
  vitest.config.ts
Due: prettier --write

refactor(tests): migrate booleanFns skip logic to divergence registry
  tests/booleanFns.test.ts
Due: eslint --fix, prettier --write

refactor(tests): migrate modifierFns + sketcher3d skips to divergence registry
  tests/modifierFns.test.ts
  tests/sketcher3d.test.ts
Due: eslint --fix, prettier --write

refactor(tests): migrate remaining inline skips to divergence registry
  tests/cannedSketches.test.ts
  tests/cast.test.ts
  tests/compoundOpsFns.test.ts
  tests/docs-examples.test.ts
  tests/draftFns.test.ts
  tests/extrudeFns.test.ts
  tests/faceFinder.test.ts
  tests/gridfinity-smoke.test.ts
  tests/kernel-ops.test.ts
  tests/kernelCall.test.ts
  tests/meshFns.test.ts
  tests/nurbsFns.test.ts
  tests/operations.test.ts
  tests/shapeRef.test.ts
  tests/shapeRefIntegration.test.ts
  tests/validityTypes.test.ts
Due: eslint --fix, prettier --write

refactor(tests): migrate describe.skipIf patterns to divergence registry
  tests/batchOps.test.ts
  tests/disposal.test.ts
  tests/geometry.test.ts
  tests/guidedSweepFns.test.ts
  tests/hullFns.test.ts
  tests/interferenceFns.test.ts
  tests/measureFns.test.ts
  tests/minkowskiFns.test.ts
  tests/multiSweepFns.test.ts
  tests/occtBoundary.test.ts
  tests/offsetWire2D.test.ts
  tests/property/booleanFns.property.test.ts
  tests/variableFillet.test.ts
Due: eslint --fix, prettier --write

refactor(tests): migrate brepkit-only test patterns to divergence registry
  tests/brepkitBooleanEdgeCases.test.ts
  tests/brepkitExtended.test.ts
  tests/brepkitOffsetV2.test.ts
  tests/brepkitSketchArc.test.ts
  tests/gltfRoundTrip.test.ts
Due: eslint --fix, prettier --write

refactor(test-infra): remove kernelEnv.ts and kernelTestHarness.ts, consolidate into registry
  tests/helpers/kernelDivergences.ts
  tests/helpers/kernelEnv.ts
  tests/helpers/kernelTestHarness.ts
  tests/kernel-agreement.test.ts
Due: eslint --fix, prettier --write

refactor(benchmarks): use unified kernel init and multi-kernel bench helpers
  benchmarks/harness.ts
  benchmarks/kernel-comparison.bench.test.ts
  benchmarks/setup.ts
Due: none

feat(test-infra): add conformance matrix generator
  docs/kernel-conformance.md
  package.json
  scripts/generateConformance.ts
Due: prettier --write

chore: regenerate conformance matrix
  docs/kernel-conformance.md
Due: prettier --write

refactor(test-infra): address PR review feedback
  docs/kernel-conformance.md
  scripts/generateConformance.ts
  tests/helpers/kernelDivergences.ts
  tests/helpers/kernelInit.ts
Due: eslint --fix, prettier --write

chore(test-infra): remove dead code and stale comment
  scripts/generateConformance.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

feat(test-infra): use occt-wasm npm package instead of local build
  package-lock.json
  package.json
  tests/helpers/kernelInit.ts
Due: eslint --fix, prettier --write

fix(test-infra): add occt-wasm to knip ignoreDependencies
  knip.config.ts
Due: prettier --write

feat(occtWasm): wire importSTL adapter method
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/occtWasmTypes.ts
Due: eslint --fix, prettier --write

feat(bench): support all kernels in benchmark harness
  benchmarks/harness.ts
  benchmarks/kernel-comparison.bench.test.ts
  benchmarks/results/latest.md
  benchmarks/setup.ts
Due: prettier --write

perf(bench): add adapter overhead phase-breakdown benchmarks
  benchmarks/adapter-overhead.bench.test.ts
Due: none

feat(core): add shape type cache to reduce WASM boundary crossings
  src/core/shapeTypeCache.ts
  tests/shapeTypeCache.test.ts
Due: eslint --fix, prettier --write

feat(core): wire shape type cache into castShape and type guards
  src/core/shapeTypes.ts
  src/core/typeDiscriminants.ts
  tests/shapeTypeCache.test.ts
Due: eslint --fix, prettier --write

refactor(topology): unify getCachedShapeKind with shapeTypeCache
  src/topology/topologyQueryFns.ts
Due: eslint --fix, prettier --write

perf(topology): cache isValid() results in topology cache
  .pattern-baseline.json
  src/topology/healingFns.ts
  src/topology/topologyQueryFns.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
