Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

test(brepkit): dispose the Bezier lift test's ramp (#2392)
  tests/brepkitBezierLift.test.ts
Due: eslint --fix, prettier --write

feat(measurement): add principalBoundingBox on the principal axes of inertia
  docs/function-lookup.md
  docs/kernel-conformance.md
  src/core/errors.ts
  src/index.ts
  src/kernel/interfaces/measureOps.ts
  src/kernel/occtWasm/measureOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/occtWasmTypes.ts
  src/measurement.ts
  src/measurement/README.md
  src/measurement/principalBoxFns.ts
  src/ns/measurement.ts
  tests/helpers/kernelDivergences.ts
  tests/principalBoxFns.test.ts
  tests/public-api-types.test.ts
  tests/wasmArenaDisposal.test.ts
Due: eslint --fix, prettier --write

feat(csg): add an Extension IR kind for caller-defined operations
  .size-limit.json
  apps/docs/advanced/csg-caching.md
  apps/docs/concepts/csg-ir.md
  src/core/errors.ts
  src/csg/builders.ts
  src/csg/edit.ts
  src/csg/evaluate.ts
  src/csg/evaluators/context.ts
  src/csg/evaluators/extension.ts
  src/csg/hash.ts
  src/csg/index.ts
  src/csg/jsonData.ts
  src/csg/optimize.ts
  src/csg/serialize.ts
  src/csg/types.ts
  tests/csg/csgExtension.test.ts
Due: eslint --fix, prettier --write

feat(measurement): cache principalBoundingBox results and test its bounds failure paths
  src/measurement/measureCache.ts
  src/measurement/measureTypes.ts
  src/measurement/principalBoxFns.ts
  tests/principalBoxFns.test.ts
  tests/wasmArenaDisposal.test.ts
Due: eslint --fix, prettier --write

feat(csg): add an Extension IR kind for caller-defined operations (#2394)
  .size-limit.json
  apps/docs/advanced/csg-caching.md
  apps/docs/concepts/csg-ir.md
  src/core/errors.ts
  src/csg/builders.ts
  src/csg/edit.ts
  src/csg/evaluate.ts
  src/csg/evaluators/context.ts
  src/csg/evaluators/extension.ts
  src/csg/hash.ts
  src/csg/index.ts
  src/csg/jsonData.ts
  src/csg/optimize.ts
  src/csg/serialize.ts
  src/csg/types.ts
  tests/csg/csgExtension.test.ts
Due: eslint --fix, prettier --write

feat(measurement): add principalBoundingBox on the principal axes of inertia (#2393)
  .size-limit.json
  docs/function-lookup.md
  docs/kernel-conformance.md
  src/core/errors.ts
  src/index.ts
  src/kernel/interfaces/measureOps.ts
  src/kernel/occtWasm/measureOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/occtWasmTypes.ts
  src/measurement.ts
  src/measurement/README.md
  src/measurement/measureCache.ts
  src/measurement/measureTypes.ts
  src/measurement/principalBoxFns.ts
  src/ns/measurement.ts
  tests/helpers/kernelDivergences.ts
  tests/principalBoxFns.test.ts
  tests/public-api-types.test.ts
  tests/wasmArenaDisposal.test.ts
Due: eslint --fix, prettier --write

chore(deps): bump vue to 3.5.43 and record dompurify/katex osv exceptions
  osv-scanner.toml
  package-lock.json
Due: none

chore(deps): bump vue to 3.5.43 and record dompurify/katex osv exceptions (#2397)
  osv-scanner.toml
  package-lock.json
Due: none

feat(shaperef): semantic face roles for extrusions
  .size-limit.json
  apps/docs/concepts/stable-references.md
  src/operations/extrudeFns.ts
  src/topology/metadata/faceRoleFns.ts
  src/topology/metadata/metadataPropagation.ts
  src/topology/shapeRef/extrudeRoles.ts
  src/topology/shapeRef/refResolveFns.ts
  src/topology/shapeRef/shapeRefFns.ts
  tests/helpers/kernelDivergences.ts
  tests/shapeRefExtrudeRoles.test.ts
Due: eslint --fix, prettier --write

docs(topology): list the recorded face-role modules in the topology README
  src/topology/README.md
Due: prettier --write

fix(shaperef): window extrude face matching on the widest axis
  .size-limit.json
  src/operations/extrudeFns.ts
  src/topology/README.md
  src/topology/shapeRef/extrudeRoleFns.ts
  tests/shapeRefExtrudeRoles.test.ts
Due: eslint --fix, prettier --write

feat(shaperef): semantic face roles for extrusions (#2398)
  .size-limit.json
  apps/docs/concepts/stable-references.md
  src/operations/extrudeFns.ts
  src/topology/README.md
  src/topology/metadata/faceRoleFns.ts
  src/topology/metadata/metadataPropagation.ts
  src/topology/shapeRef/extrudeRoleFns.ts
  src/topology/shapeRef/refResolveFns.ts
  src/topology/shapeRef/shapeRefFns.ts
  tests/helpers/kernelDivergences.ts
  tests/shapeRefExtrudeRoles.test.ts
Due: eslint --fix, prettier --write

ci: raise validate-pack file limit to 600
  .claude/skills/ci-triage/SKILL.md
  scripts/validate-pack.sh
Due: prettier --write

ci: raise validate-pack file limit to 600 (#2400)
  .claude/skills/ci-triage/SKILL.md
  scripts/validate-pack.sh
Due: prettier --write
