Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix(docs): shrink hero tets so face-diagonals stay visible (no cube illusion)
  apps/docs/.vitepress/theme/components/heroCubeGeometry.ts
  apps/docs/.vitepress/theme/components/heroCubeRenderer.ts
Due: none

fix(docs): hero cube never reassembles — pieces stay as separated tets
  apps/docs/.vitepress/theme/components/heroCubeRenderer.ts
  apps/docs/public/hero-poster.svg
Due: none

fix(docs): restore brief cube formation as the assembly climax
  apps/docs/.vitepress/theme/components/heroCubeRenderer.ts
Due: none

fix(deps): restore @emnapi/core and @emnapi/runtime to lockfile
  package-lock.json
Due: none

fix(docs): hero edges become children of each mesh, not separate siblings
  apps/docs/.vitepress/theme/components/heroCubeGeometry.ts
  apps/docs/.vitepress/theme/components/heroCubeRenderer.ts
Due: none

refactor(kernel): compose DefaultAdapter from per-domain factory objects
  .pattern-baseline.json
  src/kernel/occt/advancedOps.ts
  src/kernel/occt/booleanOps.ts
  src/kernel/occt/booleanPipelineOps.ts
  src/kernel/occt/constructorOps.ts
  src/kernel/occt/curveOps.ts
  src/kernel/occt/defaultAdapter.ts
  src/kernel/occt/extendedConstructorOps.ts
  src/kernel/occt/geometryQueryOps.ts
  src/kernel/occt/healingOps.ts
  src/kernel/occt/historyOps.ts
  src/kernel/occt/hullOps.ts
  src/kernel/occt/ioOps.ts
  src/kernel/occt/kernel2dOps.ts
  src/kernel/occt/measureOps.ts
  src/kernel/occt/meshOps.ts
  src/kernel/occt/modifierOps.ts
  src/kernel/occt/nurbsQueryOps.ts
  src/kernel/occt/sweepOps.ts
  src/kernel/occt/topologyOps.ts
  src/kernel/occt/transformOps.ts
Due: eslint --fix, prettier --write

refactor(kernel): compose BrepkitAdapter from per-domain factory objects
  src/kernel/brepkit/booleanOps.ts
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/brepkit/constructionOps.ts
  src/kernel/brepkit/evolutionOps.ts
  src/kernel/brepkit/geometryOps.ts
  src/kernel/brepkit/helpers.ts
  src/kernel/brepkit/ioOps.ts
  src/kernel/brepkit/kernel2dOps.ts
  src/kernel/brepkit/measureOps.ts
  src/kernel/brepkit/meshOps.ts
  src/kernel/brepkit/modifierOps.ts
  src/kernel/brepkit/repairOps.ts
  src/kernel/brepkit/sketchOps.ts
  src/kernel/brepkit/sweepOps.ts
  src/kernel/brepkit/topologyOps.ts
  src/kernel/brepkit/transformOps.ts
Due: eslint --fix, prettier --write

refactor(kernel): consolidate import statements in brepkit ops files
  src/kernel/brepkit/geometryOps.ts
  src/kernel/brepkit/measureOps.ts
  src/kernel/brepkit/transformOps.ts
Due: eslint --fix, prettier --write

test(parity): add OCCT-as-spec measurement and boolean tests
  tests/parity/README.md
  tests/parity/booleans.test.ts
  tests/parity/helpers.ts
  tests/parity/measurement.test.ts
Due: eslint --fix, prettier --write

test(parity): address Greptile review (tighten cubic-scaling, fix JSDoc, drop unused export)
  tests/parity/booleans.test.ts
  tests/parity/helpers.ts
  tests/parity/measurement.test.ts
Due: eslint --fix, prettier --write

test(parity): add curve construction and introspection spec
  tests/parity/curves.test.ts
Due: eslint --fix, prettier --write

test(parity): address Greptile review (move vec helpers to helpers.ts, clarify bounds)
  tests/parity/curves.test.ts
  tests/parity/helpers.ts
Due: eslint --fix, prettier --write

test(parity): add sketch → 3D pipeline parity spec
  tests/parity/sketchToSolid.test.ts
Due: eslint --fix, prettier --write

test(parity): address Greptile review (tighten loft assertion, fix lambda floor)
  tests/parity/sketchToSolid.test.ts
Due: eslint --fix, prettier --write

test(parity): add BREP and STEP round-trip serialization spec
  tests/parity/roundtrip.test.ts
Due: eslint --fix, prettier --write

test(parity): address Greptile review (tighten round-trip tolerances to match header)
  tests/parity/roundtrip.test.ts
Due: eslint --fix, prettier --write

feat(brepkit): land H section multi-wire + F evolution close-tied match
  package-lock.json
  package.json
  src/kernel/brepkit/booleanOps.ts
  src/kernel/brepkit/evolutionOps.ts
Due: eslint --fix, prettier --write

fix(deps): add @emnapi/{core,runtime,wasi-threads} top-level lockfile entries
  package-lock.json
Due: none

chore(deps): bump brepkit-wasm 2.87.0 → 2.87.1
  package-lock.json
  package.json
Due: none

test(parity): add transform parity spec (translate/rotate/scale/mirror)
  tests/parity/transforms.test.ts
Due: eslint --fix, prettier --write

fix(ci): pin tsx version in docs workflow to fix npx auto-download failure
  .github/workflows/docs.yml
Due: none

fix(ci): install tsx directly in docs workflow instead of relying on npx auto-download
  .github/workflows/docs.yml
Due: none

fix(build): exclude declaration source maps from npm package
  vite.config.ts
Due: prettier --write

chore(build): tighten package file ceiling and ban .d.ts.map
  scripts/validate-pack.sh
Due: none

feat(brepkit): use native makeCircleEdge / makeEllipseEdge bindings
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
  src/kernel/brepkit/constructionOps.ts
Due: eslint --fix, prettier --write

fix(brepkit): normalize input normal before native circle/ellipse bindings
  src/kernel/brepkit/constructionOps.ts
Due: eslint --fix, prettier --write

feat(brepkit): handle empty-result boolean operations as identity
  src/kernel/brepkit/booleanOps.ts
  src/kernel/brepkit/evolutionOps.ts
Due: eslint --fix, prettier --write

refactor(brepkit): use emptyCompound helper consistently in cut catch handlers
  src/kernel/brepkit/booleanOps.ts
Due: eslint --fix, prettier --write

feat(brepkit): bump to 2.88.1 + match new EmptyResult error format
  package-lock.json
  package.json
  src/kernel/brepkit/booleanOps.ts
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

feat(brepkit): honor xDir in makeEllipseEdge via native makeEllipseEdgeWithRef
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
  src/kernel/brepkit/constructionOps.ts
Due: eslint --fix, prettier --write

refactor(brepkit): normalize xDir + drop stale @unwired tag
  src/kernel/brepkit/brepkitWasmTypes.ts
  src/kernel/brepkit/constructionOps.ts
Due: eslint --fix, prettier --write

docs(readme): adopt centered header + scope section
  README.md
Due: prettier --write

feat(csg): add CSG-as-IR layer with content-addressed evaluator
  scripts/check-layer-boundaries.sh
  src/csg/builders.ts
  src/csg/edit.ts
  src/csg/evaluate.ts
  src/csg/evaluators/booleans.ts
  src/csg/evaluators/compound.ts
  src/csg/evaluators/context.ts
  src/csg/evaluators/primitives.ts
  src/csg/evaluators/transforms.ts
  src/csg/expressions.ts
  src/csg/hash.ts
  src/csg/index.ts
  src/csg/optimize.ts
  src/csg/serialize.ts
  src/csg/types.ts
  src/index.ts
  src/ns/csg.ts
  tests/csg/csgCoverage.test.ts
  tests/csg/csgEvaluator.test.ts
  tests/csg/csgIR.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

refactor(csg): apply review findings + simplification pass
  src/core/errors.ts
  src/csg/builders.ts
  src/csg/edit.ts
  src/csg/evaluate.ts
  src/csg/evaluators/booleans.ts
  src/csg/evaluators/compound.ts
  src/csg/evaluators/context.ts
  src/csg/evaluators/primitives.ts
  src/csg/evaluators/transforms.ts
  src/csg/expressions.ts
  src/csg/hash.ts
  src/csg/optimize.ts
  src/csg/serialize.ts
  src/csg/types.ts
  src/kernel/index.ts
  tests/csg/csgCoverage.test.ts
  tests/csg/csgEvaluator.test.ts
Due: eslint --fix, prettier --write

fix(csg): address Greptile PR review
  src/csg/edit.ts
  src/csg/index.ts
  src/csg/optimize.ts
  tests/csg/csgCoverage.test.ts
  tests/csg/csgIR.test.ts
Due: eslint --fix, prettier --write

fix(csg): address Greptile round 2
  src/csg/evaluate.ts
  src/csg/expressions.ts
  tests/csg/csgCoverage.test.ts
  tests/csg/csgEvaluator.test.ts
Due: eslint --fix, prettier --write

fix(csg): validate BuildVec.components length in fromJSON
  .size-limit.json
  src/csg/serialize.ts
  tests/csg/csgCoverage.test.ts
Due: eslint --fix, prettier --write

fix(csg): guard withEvaluator against async callbacks
  src/csg/evaluate.ts
  tests/csg/csgEvaluator.test.ts
Due: eslint --fix, prettier --write

perf(csg): add benchmarks + assertion-grade perf invariants
  benchmarks/csg.bench.test.ts
  tests/csg/csgPerf.test.ts
Due: eslint --fix, prettier --write

feat(booleans): add fuseAllBisect / cutAllBisect with telemetry
  benchmarks/booleanBatch.bench.test.ts
  src/index.ts
  src/ns/booleans.ts
  src/topology.ts
  src/topology/booleanBatchFns.ts
  tests/booleanBatchFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write
