Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(meshing): keep partial LODs when an async meshLevel rejects on abort
  src/topology/meshFns.ts
  tests/meshLODsProgressive.test.ts
Due: eslint --fix, prettier --write

feat(csg): content-addressed mesh cache via Evaluator.evaluateMesh
  src/csg/evaluate.ts
  tests/csg/csgMesh.test.ts
Due: eslint --fix, prettier --write

fix(csg): honor abort signal and cache:false in evaluateMesh
  src/csg/evaluate.ts
  tests/csg/csgMesh.test.ts
Due: eslint --fix, prettier --write

feat(csg): cheap location-only transforms for rigid moves (#1603)
  src/csg/evaluators/transforms.ts
  src/kernel/brepkit/transformOps.ts
  src/kernel/interfaces/transformOps.ts
  src/kernel/manifold/transformOps.ts
  src/kernel/occt/transformOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/occtWasmTypes.ts
  src/kernel/occtWasm/transformOps.ts
  tests/csg/csgLocate.test.ts
Due: eslint --fix, prettier --write

fix(csg): preserve face metadata through locate; dispose transformer on failure
  src/csg/evaluators/transforms.ts
  src/kernel/occt/transformOps.ts
  src/topology/metadata/metadataPropagation.ts
  tests/csg/csgLocate.test.ts
Due: eslint --fix, prettier --write

feat(shaperef): track all split-face successors + edit-survival harness (#1606)
  src/topology/shapeRef/shapeRefFns.ts
  src/topology/shapeRef/shapeRefTypes.ts
  tests/shapeRef.test.ts
  tests/shapeRefEditReplay.test.ts
  tests/shapeRefIntegration.test.ts
Due: eslint --fix, prettier --write

feat(shaperef): lineage-based edge references named by adjacent faces (#1606)
  src/index.ts
  src/topology/shapeRef/edgeRefFns.ts
  src/topology/shapeRef/index.ts
  src/topology/shapeRef/shapeRefTypes.ts
  tests/public-api-types.test.ts
  tests/shapeRefEdgeReplay.test.ts
Due: eslint --fix, prettier --write

chore(deps): bump occt-wasm to 3.6.0 for located() fast path
  package-lock.json
  package.json
Due: none

fix(shaperef): make edge-ref ambiguous path reachable + honest reasons
  src/topology/shapeRef/edgeRefFns.ts
  src/topology/shapeRef/shapeRefTypes.ts
Due: eslint --fix, prettier --write

feat(shaperef): lineage-based vertex references named by adjacent faces (#1606)
  src/index.ts
  src/topology/adjacencyFns.ts
  src/topology/shapeRef/edgeRefFns.ts
  src/topology/shapeRef/index.ts
  src/topology/shapeRef/roleLookup.ts
  src/topology/shapeRef/shapeRefTypes.ts
  src/topology/shapeRef/vertexRefFns.ts
  tests/public-api-types.test.ts
  tests/shapeRefVertexReplay.test.ts
Due: eslint --fix, prettier --write

fix(shaperef): cache facesOfVertex + share distance helper (#1606)
  .size-limit.json
  src/topology/adjacencyFns.ts
  src/topology/shapeRef/edgeRefFns.ts
  src/topology/shapeRef/roleLookup.ts
  src/topology/shapeRef/vertexRefFns.ts
  src/topology/topologyQueryFns.ts
Due: eslint --fix, prettier --write

feat(shaperef): name generated fillet/chamfer faces by lineage (#1606)
  .size-limit.json
  src/index.ts
  src/topology/shapeRef/derivedFaceRefFns.ts
  src/topology/shapeRef/edgeRefFns.ts
  src/topology/shapeRef/index.ts
  src/topology/shapeRef/roleLookup.ts
  src/topology/shapeRef/shapeRefTypes.ts
  tests/public-api-types.test.ts
  tests/shapeRefDerivedReplay.test.ts
Due: eslint --fix, prettier --write

fix(shaperef): faster betweenFaces via cached adjacency; document op field
  src/topology/shapeRef/derivedFaceRefFns.ts
  src/topology/shapeRef/shapeRefTypes.ts
Due: eslint --fix, prettier --write

feat(shaperef): parametric-replay consumer for lineage refs (#1606)
  src/index.ts
  src/shapeRef.ts
  src/topology/shapeRef/index.ts
  src/topology/shapeRef/refResolveFns.ts
  tests/public-api-types.test.ts
  tests/refReplay.test.ts
Due: eslint --fix, prettier --write

fix(shaperef): array selections, resolution diagnostics, role caching
  src/index.ts
  src/shapeRef.ts
  src/topology/shapeRef/index.ts
  src/topology/shapeRef/refResolveFns.ts
  tests/refReplay.test.ts
Due: eslint --fix, prettier --write

feat(shaperef): semantic face roles for cylinder/cone/sphere (#1606)
  src/topology/shapeRef/shapeRefFns.ts
  tests/refReplay.test.ts
  tests/shapeRef.test.ts
  tests/shapeRefIntegration.test.ts
Due: eslint --fix, prettier --write

perf(csg): translation-stripped mesh cache — no re-mesh on a pure move (#1603)
  src/csg/evaluate.ts
  tests/csg/csgTranslationMesh.test.ts
Due: eslint --fix, prettier --write

fix(csg): re-key reused-mesh face groups onto the placed shape
  src/csg/evaluate.ts
  tests/csg/csgTranslationMesh.test.ts
Due: eslint --fix, prettier --write

fix(csg): capture face hashes in cache-safe order for mesh relocation
  src/csg/evaluate.ts
  tests/csg/csgTranslationMesh.test.ts
Due: eslint --fix, prettier --write

fix(csg): fall back to re-mesh when reused inner mesh outlives its shape
  src/csg/evaluate.ts
  tests/csg/csgTranslationMesh.test.ts
Due: eslint --fix, prettier --write

feat(history): resolve lineage refs in replay so selections survive edits (#1606)
  src/operations/historyFns.ts
  tests/historyRefReplay.test.ts
Due: eslint --fix, prettier --write

fix(shaperef,history): resolve nested refs + single-input-only step resolution
  src/operations/historyFns.ts
  src/topology/shapeRef/refResolveFns.ts
  tests/historyRefReplay.test.ts
  tests/refReplay.test.ts
Due: eslint --fix, prettier --write

perf(csg): rotation-stripped mesh reuse — no re-mesh on a pure rotate
  src/csg/evaluate.ts
  tests/csg/csgTranslationMesh.test.ts
Due: eslint --fix, prettier --write

perf(csg): inline rotation hot path + cover rotate∘translate ordering
  src/csg/evaluate.ts
  tests/csg/csgTranslationMesh.test.ts
Due: eslint --fix, prettier --write

docs(csg): correct stale cache claims; document evaluateMesh + LRU bounds
  apps/docs/advanced/csg-caching.md
  apps/docs/migration/manual-csg-cache.md
Due: prettier --write

docs: document perf-epic features + add shapeRef topological-naming page
  apps/docs/.vitepress/config.ts
  apps/docs/advanced/performance.md
  apps/docs/advanced/workers.md
  apps/docs/concepts/csg-ir.md
  apps/docs/concepts/stable-references.md
  apps/docs/integration/r3f.md
  apps/docs/integration/threejs.md
  apps/docs/reference/function-lookup.md
  docs/function-lookup.md
  docs/performance.md
  docs/threejs-integration.md
  scripts/generate-function-lookup.ts
Due: prettier --write

docs: clean up out-of-date facts (bundle sizes, package names, removed classes)
  apps/docs/extending/architecture.md
  apps/docs/extending/custom-kernel.md
  apps/docs/integration/compatibility.md
  apps/docs/introduction/stability.md
  docs/compatibility.md
Due: prettier --write

docs(csg): fix resetStats claim — it zeroes evictions too
  apps/docs/advanced/csg-caching.md
Due: prettier --write

docs: address Greptile review on #1658
  apps/docs/advanced/workers.md
  apps/docs/concepts/stable-references.md
  apps/docs/integration/r3f.md
Due: prettier --write

feat(api): export locate() — placement-only rigid transform
  src/index.ts
  src/topology/api.ts
  src/topology/shapeFns.ts
  src/topology/transformFns.ts
  tests/locate.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

test(bench): add commonFace + booleanPipeline baselines to gridPattern bench
  benchmarks/gridPattern.bench.test.ts
Due: none

test(bench): handle booleanPipeline result without throwing
  benchmarks/gridPattern.bench.test.ts
Due: none

test(bench): drop live booleanPipeline case; keep finding in the comment
  benchmarks/gridPattern.bench.test.ts
Due: none

ci(release): auto-merge brepjs-cad release PRs (drop stale hold)
  .github/workflows/release-please.yml
Due: none

fix(bim): make BCF XML tokenizer linear to close polynomial ReDoS
  packages/brepjs-bim/src/bcf/bcfXml.ts
  packages/brepjs-bim/tests/bcfXml.test.ts
Due: none

ci: add least-privilege permissions to eval-on-demand workflow
  .github/workflows/eval-on-demand.yml
Due: none

fix(bim): replace BCF XML regex tokenizer with linear cursor scan
  packages/brepjs-bim/src/bcf/bcfXml.ts
Due: none

fix(release): unbreak Vercel by repinning brepjs-cad to brepjs >=18.0.0
  .release-please-manifest.json
  package-lock.json
  packages/brepjs-cad/package.json
Due: none

ci(release): merge root brepjs release before its leaves
  .github/workflows/release-please.yml
Due: none

feat(site): add Vercel Speed Insights to docs and playground
  apps/docs/.vitepress/theme/index.ts
  apps/docs/package.json
  apps/playground/package.json
  apps/playground/src/App.tsx
  package-lock.json
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
