Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(brepkit): bump brepkit-wasm to 2.101.0 for offsetWire2DWithJoin
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

test(fillet): un-skip variable-radius fillet cross-kernel test
  tests/helpers/kernelDivergences.ts
  tests/kernel-ops.test.ts
Due: eslint --fix, prettier --write

test(brepkit): un-skip fillet-all-edges modifierFns test
  tests/helpers/kernelDivergences.ts
  tests/modifierFns.test.ts
Due: eslint --fix, prettier --write

fix(playground): use default import for CJS lz-string in shoot harness
  apps/playground/scripts/shootExamples.ts
Due: none

feat(playground): add rubber-foot & rounded-knob examples
  apps/playground/src/lib/nopscadExamples.ts
Due: none

refactor(playground): scalable examples/ library, tightened comments
  .claude/workflows/scad-to-playground.js
  apps/playground/src/lib/examples.ts
  apps/playground/src/lib/examples/mechanical.ts
Due: none

refactor(playground): scalable examples/ library, de-brand, tighten comments
  .claude/workflows/scad-to-playground.js
  .gitignore
  apps/playground/scripts/shootExamples.ts
  apps/playground/src/lib/examples/basics.ts
  apps/playground/src/lib/examples/geometry.ts
  apps/playground/src/lib/examples/index.ts
  apps/playground/src/lib/examples/mechanical.ts
  apps/playground/src/lib/examples/types.ts
  tests/helpers/playgroundExampleEval.ts
  tests/playgroundExamples.test.ts
  tests/validateCandidate.test.ts
Due: eslint --fix, prettier --write

chore(deps): bump brepkit-wasm to 2.101.1 for variable-fillet volume fix
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

test(brepkit): un-skip cannedSketches face-offset divergence
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

feat(playground): remove examples from the command palette
  apps/playground/src/hooks/usePlaygroundCommands.ts
Due: none

test(offset): un-skip inward face-offset cross-kernel parity test
  tests/cannedSketches.test.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

fix(playground): address Greptile review on #1095
  apps/playground/src/lib/examples/basics.ts
  apps/playground/src/lib/examples/mechanical.ts
  tests/playgroundExamples.test.ts
Due: eslint --fix, prettier --write

chore(deps): bump brepkit-wasm to 2.101.2 for offset-wire winding fix
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

feat(playground): example picker modal with pre-generated thumbnails
  apps/playground/package.json
  apps/playground/public/example-thumbs/axial-fan.webp
  apps/playground/public/example-thumbs/domed-foot.webp
  apps/playground/public/example-thumbs/drilled-bracket.webp
  apps/playground/public/example-thumbs/fan-guard.webp
  apps/playground/public/example-thumbs/fluted-knob.webp
  apps/playground/public/example-thumbs/gt2-pulley.webp
  apps/playground/public/example-thumbs/hill-tetrahedron-cube.webp
  apps/playground/public/example-thumbs/hill-tetrahedron-growth.webp
  apps/playground/public/example-thumbs/hill-tetrahedron-reptile.webp
  apps/playground/public/example-thumbs/hill-tetrahedron.webp
  apps/playground/public/example-thumbs/mortise-tenon.webp
  apps/playground/public/example-thumbs/o-ring.webp
  apps/playground/public/example-thumbs/pegboard.webp
  apps/playground/public/example-thumbs/pie-wedge.webp
  apps/playground/public/example-thumbs/primitives.webp
  apps/playground/public/example-thumbs/rounded-cylinder.webp
  apps/playground/public/example-thumbs/rounded-knob.webp
  apps/playground/public/example-thumbs/rubber-foot.webp
  apps/playground/public/example-thumbs/vase.webp
  apps/playground/scripts/pickerE2e.ts
  apps/playground/scripts/shootExamples.ts
  apps/playground/src/components/playground/ExamplePicker.tsx
  apps/playground/src/components/playground/PlaygroundPage.tsx
  apps/playground/src/components/playground/Toolbar.tsx
  apps/playground/src/hooks/usePlaygroundCommands.ts
  apps/playground/src/lib/examples/index.ts
  apps/playground/src/lib/shortcuts.ts
  tests/exampleThumbnails.test.ts
Due: eslint --fix, prettier --write

test: un-skip face-offset inward-shrink cross-kernel test
  tests/cannedSketches.test.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

fix(origins): recover boolean-regenerated faces in propagateOriginsByHash
  src/topology/metadata/originTrackingFns.ts
  tests/originGeometricFallback.test.ts
Due: eslint --fix, prettier --write

fix(playground): address Greptile review on #1099
  apps/playground/scripts/shootExamples.ts
  apps/playground/src/components/playground/ExamplePicker.tsx
Due: none

fix(playground): attach panelRef so the modal focus trap actually works
  apps/playground/scripts/pickerE2e.ts
  apps/playground/src/components/playground/ExamplePicker.tsx
Due: none

fix(playground): give the axial fan curved, pitched impeller blades
  apps/playground/public/example-thumbs/axial-fan.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

style(playground): address Greptile nits on axial-fan blades
  apps/playground/src/lib/examples/mechanical.ts
Due: none

fix(apps): auto-recover from stale chunk preload errors after redeploy
  apps/docs/.vitepress/theme/index.ts
  apps/playground/src/lib/preloadErrorRecovery.ts
  apps/playground/src/main.tsx
Due: none

fix(apps): namespace preload-error debounce keys and guard docs handler
  apps/docs/.vitepress/theme/index.ts
  apps/playground/src/lib/preloadErrorRecovery.ts
Due: none

feat(playground): refine example library
  apps/playground/public/example-thumbs/fluted-knob.webp
  apps/playground/public/example-thumbs/hill-tetrahedron-cube.webp
  apps/playground/public/example-thumbs/hill-tetrahedron-growth.webp
  apps/playground/public/example-thumbs/hill-tetrahedron-reptile.webp
  apps/playground/public/example-thumbs/hill-tetrahedron.webp
  apps/playground/public/example-thumbs/pie-wedge.webp
  apps/playground/public/example-thumbs/stud-brick.webp
  apps/playground/src/lib/examples/basics.ts
  apps/playground/src/lib/examples/geometry.ts
  apps/playground/src/lib/examples/index.ts
  apps/playground/src/lib/examples/mechanical.ts
Due: none

fix(playground): make header Examples trigger read as a button
  apps/playground/src/components/playground/Toolbar.tsx
Due: none

style(playground): drop no-op flex/gap on Examples button
  apps/playground/src/components/playground/Toolbar.tsx
Due: none

chore: stop tracking scheduled_tasks.lock (per-session state)
  .claude/scheduled_tasks.lock
  .gitignore
Due: none

fix(playground): make the vase hollow and fix example switching, export, and related issues
  apps/playground/public/example-thumbs/vase.webp
  apps/playground/src/components/playground/DesktopLayout.tsx
  apps/playground/src/components/playground/EditorPanel.tsx
  apps/playground/src/components/playground/MobileLayout.tsx
  apps/playground/src/hooks/useCodeExecution.ts
  apps/playground/src/hooks/useKeyboardShortcuts.ts
  apps/playground/src/hooks/usePlaygroundActions.ts
  apps/playground/src/lib/examples/basics.ts
  apps/playground/src/workers/cad.worker.ts
Due: none

fix(playground): dedupe rapid exports and stop useWorker over-subscribing
  apps/playground/src/hooks/useCodeExecution.ts
  apps/playground/src/hooks/useWorker.ts
Due: none

fix(playground): address review — cancel stale debounce on run, silence export console
  apps/playground/src/hooks/useCodeExecution.ts
  apps/playground/src/workers/cad.worker.ts
Due: none

docs(readme): lead with playground CTA and add demo image
  README.md
  media/demo.webp
Due: prettier --write

docs(readme): move demo image into header beside the playground CTA
  README.md
Due: prettier --write

ci: shard test job across runners to fix flaky per-test timeout (#1102)
  .github/workflows/ci.yml
  .gitignore
  package.json
Due: none

chore(playground): remove vase example
  apps/playground/public/example-thumbs/vase.webp
  apps/playground/src/lib/examples/basics.ts
Due: none

test(parity): quantize boolean offset generator to kill degenerate flake
  tests/parity/helpers.ts
Due: eslint --fix, prettier --write

docs(parity): document offset-quantization gotcha in README
  tests/parity/README.md
Due: prettier --write

fix(occt-wasm): retain OcctKernel wrapper to prevent GC use-after-free
  docs/kernel-swap.md
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/occtWasmAdapter.test.ts
Due: eslint --fix, prettier --write

docs(kernel): recommend OcctWasmAdapter.fromKernel in kernel README
  src/kernel/README.md
Due: prettier --write

ci(hooks): align pre-push with the CI test gate
  .husky/pre-push
  CLAUDE.md
  vitest.config.ts
Due: prettier --write

refactor(occt-wasm): type retained owner as OcctKernelOwner
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

feat(kernel): add Manifold mesh/CSG kernel adapter for fast previews
  package-lock.json
  package.json
  packages/brepjs-manifold/package.json
  packages/brepjs-manifold/src/index.ts
  src/kernel/index.ts
  src/kernel/manifold/README.md
  src/kernel/manifold/approximations.ts
  src/kernel/manifold/booleanOps.ts
  src/kernel/manifold/builderOps.ts
  src/kernel/manifold/constraintSketchOps.ts
  src/kernel/manifold/evolutionOps.ts
  src/kernel/manifold/geometryOps.ts
  src/kernel/manifold/helpers.ts
  src/kernel/manifold/ioOps.ts
  src/kernel/manifold/kernel2dOps.ts
  src/kernel/manifold/manifoldAdapter.ts
  src/kernel/manifold/measureOps.ts
  src/kernel/manifold/meshHandle.ts
  src/kernel/manifold/meshOps.ts
  src/kernel/manifold/modifierOps.ts
  src/kernel/manifold/opGraph.ts
  src/kernel/manifold/primitiveOps.ts
  src/kernel/manifold/projectionOps.ts
  src/kernel/manifold/repairOps.ts
  src/kernel/manifold/replay.ts
  src/kernel/manifold/sweepOps.ts
  src/kernel/manifold/topologyOps.ts
  src/kernel/manifold/transformOps.ts
  tests/helpers/kernelInit.ts
  tests/helpers/kernelRegistry.ts
  tests/helpers/meshParity.ts
  tests/parity/manifold.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
