Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(deps): add missing @emnapi optional peer entries
  package-lock.json
Due: none

fix(deps): pin opentype.js to 1.3.4
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

fix(deps): restore missing @emnapi optional peer entries
  package-lock.json
Due: none

feat(occt-wasm)!: consume occt-wasm 2.0 facade for parity with occt kernel
  package.json
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/occtWasmTypes.ts
Due: eslint --fix, prettier --write

fix(deps): update package-lock to occt-wasm@2.0.0
  package-lock.json
Due: none

ci: add manual publish workflow for brepjs main
  .github/workflows/publish-brepjs-manual.yml
Due: none

ci: add workflow_dispatch republish to release-please.yml
  .github/workflows/publish-brepjs-manual.yml
  .github/workflows/release-please.yml
Due: none

feat(occtWasm)!: plumb tolerance + useTriangulation through adapter for occt-wasm 3.0
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/occtWasmTypes.ts
Due: eslint --fix, prettier --write

chore(deps): bump occt-wasm 2.0.0 → 3.0.0 (devDep + peerDep)
  package-lock.json
  package.json
Due: none

docs(images): add puppeteer-driven 3D hero renderer + fix knip
  package.json
  scripts/render-doc-images.ts
Due: none

chore(knip): allow lz-string + puppeteer for doc image renderer
  knip.config.ts
Due: prettier --write

chore(deps): sync package-lock with workspace install
  package-lock.json
Due: none

fix(docs): address Greptile review feedback + lockfile sync
  docs-site/.vitepress/config.ts
  docs-site/.vitepress/theme/Layout.vue
  package-lock.json
  scripts/extract-doc-tests.ts
Due: none

fix(deps): move docs deps to root, regenerate lockfile correctly
  docs-site/package.json
  knip.config.ts
  package-lock.json
  package.json
Due: prettier --write

chore(knip): ignore docs-site deps not visible to knip's TS-only scan
  knip.config.ts
Due: prettier --write

fix(deps): inject @emnapi/core+runtime top-level entries into lockfile
  package-lock.json
Due: none

fix(docs): correct sitemap hostname to GitHub Pages URL
  docs-site/.vitepress/config.ts
Due: none

docs: deploy chapter site to Vercel at docs.brepjs.dev
  .github/workflows/docs.yml
  CONTRIBUTING.md
  README.md
  docs-site/.vitepress/config.ts
  docs-site/vercel.json
Due: prettier --write

docs(deploy): make docs-site self-contained for Vercel deploy
  docs-site/.gitignore
  docs-site/package-lock.json
  docs-site/package.json
  docs-site/vercel.json
  knip.config.ts
  package-lock.json
  package.json
Due: prettier --write

chore(knip): ignore lz-string (used by render-doc-images script)
  knip.config.ts
Due: prettier --write

fix(docs): cleanUrls 404, missing assets, stale year/version
  docs-site/.vitepress/config.ts
  docs-site/public/favicon.svg
  docs-site/public/hero.svg
  docs-site/public/logo.svg
  docs-site/vercel.json
Due: none

fix(docs): hard-code version label (Vercel deploy can't read parent package.json)
  docs-site/.vitepress/config.ts
Due: none

fix(docs): unshallow git on Vercel build for VitePress lastUpdated
  docs-site/vercel.json
Due: none

fix(deps): add lz-string to root devDeps for render-doc-images script
  knip.config.ts
  package-lock.json
  package.json
Due: prettier --write

chore(deps): restore @emnapi/* lockfile entries dropped by Dependabot
  package-lock.json
Due: none

fix(site): drop stale react-router-dom imports
  site/src/components/layout/Header.tsx
  site/src/components/playground/Toolbar.tsx
Due: none

fix(site): address PR #827 review comments
  docs-site/.vitepress/config.ts
  docs-site/index.md
  site/src/lib/urlCodec.ts
  vercel.json
Due: prettier --write

fix(playground): bundled UX pass — worker, viewer, editor, shortcuts
  package-lock.json
  site/package.json
  site/src/components/playground/EditorPanel.tsx
  site/src/components/playground/PlaygroundPage.tsx
  site/src/components/playground/Toolbar.tsx
  site/src/components/playground/ViewerPanel.tsx
  site/src/hooks/useCameraPresets.ts
  site/src/hooks/useCodeExecution.ts
  site/src/hooks/useKeyboardShortcuts.ts
  site/src/hooks/useUrlState.ts
  site/src/lib/shortcuts.ts
  site/src/stores/toastStore.ts
  site/src/workers/cad.worker.ts
Due: none

chore: exclude site/ and docs-site/ from release-please
  release-please-config.json
Due: none

fix(site): unbreak production playground CSP
  vercel.json
Due: none

fix(site): allow new Function() in playground CSP
  vercel.json
Due: none

feat(ci): playground smoke check on Vercel deploys + drop hero-mesh
  .github/workflows/playground-smoke.yml
  site/.gitignore
  site/package.json
  site/scripts/smoke.ts
  site/src/components/playground/PlaygroundPage.tsx
  site/src/hooks/useHeroMesh.ts
Due: none

fix(ci): skip lifecycle scripts in smoke install
  .github/workflows/playground-smoke.yml
Due: none

fix(ci): install Chrome explicitly for smoke
  .github/workflows/playground-smoke.yml
Due: none

fix(playground): polish toast a11y, console contrast, mesh keys
  site/src/components/playground/OutputPanel.tsx
  site/src/components/playground/ViewerPanel.tsx
  site/src/components/shared/ToastContainer.tsx
Due: none

fix(playground): stabilize OrbitControls props + grid z-fighting
  site/src/components/playground/ViewerPanel.tsx
  site/src/components/shared/InfiniteGrid.tsx
Due: none

feat(docs): animated hero showing sketch → extrude → analyse loop
  docs-site/.vitepress/theme/HeroAnimation.vue
  docs-site/.vitepress/theme/Layout.vue
  docs-site/.vitepress/theme/custom.css
  docs-site/index.md
Due: prettier --write

fix(docs): address Greptile review nits on hero animation
  docs-site/.vitepress/theme/HeroAnimation.vue
  docs-site/.vitepress/theme/custom.css
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
