Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

docs: Refresh README with clearer examples and improved structure (#197)
  README.md
  docs/images/examples/2d-profile.svg
  docs/images/examples/boolean-ops.svg
  docs/images/examples/bracket.svg
  docs/images/examples/hello-world.svg
  docs/images/examples/pipe-fitting.svg
  examples/README.md
Due: prettier --write

docs: trim CLAUDE.md to essential guidance only
  CLAUDE.md
Due: prettier --write

docs: update CLAUDE.md with architecture and development guidelines (#198)
  CLAUDE.md
Due: prettier --write

perf(playground): optimize code execution speed for iterative development
  site/src/components/landing/LandingPage.tsx
  site/src/components/playground/ShapeRenderer.tsx
  site/src/components/playground/ViewerPanel.tsx
  site/src/hooks/useCodeExecution.ts
  site/src/lib/wasmConfig.ts
  site/src/lib/wasmPreloader.ts
  site/src/workers/cad.worker.ts
  site/vite.config.ts
Due: prettier --write

feat(playground): add execution cancellation for iterative editing
  site/src/hooks/useCodeExecution.ts
  site/src/workers/cad.worker.ts
  site/src/workers/workerProtocol.ts
Due: none

fix(playground): add runtime safety to WASM preloading and worker init
  site/src/lib/wasmPreloader.ts
  site/src/workers/cad.worker.ts
Due: none

feat(playground): add automatic worker crash recovery
  site/src/hooks/useCodeExecution.ts
  site/src/hooks/useWorker.ts
  site/src/stores/engineStore.ts
  site/src/stores/playgroundStore.ts
Due: none

fix(playground): resolve SharedArrayBuffer and WASM loading issues
  site/src/lib/wasmConfig.ts
  site/src/workers/cad.worker.ts
  site/vite.config.ts
  vercel.json
Due: prettier --write

fix(playground): resolve SharedArrayBuffer and WASM loading issues (#206)
  site/src/lib/wasmConfig.ts
  site/src/workers/cad.worker.ts
  site/vite.config.ts
  vercel.json
Due: prettier --write

feat(plugin): add Claude Code plugin for expert CAD generation
  brepjs-plugin/.claude-plugin/plugin.json
  brepjs-plugin/ARCHITECTURE.md
  brepjs-plugin/README.md
  brepjs-plugin/agents/brepjs-modeler.md
  brepjs-plugin/agents/brepjs-validator.md
  brepjs-plugin/commands/analyze.md
  brepjs-plugin/commands/brepjs.md
  brepjs-plugin/commands/export.md
  brepjs-plugin/commands/validate.md
  brepjs-plugin/examples/functional/cable-organizer.ts
  brepjs-plugin/examples/functional/pcb-mount.ts
  brepjs-plugin/examples/functional/phone-stand.ts
  brepjs-plugin/examples/functional/tool-holder.ts
  brepjs-plugin/examples/progressive/01-box-with-hole.ts
  brepjs-plugin/examples/progressive/02-bracket-with-fillets.ts
  brepjs-plugin/examples/progressive/03-gear-pair.ts
  brepjs-plugin/examples/progressive/04-helical-gear.ts
  brepjs-plugin/hooks/hooks.json
  brepjs-plugin/scripts/analyze-stl.js
  brepjs-plugin/scripts/validate-brepjs-file.sh
Due: prettier --write

feat(plugin): add brepjs-plugin workspace
  brepjs-plugin/package.json
  package-lock.json
  package.json
Due: none

feat(plugin): configure npm publishing for brepjs-claude-plugin
  .github/workflows/release-please.yml
  .release-please-manifest.json
  README.md
  brepjs-plugin/.claude-plugin/plugin.json
  brepjs-plugin/.npmignore
  brepjs-plugin/README.md
  brepjs-plugin/package.json
  brepjs-plugin/scripts/validate-plugin.sh
  release-please-config.json
  scripts/publish-all.sh
Due: prettier --write

fix(plugin): resolve critical issues for publication
  brepjs-plugin/.claude-plugin/plugin.json
  brepjs-plugin/ARCHITECTURE.md
  brepjs-plugin/hooks/hooks.json
  brepjs-plugin/package.json
  brepjs-plugin/scripts/validate-plugin.sh
Due: prettier --write

fix(plugin): resolve critical issues for publication (#208)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  README.md
  brepjs-plugin/.claude-plugin/plugin.json
  brepjs-plugin/.npmignore
  brepjs-plugin/README.md
  brepjs-plugin/agents/brepjs-modeler.md
  brepjs-plugin/agents/brepjs-validator.md
  brepjs-plugin/commands/analyze.md
  brepjs-plugin/commands/brepjs.md
  brepjs-plugin/commands/export.md
  brepjs-plugin/commands/validate.md
  brepjs-plugin/examples/functional/cable-organizer.ts
  brepjs-plugin/examples/functional/pcb-mount.ts
  brepjs-plugin/examples/functional/phone-stand.ts
  brepjs-plugin/examples/functional/tool-holder.ts
  brepjs-plugin/examples/progressive/01-box-with-hole.ts
  brepjs-plugin/examples/progressive/02-bracket-with-fillets.ts
  brepjs-plugin/examples/progressive/03-gear-pair.ts
  brepjs-plugin/examples/progressive/04-helical-gear.ts
  brepjs-plugin/package.json
  brepjs-plugin/scripts/analyze-stl.js
  brepjs-plugin/scripts/validate-brepjs-file.sh
  brepjs-plugin/scripts/validate-plugin.sh
  package-lock.json
  package.json
  release-please-config.json
  scripts/publish-all.sh
Due: prettier --write

fix(plugin): simplify plugin.json to match Claude Code schema
  brepjs-plugin/.claude-plugin/plugin.json
Due: none

fix(plugin): simplify plugin.json to match Claude Code schema (#211)
  brepjs-plugin/.claude-plugin/plugin.json
Due: none

chore: update package-lock.json for three.js dependency
  package-lock.json
Due: none

Revert "chore(main): release brepjs-plugin 1.0.1 (#209)"
  .release-please-manifest.json
  brepjs-plugin/CHANGELOG.md
  brepjs-plugin/package.json
Due: prettier --write

Revert "chore: update package-lock.json for three.js dependency"
  package-lock.json
Due: none

Revert "fix(plugin): simplify plugin.json to match Claude Code schema (#211)"
  brepjs-plugin/.claude-plugin/plugin.json
Due: none

Revert "fix(plugin): resolve critical issues for publication (#208)"
  .github/workflows/release-please.yml
  .release-please-manifest.json
  README.md
  brepjs-plugin/.claude-plugin/plugin.json
  brepjs-plugin/.npmignore
  brepjs-plugin/README.md
  brepjs-plugin/agents/brepjs-modeler.md
  brepjs-plugin/agents/brepjs-validator.md
  brepjs-plugin/commands/analyze.md
  brepjs-plugin/commands/brepjs.md
  brepjs-plugin/commands/export.md
  brepjs-plugin/commands/validate.md
  brepjs-plugin/examples/functional/cable-organizer.ts
  brepjs-plugin/examples/functional/pcb-mount.ts
  brepjs-plugin/examples/functional/phone-stand.ts
  brepjs-plugin/examples/functional/tool-holder.ts
  brepjs-plugin/examples/progressive/01-box-with-hole.ts
  brepjs-plugin/examples/progressive/02-bracket-with-fillets.ts
  brepjs-plugin/examples/progressive/03-gear-pair.ts
  brepjs-plugin/examples/progressive/04-helical-gear.ts
  brepjs-plugin/package.json
  brepjs-plugin/scripts/analyze-stl.js
  brepjs-plugin/scripts/validate-brepjs-file.sh
  brepjs-plugin/scripts/validate-plugin.sh
  package-lock.json
  package.json
  release-please-config.json
  scripts/publish-all.sh
Due: prettier --write

revert: remove brepjs-plugin (not ready) (#213)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  README.md
  brepjs-plugin/.claude-plugin/plugin.json
  brepjs-plugin/.npmignore
  brepjs-plugin/CHANGELOG.md
  brepjs-plugin/README.md
  brepjs-plugin/agents/brepjs-modeler.md
  brepjs-plugin/agents/brepjs-validator.md
  brepjs-plugin/commands/analyze.md
  brepjs-plugin/commands/brepjs.md
  brepjs-plugin/commands/export.md
  brepjs-plugin/commands/validate.md
  brepjs-plugin/examples/functional/cable-organizer.ts
  brepjs-plugin/examples/functional/pcb-mount.ts
  brepjs-plugin/examples/functional/phone-stand.ts
  brepjs-plugin/examples/functional/tool-holder.ts
  brepjs-plugin/examples/progressive/01-box-with-hole.ts
  brepjs-plugin/examples/progressive/02-bracket-with-fillets.ts
  brepjs-plugin/examples/progressive/03-gear-pair.ts
  brepjs-plugin/examples/progressive/04-helical-gear.ts
  brepjs-plugin/package.json
  brepjs-plugin/scripts/analyze-stl.js
  brepjs-plugin/scripts/validate-brepjs-file.sh
  brepjs-plugin/scripts/validate-plugin.sh
  package-lock.json
  package.json
  release-please-config.json
  scripts/publish-all.sh
Due: prettier --write

refactor: rename internal functions to match public API names
  src/index.ts
  src/operations/api.ts
  src/operations/extrude.ts
  src/operations/extrudeFns.ts
  src/operations/loft.ts
  src/operations/loftFns.ts
  src/operations/patternFns.ts
  src/topology.ts
  src/topology/api.ts
  src/topology/booleanFns.ts
  src/topology/cast.ts
  src/topology/chamferAngleFns.ts
  src/topology/compoundOpsFns.ts
  src/topology/healingFns.ts
  src/topology/index.ts
  src/topology/meshFns.ts
  src/topology/modifierFns.ts
  src/topology/primitiveFns.ts
  src/topology/shapeFns.ts
Due: eslint --fix, prettier --write

fix(site): update stale function names to match renamed API
  site/scripts/precompute-hero-mesh.ts
  site/scripts/test-examples.ts
  site/src/components/landing/InstallSection.tsx
  site/src/lib/syntaxHighlight.tsx
  site/src/types/brepjs-ambient.d.ts
  site/src/workers/cad.worker.ts
Due: none

fix(site): add clean primitive names to highlighter, remove stale make* ambient types
  site/src/lib/syntaxHighlight.tsx
  site/src/types/brepjs-ambient.d.ts
Due: none

docs: use fromBREP instead of deserializeShape in llms.txt
  llms.txt
Due: none

refactor: rename internal functions to match public API (#214)
  llms.txt
  site/scripts/precompute-hero-mesh.ts
  site/scripts/test-examples.ts
  site/src/components/landing/InstallSection.tsx
  site/src/lib/syntaxHighlight.tsx
  site/src/types/brepjs-ambient.d.ts
  site/src/workers/cad.worker.ts
  src/index.ts
  src/operations/api.ts
  src/operations/extrude.ts
  src/operations/extrudeFns.ts
  src/operations/loft.ts
  src/operations/loftFns.ts
  src/operations/patternFns.ts
  src/topology.ts
  src/topology/api.ts
  src/topology/booleanFns.ts
  src/topology/cast.ts
  src/topology/chamferAngleFns.ts
  src/topology/compoundOpsFns.ts
  src/topology/healingFns.ts
  src/topology/index.ts
  src/topology/meshFns.ts
  src/topology/modifierFns.ts
  src/topology/primitiveFns.ts
  src/topology/shapeFns.ts
Due: eslint --fix, prettier --write

docs: improve Context7 benchmark scores with expanded examples
  README.md
  context7.json
  llms.txt
Due: prettier --write

fix(docs): use exportAssemblySTEP for multi-part STEP export example
  llms.txt
Due: none

docs: improve Context7 benchmark scores (#215)
  README.md
  context7.json
  llms.txt
Due: prettier --write

feat(box): add `at` and `centered` options, deprecate `center`
  examples/2d-to-3d.ts
  examples/README.md
  examples/basic-primitives.ts
  examples/browser-viewer.ts
  examples/compartment-tray.ts
  examples/hello-world.ts
  examples/import-export.ts
  examples/lofted-vase.ts
  examples/mechanical-part.ts
  examples/mounting-block.ts
  examples/parametric-part.ts
  examples/pen-cup.ts
  examples/shelf-bracket.ts
  examples/text-engraving.ts
  examples/threejs-rendering.ts
  scripts/generate-example-previews.ts
  site/src/lib/examples.ts
  src/topology/primitiveFns.ts
  tests/api.test.ts
Due: eslint --fix, prettier --write

feat(box): add `at` and `centered` options, deprecate `center` (#216)
  examples/2d-to-3d.ts
  examples/README.md
  examples/basic-primitives.ts
  examples/browser-viewer.ts
  examples/compartment-tray.ts
  examples/hello-world.ts
  examples/import-export.ts
  examples/lofted-vase.ts
  examples/mechanical-part.ts
  examples/mounting-block.ts
  examples/parametric-part.ts
  examples/pen-cup.ts
  examples/shelf-bracket.ts
  examples/text-engraving.ts
  examples/threejs-rendering.ts
  scripts/generate-example-previews.ts
  site/src/lib/examples.ts
  src/topology/primitiveFns.ts
  tests/api.test.ts
Due: eslint --fix, prettier --write

fix(lint): use strict equality in box() center normalization
  src/topology/primitiveFns.ts
  tests/api.test.ts
Due: eslint --fix, prettier --write

chore(knip): clean up config and ignore brepjs-plugin workspace
  knip.config.ts
Due: prettier --write

chore(site): update brepjs dependency to ^7.4.2
  package-lock.json
  site/package.json
Due: none

chore(site): update brepjs dependency to ^7.4.2 (#218)
  package-lock.json
  site/package.json
Due: none

feat!: remove deprecated APIs scheduled for v8.0.0
  src/2d.ts
  src/2d/blueprints/blueprintFns.ts
  src/2d/blueprints/boolean2D.ts
  src/2d/blueprints/boolean2dFns.ts
  src/index.ts
  src/operations.ts
  src/operations/api.ts
  src/operations/exporterFns.ts
  src/operations/extrude.ts
  src/operations/extrudeFns.ts
  src/operations/extrudeUtils.ts
  src/operations/loftFns.ts
  src/sketching.ts
  src/sketching/Sketcher.ts
  src/sketching/Sketcher2d.ts
  src/sketching/sketcherlib.ts
  src/topology/api.ts
  src/topology/apiTypes.ts
  src/topology/compoundOpsFns.ts
  src/topology/index.ts
  src/topology/primitiveFns.ts
  src/topology/shapeModifiers.ts
  src/topology/wrapperFns.ts
  tests/api-canonical-params.test.ts
  tests/fn-blueprintFns.test.ts
  tests/fn-boolean2dFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat!: remove legacy Point type and unused shapeHash parameter
  src/core/geometry.ts
  src/index.ts
  src/topology/meshCache.ts
  src/topology/meshFns.ts
  tests/fn-workerClient.test.ts
  tests/geometry.test.ts
  tests/meshCache.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

refactor: remove unused geometry.ts re-export hub
  src/core/disposal.ts
  src/core/geometry.ts
Due: eslint --fix, prettier --write

feat!: remove deprecated APIs and legacy types for v8.0.0
  src/2d.ts
  src/2d/blueprints/blueprintFns.ts
  src/2d/blueprints/boolean2D.ts
  src/2d/blueprints/boolean2dFns.ts
  src/core/disposal.ts
  src/core/geometry.ts
  src/index.ts
  src/operations.ts
  src/operations/api.ts
  src/operations/exporterFns.ts
  src/operations/extrude.ts
  src/operations/extrudeFns.ts
  src/operations/extrudeUtils.ts
  src/operations/loftFns.ts
  src/sketching.ts
  src/sketching/Sketcher.ts
  src/sketching/Sketcher2d.ts
  src/sketching/sketcherlib.ts
  src/topology/api.ts
  src/topology/apiTypes.ts
  src/topology/compoundOpsFns.ts
  src/topology/index.ts
  src/topology/meshCache.ts
  src/topology/meshFns.ts
  src/topology/primitiveFns.ts
  src/topology/shapeModifiers.ts
  src/topology/wrapperFns.ts
  tests/api-canonical-params.test.ts
  tests/fn-blueprintFns.test.ts
  tests/fn-boolean2dFns.test.ts
  tests/fn-workerClient.test.ts
  tests/geometry.test.ts
  tests/meshCache.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write
