Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(test): correct vitest 4 config and move benchmark out of tests
  benchmarks/staircase.bench.test.ts
  vitest.bench.config.ts
  vitest.config.ts
Due: prettier --write

feat(build): add bundle size tracking with size-limit
  .github/workflows/ci.yml
  .size-limit.json
  package-lock.json
  package.json
Due: none

chore: add npm provenance, remove redundant release job, clean up configs
  .github/workflows/publish-opencascade.yml
  .github/workflows/release-please.yml
  knip.config.ts
  packages/brepjs-opencascade/package.json
Due: prettier --write

chore: remove dead code and simplify vestigial patterns
  src/core/README.md
  src/core/occtBoundary.ts
  src/core/planeOps.ts
  src/core/vecOps.ts
  src/operations/extrude.ts
  src/topology/api.ts
  tests/fn-occtBoundary.test.ts
  tests/fn-planeOps.test.ts
  tests/fn-vecOps.test.ts
Due: eslint --fix, prettier --write

refactor: consolidate buildTriFace, fix error codes, remove dead code
  src/2d/lib/vectorOperations.ts
  src/core/errors.ts
  src/io/objImportFns.ts
  src/io/threemfImportFns.ts
  src/kernel/constructorOps.ts
  src/kernel/hullOps.ts
  src/operations/exporterUtils.ts
  src/operations/roofFns.ts
  src/topology/minkowskiFns.ts
  src/topology/modifierFns.ts
  src/topology/surfaceFns.ts
  tests/vectorOperations.test.ts
Due: eslint --fix, prettier --write

fix: relocate orphaned makeTorus JSDoc comment
  src/kernel/constructorOps.ts
Due: eslint --fix, prettier --write

docs(plans): add disposal system migration design
  docs/plans/2026-03-01-disposal-system-migration-design.md
Due: prettier --write

docs(plans): add disposal system migration implementation plan
  docs/plans/2026-03-01-disposal-system-migration.md
Due: prettier --write

fix(site): exclude static assets from SPA rewrite to fix 403 on webmanifest
  vercel.json
Due: none

revert(site): remove static asset exclusions from SPA rewrite
  vercel.json
Due: none

feat(core): add withScopeResult, withScopeResultAsync, isLive to disposal
  src/core/disposal.ts
  src/core/memory.ts
  tests/fn-disposal.test.ts
Due: eslint --fix, prettier --write

feat(core): add kernelCallScoped for scope-safe kernel operations
  src/core/kernelCall.ts
  src/index.ts
  tests/fn-kernelCall.test.ts
Due: eslint --fix, prettier --write

chore(docs): remove completed plan documents
  docs/plans/2026-02-07-gallery-design.md
  docs/plans/2026-02-15-apply-matrix-design.md
  docs/plans/2026-02-16-hull-minkowski-design.md
  docs/plans/2026-02-16-hull-minkowski-plan.md
  docs/plans/2026-02-16-openscad-parity-design.md
  docs/plans/2026-02-16-openscad-parity-plan.md
  docs/plans/2026-02-17-feature-batch-design.md
  docs/plans/2026-02-17-feature-batch-plan.md
  docs/plans/2026-02-17-openscad-parity-2-design.md
  docs/plans/2026-02-17-openscad-parity-2-plan.md
Due: prettier --write

refactor(core): migrate geometryHelpers localGC -> DisposalScope
  src/core/geometryHelpers.ts
Due: eslint --fix, prettier --write

test: add kernelCallScoped to public API export allowlist
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

refactor(topology): migrate gcWithScope/localGC -> DisposalScope
  src/topology/booleanFns.ts
  src/topology/curveBuilders.ts
  src/topology/curveFns.ts
  src/topology/faceFns.ts
  src/topology/minkowskiFns.ts
  src/topology/modifierFns.ts
  src/topology/primitiveFns.ts
  src/topology/shapeFns.ts
  src/topology/solidBuilders.ts
  src/topology/surfaceBuilders.ts
Due: eslint --fix, prettier --write

refactor(operations): migrate gcWithScope/localGC -> DisposalScope
  src/operations/exporterFns.ts
  src/operations/exporterUtils.ts
  src/operations/exporters.ts
  src/operations/extrude.ts
  src/operations/extrudeFns.ts
  src/operations/extrudeUtils.ts
  src/operations/guidedSweepFns.ts
  src/operations/loft.ts
  src/operations/loftFns.ts
  src/operations/multiSweepFns.ts
Due: eslint --fix, prettier --write

refactor(2d,sketching,query,measurement,io,projection): migrate gcWithScope/localGC -> DisposalScope
  .claude/agent-memory-local/engineer/MEMORY.md
  node_modules
  src/2d/blueprints/Blueprint.ts
  src/2d/curves.ts
  src/2d/lib/BoundingBox2d.ts
  src/2d/lib/Curve2D.ts
  src/2d/lib/approximations.ts
  src/2d/lib/intersections.ts
  src/2d/lib/makeCurves.ts
  src/2d/lib/ocWrapper.ts
  src/2d/lib/offset.ts
  src/2d/lib/svgPath.ts
  src/io/importFns.ts
  src/measurement/measureFns.ts
  src/projection/makeProjectedEdges.ts
  src/query/edgeFinder.ts
  src/query/shapeDistanceFilter.ts
  src/sketching/CompoundSketch.ts
  src/sketching/Sketch.ts
  src/sketching/Sketcher.ts
  src/sketching/Sketcher2d.ts
  src/sketching/cannedSketches.ts
  src/sketching/draw.ts
Due: eslint --fix, prettier --write

feat(core): export withScopeResult, withScopeResultAsync, isLive; fix DisposalScope.track
  src/core.ts
  src/core/README.md
  src/core/disposal.ts
  src/index.ts
  src/query/shapeDistanceFilter.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

refactor(core): simplify kernelCallScoped; fix Prettier formatting in 15 files
  src/2d/lib/Curve2D.ts
  src/2d/lib/approximations.ts
  src/2d/lib/makeCurves.ts
  src/core/kernelCall.ts
  src/io/importFns.ts
  src/operations/exporterFns.ts
  src/operations/exporters.ts
  src/operations/extrude.ts
  src/operations/extrudeFns.ts
  src/operations/multiSweepFns.ts
  src/sketching/Sketch.ts
  src/sketching/Sketcher.ts
  src/sketching/Sketcher2d.ts
  src/topology/curveBuilders.ts
  src/topology/shapeFns.ts
  src/topology/solidBuilders.ts
  src/topology/surfaceBuilders.ts
Due: eslint --fix, prettier --write

style: fix Prettier formatting in fn-kernelCall.test.ts
  tests/fn-kernelCall.test.ts
Due: eslint --fix, prettier --write

fix(deps): resolve npm audit security vulnerabilities
  package-lock.json
  package.json
Due: none

fix(topology): convert resolveTargetFace to Result with tests
  src/core/errors.ts
  src/topology/compoundOpsFns.ts
  tests/fn-compoundOpsFns.test.ts
Due: eslint --fix, prettier --write

perf(topology): add DisposalScope to makeFace, extract tolerance
  src/kernel/booleanOps.ts
  src/topology/booleanFns.ts
  src/topology/surfaceBuilders.ts
Due: eslint --fix, prettier --write

refactor(compound): rename faceResult2, strengthen test assertions
  src/topology/compoundOpsFns.ts
  tests/fn-compoundOpsFns.test.ts
Due: eslint --fix, prettier --write

perf(wasm,topology): enable simd, memory tuning, iterator optimization, and test coverage
  packages/brepjs-opencascade/build-source/custom_build_single.yml
  packages/brepjs-opencascade/build-source/custom_build_with_exceptions.yml
  packages/brepjs-opencascade/build-source/defaults.yml
  packages/brepjs-opencascade/package.json
  src/topology/adjacencyFns.ts
  src/topology/shapeFns.ts
  tests/fn-approximations.test.ts
  tests/fn-faceFns.test.ts
  tests/fn-healingFns.test.ts
  tests/fn-importFns.test.ts
  tests/fn-mateFns.test.ts
  tests/fn-meshFns.test.ts
  tests/fn-surfaceFns.test.ts
  tests/operations-exporters.test.ts
Due: eslint --fix, prettier --write

perf(wasm,topology): enable simd, memory tuning, iterator optimization, and test coverage
  .size-limit.json
  packages/brepjs-opencascade/build-source/custom_build_single.yml
  packages/brepjs-opencascade/build-source/custom_build_with_exceptions.yml
  packages/brepjs-opencascade/build-source/defaults.yml
  packages/brepjs-opencascade/package.json
  src/topology/adjacencyFns.ts
  src/topology/shapeFns.ts
  tests/fn-approximations.test.ts
  tests/fn-faceFns.test.ts
  tests/fn-healingFns.test.ts
  tests/fn-importFns.test.ts
  tests/fn-mateFns.test.ts
  tests/fn-meshFns.test.ts
  tests/fn-surfaceFns.test.ts
  tests/operations-exporters.test.ts
Due: eslint --fix, prettier --write

chore: bump size-limit to 135 kB for topology optimizations
  .size-limit.json
Due: none

refactor(topology): reuse iterOcList, cache vertices, replace magic literals
  src/query/finderFns.ts
  src/sketching/sketchLib.ts
  src/topology/colorFns.ts
  src/topology/faceTagFns.ts
  src/topology/modifierFns.ts
  src/topology/shapeFns.ts
  src/topology/shapeHelpers.ts
Due: eslint --fix, prettier --write

perf(topology): optimize sectionToFace wire assembly, add healing and color tests
  src/topology/booleanFns.ts
  tests/fn-colorFns.test.ts
  tests/fn-faceTagFns.test.ts
  tests/fn-healingFns.test.ts
Due: eslint --fix, prettier --write

test(wrapper): boost wrapperFns coverage with method calls and dispatch tests
  tests/wrapperFns.test.ts
Due: eslint --fix, prettier --write

fix(topology): double-free in surfaceFns, resource leak in curveFns, extrude test coverage
  src/topology/curveFns.ts
  src/topology/surfaceFns.ts
  tests/fn-extrudeFns.test.ts
Due: eslint --fix, prettier --write

fix(topology): use DisposalScope in buildBSplineSurface for safe resource cleanup
  src/topology/surfaceFns.ts
Due: eslint --fix, prettier --write

chore(topology): extract luminance constants, expose loft tolerance, bspline option tests
  src/operations/loftFns.ts
  src/topology/surfaceFns.ts
  tests/fn-bsplineFns.test.ts
  tests/fn-loftFns.test.ts
Due: eslint --fix, prettier --write

refactor(topology): migrate shapeFns transforms to DisposalScope
  src/topology/shapeFns.ts
Due: eslint --fix, prettier --write

fix: move ensure-wasm.sh from postinstall to prepare
  package.json
Due: none

fix: suppress size-limit false positive in knip
  knip.config.ts
Due: prettier --write

chore: remove stale occtBoundary import comments
  src/core/planeOps.ts
  src/operations/extrude.ts
Due: eslint --fix, prettier --write

refactor(kernel)!: rename OCCT-specific symbols to kernel-agnostic names
  src/core/README.md
  src/core/errors.ts
  src/core/kernelBoundary.ts
  src/core/kernelCall.ts
  src/index.ts
  src/kernel/README.md
  src/kernel/advancedOps.ts
  src/kernel/booleanOps.ts
  src/kernel/constructorOps.ts
  src/kernel/curveOps.ts
  src/kernel/defaultAdapter.ts
  src/kernel/evolutionOps.ts
  src/kernel/exportOps.ts
  src/kernel/extendedConstructorOps.ts
  src/kernel/geometryQueryOps.ts
  src/kernel/healingOps.ts
  src/kernel/historyOps.ts
  src/kernel/hullOps.ts
  src/kernel/index.ts
  src/kernel/ioOps.ts
  src/kernel/kernel2dOps.ts
  src/kernel/measureOps.ts
  src/kernel/meshOps.ts
  src/kernel/modifierOps.ts
  src/kernel/sweepOps.ts
  src/kernel/topologyOps.ts
  src/kernel/transformOps.ts
  src/kernel/types.ts
  tests/fn-occtBoundary.test.ts
  tests/fn-occtErrorTranslation.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
