Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix(kernel): revert compound passthrough pending brepkit-wasm compound support
  .size-limit.json
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

chore: bump size-limit to 160 kB to accommodate restored iteration code
  .size-limit.json
Due: none

perf(kernel): use brepkit-wasm compoundCut for batch boolean operations
  package-lock.json
  package.json
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

fix(topology): route cutAll() through kernel.cutAll() instead of cutWithHistory
  src/topology/booleanFns.ts
Due: eslint --fix, prettier --write

perf(kernel): add compoundFuse path to BrepkitAdapter.fuseAll()
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

fix(kernel): guard against empty solidIds in compoundFuse path
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

feat(kernel): wire remaining brepkit-wasm capabilities and add removeHolesFromFace
  src/index.ts
  src/kernel/advancedOps.ts
  src/kernel/brepkitAdapter.ts
  src/kernel/defaultAdapter.ts
  src/kernel/index.ts
  src/kernel/types.ts
  src/topology/faceFns.ts
  tests/fn-faceFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

chore: bump size-limit from 160 kB to 161 kB
  .size-limit.json
Due: none

fix: address PR review comments from Greptile
  src/kernel/advancedOps.ts
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

chore(deps): update brepkit-wasm, lint-staged, typescript-eslint
  package-lock.json
  package.json
Due: none

refactor(topology): use KernelShape type in adjacencyFns
  src/topology/adjacencyFns.ts
Due: eslint --fix, prettier --write

refactor: add eslint-disable reasons, make subFace private, add applyGlue tests
  docs/function-lookup.md
  src/2d/blueprints/Blueprint.ts
  src/2d/blueprints/CompoundBlueprint.ts
  src/2d/blueprints/boolean2D.ts
  src/2d/blueprints/cannedBlueprints.ts
  src/2d/blueprints/customCorners.ts
  src/2d/blueprints/lib.ts
  src/2d/blueprints/offset.ts
  src/2d/lib/Curve2D.ts
  src/2d/lib/customCorners.ts
  src/2d/lib/offset.ts
  src/2d/lib/stitching.ts
  src/io/gltfExportFns.ts
  src/kernel/booleanOps.ts
  src/kernel/kernel2dOps.ts
  src/query/cornerFinder.ts
  src/sketching/CompoundSketch.ts
  src/sketching/cannedSketches.ts
  src/topology/minkowskiFns.ts
  src/utils/uuid.ts
  tests/fn-shapeBooleans.test.ts
Due: eslint --fix, prettier --write

test: consolidate redundant applyGlue assertions
  tests/fn-shapeBooleans.test.ts
Due: eslint --fix, prettier --write

fix(deps): regenerate package-lock.json for CI compatibility
  package-lock.json
Due: none

feat(kernel): wire remaining brepkit-wasm 1.0.5 capabilities
  benchmarks/brepkit-extended.bench.test.ts
  package-lock.json
  package.json
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
  src/kernel/defaultAdapter.ts
  src/kernel/types.ts
  tests/fn-brepkitExtended.test.ts
Due: eslint --fix, prettier --write

chore: remove examples — filenames didn't match content
  .gitignore
  README.md
  docs/cheat-sheet.md
  docs/cookbook.md
  docs/getting-started.md
  docs/zero-to-shape.md
  examples/README.md
  examples/_setup.ts
  examples/compartment-tray.ts
  examples/lofted-vase.ts
  examples/mounting-block.ts
  examples/pen-cup.ts
  examples/shelf-bracket.ts
  examples/tsconfig.json
  package.json
  scripts/generate-example-previews.ts
Due: prettier --write

fix: remove stale examples/ references from llms.txt and llms-full.txt
  llms-full.txt
  llms.txt
Due: none

fix: restore hero code snippet in README
  README.md
Due: prettier --write

docs: rewrite README with personal voice, benchmarks, and cleaner structure
  README.md
  benchmarks/results/latest.md
Due: prettier --write

fix: use authoritative speedup values from latest.md
  README.md
Due: prettier --write

feat(site): upgrade to brepjs v12 with precomputed gallery meshes
  package-lock.json
  site/.gitignore
  site/package.json
  site/public/hero-mesh.json
  site/scripts/precompute-gallery-meshes.ts
  site/src/components/landing/ExamplesGallery.tsx
  site/src/components/landing/LandingPage.tsx
  site/src/components/playground/PlaygroundPage.tsx
  site/src/hooks/useHeroMesh.ts
  site/src/hooks/usePrecomputedGalleryMeshes.ts
  site/src/hooks/useShapePrecompilation.ts
  site/src/lib/meshLoader.ts
  site/src/lib/syntaxHighlight.tsx
  site/src/types/brepjs-ambient.d.ts
Due: none

fix: add brepjs-opencascade ^0.10.0 to peerDependencies range
  package-lock.json
  package.json
Due: none

chore: bump size limit to 162 kB, dispose WASM shapes in precompute
  .size-limit.json
  site/scripts/precompute-gallery-meshes.ts
Due: none

docs: audit tone, deduplicate, and consolidate documentation
  CONTRIBUTING.md
  README.md
  docs/architecture.md
  docs/cheat-sheet.md
  docs/command-buffer-architecture.md
  docs/cookbook.md
  docs/errors.md
  docs/getting-started.md
  docs/memory-management.md
  docs/performance.md
  docs/zero-to-shape.md
Due: prettier --write

docs: add Three.js integration guide and promote standard import path
  README.md
  docs/cheat-sheet.md
  docs/cookbook.md
  docs/getting-started.md
  docs/threejs-integration.md
Due: prettier --write

docs: remove em dashes, drop 60-second section, improve clarity
  CONTRIBUTING.md
  README.md
  docs/api-reference-intro.md
  docs/architecture.md
  docs/cheat-sheet.md
  docs/concepts.md
  docs/cookbook.md
  docs/errors.md
  docs/getting-started.md
  docs/kernel-swap.md
  docs/memory-management.md
  docs/performance.md
  docs/threejs-integration.md
  docs/which-api.md
Due: prettier --write

docs: address PR review comments
  README.md
  docs/getting-started.md
Due: prettier --write

docs: fix landing page copy and trim README by 50%
  README.md
  site/src/components/landing/FeaturesSection.tsx
  site/src/components/landing/HeroSection.tsx
Due: prettier --write

fix(kernel): use exact tangent arc solving in BrepkitAdapter
  src/kernel/brepkitAdapter.ts
  tests/brepkitAdapter.test.ts
Due: eslint --fix, prettier --write

test: add Phase 1 coverage tests for healing, patterns, kernel ops, and curves
  tests/fn-autoHeal.test.ts
  tests/fn-curves.test.ts
  tests/kernel-ops.test.ts
  tests/patterns.test.ts
Due: eslint --fix, prettier --write

fix(ci): drop coverage thresholds from pre-commit changed-file mode
  .husky/pre-commit
  CLAUDE.md
  package.json
  scripts/pre-commit-help.sh
Due: prettier --write

test: add Phase 3 sketcher regression tests
  tests/sketcher2d.test.ts
  tests/sketcher3d.test.ts
Due: eslint --fix, prettier --write

test: add Phase 6 import/export coverage tests
  tests/fn-dxfExport.test.ts
  tests/fn-objImport.test.ts
  tests/objExport.test.ts
Due: eslint --fix, prettier --write

test: add error kind coverage and canned sketch tests
  tests/cannedSketches.test.ts
  tests/fn-kernelCall.test.ts
Due: eslint --fix, prettier --write

feat(kernel): improve brepkit fillet/chamfer parity and add sweep/boolean coverage
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
  tests/kernel-ops.test.ts
Due: eslint --fix, prettier --write

fix(size): trim brepkitAdapter and bump bundle limit to 163 kB
  .size-limit.json
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

fix(adapter): address PR review comments
  src/kernel/brepkitAdapter.ts
  tests/brepkitAdapter.test.ts
Due: eslint --fix, prettier --write

feat(brepkit): unblock boolean, modifier, and compound ops tests
  tests/fn-booleanFns.test.ts
  tests/fn-compoundOpsFns.test.ts
  tests/fn-modifierFns.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

refactor: address review feedback on brepkit test unblocking
  tests/fn-booleanFns.test.ts
  tests/fn-compoundOpsFns.test.ts
  tests/fn-modifierFns.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write
