Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(bim): phase 2 data conformance + geometry-representation breadth
  packages/brepjs-bim/src/ifc-writer/classificationWriter.ts
  packages/brepjs-bim/src/ifc-writer/geometryWriter.ts
  packages/brepjs-bim/src/ifc-writer/materialWriter.ts
  packages/brepjs-bim/src/ifc-writer/openingWriter.ts
  packages/brepjs-bim/src/ifc-writer/proxyWriter.ts
  packages/brepjs-bim/src/ifc-writer/psetWriter.ts
  packages/brepjs-bim/src/ifc-writer/relWriter.ts
  packages/brepjs-bim/src/ifc-writer/tessellationWriter.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/src/psets/psetTemplates.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/src/specs/beamSpec.ts
  packages/brepjs-bim/src/specs/columnSpec.ts
  packages/brepjs-bim/src/specs/materialSpec.ts
  packages/brepjs-bim/src/specs/proxySpec.ts
  packages/brepjs-bim/src/specs/slabSpec.ts
  packages/brepjs-bim/src/specs/wallSpec.ts
  packages/brepjs-bim/src/types/bimTypes.ts
  packages/brepjs-bim/src/types/classificationTypes.ts
  packages/brepjs-bim/src/types/materialTypes.ts
  packages/brepjs-bim/src/types/relationships.ts
  packages/brepjs-bim/src/validation/geometryValidity.ts
  packages/brepjs-bim/tests/classificationWriter.test.ts
  packages/brepjs-bim/tests/geometryValidity.test.ts
  packages/brepjs-bim/tests/materialWriter.test.ts
  packages/brepjs-bim/tests/phase2Data.test.ts
  packages/brepjs-bim/tests/phase2Geometry.test.ts
  packages/brepjs-bim/tests/psetTemplates.test.ts
  packages/brepjs-bim/tests/tessellationWriter.test.ts
Due: none

feat(bim): phase 5 certification, IDS, BCF & FM deliverables
  packages/brepjs-bim/src/bcf/bcfRead.ts
  packages/brepjs-bim/src/bcf/bcfTypes.ts
  packages/brepjs-bim/src/bcf/bcfWrite.ts
  packages/brepjs-bim/src/bcf/bcfXml.ts
  packages/brepjs-bim/src/bcf/index.ts
  packages/brepjs-bim/src/cobie/cobieExport.ts
  packages/brepjs-bim/src/cobie/cobieTypes.ts
  packages/brepjs-bim/src/cobie/index.ts
  packages/brepjs-bim/src/errors/bimError.ts
  packages/brepjs-bim/src/ids/idsCheck.ts
  packages/brepjs-bim/src/ids/idsFacets.ts
  packages/brepjs-bim/src/ids/idsParser.ts
  packages/brepjs-bim/src/ids/idsTypes.ts
  packages/brepjs-bim/src/ids/idsXml.ts
  packages/brepjs-bim/src/ids/index.ts
  packages/brepjs-bim/src/ifc-writer/groupWriter.ts
  packages/brepjs-bim/src/ifc-writer/headerWriter.ts
  packages/brepjs-bim/src/ifc-writer/ifcWriter.ts
  packages/brepjs-bim/src/ifc-writer/ownerHistoryWriter.ts
  packages/brepjs-bim/src/ifc-writer/psetWriter.ts
  packages/brepjs-bim/src/ifc-writer/schemaVersion.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/src/psets/qtoWeights.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/src/specs/groupSpec.ts
  packages/brepjs-bim/src/types/bimTypes.ts
  packages/brepjs-bim/src/types/materialTypes.ts
  packages/brepjs-bim/src/types/relationships.ts
  packages/brepjs-bim/tests/bcf.test.ts
  packages/brepjs-bim/tests/cobieExport.test.ts
  packages/brepjs-bim/tests/groupWriter.test.ts
  packages/brepjs-bim/tests/idsCheck.test.ts
  packages/brepjs-bim/tests/ownerHistoryWriter.test.ts
  packages/brepjs-bim/tests/phase5Api.test.ts
  packages/brepjs-bim/tests/phase5Writer.test.ts
  packages/brepjs-bim/tests/qtoWeights.test.ts
  packages/brepjs-bim/tests/schemaVersion.test.ts
Due: none

feat(bim): phase 4 IFC import & symmetric round-trip
  packages/brepjs-bim/src/errors/bimError.ts
  packages/brepjs-bim/src/import/dataRead.ts
  packages/brepjs-bim/src/import/fromIfc.ts
  packages/brepjs-bim/src/import/geometryRead.ts
  packages/brepjs-bim/src/import/importedModel.ts
  packages/brepjs-bim/src/import/placement.ts
  packages/brepjs-bim/src/import/spatialTree.ts
  packages/brepjs-bim/src/import/spfReader.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/tests/importData.test.ts
  packages/brepjs-bim/tests/importGeometry.test.ts
  packages/brepjs-bim/tests/importPlacement.test.ts
  packages/brepjs-bim/tests/importSpatialTree.test.ts
  packages/brepjs-bim/tests/phase4RoundTrip.test.ts
  packages/brepjs-bim/tests/spfReader.test.ts
Due: none

fix(occtwasm): expand wireframe polylines into a line list in meshEdges
  src/kernel/occtWasm/meshOps.ts
Due: eslint --fix, prettier --write

fix(bim): address review — optional BCF project.bcfp, IDS prohibited PartOf
  packages/brepjs-bim/src/bcf/bcfRead.ts
  packages/brepjs-bim/src/ids/idsCheck.ts
  packages/brepjs-bim/tests/bcf.test.ts
  packages/brepjs-bim/tests/idsCheck.test.ts
Due: none

fix(occtwasm): guard getEdgeGroupsPtr behind egCount, matching mesh() (review)
  src/kernel/occtWasm/meshOps.ts
Due: eslint --fix, prettier --write

docs(bim): mark all parity phases complete in roadmap
  packages/brepjs-bim/BIM_PARITY_ROADMAP.md
Due: prettier --write

feat(sheetmetal): add experimental sheet-metal domain package
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/brepjs-sheetmetal/README.md
  packages/brepjs-sheetmetal/eslint.config.js
  packages/brepjs-sheetmetal/harness/.gitignore
  packages/brepjs-sheetmetal/harness/snapshot.ts
  packages/brepjs-sheetmetal/harness/tsconfig.json
  packages/brepjs-sheetmetal/package.json
  packages/brepjs-sheetmetal/src/allowanceFns.ts
  packages/brepjs-sheetmetal/src/api.ts
  packages/brepjs-sheetmetal/src/authorFns.ts
  packages/brepjs-sheetmetal/src/dxfFns.ts
  packages/brepjs-sheetmetal/src/facade.ts
  packages/brepjs-sheetmetal/src/featureTreeFns.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/materials.ts
  packages/brepjs-sheetmetal/src/miterFns.ts
  packages/brepjs-sheetmetal/src/reportFns.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/src/validateFns.ts
  packages/brepjs-sheetmetal/tests/allowance.test.ts
  packages/brepjs-sheetmetal/tests/author.test.ts
  packages/brepjs-sheetmetal/tests/dxf.test.ts
  packages/brepjs-sheetmetal/tests/integration.test.ts
  packages/brepjs-sheetmetal/tests/invariants.test.ts
  packages/brepjs-sheetmetal/tests/reference.test.ts
  packages/brepjs-sheetmetal/tests/report.test.ts
  packages/brepjs-sheetmetal/tests/setup.ts
  packages/brepjs-sheetmetal/tests/unfold2d.test.ts
  packages/brepjs-sheetmetal/tests/validate.test.ts
  packages/brepjs-sheetmetal/tsconfig.json
  packages/brepjs-sheetmetal/tsconfig.test.json
  packages/brepjs-sheetmetal/vite.config.ts
  packages/brepjs-sheetmetal/vitest.config.ts
Due: prettier --write

chore(bim): remove completed parity roadmap doc
  packages/brepjs-bim/BIM_PARITY_ROADMAP.md
Due: prettier --write

fix(sheetmetal): address PR review feedback
  packages/brepjs-sheetmetal/src/authorFns.ts
  packages/brepjs-sheetmetal/src/dxfFns.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/internal.ts
  packages/brepjs-sheetmetal/src/miterFns.ts
  packages/brepjs-sheetmetal/src/reportFns.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/tests/author.test.ts
  packages/brepjs-sheetmetal/tests/dxf.test.ts
Due: none

chore(bim-vscode): pin vite/esbuild ranges to clear dependabot alerts
  package-lock.json
  packages/brepjs-vscode/package.json
Due: none

chore(bim-vscode): restore optional deps in lockfile for npm ci
  package-lock.json
Due: none

fix(sheetmetal): report straight flange length in BendReport.flatLength
  packages/brepjs-sheetmetal/src/reportFns.ts
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/tests/allowance.test.ts
  packages/brepjs-sheetmetal/tests/invariants.test.ts
  packages/brepjs-sheetmetal/tests/report.test.ts
Due: none

fix(sheetmetal): address Greptile re-review (4 items)
  packages/brepjs-sheetmetal/src/facade.ts
  packages/brepjs-sheetmetal/src/featureTreeFns.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/reportFns.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/tests/featureTree.test.ts
Due: none

fix(sheetmetal): handle default zero-gap miter in unfold
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/tests/unfold2d.test.ts
Due: none

fix(sheetmetal): emit R2000-conformant DXF (handles + subclass markers)
  packages/brepjs-sheetmetal/src/dxfFns.ts
  packages/brepjs-sheetmetal/tests/dxf.test.ts
Due: none

docs(kernel): design spec for occt-wasm default migration
  docs/superpowers/specs/2026-06-02-occt-wasm-default-design.md
Due: prettier --write

docs(kernel): harden occt-wasm-default spec after multi-agent review
  docs/superpowers/specs/2026-06-02-occt-wasm-default-design.md
Due: prettier --write

docs(kernel): implementation plan for occt-wasm default migration
  docs/superpowers/plans/2026-06-02-occt-wasm-default.md
Due: prettier --write

feat(kernel): mark occt-wasm default + correct capability flags in registry
  tests/helpers/kernelRegistry.test.ts
  tests/helpers/kernelRegistry.ts
Due: eslint --fix, prettier --write

feat(kernel): default init() to occt-wasm with opencascade fallback
  src/kernel/index.ts
Due: eslint --fix, prettier --write

feat(kernel): quick entry boots occt-wasm with opencascade fallback
  scripts/build-quick.js
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/quick.ts
Due: eslint --fix, prettier --write

test(kernel): default test gate to occt-wasm via OcctKernel.init
  package.json
  tests/helpers/kernelInit.ts
  tests/setup-kernel.ts
Due: eslint --fix, prettier --write

test(kernel): gate coverage on occt-wasm denominator with measured floor
  vitest.config.ts
Due: prettier --write

docs: present occt-wasm as the default kernel across all docs
  README.md
  apps/docs/advanced/workers.md
  apps/docs/concepts/kernels.md
  apps/docs/getting-started/cheat-sheet.md
  apps/docs/getting-started/first-solid.md
  apps/docs/getting-started/install.md
  apps/docs/index.md
  apps/docs/integration/compatibility.md
  apps/docs/integration/frameworks.md
  apps/docs/reference/errors.md
  context7.json
  docs/cheat-sheet.md
  docs/compatibility.md
  docs/decisions/0013-voxel-domain.md
  docs/getting-started.md
  docs/kernel-conformance.md
  docs/kernel-swap.md
  docs/threejs-integration.md
  llms-full.txt
  llms.txt
  src/kernel/README.md
Due: prettier --write

feat(playground,agent): boot occt-wasm in the cad + viewer workers
  apps/playground/scripts/generate-ambient-types.ts
  apps/playground/src/lib/wasmConfig.ts
  apps/playground/src/types/brepjs-ambient.d.ts
  apps/playground/src/workers/cad.worker.ts
  apps/playground/vite.config.ts
  packages/brepjs-agent/README.md
  packages/brepjs-agent/viewer/src/kernelWorker.ts
  packages/brepjs-agent/viewer/vite.config.ts
Due: prettier --write

chore: align playground/agent/vscode deps + CLAUDE.md to occt-wasm default
  CLAUDE.md
  apps/playground/package.json
  package-lock.json
  packages/brepjs-agent/package.json
  packages/brepjs-agent/vite.config.ts
  packages/brepjs-vscode/webview/vite.config.ts
Due: prettier --write

docs: clarify COOP/COEP note now that occt-wasm is the default kernel
  apps/docs/integration/compatibility.md
Due: prettier --write

chore: stop ignoring occt-wasm in knip (now a used src dependency)
  knip.config.ts
Due: prettier --write

bench: regenerate kernel comparison with occt-wasm (parity with occt)
  benchmarks/results/latest.md
Due: prettier --write

feat(sheetmetal): multi-bend authoring, down-bends, closed-box seams
  packages/brepjs-sheetmetal/README.md
  packages/brepjs-sheetmetal/harness/snapshot.ts
  packages/brepjs-sheetmetal/src/authorFns.ts
  packages/brepjs-sheetmetal/src/facade.ts
  packages/brepjs-sheetmetal/src/featureTreeFns.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/internal.ts
  packages/brepjs-sheetmetal/src/reportFns.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/src/validateFns.ts
  packages/brepjs-sheetmetal/tests/author.test.ts
  packages/brepjs-sheetmetal/tests/multibend.test.ts
  packages/brepjs-sheetmetal/tests/validate.test.ts
Due: prettier --write

fix(kernel): add @vite-ignore to /quick dynamic imports (PR #1176 review)
  src/quick.ts
Due: eslint --fix, prettier --write

docs(kernel): note OcctKernelOwner unknown widening; clarify branch floor (PR #1176 review)
  docs/kernel-swap.md
  vitest.config.ts
Due: prettier --write

fix(sheetmetal): validate seam params and flange ids, harden seam-id parse
  packages/brepjs-sheetmetal/src/authorFns.ts
  packages/brepjs-sheetmetal/src/featureTreeFns.ts
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/tests/multibend.test.ts
Due: none

fix(sheetmetal): reject reserved flange ids 'root'/'face-0'
  packages/brepjs-sheetmetal/src/authorFns.ts
  packages/brepjs-sheetmetal/tests/multibend.test.ts
Due: none

feat(sheetmetal): flat-pattern→fold inverse with non-circular round-trip oracle
  packages/brepjs-sheetmetal/README.md
  packages/brepjs-sheetmetal/harness/snapshot.ts
  packages/brepjs-sheetmetal/src/api.ts
  packages/brepjs-sheetmetal/src/facade.ts
  packages/brepjs-sheetmetal/src/foldFns.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/tests/fold.test.ts
Due: prettier --write

fix(sheetmetal): harden fold pattern parser (loop dedup, scale-invariant base probe)
  packages/brepjs-sheetmetal/src/foldFns.ts
  packages/brepjs-sheetmetal/tests/fold.test.ts
Due: none

feat(sheetmetal): corner & bend reliefs for manufacturable multi-bend parts
  packages/brepjs-sheetmetal/.claude/agent-memory-local/engineer/MEMORY.md
  packages/brepjs-sheetmetal/.claude/agent-memory-local/engineer/project_sheetmetal_reliefs_pr3.md
  packages/brepjs-sheetmetal/.claude/agent-memory-local/reviewer/MEMORY.md
  packages/brepjs-sheetmetal/.claude/agent-memory-local/reviewer/project_sheetmetal_relief_review.md
  packages/brepjs-sheetmetal/README.md
  packages/brepjs-sheetmetal/harness/snapshot.ts
  packages/brepjs-sheetmetal/src/api.ts
  packages/brepjs-sheetmetal/src/facade.ts
  packages/brepjs-sheetmetal/src/foldFns.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/reliefFns.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/src/validateFns.ts
  packages/brepjs-sheetmetal/tests/relief.test.ts
Due: prettier --write

refactor(sheetmetal): simplify autoBendReliefs, fix corner-relief recorded dims
  packages/brepjs-sheetmetal/src/reliefFns.ts
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
