Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(kernel): fix review findings and consolidate Manifold adapter
  src/kernel/manifold/booleanOps.ts
  src/kernel/manifold/builderOps.ts
  src/kernel/manifold/geometryOps.ts
  src/kernel/manifold/ioOps.ts
  src/kernel/manifold/measureOps.ts
  src/kernel/manifold/meshHandle.ts
  src/kernel/manifold/modifierOps.ts
  src/kernel/manifold/replay.ts
  src/kernel/manifold/sweepOps.ts
  src/kernel/manifold/topologyOps.ts
  tests/parity/manifold.test.ts
Due: eslint --fix, prettier --write

fix(kernel): export initFromManifold and move manifold-3d to workspace dep
  package-lock.json
  package.json
  src/index.ts
Due: eslint --fix, prettier --write

test(api): add initFromManifold to expected runtime exports
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(kernel): address Greptile review and CI gates on Manifold adapter
  .size-limit.json
  src/kernel/manifold/approximations.ts
  src/kernel/manifold/booleanOps.ts
  src/kernel/manifold/builderOps.ts
  src/kernel/manifold/evolutionOps.ts
  src/kernel/manifold/geometryOps.ts
  src/kernel/manifold/ioOps.ts
  src/kernel/manifold/kernel2dOps.ts
  src/kernel/manifold/manifoldAdapter.ts
  src/kernel/manifold/measureOps.ts
  src/kernel/manifold/meshHandle.ts
  src/kernel/manifold/meshOps.ts
  src/kernel/manifold/modifierOps.ts
  src/kernel/manifold/opGraph.ts
  src/kernel/manifold/primitiveOps.ts
  src/kernel/manifold/replay.ts
  src/kernel/manifold/sweepOps.ts
  src/kernel/manifold/topologyOps.ts
  tests/helpers/meshParity.ts
  tests/parity/manifold.test.ts
Due: eslint --fix, prettier --write

fix(kernel): dispose replay edge intermediates and fix hashCode cache key
  src/kernel/manifold/meshHandle.ts
  src/kernel/manifold/replay.ts
  src/kernel/manifold/topologyOps.ts
Due: eslint --fix, prettier --write

ci: raise validate-pack file limit to 500
  scripts/validate-pack.sh
Due: none

feat(agent): scaffold brepjs-agent package skeleton
  package-lock.json
  package.json
  packages/brepjs-agent/CHANGELOG.md
  packages/brepjs-agent/LICENSE
  packages/brepjs-agent/eslint.config.js
  packages/brepjs-agent/package.json
  packages/brepjs-agent/tsconfig.json
  packages/brepjs-agent/tsconfig.test.json
  packages/brepjs-agent/vite.config.ts
  packages/brepjs-agent/vitest.config.ts
Due: prettier --write

feat(agent): add VerifyReport type and serialization
  packages/brepjs-agent/src/verify/report.ts
  packages/brepjs-agent/tests/report.test.ts
  vitest.config.ts
Due: prettier --write

feat(agent): deterministic verify checks over brepjs APIs
  packages/brepjs-agent/src/verify/checks.ts
  packages/brepjs-agent/tests/checks.test.ts
  packages/brepjs-agent/vitest.config.ts
Due: prettier --write

feat(agent): runPart loads and verifies agent-authored modules
  packages/brepjs-agent/src/index.ts
  packages/brepjs-agent/src/verify/runPart.ts
  packages/brepjs-agent/tests/fixtures/degenerate.brep.ts
  packages/brepjs-agent/tests/fixtures/validBox.brep.ts
  packages/brepjs-agent/tests/runPart.test.ts
Due: none

feat(agent): emit STEP (primary) + GLB preview from verified shape
  packages/brepjs-agent/src/index.ts
  packages/brepjs-agent/src/verify/runPart.ts
  packages/brepjs-agent/tests/runPart.test.ts
Due: none

feat(agent): verify CLI over runPart (+ snapshot stubs for typecheck)
  packages/brepjs-agent/src/cli/main.ts
  packages/brepjs-agent/src/snapshot/serve.ts
  packages/brepjs-agent/src/snapshot/shoot.ts
  packages/brepjs-agent/tests/cli.test.ts
  packages/brepjs-agent/tsconfig.json
Due: none

feat(agent): measure + diff subcommands over verified parts
  packages/brepjs-agent/src/cli/main.ts
  packages/brepjs-agent/src/index.ts
  packages/brepjs-agent/src/verify/diff.ts
  packages/brepjs-agent/src/verify/measure.ts
  packages/brepjs-agent/src/verify/report.ts
  packages/brepjs-agent/tests/diff.test.ts
  packages/brepjs-agent/tests/fixtures/bigBox.brep.ts
  packages/brepjs-agent/tests/fixtures/offsetBox.brep.ts
  packages/brepjs-agent/tests/measure.test.ts
Due: none

feat(viewer): scaffold brepjs-viewer package
  knip.config.ts
  package-lock.json
  package.json
  packages/brepjs-viewer/CHANGELOG.md
  packages/brepjs-viewer/LICENSE
  packages/brepjs-viewer/eslint.config.js
  packages/brepjs-viewer/package.json
  packages/brepjs-viewer/tsconfig.json
  packages/brepjs-viewer/tsconfig.test.json
  packages/brepjs-viewer/vite.config.ts
  packages/brepjs-viewer/vitest.config.ts
Due: prettier --write

feat(viewer): move render-contract types into brepjs-viewer
  apps/playground/package.json
  apps/playground/src/stores/playgroundStore.ts
  apps/playground/src/stores/viewerStore.ts
  apps/playground/src/workers/workerProtocol.ts
  apps/playground/tsconfig.json
  apps/playground/vite.config.ts
  package-lock.json
  package.json
  packages/brepjs-viewer/src/index.ts
  packages/brepjs-viewer/src/types.ts
Due: prettier --write

feat(viewer): pure render core + decoupled Renderer
  package-lock.json
  packages/brepjs-viewer/package.json
  packages/brepjs-viewer/src/Renderer.tsx
  packages/brepjs-viewer/src/geometry.ts
  packages/brepjs-viewer/tests/geometry.test.ts
Due: none

feat(viewer): edge/selection/scene components + ViewerCanvas
  packages/brepjs-viewer/src/EdgeRenderer.tsx
  packages/brepjs-viewer/src/GradientBackground.tsx
  packages/brepjs-viewer/src/InfiniteGrid.tsx
  packages/brepjs-viewer/src/SceneLighting.tsx
  packages/brepjs-viewer/src/SceneSetup.tsx
  packages/brepjs-viewer/src/SelectionHighlight.tsx
  packages/brepjs-viewer/src/ViewerCanvas.tsx
  packages/brepjs-viewer/src/index.ts
Due: none

refactor(playground): consume brepjs-viewer for rendering
  apps/playground/src/components/playground/EdgeRenderer.tsx
  apps/playground/src/components/playground/SelectionHighlight.tsx
  apps/playground/src/components/playground/ShapeRenderer.tsx
  apps/playground/src/components/playground/ViewerPanel.tsx
  apps/playground/src/components/shared/GradientBackground.tsx
  apps/playground/src/components/shared/InfiniteGrid.tsx
  apps/playground/src/components/shared/SceneLighting.tsx
  apps/playground/src/components/shared/SceneSetup.tsx
Due: none

feat(agent): scaffold WASM CAD viewer (vite + wasm plugin, tsconfig, html)
  package-lock.json
  packages/brepjs-agent/package.json
  packages/brepjs-agent/viewer/index.html
  packages/brepjs-agent/viewer/tsconfig.json
  packages/brepjs-agent/viewer/vite.config.ts
Due: prettier --write

feat(agent): pure ShapeMesh→MeshData conversion
  packages/brepjs-agent/viewer/src/convert.ts
  packages/brepjs-agent/viewer/tests/convert.test.ts
  packages/brepjs-agent/vitest.config.ts
Due: prettier --write

feat(agent): viewer kernel worker + extension-routed loaders
  packages/brepjs-agent/viewer/src/kernelWorker.ts
  packages/brepjs-agent/viewer/src/loaders.ts
  packages/brepjs-agent/viewer/tests/loaders.test.ts
Due: none

feat(agent): useModel (?dir=&file=) + viewer entry rendering true geometry
  packages/brepjs-agent/viewer/main.tsx
  packages/brepjs-agent/viewer/src/useModel.ts
  packages/brepjs-agent/viewer/tests/useModel.test.ts
Due: none

feat(agent): screenshot API hooks for headless capture
  packages/brepjs-agent/viewer/src/screenshotApi.ts
  packages/brepjs-agent/viewer/tests/screenshotApi.test.ts
Due: none

test(agent): viewer build + typecheck/lint green, STEP-render smoke
  packages/brepjs-agent/eslint.config.js
  packages/brepjs-agent/src/cli/main.ts
  packages/brepjs-agent/src/verify/checks.ts
  packages/brepjs-agent/src/verify/diff.ts
  packages/brepjs-agent/src/verify/measure.ts
  packages/brepjs-agent/src/verify/runPart.ts
  packages/brepjs-agent/tests/cli.test.ts
  packages/brepjs-agent/tests/report.test.ts
  packages/brepjs-agent/tsconfig.test.json
  packages/brepjs-agent/viewer/src/kernelWorker.ts
  packages/brepjs-agent/viewer/tests/loaders.test.ts
  packages/brepjs-agent/viewer/tsconfig.test.json
Due: none

fix(agent): ignore viewer/dist in eslint; exclude brepjs-viewer from root vitest
  packages/brepjs-agent/eslint.config.js
  vitest.config.ts
Due: prettier --write

feat(agent): directory-rooted static server + /__cad/server registry
  packages/brepjs-agent/src/snapshot/static.ts
  packages/brepjs-agent/tests/snapshot/static.test.ts
Due: none

feat(agent): registry + puppeteer shoot + persistent serve + snapshot vite entries
  packages/brepjs-agent/src/snapshot/registry.ts
  packages/brepjs-agent/src/snapshot/serve.ts
  packages/brepjs-agent/src/snapshot/shoot.ts
  packages/brepjs-agent/vite.config.ts
Due: prettier --write

docs(agent): add skill manifest and eight progressive reference files
  packages/brepjs-agent/skill/SKILL.md
  packages/brepjs-agent/skill/references/booleans.md
  packages/brepjs-agent/skill/references/export.md
  packages/brepjs-agent/skill/references/getting-started.md
  packages/brepjs-agent/skill/references/measurement-validation.md
  packages/brepjs-agent/skill/references/modifiers.md
  packages/brepjs-agent/skill/references/primitives.md
  packages/brepjs-agent/skill/references/sketching-2d.md
  packages/brepjs-agent/skill/references/transforms.md
Due: prettier --write

feat(agent): repo marketplace, plugin manifest, CI jobs, knip wiring
  .claude-plugin/marketplace.json
  .claude/skills/brepjs-cad/SKILL.md
  .claude/skills/brepjs-cad/references/booleans.md
  .claude/skills/brepjs-cad/references/export.md
  .claude/skills/brepjs-cad/references/getting-started.md
  .claude/skills/brepjs-cad/references/measurement-validation.md
  .claude/skills/brepjs-cad/references/modifiers.md
  .claude/skills/brepjs-cad/references/primitives.md
  .claude/skills/brepjs-cad/references/sketching-2d.md
  .claude/skills/brepjs-cad/references/transforms.md
  .github/workflows/ci.yml
  knip.config.ts
  packages/brepjs-agent/.claude-plugin/plugin.json
Due: prettier --write

docs(agent): add package READMEs and update CLAUDE.md package list
  CLAUDE.md
  packages/brepjs-agent/README.md
  packages/brepjs-viewer/README.md
Due: prettier --write

chore(agent): ignore root @types/react in knip (monorepo React-types pin)
  knip.config.ts
Due: prettier --write

fix(agent): unblock viewer page load + pin react/react-dom to 19
  package-lock.json
  packages/brepjs-agent/package.json
  packages/brepjs-agent/src/snapshot/static.ts
  packages/brepjs-agent/tests/snapshot/static.test.ts
Due: none

fix(agent): dispose leaked kernel/GPU shapes (PR review P1)
  packages/brepjs-agent/src/verify/diff.ts
  packages/brepjs-viewer/src/ViewerCanvas.tsx
Due: none

chore(agent): document shape ownership + configurable shoot settle (PR review P2)
  packages/brepjs-agent/src/snapshot/shoot.ts
  packages/brepjs-agent/src/verify/runPart.ts
Due: none

fix(agent): verify volume/validity for compound results, not just bare solids
  packages/brepjs-agent/src/verify/checks.ts
  packages/brepjs-agent/tests/checks.test.ts
Due: none

fix(agent): surface export errors instead of silently dropping them
  packages/brepjs-agent/src/verify/runPart.ts
Due: none

fix(agent): guard getBounds, dispose source shapes, memoize worker boot
  packages/brepjs-agent/src/verify/checks.ts
  packages/brepjs-agent/src/verify/diff.ts
  packages/brepjs-agent/src/verify/measure.ts
  packages/brepjs-agent/viewer/src/kernelWorker.ts
Due: none

chore(agent): trim comments, drop dead ref, simplify serve default
  packages/brepjs-agent/src/snapshot/serve.ts
  packages/brepjs-agent/src/snapshot/shoot.ts
  packages/brepjs-agent/src/verify/runPart.ts
  packages/brepjs-viewer/src/Renderer.tsx
  packages/brepjs-viewer/src/ViewerCanvas.tsx
  packages/brepjs-viewer/src/types.ts
Due: none

fix(viewer): reset body cursor when the mesh unmounts mid-hover
  packages/brepjs-viewer/src/Renderer.tsx
Due: none

feat(topology): add getSolids/getShells/getCompSolids extractors
  docs/function-lookup.md
  src/index.ts
  src/topology/shapeFns.ts
  src/topology/topologyQueryFns.ts
  tests/public-api-types.test.ts
  tests/shapeFns.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
