Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(lofts-sweeps): fix all three sweep snippets — they were never executable
  apps/docs/tasks/lofts-sweeps.md
Due: prettier --write

chore(deps): restore @emnapi/* lockfile entries dropped by Dependabot
  package-lock.json
Due: none

chore(deps): pin opentype.js to 1.x — 2.0.0 has same ccmp bug as 1.3.5
  .github/dependabot.yml
Due: none

fix(playground): pin @types/three to 0.184.0 to dedupe with transitive copies
  apps/playground/package.json
  package-lock.json
Due: none

ci: add playground-build job that mirrors Vercel's bundler step
  .github/workflows/ci.yml
Due: none

ci(setup): include workspace node_modules in cache so playground build resolves @tailwindcss/vite
  .github/actions/setup/action.yml
Due: none

feat(gear): add planetary gear module with diagnostics and mesh metrics
  scripts/check-layer-boundaries.sh
  src/gear/gearFns.ts
  src/gear/gearMath.ts
  src/gear/gearProfile.ts
  src/gear/index.ts
  src/index.ts
  src/topology/curveBuilders.ts
  tests/gearFns.test.ts
  tests/gearMath.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

refactor(gear): simplify, fix planet-ring αw, gate stress diagnostic
  scripts/check-layer-boundaries.sh
  src/gear/gearFns.ts
  src/gear/gearMath.ts
  src/gear/gearProfile.ts
  src/gear/index.ts
  src/topology/curveBuilders.ts
  tests/gearFns.test.ts
  tests/gearMath.test.ts
Due: eslint --fix, prettier --write

fix(gear): address Greptile review — Result contract, leak, bore validation
  src/gear/gearFns.ts
  src/gear/gearProfile.ts
  tests/gearFns.test.ts
Due: eslint --fix, prettier --write

fix(gear): lewis stress force balance + dispose intermediate solids
  src/gear/gearFns.ts
  tests/gearFns.test.ts
Due: eslint --fix, prettier --write

fix(gear): plug remaining wasm leaks in bore + outer-circle wires
  src/gear/gearFns.ts
Due: eslint --fix, prettier --write

chore(size-limit): bump total budget 245 → 252 kB for gear module
  .size-limit.json
Due: none

fix(playground): alias react/react-dom to workspace copy for vite 8
  apps/playground/vite.config.ts
Due: prettier --write

fix(gear): dispose sun/planet solids on planetary error paths
  src/gear/gearFns.ts
Due: eslint --fix, prettier --write

refactor(gear)!: rename ergonomics-confusing API surface
  src/gear/gearFns.ts
  src/gear/gearMath.ts
  src/gear/index.ts
  src/index.ts
  tests/gearFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(gear): expose samples knob for flank tessellation density
  src/gear/gearFns.ts
  tests/gearFns.test.ts
Due: eslint --fix, prettier --write

feat(gear): add planetPlacements for instanced planet rendering
  src/gear/gearMath.ts
  src/gear/index.ts
  src/index.ts
  tests/gearMath.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

ci: relax benchmark threshold to 25% and increase iteration count
  .github/workflows/ci.yml
  benchmarks/regression.bench.test.ts
Due: none

feat(gear): add per-gear diagnostics for solo external/internal gears
  src/gear/gearFns.ts
  src/gear/gearMath.ts
  tests/gearFns.test.ts
Due: eslint --fix, prettier --write

refactor(gear)!: finish the flankThinning rename — GearWireParams + JSDoc
  src/gear/gearFns.ts
  src/gear/gearMath.ts
  src/gear/gearProfile.ts
Due: eslint --fix, prettier --write

fix(gear+ci): hoist threshold const, scope undercut to external, validate samples
  .github/workflows/ci.yml
  src/gear/gearFns.ts
  tests/gearFns.test.ts
Due: eslint --fix, prettier --write

test(gear): cover surface area + ring rotate-and-delete path
  tests/gearFns.test.ts
Due: eslint --fix, prettier --write

fix(gear): clean up planet handles on mid-loop failure in placePlanets
  src/gear/gearFns.ts
Due: eslint --fix, prettier --write

fix(gear): silence Lewis-shift caveat under threshold; reorder metric compute
  src/gear/gearFns.ts
  tests/gearFns.test.ts
Due: eslint --fix, prettier --write

feat(gear): apply Dolan-Broghamer K_f to Lewis root stress
  src/gear/gearFns.ts
  src/gear/gearMath.ts
  src/gear/index.ts
  tests/gearFns.test.ts
  tests/gearMath.test.ts
Due: eslint --fix, prettier --write

fix(gear): apply Niemann 0.85× reduction to internal-gear K_f
  src/gear/gearFns.ts
  src/gear/gearMath.ts
  tests/gearFns.test.ts
  tests/gearMath.test.ts
Due: eslint --fix, prettier --write

fix(deps): restore @emnapi/core+runtime entries in lockfile
  package-lock.json
Due: none

docs(readme): add release-date and commit-activity badges
  README.md
Due: prettier --write

docs(readme): center header for consistency with sibling repos
  README.md
Due: prettier --write

fix(deps): restore @emnapi/core and @emnapi/runtime entries dropped by Dependabot npm
  package-lock.json
Due: none

chore(deps): revert @types/three to 0.184.0 (0.184.1 breaks playground types)
  apps/playground/package.json
  package-lock.json
Due: none

feat(playground): add Hill tetrahedron examples and per-shape coloring
  apps/playground/src/components/playground/ShapeRenderer.tsx
  apps/playground/src/lib/examples.ts
  apps/playground/src/stores/playgroundStore.ts
  apps/playground/src/workers/cad.worker.ts
  apps/playground/src/workers/workerProtocol.ts
  scripts/hillTetrahedronStudy.md
  scripts/hillTetrahedronStudy.ts
  tests/hillTetrahedron.test.ts
Due: eslint --fix, prettier --write

fix: address Greptile review on Hill tetrahedron PR
  apps/playground/src/lib/examples.ts
  scripts/hillTetrahedronStudy.ts
  tests/hillTetrahedron.test.ts
Due: eslint --fix, prettier --write

feat(docs): animate exploded Hill-tetrahedron cube in the home hero
  apps/docs/.vitepress/theme/Layout.vue
  apps/docs/.vitepress/theme/components/HeroCube.vue
  apps/docs/.vitepress/theme/components/heroCubeGeometry.ts
  apps/docs/.vitepress/theme/components/heroCubeRenderer.ts
  apps/docs/.vitepress/theme/custom.css
  apps/docs/package.json
  apps/docs/public/hero-poster.svg
  package-lock.json
Due: none

fix(docs): center hero cube on its own centroid and polish animation timing
  apps/docs/.vitepress/theme/components/heroCubeGeometry.ts
  apps/docs/.vitepress/theme/components/heroCubeRenderer.ts
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
