Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

docs: add V8 feature leverage implementation plans
  docs/superpowers/plans/2026-03-25-v8-new-capabilities.md
  docs/superpowers/plans/2026-03-25-v8-performance-optimizations.md
  docs/superpowers/plans/2026-03-25-v8-step-metadata-export.md
Due: prettier --write

test: add STEP I/O benchmarks for baseline measurement
  benchmarks/step-io.bench.test.ts
Due: none

perf(sweep): auto-disable BRepFill_PipeShell history in V8
  .pattern-baseline.json
  src/kernel/occt/advancedOps.ts
  src/kernel/occt/sweepOps.ts
Due: eslint --fix, prettier --write

feat(opencascade): add V8 C++ wrappers for stream I/O, helix, KDTree, batch eval
  packages/brepjs-opencascade/build-config/brepjs.yml
Due: none

feat: wire V8 stream STEP I/O and native helix into adapters
  src/kernel/occt/extendedConstructorOps.ts
  src/kernel/occt/ioOps.ts
Due: eslint --fix, prettier --write

fix(opencascade): remove TKHelix wrapper (not in Docker filter)
  packages/brepjs-opencascade/build-config/brepjs.yml
Due: none

chore(deps): support brepjs-opencascade ^0.14.0 peer dep
  package.json
Due: none

fix(ci): ensure-wasm.sh re-downloads on version mismatch
  .gitignore
  scripts/ensure-wasm.sh
Due: none

fix(ci): bust cache on brepjs-opencascade version bump
  .github/actions/setup/action.yml
Due: none

fix(ci): skip FS error test when V8 stream I/O is active
  tests/meshFns.test.ts
Due: eslint --fix, prettier --write

fix: address PR review feedback from #615, #621, #604
  benchmarks/results/v8-baseline.md
  packages/brepjs-opencascade/build-config/brepjs.yml
  scripts/ensure-wasm.sh
Due: prettier --write

fix(bench): fetch V7/V8 WASM from npm instead of local paths
  .gitignore
  benchmarks/v7-vs-v8.bench.test.ts
  benchmarks/v8-opt-comparison.bench.test.ts
Due: none

docs: add single-threaded performance improvement plans
  docs/superpowers/plans/2026-03-25-boolean-pipeline-perf.md
  docs/superpowers/plans/2026-03-25-mesh-performance.md
  docs/superpowers/plans/2026-03-25-stream-io-remaining.md
Due: prettier --write

feat(opencascade): add BooleanPipeline C++ class + -mtail-call flag
  packages/brepjs-opencascade/build-config/brepjs.yml
Due: none

feat(boolean): add chained boolean pipeline adapter
  src/kernel/interfaces/booleanOps.ts
  src/kernel/occt/booleanPipelineOps.ts
  src/kernel/occt/defaultAdapter.ts
Due: eslint --fix, prettier --write

feat(boolean): add booleanPipeline() public API with JS fallback
  src/index.ts
  src/topology/booleanFns.ts
  tests/booleanPipeline.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

test: add boolean pipeline benchmark (baseline)
  benchmarks/boolean-pipeline.bench.test.ts
Due: none

fix: update booleanPipelineOps docstrings per review feedback
  src/kernel/occt/booleanPipelineOps.ts
Due: eslint --fix, prettier --write

fix(ci): use --registry flag in ensure-wasm.sh for npm pack
  scripts/ensure-wasm.sh
Due: none

fix(ci): use curl instead of npm pack in ensure-wasm.sh
  scripts/ensure-wasm.sh
Due: none

test: skip spiral-staircase example in V8 (OO API compound issue)
  tests/examples.test.ts
Due: eslint --fix, prettier --write

feat(mesh): add meshMultiLOD() + Three.js LOD helper
  src/index.ts
  src/topology/meshFns.ts
  src/topology/threeHelpers.ts
  tests/meshMultiLOD.test.ts
  tests/public-api-types.test.ts
  tests/variableFillet.test.ts
Due: eslint --fix, prettier --write

feat(opencascade): add MeshBatchExtractor C++ class
  packages/brepjs-opencascade/build-config/brepjs.yml
Due: none

fix(ci): add docker pull before build in publish workflow
  .github/workflows/publish-opencascade.yml
Due: none

fix(opencascade): replace gp_Vec3f with NCollection_Vec3<float>
  packages/brepjs-opencascade/build-config/brepjs.yml
Due: none

fix: add brepjs-opencascade ^0.15.0 to peer dependencies
  package.json
Due: none
