Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(occt): derive cylinder data via embind downcast, not GeomAdaptor_Surface
  src/kernel/occt/geometryQueryOps.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

feat(kinematics): add cylindrical, planar, and spherical joints
  docs/function-lookup.md
  src/index.ts
  src/operations.ts
  src/operations/jointFns.ts
  tests/jointFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(assembly): non-plane coincident and distance mates
  CLAUDE.md
  src/kernel/solverAdapter.ts
  tests/mateFns.test.ts
Due: eslint --fix, prettier --write

feat(kinematics): inverse kinematics and joint trajectories
  docs/function-lookup.md
  src/index.ts
  src/operations.ts
  src/operations/ikFns.ts
  tests/ikFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

refactor(kinematics): address review feedback on joints and mates
  src/kernel/solverAdapter.ts
  src/operations/jointFns.ts
  tests/jointFns.test.ts
  tests/mateFns.test.ts
Due: eslint --fix, prettier --write

feat(kinematics): import/export URDF and Denavit-Hartenberg
  docs/function-lookup.md
  src/index.ts
  src/operations.ts
  src/operations/dhFns.ts
  src/operations/jointFns.ts
  src/operations/urdfFns.ts
  tests/dhFns.test.ts
  tests/public-api-types.test.ts
  tests/urdfFns.test.ts
Due: eslint --fix, prettier --write

fix(kinematics): bound-aware IK Jacobian probe
  src/operations/ikFns.ts
  tests/ikFns.test.ts
Due: eslint --fix, prettier --write

refactor(urdf): error on unknown joint type, zero prismatic origin
  src/operations/urdfFns.ts
  tests/urdfFns.test.ts
Due: eslint --fix, prettier --write

chore: bump total JS size limit to 325 kB for kinematics interchange
  .size-limit.json
Due: none

chore(vercel): skip preview deploys for brepjs-verify release branches
  vercel.json
Due: none

fix(verify): reap the whole sandbox process tree on timeout
  packages/brepjs-verify/src/sandbox/runProgram.ts
  packages/brepjs-verify/tests/runProgram.test.ts
Due: none

fix(docs): quote home-page feature detail with a colon
  apps/docs/index.md
Due: prettier --write

fix(verify): reap in-flight sandbox runs when the host process stops
  packages/brepjs-verify/src/mcp/server.ts
  packages/brepjs-verify/src/sandbox/runProgram.ts
  packages/brepjs-verify/tests/fixtures/sandboxHost.ts
  packages/brepjs-verify/tests/runProgram.test.ts
Due: none

test(1126): correct kernel attribution in STEP-trap regression comment
  tests/stepExportDegenerate.test.ts
Due: eslint --fix, prettier --write

fix(occt-wasm): build 3D curves on helix wires so they can be swept
  src/kernel/occtWasm/constructionOps.ts
  tests/sweepFns.test.ts
Due: eslint --fix, prettier --write

test(1126): lock in the staircase repro round-tripping to STEP on occt-wasm
  tests/stepExportDegenerate.test.ts
Due: eslint --fix, prettier --write

fix(occt): don't coerce an open pipe shell into an invalid solid
  src/kernel/occt/sweepOps.ts
  tests/sweepFns.test.ts
Due: eslint --fix, prettier --write

fix(occt): delete the rejected solid in simplePipe to avoid a WASM leak
  src/kernel/occt/sweepOps.ts
Due: eslint --fix, prettier --write

fix(measurement): measureVolume returns 0 for non-solid shapes
  src/measurement/measureFns.ts
  tests/measureFns.test.ts
Due: eslint --fix, prettier --write

test(1361): use toBeCloseTo for the zero-volume assertion
  tests/measureFns.test.ts
Due: eslint --fix, prettier --write

test(manifold): gate analytic measurement tests as mesh-kernel divergences
  tests/helpers/kernelDivergences.ts
  tests/measureFns.test.ts
  tests/measurement.test.ts
Due: eslint --fix, prettier --write

fix(sketching): build holed twist/profile extrusions by boolean subtraction
  src/sketching/sketchFns.ts
  tests/sketchFns.test.ts
Due: eslint --fix, prettier --write

fix(sketching): dispose holedSweptSolid intermediates, narrow generator type
  src/sketching/sketchFns.ts
Due: eslint --fix, prettier --write

chore(deps): unblock the minor/patch group bump
  knip.config.ts
  package-lock.json
Due: prettier --write

chore(deps): bump brepkit-wasm to 2.103.1
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

chore(deps): bump brepkit-wasm 2.101.3 to 2.104.1
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

fix(kernel): close brepkit getSolids/getShells topology gaps
  src/kernel/brepkit/topologyOps.ts
Due: eslint --fix, prettier --write

fix(2d): make stretch2D directional affinity consistent across kernels
  src/2d/curves.ts
  src/kernel/occtWasm/kernel2dOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/blueprintFns.test.ts
Due: eslint --fix, prettier --write

perf(brepkit): use binary grouped tessellation, avoiding JSON marshaling
  src/kernel/brepkit/brepkitWasmTypes.ts
  src/kernel/brepkit/meshOps.ts
Due: eslint --fix, prettier --write

chore(brepkit): register binary tessellation in type-sync + annotate forward decls
  scripts/sync-brepkit-types.ts
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

chore(deps): bump brepkit-wasm 2.104.1 → 2.105.0 + re-sync types
  package-lock.json
  package.json
  scripts/sync-brepkit-types.ts
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

refactor(verify): address review — output-cap early-out, stderr byte cap, poll in test
  packages/brepjs-verify/src/sandbox/runProgram.ts
  packages/brepjs-verify/tests/runProgram.test.ts
Due: none

chore(deps): bump brepkit-wasm to 2.111.1
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
  tests/helpers/kernelDivergences.ts
  tests/kernelCall.test.ts
Due: eslint --fix, prettier --write

feat(kernel): wire brepkit projectEdges to native HLR
  src/kernel/brepkit/brepkitWasmTypes.ts
  src/kernel/brepkit/geometryOps.ts
  tests/helpers/kernelDivergences.ts
  tests/projection.test.ts
Due: eslint --fix, prettier --write

chore(kernel): document occt-wasm NURBS curve-editing gap
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

fix(security): bump esbuild to 0.28.1 outside the vite6/vitepress path
  package-lock.json
  package.json
Due: none

refactor(kernel): guard projectEdges JSON.parse; clarify index narrowing
  src/kernel/brepkit/geometryOps.ts
Due: eslint --fix, prettier --write

ci: auto-merge and auto-publish brepjs-verify release PRs
  .github/workflows/release-please.yml
Due: none

ci: address review — dispatch publish on release tag, fix stale step name
  .github/workflows/release-please.yml
Due: none

ci: auto-publish brepjs-viewer on release
  .github/workflows/release-please.yml
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
