Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add healing ops, point-in-face, and splitter to kernel
  src/index.ts
  src/kernel/booleanOps.ts
  src/kernel/healingOps.ts
  src/kernel/measureOps.ts
  src/kernel/occtAdapter.ts
  src/kernel/types.ts
  src/topology/booleanFns.ts
  src/topology/faceFns.ts
  src/topology/healingFns.ts
  tests/fn-kernelExpansion.test.ts
Due: eslint --fix, prettier --write

feat: improve error handling and add deprecation tags
  src/measurement/interferenceFns.ts
  src/measurement/measureShape.ts
  src/projection/cameraFns.ts
  src/topology/pipeFns.ts
  src/topology/shapes.ts
  tests/fn-cameraFns.test.ts
  tests/fn-interferenceFns.test.ts
Due: eslint --fix, prettier --write

feat: improve error handling and add deprecation tags (#98)
  src/measurement/interferenceFns.ts
  src/measurement/measureShape.ts
  src/projection/cameraFns.ts
  src/topology/pipeFns.ts
  src/topology/shapes.ts
  tests/fn-cameraFns.test.ts
  tests/fn-interferenceFns.test.ts
Due: eslint --fix, prettier --write

feat: promote isValid, sew, offsetWire2D, distance into kernel
  src/kernel/index.ts
  src/kernel/measureOps.ts
  src/kernel/modifierOps.ts
  src/kernel/occtAdapter.ts
  src/kernel/topologyOps.ts
  src/kernel/types.ts
  src/measurement/interferenceFns.ts
  src/measurement/measureFns.ts
  src/topology/curveFns.ts
  src/topology/healingFns.ts
  src/topology/shapeHelpers.ts
Due: eslint --fix, prettier --write

feat: promote isValid, sew, offsetWire2D, distance into kernel (#94)
  src/kernel/index.ts
  src/kernel/measureOps.ts
  src/kernel/modifierOps.ts
  src/kernel/occtAdapter.ts
  src/kernel/topologyOps.ts
  src/kernel/types.ts
  src/measurement/interferenceFns.ts
  src/measurement/measureFns.ts
  src/topology/curveFns.ts
  src/topology/healingFns.ts
  src/topology/shapeHelpers.ts
Due: eslint --fix, prettier --write

feat: add healing ops, point-in-face, and splitter to kernel (#103)
  src/index.ts
  src/kernel/booleanOps.ts
  src/kernel/healingOps.ts
  src/kernel/measureOps.ts
  src/kernel/occtAdapter.ts
  src/kernel/types.ts
  src/topology/booleanFns.ts
  src/topology/faceFns.ts
  src/topology/healingFns.ts
  tests/fn-kernelExpansion.test.ts
Due: eslint --fix, prettier --write

feat: add slicing, measurement aliases, topo caching, AbortSignal
  src/index.ts
  src/measurement/measureFns.ts
  src/topology/booleanFns.ts
  src/topology/shapeFns.ts
  tests/fn-functionalApi.test.ts
Due: eslint --fix, prettier --write

feat: add slicing, measurement aliases, topo caching, AbortSignal (#96)
  src/index.ts
  src/measurement/measureFns.ts
  src/topology/booleanFns.ts
  src/topology/shapeFns.ts
  tests/fn-functionalApi.test.ts
Due: eslint --fix, prettier --write

feat: add vertex finder and topology query functions
  src/index.ts
  src/query/finderFns.ts
  src/topology/shapeFns.ts
  tests/fn-vertexFinder.test.ts
Due: eslint --fix, prettier --write

feat: add vertex finder and topology query functions (#97)
  src/index.ts
  src/query/finderFns.ts
  src/topology/shapeFns.ts
  tests/fn-vertexFinder.test.ts
Due: eslint --fix, prettier --write

feat: add glTF PBR materials and DXF export
  src/index.ts
  src/io/dxfExportFns.ts
  src/io/gltfExportFns.ts
  tests/fn-dxfExport.test.ts
  tests/fn-gltfExport.test.ts
Due: eslint --fix, prettier --write

feat: add glTF PBR materials and DXF export (#99)
  src/index.ts
  src/io/dxfExportFns.ts
  src/io/gltfExportFns.ts
  tests/fn-dxfExport.test.ts
  tests/fn-gltfExport.test.ts
Due: eslint --fix, prettier --write

feat: add auto-healing pipeline and surface curvature measurement
  src/index.ts
  src/kernel/measureOps.ts
  src/measurement/measureFns.ts
  src/topology/healingFns.ts
  tests/fn-autoHeal.test.ts
  tests/fn-curvature.test.ts
Due: eslint --fix, prettier --write

feat: add auto-healing pipeline and surface curvature (#100)
  src/index.ts
  src/kernel/measureOps.ts
  src/measurement/measureFns.ts
  src/topology/healingFns.ts
  tests/fn-autoHeal.test.ts
  tests/fn-curvature.test.ts
Due: eslint --fix, prettier --write

feat: add quick wins phase 2 — foundation, API, kernel, infra, I/O, and advanced features
  src/core/kernelCall.ts
  src/core/result.ts
  src/index.ts
  src/io/svgImportFns.ts
  src/io/threemfExportFns.ts
  src/kernel/curveOps.ts
  src/kernel/modifierOps.ts
  src/kernel/occtAdapter.ts
  src/kernel/types.ts
  src/operations/assemblyFns.ts
  src/operations/historyFns.ts
  src/topology/curveFns.ts
  src/topology/faceFns.ts
  src/topology/healingFns.ts
  src/topology/meshCache.ts
  src/topology/modifierFns.ts
  src/topology/shapeFns.ts
  src/topology/threeHelpers.ts
  src/worker/index.ts
  src/worker/workerClient.ts
  src/worker/workerHandler.ts
  tests/fn-autoHeal.test.ts
  tests/fn-bsplineFns.test.ts
  tests/fn-historyReplay.test.ts
  tests/fn-kernelCall.test.ts
  tests/fn-svgImport.test.ts
  tests/fn-threemfExport.test.ts
  tests/fn-workerClient.test.ts
  tests/kernel-ops.test.ts
Due: eslint --fix, prettier --write

fix: address PR review — memory leak in curveOps and type safety in 3MF export
  src/io/threemfExportFns.ts
  src/kernel/curveOps.ts
Due: eslint --fix, prettier --write

feat: add quick wins — kernelCall, pipeline, BSpline curves, 3MF export, SVG import, and more (#108)
  src/core/kernelCall.ts
  src/core/result.ts
  src/index.ts
  src/io/svgImportFns.ts
  src/io/threemfExportFns.ts
  src/kernel/curveOps.ts
  src/kernel/modifierOps.ts
  src/kernel/occtAdapter.ts
  src/kernel/types.ts
  src/operations/assemblyFns.ts
  src/operations/historyFns.ts
  src/topology/curveFns.ts
  src/topology/faceFns.ts
  src/topology/healingFns.ts
  src/topology/meshCache.ts
  src/topology/modifierFns.ts
  src/topology/shapeFns.ts
  src/topology/threeHelpers.ts
  src/worker/index.ts
  src/worker/workerClient.ts
  src/worker/workerHandler.ts
  tests/fn-autoHeal.test.ts
  tests/fn-bsplineFns.test.ts
  tests/fn-historyReplay.test.ts
  tests/fn-kernelCall.test.ts
  tests/fn-svgImport.test.ts
  tests/fn-threemfExport.test.ts
  tests/fn-workerClient.test.ts
  tests/kernel-ops.test.ts
Due: eslint --fix, prettier --write

docs: comprehensive llms.txt audit — fix API signatures, move semantics, and examples
  llms.txt
Due: none

fix: correct HistoryOperationRegistry type name in llms.txt
  llms.txt
Due: none

fix: address ReDoS vulnerabilities in SVG import regexes
  src/io/svgImportFns.ts
Due: eslint --fix, prettier --write

feat: quick wins phase 2 + comprehensive llms.txt rewrite (#111)
  CHANGELOG.md
  llms.txt
  src/io/svgImportFns.ts
Due: eslint --fix, prettier --write

test: add public API type coverage tests
  tests/public-api-types.test.ts
Due: prettier --write

test: add public API type coverage tests (#113)
  tests/public-api-types.test.ts
Due: prettier --write

feat(site): rewrite landing page copy, spiral staircase hero, responsive layout
  site/public/hero-mesh.json
  site/scripts/precompute-hero-mesh.ts
  site/src/components/landing/CodeDisplay.tsx
  site/src/components/landing/ExamplesPreview.tsx
  site/src/components/landing/FeaturesSection.tsx
  site/src/components/landing/HeroSection.tsx
  site/src/components/landing/HeroViewer.tsx
  site/src/components/landing/InstallSection.tsx
  site/src/components/landing/LandingPage.tsx
  site/src/lib/constants.ts
  site/src/styles/globals.css
Due: none

chore(site): remove npm link from header
  site/src/components/layout/Header.tsx
Due: none

fix(site): scope COEP headers to playground and wasm routes only
  site/vercel.json
Due: none

refactor(site): replace examples dropdown with playground title
  site/src/components/playground/PlaygroundPage.tsx
  site/src/components/playground/Toolbar.tsx
Due: none

feat(site): ball endcaps, taller previews, side camera, precomputed playground mesh
  site/public/hero-mesh.json
  site/scripts/precompute-hero-mesh.ts
  site/src/components/landing/CodeDisplay.tsx
  site/src/components/landing/HeroSection.tsx
  site/src/components/landing/HeroViewer.tsx
  site/src/components/playground/EditorPanel.tsx
  site/src/components/playground/PlaygroundPage.tsx
  site/src/lib/constants.ts
  site/src/lib/monacoSetup.ts
  site/src/types/brepjs-ambient.d.ts
Due: none

fix: add CodeQL workflow excluding playground worker from code-injection scan
  .github/workflows/codeql.yml
  site/src/workers/cad.worker.ts
Due: none

feat(site): add CSP headers and shared-link review confirmation
  site/src/components/playground/PlaygroundPage.tsx
  site/src/hooks/useCodeExecution.ts
  site/src/hooks/useUrlState.ts
  site/src/stores/playgroundStore.ts
  site/vercel.json
  site/vite.config.ts
Due: prettier --write

chore: gitignore Claude Code memory directory
  .gitignore
  memory/MEMORY.md
Due: prettier --write

revert: remove custom CodeQL workflow, conflicts with default setup
  .github/workflows/codeql.yml
Due: none

chore: gitignore Claude Code memory directory (#114)
  .gitignore
  memory/MEMORY.md
Due: prettier --write

chore: remove completed improvement sprint plan
  docs/plans/2026-02-03-improvements-design.md
Due: prettier --write

chore: remove completed improvement sprint plan (#115)
  docs/plans/2026-02-03-improvements-design.md
Due: prettier --write

docs: fix inaccuracies across all docs/ files
  docs/architecture.md
  docs/compatibility.md
  docs/errors.md
  docs/memory-management.md
  docs/performance.md
Due: prettier --write

docs: fix inaccuracies across all docs/ files (#117)
  docs/architecture.md
  docs/compatibility.md
  docs/errors.md
  docs/memory-management.md
  docs/performance.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
