Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat(families): beam mapping and the profile bridge for columns and beams
  apps/docs/families/for-bim-professionals.md
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-families/registry/families/beam.ts
  packages/brepjs-families/registry/families/column.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/tests/registry.test.ts
Due: prettier --write

feat(families): beam mapping and the profile bridge for columns and beams (#2125)
  apps/docs/families/for-bim-professionals.md
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-families/registry/families/beam.ts
  packages/brepjs-families/registry/families/column.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/tests/registry.test.ts
Due: prettier --write

feat(families): roof mapping with shaped geometry, profile-bridge hardening
  apps/docs/families/for-bim-professionals.md
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-families/registry/families/beam.ts
  packages/brepjs-families/registry/families/column.ts
  packages/brepjs-families/registry/families/roof.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/tests/registry.test.ts
Due: prettier --write

chore(bim): enforce coverage thresholds floored at measured
  .github/workflows/ci.yml
  packages/brepjs-bim/package.json
  packages/brepjs-bim/vitest.config.ts
Due: prettier --write

docs(families): add a package readme
  packages/brepjs-families/README.md
Due: prettier --write

feat(families): roof mapping with shaped geometry, profile-bridge hardening (#2129)
  apps/docs/families/for-bim-professionals.md
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-families/registry/families/beam.ts
  packages/brepjs-families/registry/families/column.ts
  packages/brepjs-families/registry/families/roof.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/tests/registry.test.ts
Due: prettier --write

docs(bim): add the bim docs-site section
  apps/docs/.vitepress/config.ts
  apps/docs/bim/elements.md
  apps/docs/bim/ifc.md
  apps/docs/bim/interop.md
  apps/docs/bim/overview.md
  apps/docs/bim/validation.md
Due: prettier --write

chore(bim): enforce coverage thresholds floored at measured (#2130)
  .github/workflows/ci.yml
  packages/brepjs-bim/package.json
  packages/brepjs-bim/vitest.config.ts
Due: prettier --write

docs(families): describe the registry's copy-in distribution accurately
  packages/brepjs-families/README.md
Due: prettier --write

feat(families): stair mapping with per-flight placement and honest assembly ids
  apps/docs/families/for-bim-professionals.md
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/ifc-writer/stairWriter.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-bim/tests/rampFns.test.ts
  packages/brepjs-bim/tests/stairFns.test.ts
  packages/brepjs-families/registry/families/stair.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/tests/registry.test.ts
Due: prettier --write

docs(bim): correct every snippet against the real API signatures
  apps/docs/bim/elements.md
  apps/docs/bim/ifc.md
  apps/docs/bim/interop.md
  apps/docs/bim/overview.md
  apps/docs/bim/validation.md
Due: prettier --write

docs(families): add a package readme (#2131)
  packages/brepjs-families/README.md
Due: prettier --write

docs(bim): fix the last two api mismatches (schema list, geometry checker input)
  apps/docs/bim/ifc.md
  apps/docs/bim/validation.md
Due: prettier --write

fix(families): flights inherit the stair material unless they set their own
  packages/brepjs-families/registry/families/stair.ts
Due: none

feat(bim): interop fixture, external-tool checklist, closed tessellation fix
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-bim/examples/interop-fixture.ifc
  packages/brepjs-bim/examples/interopFixture.mjs
  packages/brepjs-bim/src/ifc-writer/tessellationWriter.ts
  packages/brepjs-bim/tests/stairFns.test.ts
Due: prettier --write

docs(bim): add the bim docs-site section (#2135)
  apps/docs/.vitepress/config.ts
  apps/docs/bim/elements.md
  apps/docs/bim/ifc.md
  apps/docs/bim/interop.md
  apps/docs/bim/overview.md
  apps/docs/bim/validation.md
Due: prettier --write

feat(families): stair mapping with per-flight placement and honest assembly ids (#2136)
  apps/docs/families/for-bim-professionals.md
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/ifc-writer/stairWriter.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-bim/tests/rampFns.test.ts
  packages/brepjs-bim/tests/stairFns.test.ts
  packages/brepjs-families/registry/families/stair.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/tests/registry.test.ts
Due: prettier --write

feat(bim): accept stable identity keys on every element-minting method
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/bimModel.test.ts
Due: none

feat(bim): interop fixture, external-tool checklist, closed tessellation fix (#2137)
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-bim/examples/interop-fixture.ifc
  packages/brepjs-bim/examples/interopFixture.mjs
  packages/brepjs-bim/src/ifc-writer/tessellationWriter.ts
  packages/brepjs-bim/tests/stairFns.test.ts
Due: prettier --write

docs: correct stale readme facts ahead of the graduation flip
  packages/brepjs-bim/README.md
  packages/brepjs-families/README.md
Due: prettier --write

fix(bim): re-anchor test lint disable and regenerate ambient types
  apps/playground/src/types/brepjs-ambient.d.ts
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  apps/playground/src/types/brepjs-sheetmetal-ambient.d.ts
  packages/brepjs-bim/tests/bimModel.test.ts
Due: none

docs: correct stale readme facts ahead of the graduation flip (#2141)
  packages/brepjs-bim/README.md
  packages/brepjs-families/README.md
Due: prettier --write

feat(bim): accept stable identity keys on every element-minting method (#2140)
  apps/playground/src/types/brepjs-ambient.d.ts
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  apps/playground/src/types/brepjs-sheetmetal-ambient.d.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/tests/bimModel.test.ts
Due: none

fix(bim): normalize bare scientific reals to valid step tokens
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-bim/examples/interop-fixture.ifc
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/examples/sample-building.ifc
  packages/brepjs-bim/src/ifc-writer/ifcWriter.ts
  packages/brepjs-bim/tests/ifcWriterHeader.test.ts
Due: prettier --write

fix(bim): normalize bare scientific reals to valid step tokens (#2148)
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-bim/examples/interop-fixture.ifc
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/examples/sample-building.ifc
  packages/brepjs-bim/src/ifc-writer/ifcWriter.ts
  packages/brepjs-bim/tests/ifcWriterHeader.test.ts
Due: prettier --write

fix(bim): keep notdefined in the type-fallback map
  packages/brepjs-bim/src/import/fromIfc.ts
Due: none

chore: reference the buildingsmart ids and gherkin-rules repos in greptile
  .greptile/config.json
Due: none

fix(bim): reject nested-quantifier ids patterns outright
  packages/brepjs-bim/src/ids/idsEngine.ts
Due: none

feat(bim): ids checker passes the full official conformance suite
  .prettierignore
  apps/docs/bim/interop.md
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-bim/eslint.config.js
  packages/brepjs-bim/scripts/generateIdsSchema.py
  packages/brepjs-bim/scripts/idsConformance.ts
  packages/brepjs-bim/src/ids/idsCheck.ts
  packages/brepjs-bim/src/ids/idsEngine.ts
  packages/brepjs-bim/src/ids/idsFacets.ts
  packages/brepjs-bim/src/ids/idsParser.ts
  packages/brepjs-bim/src/ids/idsSchema.generated.ts
  packages/brepjs-bim/src/ids/idsTypes.ts
  packages/brepjs-bim/src/ids/index.ts
  packages/brepjs-bim/src/import/spfReader.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/tests/idsCheck.test.ts
  packages/brepjs-bim/tests/phase5Api.test.ts
Due: prettier --write

chore: drop stale testonly tags now flagged by the pre-push knip gate
  src/2d/lib/definitions.ts
  src/core/kernelBoundary.ts
  src/core/planeOps.ts
  src/core/shapeTypeCache.ts
  src/core/typeDiscriminants.ts
  src/measurement/measureCache.ts
  src/operations/exporters.ts
  src/utils/vec2d.ts
Due: eslint --fix, prettier --write

fix(bim): map bare boolean lexicals, bound untrusted pattern execution
  packages/brepjs-bim/src/ids/idsEngine.ts
Due: none

chore: knip-ignore the bim scripts dir (standalone conformance tools)
  knip.config.ts
Due: prettier --write

fix(bim): gate ids conformance in ci, reject quantified alternation groups
  .github/workflows/ci.yml
  packages/brepjs-bim/src/ids/idsEngine.ts
  packages/brepjs-bim/vitest.config.ts
Due: prettier --write

feat(bim): ids checker passes the full official conformance suite (#2152)
  .github/workflows/ci.yml
  .greptile/config.json
  .prettierignore
  apps/docs/bim/interop.md
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  knip.config.ts
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-bim/eslint.config.js
  packages/brepjs-bim/scripts/generateIdsSchema.py
  packages/brepjs-bim/scripts/idsConformance.ts
  packages/brepjs-bim/src/ids/idsCheck.ts
  packages/brepjs-bim/src/ids/idsEngine.ts
  packages/brepjs-bim/src/ids/idsFacets.ts
  packages/brepjs-bim/src/ids/idsParser.ts
  packages/brepjs-bim/src/ids/idsSchema.generated.ts
  packages/brepjs-bim/src/ids/idsTypes.ts
  packages/brepjs-bim/src/ids/index.ts
  packages/brepjs-bim/src/import/spfReader.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/tests/idsCheck.test.ts
  packages/brepjs-bim/tests/phase5Api.test.ts
  packages/brepjs-bim/vitest.config.ts
  src/2d/lib/definitions.ts
  src/core/kernelBoundary.ts
  src/core/planeOps.ts
  src/core/shapeTypeCache.ts
  src/core/typeDiscriminants.ts
  src/measurement/measureCache.ts
  src/operations/exporters.ts
  src/utils/vec2d.ts
Due: eslint --fix, prettier --write

fix(bim): clear the gherkin-layer findings and gate them locally
  .prettierignore
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-bim/eslint.config.js
  packages/brepjs-bim/examples/interop-fixture.ifc
  packages/brepjs-bim/examples/interopFixture.mjs
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/examples/sample-building.ifc
  packages/brepjs-bim/examples/sampleBuilding.mjs
  packages/brepjs-bim/scripts/generateQtoDefinitions.py
  packages/brepjs-bim/src/ifc-writer/headerWriter.ts
  packages/brepjs-bim/src/ifc-writer/psetWriter.ts
  packages/brepjs-bim/src/ifc-writer/stairWriter.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/src/specs/spatialSpec.ts
  packages/brepjs-bim/src/validation/gherkinChecks.ts
  packages/brepjs-bim/src/validation/qtoDefinitions.generated.ts
  packages/brepjs-bim/tests/gherkinChecks.test.ts
Due: prettier --write

fix(bim): export the ProjectCrs type from the package entry
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/src/index.ts
Due: none
