Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(site): use correct CodeQL inline suppression comment format
  site/src/workers/cad.worker.ts
Due: none

fix(site): use correct CodeQL inline suppression format (#221)
  site/src/workers/cad.worker.ts
Due: none

refactor: split large modules into focused files with barrel re-exports
  src/2d/blueprints/booleanHelpers.ts
  src/2d/blueprints/booleanOperations.ts
  src/2d/blueprints/intersectionSegments.ts
  src/2d/blueprints/segmentAssembly.ts
  src/query/cornerFinder.ts
  src/query/directionUtils.ts
  src/query/edgeFinder.ts
  src/query/faceFinder.ts
  src/query/finderCore.ts
  src/query/finderFns.ts
  src/query/shapeDistanceFilter.ts
  src/query/vertexFinder.ts
  src/query/wireFinder.ts
  src/sketching/Sketcher2d.ts
  src/sketching/ellipseUtils.ts
  src/topology/curveBuilders.ts
  src/topology/shapeHelpers.ts
  src/topology/shapeUtils.ts
  src/topology/solidBuilders.ts
  src/topology/surfaceBuilders.ts
Due: eslint --fix, prettier --write

refactor: split large modules into focused files (#223)
  src/2d/blueprints/booleanHelpers.ts
  src/2d/blueprints/booleanOperations.ts
  src/2d/blueprints/intersectionSegments.ts
  src/2d/blueprints/segmentAssembly.ts
  src/query/cornerFinder.ts
  src/query/directionUtils.ts
  src/query/edgeFinder.ts
  src/query/faceFinder.ts
  src/query/finderCore.ts
  src/query/finderFns.ts
  src/query/shapeDistanceFilter.ts
  src/query/vertexFinder.ts
  src/query/wireFinder.ts
  src/sketching/Sketcher2d.ts
  src/sketching/ellipseUtils.ts
  src/topology/curveBuilders.ts
  src/topology/shapeHelpers.ts
  src/topology/shapeUtils.ts
  src/topology/solidBuilders.ts
  src/topology/surfaceBuilders.ts
Due: eslint --fix, prettier --write

refactor: migrate disposal patterns to gcWithScope for exception safety
  src/core/disposal.ts
  src/sketching/Sketcher.ts
  src/topology/booleanFns.ts
  src/topology/curveBuilders.ts
  src/topology/curveFns.ts
  src/topology/primitiveFns.ts
  src/topology/shapeFns.ts
  src/topology/solidBuilders.ts
Due: eslint --fix, prettier --write

refactor: migrate disposal patterns to gcWithScope (#224)
  src/core/disposal.ts
  src/sketching/Sketcher.ts
  src/topology/booleanFns.ts
  src/topology/curveBuilders.ts
  src/topology/curveFns.ts
  src/topology/primitiveFns.ts
  src/topology/shapeFns.ts
  src/topology/solidBuilders.ts
Due: eslint --fix, prettier --write

perf: add simplePipe, sweep tuning, and .fuseAll() chain API
  src/kernel/occtAdapter.ts
  src/kernel/sweepOps.ts
  src/kernel/types.ts
  src/operations/extrude.ts
  src/operations/extrudeFns.ts
  src/operations/extrudeUtils.ts
  src/topology/wrapperFns.ts
  tests/bench-staircase.test.ts
Due: eslint --fix, prettier --write

perf: add simplePipe, sweep tuning, and .fuseAll() chain API (#225)
  src/kernel/occtAdapter.ts
  src/kernel/sweepOps.ts
  src/kernel/types.ts
  src/operations/extrude.ts
  src/operations/extrudeFns.ts
  src/operations/extrudeUtils.ts
  src/topology/wrapperFns.ts
  tests/bench-staircase.test.ts
Due: eslint --fix, prettier --write

perf: optimize OCCT engine internals
  src/kernel/curveOps.ts
  src/kernel/meshOps.ts
  src/kernel/modifierOps.ts
  src/operations/patternFns.ts
  src/topology/meshFns.ts
Due: eslint --fix, prettier --write

perf: optimize OCCT engine internals (#227)
  src/kernel/curveOps.ts
  src/kernel/meshOps.ts
  src/kernel/modifierOps.ts
  src/operations/patternFns.ts
  src/topology/meshFns.ts
Due: eslint --fix, prettier --write

perf: optimize adjacency queries, distance filter, and rectangular pattern
  src/query/shapeDistanceFilter.ts
  src/topology/adjacencyFns.ts
  src/topology/compoundOpsFns.ts
  tests/compoundOps.test.ts
Due: eslint --fix, prettier --write

perf: optimize adjacency, distance queries, and rectangular pattern (#229)
  src/query/shapeDistanceFilter.ts
  src/topology/adjacencyFns.ts
  src/topology/compoundOpsFns.ts
  tests/compoundOps.test.ts
Due: eslint --fix, prettier --write

feat: add composeTransforms and transformCopy for batch pattern optimization
  src/index.ts
  src/topology/api.ts
  src/topology/shapeFns.ts
  tests/fn-transformCopy.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix: move eslint-disable to correct line for ComposedTransform.trsf
  src/topology/shapeFns.ts
Due: eslint --fix, prettier --write

feat: add composeTransforms and transformCopy API (#231)
  src/index.ts
  src/topology/api.ts
  src/topology/shapeFns.ts
  tests/fn-transformCopy.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix: add EmscriptenModuleConfig to WASM init type declarations
  packages/brepjs-opencascade/src/brepjs_single.d.ts
  packages/brepjs-opencascade/src/brepjs_threaded.d.ts
  packages/brepjs-opencascade/src/brepjs_with_exceptions.d.ts
Due: none

fix: add EmscriptenModuleConfig to WASM init type declarations (#233)
  packages/brepjs-opencascade/src/brepjs_single.d.ts
  packages/brepjs-opencascade/src/brepjs_threaded.d.ts
  packages/brepjs-opencascade/src/brepjs_with_exceptions.d.ts
Due: none

docs: add applyMatrix design doc
  docs/plans/2026-02-15-apply-matrix-design.md
Due: prettier --write

docs: write applyMatrix implementation plan
  docs/plans/2026-02-15-apply-matrix-design.md
Due: prettier --write

chore: add BRepBuilderAPI_GTransform to WASM build configs
  packages/brepjs-opencascade/build-config/custom_build_single.yml
  packages/brepjs-opencascade/build-config/custom_build_threaded.yml
  packages/brepjs-opencascade/build-config/custom_build_with_exceptions.yml
Due: none

feat: add Matrix4x4 and MatrixTransform types
  src/core/types.ts
  src/index.ts
Due: eslint --fix, prettier --write

feat: add generalTransform kernel operation
  src/kernel/occtAdapter.ts
  src/kernel/transformOps.ts
  src/kernel/types.ts
  tests/fn-applyMatrix.test.ts
Due: eslint --fix, prettier --write

feat: implement applyMatrix (4x4 affine transform)
  src/index.ts
  src/kernel/transformOps.ts
  src/topology/api.ts
  src/topology/shapeFns.ts
  src/topology/wrapperFns.ts
  tests/fn-applyMatrix.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat: add setShapeOrigin and getFaceOrigins API
  src/index.ts
  src/topology/shapeFns.ts
  tests/fn-origins.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat: add propagateOrigins helper and wire into fuse
  src/topology/booleanFns.ts
  src/topology/shapeFns.ts
  tests/fn-origins.test.ts
Due: eslint --fix, prettier --write

feat: propagate face origins through cut, intersect, fuseAll, cutAll
  src/topology/booleanFns.ts
  src/topology/shapeFns.ts
  tests/fn-origins.test.ts
Due: eslint --fix, prettier --write

feat: propagate face origins through transforms
  src/topology/shapeFns.ts
  tests/fn-origins.test.ts
Due: eslint --fix, prettier --write

feat: propagate face origins through modifiers
  src/topology/modifierFns.ts
  tests/fn-origins.test.ts
Due: eslint --fix, prettier --write

feat: include face origin in mesh faceGroups output
  src/topology/meshFns.ts
  tests/fn-origins.test.ts
Due: eslint --fix, prettier --write

chore(deps-dev): bump eslint and typescript-eslint for v10 compat
  package-lock.json
  package.json
  src/2d/lib/Curve2D.ts
  src/text/textBlueprints.ts
Due: eslint --fix, prettier --write

feat: add hull and minkowski error codes
  src/core/errors.ts
Due: eslint --fix, prettier --write

feat(hull): add 3D convex hull operation
  src/index.ts
  src/kernel/hullOps.ts
  src/kernel/occtAdapter.ts
  src/kernel/types.ts
  src/topology/hullFns.ts
  tests/fn-hullFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

docs: add hull and minkowski implementation plan
  docs/plans/2026-02-16-hull-minkowski-plan.md
Due: prettier --write

docs: add hull and minkowski design plan
  docs/plans/2026-02-16-hull-minkowski-design.md
Due: prettier --write

feat(minkowski): add Minkowski sum operation
  src/index.ts
  src/kernel/hullOps.ts
  src/kernel/occtAdapter.ts
  src/kernel/types.ts
  src/topology/minkowskiFns.ts
  tests/fn-minkowskiFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

docs: add feature batch design (polyhedron, sweep extensions, face naming, assembly mates)
  docs/plans/2026-02-17-feature-batch-design.md
Due: prettier --write

docs: add feature batch implementation plan
  docs/plans/2026-02-17-feature-batch-plan.md
Due: prettier --write

feat: add error codes for polyhedron, sweep, face tags, assembly
  src/core/errors.ts
Due: eslint --fix, prettier --write

feat(polyhedron): create solids from vertices and face indices
  src/index.ts
  src/kernel/hullOps.ts
  src/kernel/occtAdapter.ts
  src/kernel/types.ts
  src/topology/polyhedronFns.ts
  tests/fn-polyhedronFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
