Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: hosted TypeDoc API reference and function lookup table (API Discoverability 8→10)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  docs/api-reference-intro.md
  docs/api-review.md
  docs/function-lookup.md
  docs/which-api.md
  llms.txt
  package-lock.json
  package.json
  scripts/generate-function-lookup.ts
  typedoc.json
Due: prettier --write

feat: hosted TypeDoc API reference and function lookup table (API Discoverability 8→10) (#157)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  docs/api-reference-intro.md
  docs/api-review.md
  docs/function-lookup.md
  docs/which-api.md
  llms.txt
  package-lock.json
  package.json
  scripts/generate-function-lookup.ts
  typedoc.json
Due: prettier --write

docs: configure Context7 indexing for API documentation (#158)
  context7.json
Due: none

feat: visual output examples and browser viewer (Examples Quality 8→10)
  .gitignore
  docs/api-review.md
  docs/getting-started.md
  examples/2d-to-3d.ts
  examples/README.md
  examples/browser-viewer.ts
  examples/mechanical-part.ts
  examples/threejs-rendering.ts
  llms.txt
Due: prettier --write

feat: visual output examples and browser viewer (Examples Quality 8→10) (#160)
  .gitignore
  docs/api-review.md
  docs/getting-started.md
  examples/2d-to-3d.ts
  examples/README.md
  examples/browser-viewer.ts
  examples/mechanical-part.ts
  examples/threejs-rendering.ts
  llms.txt
Due: prettier --write

feat: brepjs/quick auto-init entry point and learning resources (Learning Curve 6→10)
  docs/api-review.md
  docs/cheat-sheet.md
  docs/concepts.md
  docs/getting-started.md
  docs/which-api.md
  docs/zero-to-shape.md
  examples/2d-to-3d.ts
  examples/README.md
  examples/_setup.ts
  examples/basic-primitives.ts
  examples/browser-viewer.ts
  examples/hello-world.ts
  examples/import-export.ts
  examples/mechanical-part.ts
  examples/parametric-part.ts
  examples/text-engraving.ts
  examples/threejs-rendering.ts
  llms.txt
  package.json
  scripts/build-quick.js
  src/quick.ts
Due: eslint --fix, prettier --write

feat: brepjs/quick auto-init entry point and learning resources (Learning Curve 6→10) (#162)
  docs/api-review.md
  docs/cheat-sheet.md
  docs/concepts.md
  docs/getting-started.md
  docs/which-api.md
  docs/zero-to-shape.md
  examples/2d-to-3d.ts
  examples/README.md
  examples/_setup.ts
  examples/basic-primitives.ts
  examples/browser-viewer.ts
  examples/hello-world.ts
  examples/import-export.ts
  examples/mechanical-part.ts
  examples/parametric-part.ts
  examples/text-engraving.ts
  examples/threejs-rendering.ts
  llms.txt
  package.json
  scripts/build-quick.js
  src/quick.ts
Due: eslint --fix, prettier --write

feat: remove legacy aliases from barrel exports (Naming Consistency 10/10)
  docs/api-review.md
  docs/function-lookup.md
  src/index.ts
  src/topology.ts
  src/topology/booleanFns.ts
  src/topology/index.ts
  src/topology/shapeHelpers.ts
  tests/fn-booleanFns.test.ts
  tests/fn-shapeTypes.test.ts
  tests/public-api-types.test.ts
  tests/shapes.test.ts
Due: eslint --fix, prettier --write

feat: remove legacy aliases from barrel exports (Naming 10/10) (#164)
  docs/api-review.md
  docs/function-lookup.md
  src/index.ts
  src/topology.ts
  src/topology/booleanFns.ts
  src/topology/index.ts
  src/topology/shapeHelpers.ts
  tests/fn-booleanFns.test.ts
  tests/fn-shapeTypes.test.ts
  tests/public-api-types.test.ts
  tests/shapes.test.ts
Due: eslint --fix, prettier --write

feat(site): landing page visual polish and design overhaul
  site/index.html
  site/public/apple-touch-icon.png
  site/public/favicon.ico
  site/public/icon-192x192.png
  site/public/icon-512x512.png
  site/public/logo.svg
  site/public/site.webmanifest
  site/src/components/landing/CTASection.tsx
  site/src/components/landing/CodeDisplay.tsx
  site/src/components/landing/ExamplesPreview.tsx
  site/src/components/landing/FeaturesSection.tsx
  site/src/components/landing/HeroSection.tsx
  site/src/components/landing/HeroViewer.tsx
  site/src/components/landing/InstallSection.tsx
  site/src/components/landing/LandingPage.tsx
  site/src/components/layout/Header.tsx
  site/src/components/playground/ExamplePicker.tsx
  site/src/components/playground/LoadingOverlay.tsx
  site/src/components/playground/Toolbar.tsx
  site/src/components/playground/ViewerToolbar.tsx
  site/src/components/shared/Logo.tsx
  site/src/components/shared/MagneticButton.tsx
  site/src/hooks/useGitHubStars.ts
  site/src/hooks/useInView.ts
  site/src/lib/monacoSetup.ts
  site/src/lib/syntaxHighlight.tsx
  site/src/styles/globals.css
Due: none

feat: split brepjs/core into focused sub-paths (API Organization 9→10)
  docs/api-review.md
  docs/cheat-sheet.md
  docs/function-lookup.md
  package.json
  src/result.ts
  src/vectors.ts
  tests/subpath-result.test.ts
  tests/subpath-vectors.test.ts
  typedoc.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat: split brepjs/core into focused sub-paths (API Organization 9→10) (#166)
  docs/api-review.md
  docs/cheat-sheet.md
  docs/function-lookup.md
  package.json
  src/result.ts
  src/vectors.ts
  tests/subpath-result.test.ts
  tests/subpath-vectors.test.ts
  typedoc.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat: add SVG preview gallery to README (Visual Examples 9→10)
  README.md
  docs/api-review.md
  docs/images/examples/2d-profile.svg
  docs/images/examples/boolean-ops.svg
  docs/images/examples/bracket.svg
  docs/images/examples/hello-world.svg
  docs/images/examples/pipe-fitting.svg
  examples/README.md
  package.json
  scripts/generate-example-previews.ts
Due: prettier --write

feat: add SVG preview gallery to README (Visual Examples 9→10) (#168)
  README.md
  docs/api-review.md
  docs/images/examples/2d-profile.svg
  docs/images/examples/boolean-ops.svg
  docs/images/examples/bracket.svg
  docs/images/examples/hello-world.svg
  docs/images/examples/pipe-fitting.svg
  examples/README.md
  package.json
  scripts/generate-example-previews.ts
Due: prettier --write

fix: address PR review comments from PRs #139–#166
  docs/function-lookup.md
  docs/getting-started.md
  examples/parametric-part.ts
  llms.txt
  site/scripts/generate-ambient-types.ts
  src/io.ts
  src/query/helpers.ts
  src/topology.ts
Due: eslint --fix, prettier --write

fix: address PR review comments from PRs #139–#166 (#170)
  docs/function-lookup.md
  docs/getting-started.md
  examples/parametric-part.ts
  llms.txt
  site/scripts/generate-ambient-types.ts
  src/io.ts
  src/query/helpers.ts
  src/topology.ts
Due: eslint --fix, prettier --write

feat(site): comprehensive site review overhaul
  site/index.html
  site/src/components/landing/CTASection.tsx
  site/src/components/landing/CodeDisplay.tsx
  site/src/components/landing/ExamplesPreview.tsx
  site/src/components/landing/FeaturesSection.tsx
  site/src/components/landing/HeroSection.tsx
  site/src/components/landing/HeroViewer.tsx
  site/src/components/landing/InstallSection.tsx
  site/src/components/landing/LandingPage.tsx
  site/src/components/layout/Header.tsx
  site/src/components/playground/CollapsedConsoleBar.tsx
  site/src/components/playground/EdgeRenderer.tsx
  site/src/components/playground/EditorPanel.tsx
  site/src/components/playground/LoadingOverlay.tsx
  site/src/components/playground/OutputPanel.tsx
  site/src/components/playground/PlaygroundPage.tsx
  site/src/components/playground/ShapeRenderer.tsx
  site/src/components/playground/StatusBar.tsx
  site/src/components/playground/Toolbar.tsx
  site/src/components/playground/ViewerPanel.tsx
  site/src/components/playground/ViewerToolbar.tsx
  site/src/components/shared/Logo.tsx
  site/src/components/shared/MagneticButton.tsx
  site/src/components/shared/ToastContainer.tsx
  site/src/hooks/useCameraPresets.ts
  site/src/hooks/useCodeExecution.ts
  site/src/hooks/useInView.ts
  site/src/hooks/useKeyboardShortcuts.ts
  site/src/hooks/useUrlState.ts
  site/src/lib/constants.ts
  site/src/lib/examples.ts
  site/src/lib/shortcuts.ts
  site/src/lib/syntaxHighlight.tsx
  site/src/lib/urlCodec.ts
  site/src/main.tsx
  site/src/stores/playgroundStore.ts
  site/src/stores/viewerStore.ts
  site/src/styles/globals.css
  site/src/types/brepjs-ambient.d.ts
  site/src/workers/cad.worker.ts
Due: none

test: add test coverage for all 8 playground examples
  tests/fn-examples.test.ts
Due: prettier --write

fix(site): fix broken playground examples and rewrite tests to eval actual code
  site/src/lib/examples.ts
  tests/fn-examples.test.ts
Due: prettier --write

fix(site): revolve vase profile around Y axis instead of Z
  site/src/lib/examples.ts
Due: none

fix(site): fix vase orientation and chamfer seam artifact
  site/src/lib/examples.ts
  site/src/lib/syntaxHighlight.tsx
Due: none

docs: API redesign spec for developer-friendly CAD DSL
  docs/plans/2026-02-07-api-redesign.md
Due: prettier --write

docs: rename wrap/unwrap to shape()/.val in API redesign spec
  docs/plans/2026-02-07-api-redesign.md
Due: prettier --write

docs: address all 10 review holes in API redesign spec
  docs/plans/2026-02-07-api-redesign.md
Due: prettier --write

fix: replace removed API aliases and improve CI portability
  README.md
  benchmarks/boolean.bench.test.ts
  benchmarks/comparison.bench.test.ts
  benchmarks/edge-mesh.bench.test.ts
  benchmarks/meshing.bench.test.ts
  benchmarks/model.bench.test.ts
  benchmarks/topology.bench.test.ts
  knip.config.ts
  site/scripts/precompute-hero-mesh.ts
  site/src/lib/constants.ts
  site/src/lib/syntaxHighlight.tsx
  site/src/types/brepjs-ambient.d.ts
  src/operations/batchBooleans.ts
  src/query/helpers.ts
  src/topology/shapeModifiers.ts
  tests/fn-textBlueprints.test.ts
Due: eslint --fix, prettier --write

fix: replace removed API aliases and improve CI portability (#175)
  README.md
  benchmarks/boolean.bench.test.ts
  benchmarks/comparison.bench.test.ts
  benchmarks/edge-mesh.bench.test.ts
  benchmarks/meshing.bench.test.ts
  benchmarks/model.bench.test.ts
  benchmarks/topology.bench.test.ts
  knip.config.ts
  site/scripts/precompute-hero-mesh.ts
  site/src/lib/constants.ts
  site/src/lib/syntaxHighlight.tsx
  site/src/types/brepjs-ambient.d.ts
  src/operations/batchBooleans.ts
  src/query/helpers.ts
  src/topology/shapeModifiers.ts
  tests/fn-textBlueprints.test.ts
Due: eslint --fix, prettier --write

docs: address gaps, inaccuracies, and naming in API redesign spec
  docs/plans/2026-02-07-api-redesign.md
Due: prettier --write

docs: API redesign spec for developer-friendly CAD DSL (#174)
  docs/plans/2026-02-07-api-redesign.md
Due: prettier --write

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

feat: v5 API redesign — clean functional API, fluent wrapper, compound ops
  src/compat.ts
  src/index.ts
  src/operations/cleanOpsFns.ts
  src/topology/apiTypes.ts
  src/topology/cleanApi.ts
  src/topology/compoundOpsFns.ts
  src/topology/primitiveFns.ts
  src/topology/wrapperFns.ts
  tests/public-api-types.test.ts
  tests/v5-cleanApi.test.ts
  tests/v5-compoundOps.test.ts
  tests/v5-wrapperFns.test.ts
Due: eslint --fix, prettier --write

fix: address PR review — layer violations, normalAt bug, type safety
  src/index.ts
  src/topology/apiTypes.ts
  src/topology/compoundOpsFns.ts
  src/topology/wrapperFns.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: v5 API redesign — clean functional API, fluent wrapper, compound ops (#176)
  .gitignore
  src/compat.ts
  src/index.ts
  src/operations/cleanOpsFns.ts
  src/topology/apiTypes.ts
  src/topology/cleanApi.ts
  src/topology/compoundOpsFns.ts
  src/topology/primitiveFns.ts
  src/topology/wrapperFns.ts
  tests/public-api-types.test.ts
  tests/v5-cleanApi.test.ts
  tests/v5-compoundOps.test.ts
  tests/v5-wrapperFns.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat(site): update playground examples to v5 API
  site/scripts/precompute-hero-mesh.ts
  site/scripts/test-examples.ts
  site/src/lib/constants.ts
  site/src/lib/examples.ts
  site/src/workers/cad.worker.ts
Due: none

feat(site): update playground examples to v5 API (#177)
  site/scripts/precompute-hero-mesh.ts
  site/scripts/test-examples.ts
  site/src/lib/constants.ts
  site/src/lib/examples.ts
  site/src/workers/cad.worker.ts
Due: none

fix(site): pin brepjs >=4.29.0 for v5 API
  package-lock.json
  site/package.json
Due: none

fix(site): regenerate Monaco types with v5 API
  site/scripts/generate-ambient-types.ts
  site/src/types/brepjs-ambient.d.ts
Due: none

feat!: remove all deprecated APIs
  docs/api-review.md
  docs/function-lookup.md
  llms.txt
  src/2d/blueprints/customCorners.ts
  src/compat.ts
  src/core/README.md
  src/core/geometryHelpers.ts
  src/index.ts
  src/operations/README.md
  src/operations/batchBooleans.ts
  src/query.ts
  src/query/README.md
  src/query/cornerFinder.ts
  src/query/definitions.ts
  src/query/edgeFinder.ts
  src/query/faceFinder.ts
  src/query/finderFns.ts
  src/query/generic3dfinder.ts
  src/query/helpers.ts
  src/query/index.ts
  src/topology/README.md
  src/topology/index.ts
  src/topology/shapeBooleans.ts
  src/topology/shapeModifiers.ts
  tests/cornerFinder.test.ts
  tests/edgeFinder.test.ts
  tests/faceFinder.test.ts
  tests/helpers.test.ts
  tests/operations-batch.test.ts
  tests/operations.test.ts
  tests/public-api-types.test.ts
  tests/query.test.ts
  tests/topology.test.ts
Due: eslint --fix, prettier --write

docs: fix query README reference to deleted index.ts
  src/query/README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
