Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

refactor(kernel): deduplicate brepkit adapter evolution + review fixes
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

fix(kernel): address PR review — typed array interop + loft handle leak
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

fix(brepkit): revolve angle conversion, wire params, distance, loft options
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

fix(brepkit): sew returns shell, solidFromShell accepts solid, offset uses thicken
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

fix: adapter fixes for compound, sew, face wires, and edge-to-wire conversion
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

fix: implement intersectCurves2d and improve projectPointOnCurve2d
  src/kernel/brepkit2d.ts
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

fix: handle compound tools in booleanWithHistory, fix sew solid/shell ID
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

fix: shell face re-resolution and kernel-conditional sphere test
  src/kernel/brepkitAdapter.ts
  tests/faceFinder.test.ts
Due: eslint --fix, prettier --write

fix: drill tight cylinder, remove debug logs, adapter cleanup
  src/io/threemfImportFns.ts
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
  src/measurement/measureFns.ts
  src/topology/compoundOpsFns.ts
Due: eslint --fix, prettier --write

fix: evolution tracking with geometric face matching fallback
  src/kernel/brepkitAdapter.ts
  src/topology/shapeFns.ts
Due: eslint --fix, prettier --write

fix: 2D offset tolerance for translated geometry, skip double fillet
  src/2d/blueprints/offset.ts
  tests/fn-kernelCall.test.ts
Due: eslint --fix, prettier --write

fix: improve evolution chaining and geometric face matching in brepkit adapter
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

chore: gitignore brepkit WASM artifacts and ad-hoc test scripts
  .gitignore
Due: none

fix: clean up synthetic compound entries on handle delete
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

ci: harden workflows with SHA pins, retries, timeouts, and DRY setup
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/docs.yml
  .github/workflows/publish-opencascade.yml
  .github/workflows/release-please.yml
  scripts/setup-branch-protection.sh
Due: none

fix(ci): address PR review feedback
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/docs.yml
  scripts/setup-branch-protection.sh
Due: none

chore(ci): remove branch protection script
  scripts/setup-branch-protection.sh
Due: none

fix: lower line coverage threshold to 84% to match actual coverage
  vitest.config.ts
Due: prettier --write

fix: address unreviewed PR comments from past week
  src/io/svgImportFns.ts
  src/kernel/brepkit2d.ts
  src/kernel/brepkitAdapter.ts
  src/kernel/index.ts
Due: eslint --fix, prettier --write

fix: overhaul benchmark suite and fix fillet/chamfer BindingError
  benchmarks/boolean.bench.test.ts
  benchmarks/comparison.bench.test.ts
  benchmarks/edge-mesh.bench.test.ts
  benchmarks/harness.ts
  benchmarks/kernel-comparison.bench.test.ts
  benchmarks/meshing.bench.test.ts
  benchmarks/model.bench.test.ts
  benchmarks/optimization-targets.bench.test.ts
  benchmarks/regression-885.bench.test.ts
  benchmarks/results/latest.md
  benchmarks/scaling.bench.test.ts
  benchmarks/setup.ts
  benchmarks/staircase.bench.test.ts
  benchmarks/topology.bench.test.ts
  knip.config.ts
  package-lock.json
  package.json
  src/kernel/modifierOps.ts
Due: eslint --fix, prettier --write

fix: revert buildEdgeFaceMap extraction to restore coverage
  src/kernel/modifierOps.ts
Due: eslint --fix, prettier --write

fix: read brepkit-wasm version from devDependencies
  benchmarks/setup.ts
Due: none

fix: correct rotate option name and fillet call signature
  benchmarks/optimization-targets.bench.test.ts
  benchmarks/staircase.bench.test.ts
Due: none

fix: move shape creation inside benchBoth closures
  benchmarks/edge-mesh.bench.test.ts
  benchmarks/meshing.bench.test.ts
  benchmarks/optimization-targets.bench.test.ts
  benchmarks/regression-885.bench.test.ts
Due: none

fix: move remaining shapes inside benchBoth closures
  benchmarks/optimization-targets.bench.test.ts
Due: none

chore: update benchmark results after analytic surface preservation
  benchmarks/results/latest.md
Due: prettier --write

fix: address code review findings for phantom dimension types
  src/2d/blueprints/Blueprints.ts
  src/core/shapeTypes.ts
  src/index.ts
  src/measurement/interferenceFns.ts
  src/operations/exporterFns.ts
  src/operations/exporters.ts
  src/operations/roofFns.ts
  src/query/shapeDistanceFilter.ts
  src/topology/api.ts
  src/topology/booleanFns.ts
  src/topology/curveFns.ts
  src/topology/healingFns.ts
  src/topology/primitiveFns.ts
  src/topology/solidBuilders.ts
  src/topology/wrapperFns.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix: make Face<'3D'> narrowing explicit in thicken wrapper
  src/topology/api.ts
Due: eslint --fix, prettier --write

feat!: topological validity phantom types (ClosedWire, OrientedFace, ManifoldShell, ValidSolid)
  docs/decisions/0001-layered-architecture.md
  docs/decisions/0002-kernel-abstraction.md
  docs/decisions/0003-branded-types.md
  docs/decisions/0004-phantom-dimension-types.md
  docs/decisions/0005-topological-validity-types.md
  docs/decisions/template.md
  docs/function-lookup.md
  src/2d/blueprints/Blueprint.ts
  src/core/shapeTypes.ts
  src/index.ts
  src/operations/api.ts
  src/operations/extrude.ts
  src/operations/extrudeFns.ts
  src/sketching/CompoundSketch.ts
  src/sketching/Sketch.ts
  src/sketching/draw.ts
  src/sketching/sketchFns.ts
  src/topology/adjacencyFns.ts
  src/topology/booleanFns.ts
  src/topology/compoundOpsFns.ts
  src/topology/faceFns.ts
  src/topology/healingFns.ts
  src/topology/primitiveFns.ts
  src/topology/shapeFns.ts
  src/topology/solidBuilders.ts
  src/topology/surfaceBuilders.ts
  src/topology/wrapperFns.ts
  tests/fn-validityTypes.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix: address PR review — WASM leak, healSolid check, getFaces branding
  docs/decisions/0005-topological-validity-types.md
  src/core/shapeTypes.ts
  src/topology/healingFns.ts
  src/topology/shapeFns.ts
Due: eslint --fix, prettier --write

docs: update user-facing guides for v10/v11 accuracy
  docs/api-reference-intro.md
  docs/architecture.md
  docs/cheat-sheet.md
  docs/concepts.md
  docs/errors.md
  docs/getting-started.md
  docs/kernel-swap.md
  docs/performance.md
  docs/which-api.md
Due: prettier --write

docs: update module READMEs for v11 types and brepkit kernel
  src/core/README.md
  src/kernel/README.md
  src/operations/README.md
  src/topology/README.md
Due: prettier --write

docs: update ADR-0005 status and agent docs for v11
  .claude/commands/new-kernel-method.md
  CLAUDE.md
  docs/decisions/0005-topological-validity-types.md
Due: prettier --write

docs: fix stale JSDoc return type annotations
  src/operations/extrude.ts
  src/topology/surfaceFns.ts
Due: eslint --fix, prettier --write

test: add docs-examples.test.ts verifying documentation code examples
  tests/docs-examples.test.ts
Due: eslint --fix, prettier --write

docs: add brepkit as built-in kernel option in kernel-swap guide
  docs/kernel-swap.md
Due: prettier --write

docs: remove OC-specific internals, fix stale references
  docs/architecture.md
  docs/cheat-sheet.md
  docs/codebase-map.md
  docs/errors.md
  docs/zero-to-shape.md
  llms-full.txt
  llms.txt
  src/core/README.md
Due: prettier --write
