Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(occt-wasm): extract sweepOps.ts (stacked)
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/sweepOps.ts
Due: eslint --fix, prettier --write

refactor(occt-wasm): extract ioOps.ts (#930)
  src/kernel/occtWasm/ioOps.ts
  src/kernel/occtWasm/modifierOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/transformOps.ts
Due: eslint --fix, prettier --write

refactor(occt-wasm): extract constructionOps.ts + lint fixes
  src/kernel/occtWasm/constructionOps.ts
  src/kernel/occtWasm/helpers.ts
  src/kernel/occtWasm/ioOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/transformOps.ts
Due: eslint --fix, prettier --write

refactor(occt-wasm): extract kernel2dOps.ts (~ 800 lines)
  src/kernel/occtWasm/kernel2dOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

refactor(occt-wasm): extract evolutionOps.ts (stacked on PR 933)
  src/kernel/occtWasm/evolutionOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

chore(occt-wasm): extract hull helpers and getNurbsCurveData from adapter
  src/kernel/occtWasm/curveOps.ts
  src/kernel/occtWasm/hullOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

chore(occt-wasm): extract distance/surfaceCurvature into measureOps
  src/kernel/occtWasm/measureOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

chore(occt-wasm): extract wrapKernelExceptions and oc shim into adapterShims
  src/kernel/occtWasm/adapterShims.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

refactor(brepkit): replace WASM-index eslint-disable annotations with helpers
  src/kernel/brepkit/geometryOps.ts
  src/kernel/brepkit/kernel2dOps.ts
  src/kernel/brepkit/measureOps.ts
  src/utils/vec3.ts
Due: eslint --fix, prettier --write

refactor(kernel): finish WASM-index eslint-disable cleanup
  src/kernel/brepkit/booleanOps.ts
  src/kernel/brepkit/evolutionOps.ts
  src/kernel/brepkit/helpers.ts
  src/kernel/brepkit/internalOps.ts
  src/kernel/brepkit/ioOps.ts
  src/kernel/brepkit/meshOps.ts
  src/kernel/brepkit/modifierOps.ts
  src/kernel/brepkit/topologyOps.ts
  src/kernel/occt/kernel2dOps.ts
Due: eslint --fix, prettier --write

refactor(kernel,io): replace remaining bounded-index eslint-disables with wasmIndex/vec3At
  src/io/gltfExportFns.ts
  src/io/objExportFns.ts
  src/kernel/brepkit/evolutionOps.ts
  src/kernel/brepkit/modifierOps.ts
  src/kernel/geometry2d.ts
  src/kernel/occt/advancedOps.ts
  src/kernel/occt/booleanOps.ts
  src/kernel/occt/kernel2dOps.ts
  src/kernel/occtWasm/topologyOps.ts
  src/measurement/interferenceFns.ts
Due: eslint --fix, prettier --write

refactor: complete bounded-index eslint-disable cleanup across remaining files
  src/2d/blueprints/blueprintOffset.ts
  src/2d/blueprints/intersectionSegments.ts
  src/2d/blueprints/segmentAssembly.ts
  src/2d/lib/curve2D.ts
  src/2d/lib/customCorners.ts
  src/2d/lib/offset.ts
  src/2d/lib/stitching.ts
  src/2d/lib/svgPath.ts
  src/core/errors.ts
  src/kernel/occt/extendedConstructorOps.ts
  src/kernel/occtWasm/hullOps.ts
  src/operations/compoundOpsFns.ts
  src/topology/minkowskiFns.ts
  src/topology/shapeRef/shapeRefFns.ts
  src/utils/uuid.ts
Due: eslint --fix, prettier --write

chore: bump total bundle size limit from 240kB to 245kB
  .size-limit.json
Due: none

review: address Greptile feedback (uuid + size-limit)
  .size-limit.json
  src/utils/uuid.ts
Due: eslint --fix, prettier --write

fix: restore @emnapi/core and @emnapi/runtime entries to lockfile
  package-lock.json
Due: none

fix(kernel): revert geometry2d hot-path wasmIndex calls (perf regression)
  src/kernel/geometry2d.ts
Due: eslint --fix, prettier --write

feat(api): add text and projection subpath barrels
  package.json
  src/projection.ts
  src/text.ts
  vite.config.ts
Due: eslint --fix, prettier --write

refactor(sketching): replace any return in drawingToSketchOnPlane
  src/sketching/drawFns.ts
Due: eslint --fix, prettier --write

refactor(sketching): consolidate SVG ellipse math into ellipseUtils
  src/sketching/ellipseUtils.ts
  src/sketching/sketcherlib.ts
Due: eslint --fix, prettier --write

refactor(sketching): fold sketchLib + sketchUtils into sketch + sketchFns
  src/index.ts
  src/sketching.ts
  src/sketching/compoundSketch.ts
  src/sketching/draw.ts
  src/sketching/draw3d.ts
  src/sketching/drawFns.ts
  src/sketching/sketch.ts
  src/sketching/sketchFns.ts
  src/sketching/sketchLib.ts
  src/sketching/sketchUtils.ts
  src/text/textBlueprints.ts
Due: eslint --fix, prettier --write

refactor(2d,sketching): extract base sketchers to Layer 2, fix boundary
  scripts/check-layer-boundaries.sh
  src/2d/blueprints/baseSketcher2d.ts
  src/2d/blueprints/blueprintSketcher.ts
  src/2d/blueprints/cannedBlueprints.ts
  src/2d/blueprints/ellipseUtils.ts
  src/2d/blueprints/genericSketcher.ts
  src/index.ts
  src/sketching.ts
  src/sketching/draw.ts
  src/sketching/faceSketcher.ts
  src/sketching/sketcher.ts
  src/text/textBlueprints.ts
  tests/disposable2d.test.ts
  tests/dxfExport.test.ts
  tests/sketcher2d.test.ts
Due: eslint --fix, prettier --write

refactor(text): split textBlueprints into focused modules
  src/index.ts
  src/text.ts
  src/text/fontRegistry.ts
  src/text/sketchText.ts
  src/text/textBlueprints.ts
  src/text/textMetrics.ts
  tests/textBlueprints.test.ts
Due: eslint --fix, prettier --write

refactor(sketching): split draw.ts into drawing/pen/factories
  src/index.ts
  src/sketching.ts
  src/sketching/draw3d.ts
  src/sketching/drawFns.ts
  src/sketching/drawing.ts
  src/sketching/drawingFactories.ts
  src/sketching/drawingPen.ts
  tests/boolean2dRegression.test.ts
  tests/drawFns.test.ts
  tests/sketcher2d.test.ts
Due: eslint --fix, prettier --write

refactor(sketching): tighten Sketches return types + document consumption
  src/sketching/sketch.ts
  src/sketching/sketches.ts
Due: eslint --fix, prettier --write

docs(adr): add ADR-0012 layer 3 audit
  docs/decisions/0012-layer3-audit.md
Due: prettier --write

refactor(sketching): invert OO/Fns for Sketch — functions are canonical
  src/sketching/sketch.ts
  src/sketching/sketchFns.ts
Due: eslint --fix, prettier --write

refactor(sketching): invert OO/Fns for CompoundSketch
  src/sketching/compoundSketch.ts
  src/sketching/sketchFns.ts
Due: eslint --fix, prettier --write

refactor(sketching): tighten Sketch.wire to ClosedWire & PlanarWire
  src/sketching/cannedSketches.ts
  src/sketching/draw3d.ts
  src/sketching/faceSketcher.ts
  src/sketching/sketch.ts
  src/sketching/sketchFns.ts
  src/sketching/sketcher.ts
Due: eslint --fix, prettier --write

docs(adr): update ADR-0012 with F5 + F6 completion
  docs/decisions/0012-layer3-audit.md
Due: prettier --write

fix(sketching): restore runtime exports for Sketcher classes (#959)
  src/index.ts
  tests/apiSketcherExports.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

chore(size-limit): bump total (all JS) limit to 245 kB
  .size-limit.json
Due: none

docs(examples): rewrite mortise-and-tenon and bowl/vase examples to be geometrically real
  apps/docs/tasks/booleans.md
  apps/docs/tasks/lofts-sweeps.md
  apps/playground/src/lib/examples.ts
Due: prettier --write

docs(examples): clarify M&T `gap` comment per Greptile
  apps/docs/tasks/booleans.md
  apps/playground/src/lib/examples.ts
Due: prettier --write

docs(examples): fix `cup` shell snippets to use `atDistance` instead of nonexistent `withZ`
  apps/docs/tasks/lofts-sweeps.md
Due: prettier --write

fix(docs/tests): pre-compile TS and rewrite `export default` so doc snippets actually run
  package-lock.json
  package.json
  scripts/extract-doc-tests.ts
Due: none

fix(docs/tests): switch extractor to opt-in (`<!-- @run-test -->`) and mark verified snippets
  apps/docs/tasks/booleans.md
  apps/docs/tasks/lofts-sweeps.md
  scripts/extract-doc-tests.ts
Due: prettier --write

docs(lofts-sweeps): opt cup shell snippets into the test suite
  apps/docs/tasks/lofts-sweeps.md
Due: prettier --write

fix(deps): restore top-level @emnapi/* lockfile entries dropped by local npm
  package-lock.json
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
