Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(io): add color and material support to 3MF export
  src/index.ts
  src/io.ts
  src/io/threemfExportFns.ts
  tests/fn-threemfImport.test.ts
Due: eslint --fix, prettier --write

chore(docs): regenerate function lookup after ThreeMFMaterial export
  docs/function-lookup.md
Due: prettier --write

feat(io): parse 3MF colorgroup and basematerials on import
  src/io/threemfImportFns.ts
  tests/fn-threemfImport.test.ts
Due: eslint --fix, prettier --write

test(io): add large-model stress and concurrent export safety tests
  package.json
  tests/io-stress.test.ts
  vitest.config.ts
  vitest.stress.config.ts
Due: eslint --fix, prettier --write

fix(io): escape XML special characters in 3MF material and model names
  src/io/threemfExportFns.ts
Due: eslint --fix, prettier --write

refactor(tech-debt): clean up knip configuration
  knip.config.ts
Due: prettier --write

refactor(tech-debt)!: remove deprecated KernelConstructionOps/KernelGeometryOps aliases
  src/index.ts
  src/kernel/index.ts
  src/kernel/interfaces/index.ts
Due: eslint --fix, prettier --write

feat(kernel): add init() convenience function with auto-detection
  src/index.ts
  src/kernel/index.ts
  tests/fn-init.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(2d): add Symbol.dispose to Blueprint, Curve2D, BoundingBox2d
  src/2d/blueprints/Blueprint.ts
  src/2d/lib/BoundingBox2d.ts
  src/2d/lib/Curve2D.ts
  tests/fn-disposable2d.test.ts
Due: eslint --fix, prettier --write

feat(errors): add suggestions to operation failure errors
  src/operations/loftFns.ts
  src/operations/sweepFns.ts
  src/topology/booleanFns.ts
  tests/fn-errorSuggestions.test.ts
Due: eslint --fix, prettier --write

fix(build): add @vite-ignore to dynamic imports in init()
  src/kernel/index.ts
Due: eslint --fix, prettier --write

docs: update READMEs for init(), Symbol.dispose, and error suggestions
  docs/kernel-swap.md
  src/2d/README.md
  src/kernel/README.md
Due: prettier --write

docs: update README, getting-started, cheat-sheet, errors, memory-management
  README.md
  docs/cheat-sheet.md
  docs/errors.md
  docs/getting-started.md
  docs/memory-management.md
Due: prettier --write

refactor(kernel): add typed WASM shim layer, reduce no-explicit-any
  src/2d/blueprints/Blueprints.ts
  src/2d/blueprints/CompoundBlueprint.ts
  src/core/dimensionTypes.ts
  src/core/shapeTypes.ts
  src/core/typeDiscriminants.ts
  src/kernel/advancedOps.ts
  src/kernel/evolutionOps.ts
  src/kernel/extendedConstructorOps.ts
  src/kernel/wasm-types/externals.ts
  src/kernel/wasm-types/index.ts
  src/kernel/wasm-types/occtBuilders.ts
  src/kernel/wasm-types/occtEnums.ts
  src/sketching/draw.ts
  src/sketching/drawFns.ts
  src/text/textBlueprints.ts
Due: eslint --fix, prettier --write

refactor(utils): add safe array access helpers, reduce no-non-null-assertion
  src/2d/blueprints/Blueprint.ts
  src/2d/blueprints/CompoundBlueprint.ts
  src/2d/blueprints/blueprintCustomCorners.ts
  src/2d/blueprints/cannedBlueprints.ts
  src/io/gltfExportFns.ts
  src/operations/compoundOpsFns.ts
  src/query/cornerFinder.ts
  src/query/finderCore.ts
  src/query/vertexFinder.ts
  src/sketching/CompoundSketch.ts
  src/sketching/cannedSketches.ts
  src/topology/booleanFns.ts
  src/utils/arrayAccess.ts
Due: eslint --fix, prettier --write

feat!: remove OO class exports from public API
  src/index.ts
  tests/2d.test.ts
  tests/fn-disposable2d.test.ts
  tests/fn-drawFns.test.ts
  tests/fn-dxfExport.test.ts
  tests/fn-sketchFns.test.ts
  tests/operations-extrude.test.ts
  tests/operations.test.ts
  tests/public-api-types.test.ts
  tests/sketcher2d.test.ts
  tests/sketcher3d.test.ts
Due: eslint --fix, prettier --write

refactor(topology): migrate resize/applyMatrix/straightSkeleton to Result<T,E>
  src/core/errors.ts
  src/operations/roofFns.ts
  src/operations/straightSkeleton.ts
  src/topology/api.ts
  src/topology/transformFns.ts
  src/topology/wrapperFns.ts
  tests/fn-applyMatrix.test.ts
  tests/fn-resize.test.ts
  tests/fn-straightSkeleton.test.ts
Due: eslint --fix, prettier --write

test(deps): add fast-check for property-based testing
  package-lock.json
  package.json
Due: none

test(boolean): add property-based tests for boolean operations
  tests/property/arbitraries.ts
  tests/property/fn-booleanFns.property.test.ts
Due: eslint --fix, prettier --write

chore: remove unused wasm-types exports, regenerate function-lookup
  src/kernel/wasm-types/index.ts
  src/kernel/wasm-types/occtBuilders.ts
  src/kernel/wasm-types/occtEnums.ts
Due: eslint --fix, prettier --write

refactor: simplify array helper, fix OCCT type semantics, clean up docs
  src/kernel/wasm-types/occtBuilders.ts
  src/operations/straightSkeleton.ts
  src/topology/transformFns.ts
  src/utils/arrayAccess.ts
  tests/property/fn-booleanFns.property.test.ts
Due: eslint --fix, prettier --write

fix: address PR review — register error code, restore Number() coercion
  src/core/errors.ts
  src/core/typeDiscriminants.ts
  src/operations/straightSkeleton.ts
Due: eslint --fix, prettier --write

perf: fast topology extraction, prewarm API, and performance benchmarks
  benchmarks/binary-size.bench.test.ts
  benchmarks/bridge-overhead.bench.test.ts
  benchmarks/startup.bench.test.ts
  benchmarks/topology-extraction.bench.test.ts
  src/core/shapeTypes.ts
  src/index.ts
  src/kernel/index.ts
  src/topology/topologyQueryFns.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix: address PR review — prewarm leak guard and benchmark robustness
  benchmarks/binary-size.bench.test.ts
  src/kernel/index.ts
Due: eslint --fix, prettier --write

chore: untrack agent memory files
  .claude/agent-memory-local/engineer/MEMORY.md
  .claude/agent-memory-local/researcher/MEMORY.md
  .claude/agent-memory-local/tester/MEMORY.md
  .gitignore
Due: prettier --write

chore(deps): upgrade all dependencies
  package-lock.json
  package.json
  site/package.json
Due: none

perf: wire finders and adjacency queries into topology cache
  benchmarks/setup.ts
  benchmarks/topology.bench.test.ts
  src/query/finderCore.ts
  src/query/shapeFinders.ts
  src/topology/adjacencyFns.ts
  src/topology/shapeFns.ts
  src/topology/topologyQueryFns.ts
  tests/topologyCaching.test.ts
  vitest.bench.config.ts
Due: eslint --fix, prettier --write

fix: address review feedback on topology cache
  src/query/finderCore.ts
  src/topology/adjacencyFns.ts
  src/topology/topologyQueryFns.ts
Due: eslint --fix, prettier --write

feat: add draft (taper) operation across full stack
  packages/brepjs-opencascade/build-config/custom_build_single.yml
  packages/brepjs-opencascade/build-source/defaults.yml
  src/core/errors.ts
  src/index.ts
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/interfaces/evolutionOps.ts
  src/kernel/interfaces/modifierOps.ts
  src/kernel/occt/defaultAdapter.ts
  src/kernel/occt/historyOps.ts
  src/topology/api.ts
  src/topology/apiTypes.ts
  src/topology/modifierFns.ts
  src/topology/wrapperFns.ts
  tests/brepkitExtended.test.ts
  tests/draftFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix: address PR review — stale face IDs, WASM cleanup, hash fallback
  src/core/errors.ts
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/occt/historyOps.ts
  src/topology/modifierFns.ts
  tests/draftFns.test.ts
Due: eslint --fix, prettier --write

refactor: add AST pattern checker, consolidate ESLint, reduce code smells
  .lintstagedrc.json
  .pattern-baseline.json
  eslint.config.js
  package.json
  scripts/check-patterns.ts
  src/2d/blueprints/blueprintOffset.ts
  src/core/result.ts
  src/io/objImportFns.ts
  src/io/svgImportFns.ts
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/brepkit/constructionOps.ts
  src/kernel/brepkit/helpers.ts
  src/operations/roofFns.ts
  src/operations/straightSkeleton.ts
  src/operations/sweepFns.ts
  src/query/finderCore.ts
  src/sketching/sketcherlib.ts
  src/text/textBlueprints.ts
  src/topology/booleanFns.ts
  src/topology/metadata/faceTagFns.ts
  src/topology/metadata/originTrackingFns.ts
  src/topology/modifierFns.ts
  src/worker/workerClient.ts
Due: eslint --fix, prettier --write

fix: address Greptile review comments on PR #556
  .pattern-baseline.json
  scripts/check-patterns.ts
  src/topology/modifierFns.ts
Due: eslint --fix, prettier --write

chore: simplify pattern checker, update CLAUDE.md, polish helpers
  .pattern-baseline.json
  CLAUDE.md
  eslint.config.js
  scripts/check-patterns.ts
  src/kernel/brepkit/helpers.ts
  src/topology/modifierFns.ts
  src/worker/workerClient.ts
Due: eslint --fix, prettier --write

fix: address second round of Greptile review comments
  .pattern-baseline.json
  scripts/check-patterns.ts
  src/operations/sweepFns.ts
Due: eslint --fix, prettier --write

chore: relicense from AGPL-3.0 to Apache-2.0
  LICENSE
  README.md
  package.json
Due: prettier --write

chore: fix missed AGPL references in landing page and lockfile
  package-lock.json
  site/src/components/landing/LandingPage.tsx
Due: none

refactor(kernel): wire brepkit adapter to existing ops modules
  .pattern-baseline.json
  src/kernel/brepkit/brepkitAdapter.ts
Due: eslint --fix, prettier --write

refactor(kernel): extract brepkit 2D ops into kernel2dOps.ts
  .pattern-baseline.json
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/brepkit/helpers.ts
  src/kernel/brepkit/kernel2dOps.ts
Due: eslint --fix, prettier --write

refactor(kernel): extract sketch ops, fix measureOps import
  .pattern-baseline.json
  src/kernel/brepkit/sketchOps.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
