Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat(verify): add MCP server with run_program tool (stdio)
  package-lock.json
  packages/brepjs-verify/package.json
  packages/brepjs-verify/src/mcp/server.ts
  packages/brepjs-verify/src/mcp/tools.ts
  packages/brepjs-verify/tests/mcpTools.test.ts
  packages/brepjs-verify/vite.config.ts
  packages/brepjs-verify/vitest.config.ts
Due: prettier --write

feat(assembly): rotational mates — concentric + angle (kinematics Phase 1)
  src/index.ts
  src/kernel/brepkit/geometryOps.ts
  src/kernel/interfaces/surfaceOps.ts
  src/kernel/manifold/geometryOps.ts
  src/kernel/occt/geometryQueryOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/surfaceOps.ts
  src/kernel/solverAdapter.ts
  src/operations/mateFns.ts
  src/topology.ts
  src/topology/faceFns.ts
  src/topology/index.ts
  tests/helpers/kernelDivergences.ts
  tests/mateFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(kernel): plug WASM leak in occt getSurfaceAxis (#1296 review)
  src/kernel/occt/geometryQueryOps.ts
Due: eslint --fix, prettier --write

fix(verify): guard run_program timeout and empty code; track pkg version
  packages/brepjs-verify/src/mcp/server.ts
  packages/brepjs-verify/src/mcp/tools.ts
  packages/brepjs-verify/src/sandbox/runProgram.ts
  packages/brepjs-verify/tests/mcpTools.test.ts
  packages/brepjs-verify/tests/runProgram.test.ts
Due: none

feat(assembly): drivable joint primitives (kinematics Phase 2)
  src/index.ts
  src/kernel/solverAdapter.ts
  src/operations/assemblyFns.ts
  src/operations/jointFns.ts
  src/utils/quaternion.ts
  tests/jointFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(assembly): normalize inverted joint range; document prismatic origin (#1302 review)
  src/operations/jointFns.ts
  tests/jointFns.test.ts
Due: eslint --fix, prettier --write

feat(assembly): forward kinematics + mechanism DOF (kinematics Phase 3)
  src/index.ts
  src/operations/jointFns.ts
  src/utils/quaternion.ts
  tests/jointFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

test(assembly): add 6-DOF spatial forward-kinematics cross-check
  tests/jointFns.test.ts
Due: eslint --fix, prettier --write

refactor(assembly): address Phase 3 review (single traversal, dedup, comment)
  src/operations/jointFns.ts
  tests/jointFns.test.ts
Due: eslint --fix, prettier --write

docs(verify): document the MCP server and claude mcp add connection
  packages/brepjs-verify/README.md
Due: prettier --write

docs(verify): clarify MCP server is a local child process; note package-root cwd
  packages/brepjs-verify/README.md
Due: prettier --write

feat(brepjs-verify): auto-open browser on --serve; document MCP server
  README.md
  apps/docs/agent/cli.md
  packages/brepjs-verify/README.md
  packages/brepjs-verify/skill/SKILL.md
  packages/brepjs-verify/src/cli/main.ts
  packages/brepjs-verify/src/cli/openBrowser.ts
  packages/brepjs-verify/tests/openBrowser.test.ts
Due: prettier --write

fix(brepjs-verify): shell-free Windows browser open; tighten flag type (#1308 review)
  packages/brepjs-verify/src/cli/main.ts
  packages/brepjs-verify/src/cli/openBrowser.ts
  packages/brepjs-verify/tests/openBrowser.test.ts
Due: none

docs(verify): align serve/MCP copy with surrounding style
  apps/docs/agent/cli.md
  packages/brepjs-verify/README.md
Due: prettier --write

feat(verify): add JSONL run-record provenance for sandbox runs
  packages/brepjs-verify/src/mcp/tools.ts
  packages/brepjs-verify/src/sandbox/runRecord.ts
  packages/brepjs-verify/tests/runRecord.test.ts
Due: none

fix(verify): warn on run-record append failure instead of silent drop
  packages/brepjs-verify/src/mcp/tools.ts
Due: none

fix(brepkit): implement getSurfaceAxis for cylindrical faces
  src/kernel/brepkit/geometryOps.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

fix(verify): make run-record append fire-and-forget (non-blocking)
  packages/brepjs-verify/src/mcp/tools.ts
Due: none

feat(occt-wasm): derive getSurfaceCylinderData from surface sampling
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/surfaceOps.ts
  tests/curves.test.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

fix(occt-wasm): make cylinder isDirect orientation-independent
  src/kernel/occtWasm/surfaceOps.ts
  tests/curves.test.ts
Due: eslint --fix, prettier --write

feat(verify): add export_part MCP tool and sandbox export
  packages/brepjs-verify/src/mcp/server.ts
  packages/brepjs-verify/src/mcp/tools.ts
  packages/brepjs-verify/src/sandbox/runProgram.ts
  packages/brepjs-verify/tests/exportProgram.test.ts
Due: none

fix(verify): reject empty export formats with a clear error
  packages/brepjs-verify/src/mcp/server.ts
  packages/brepjs-verify/src/sandbox/runProgram.ts
  packages/brepjs-verify/tests/exportProgram.test.ts
Due: none

docs(verify): scrub AI-writing tells from verify docs and skill
  .claude/skills/brepjs-verify/SKILL.md
  .claude/skills/brepjs-verify/references/booleans.md
  .claude/skills/brepjs-verify/references/export.md
  .claude/skills/brepjs-verify/references/getting-started.md
  .claude/skills/brepjs-verify/references/measurement-validation.md
  .claude/skills/brepjs-verify/references/modifiers.md
  .claude/skills/brepjs-verify/references/sketching-2d.md
  apps/docs/agent/cli.md
  apps/docs/agent/eval.md
  apps/docs/agent/examples.md
  apps/docs/agent/overview.md
  apps/docs/agent/the-loop.md
Due: prettier --write

docs(verify): scrub em dashes from packaged brepjs-verify skill copy
  packages/brepjs-verify/skill/SKILL.md
  packages/brepjs-verify/skill/references/booleans.md
  packages/brepjs-verify/skill/references/export.md
  packages/brepjs-verify/skill/references/getting-started.md
  packages/brepjs-verify/skill/references/measurement-validation.md
  packages/brepjs-verify/skill/references/modifiers.md
  packages/brepjs-verify/skill/references/sketching-2d.md
Due: prettier --write

docs(verify): drop stray heading parenthetical in packaged skill copy
  packages/brepjs-verify/skill/SKILL.md
Due: prettier --write

ci: add brepjs-viewer to release-please + OIDC publish workflow
  .github/workflows/publish-brepjs-viewer.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

fix(verify): relax brepjs-viewer devDep to * so workspace links
  package-lock.json
  packages/brepjs-verify/package.json
Due: none

ci(benchmark): tolerate a broken main baseline instead of deadlocking
  .github/workflows/ci.yml
Due: none

docs: add comma before conjunction after parenthetical
  README.md
  apps/docs/concepts/brep-vs-mesh.md
  apps/docs/concepts/tolerance.md
  apps/docs/index.md
  apps/docs/introduction/why-brepjs.md
Due: prettier --write

feat(mates): concentric mates on circular edges
  docs/function-lookup.md
  src/index.ts
  src/operations/mateFns.ts
  src/topology.ts
  src/topology/curveFns.ts
  src/topology/index.ts
  tests/curveFns.test.ts
  tests/mateFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(mates): axis extraction for cones, tori, surfaces of revolution
  src/kernel/brepkit/geometryOps.ts
  src/kernel/occt/geometryQueryOps.ts
  src/kernel/occtWasm/surfaceOps.ts
Due: eslint --fix, prettier --write

test(mates): cover cone axis mates and arc curveAxis
  tests/curveFns.test.ts
  tests/helpers/kernelDivergences.ts
  tests/mateFns.test.ts
Due: eslint --fix, prettier --write

fix(mates): address review on cone/revolution axis
  src/kernel/occt/geometryQueryOps.ts
  src/kernel/occtWasm/surfaceOps.ts
Due: eslint --fix, prettier --write

docs(boolean): document strategy:pairwise as the #1126 STEP-export workaround
  apps/docs/tasks/booleans.md
  src/topology/booleanFns.ts
  tests/stepExportDegenerate.test.ts
Due: eslint --fix, prettier --write

test(io): narrow buildTreadAndRail return to Shape3D
  tests/stepExportDegenerate.test.ts
Due: eslint --fix, prettier --write

feat(operations): add native thread() operation
  src/index.ts
  src/operations.ts
  src/operations/threadFns.ts
  tests/threadFns.test.ts
Due: eslint --fix, prettier --write

docs(skill): maker-breadth references + verified gear/thread examples
  packages/brepjs-verify/skill/SKILL.md
  packages/brepjs-verify/skill/examples/spur-gear.brep.ts
  packages/brepjs-verify/skill/examples/spur-gear.expected.json
  packages/brepjs-verify/skill/examples/threaded-rod.brep.ts
  packages/brepjs-verify/skill/examples/threaded-rod.expected.json
  packages/brepjs-verify/skill/references/assemblies-motion.md
  packages/brepjs-verify/skill/references/design-polish.md
  packages/brepjs-verify/skill/references/fdm-conventions.md
  packages/brepjs-verify/skill/references/gears.md
  packages/brepjs-verify/skill/references/gridfinity.md
  packages/brepjs-verify/skill/references/mechanical-joints.md
  packages/brepjs-verify/skill/references/threads.md
Due: prettier --write

fix(thread): register export, dispose section wires, fix doc
  packages/brepjs-verify/skill/references/threads.md
  src/operations/threadFns.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

chore(deps): reconcile lockfile @emnapi nodes after esbuild bump
  package-lock.json
Due: none
