Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(families): typed JSX intrinsics and a compiled-path gate (#2207)
  apps/docs/.vitepress/config.ts
  apps/docs/families/jsx.md
  packages/brepjs-families/eslint.config.js
  packages/brepjs-families/package.json
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/src/index.ts
  packages/brepjs-families/src/intrinsics.ts
  packages/brepjs-families/src/jsxRuntime.ts
  packages/brepjs-families/tests/familiesJsx.test.tsx
  packages/brepjs-families/tsconfig.jsx.json
  packages/brepjs-families/vitest.config.ts
  vitest.config.ts
Due: prettier --write

feat(bim): proxy escape hatch for unrouted families geometry
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesRegistry.test.ts
Due: none

refactor(playground): iterate the identity axis in the families example
  apps/playground/src/lib/examples/families.ts
Due: none

fix(bim): let proxied elements keep baked openings and compound bodies
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesRegistry.test.ts
Due: none

fix(bim): drop the dead non-solid re-check after narrowing
  packages/brepjs-bim/src/familiesAdapter.ts
Due: none

refactor(playground): iterate the identity axis in the families example (#2213)
  apps/playground/src/lib/examples/families.ts
Due: none

feat(bim): proxy escape hatch for unrouted families geometry (#2212)
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesRegistry.test.ts
Due: none

feat(csg): preserve DAG sharing in toJSON via a $ref defs table
  apps/playground/src/types/brepjs-ambient.d.ts
  src/csg/edit.ts
  src/csg/serialize.ts
  tests/csg/csgChamfer.test.ts
  tests/csg/csgSerializeDag.test.ts
Due: eslint --fix, prettier --write

feat(csg): preserve DAG sharing in toJSON via a $ref defs table (#2216)
  apps/playground/src/types/brepjs-ambient.d.ts
  src/csg/edit.ts
  src/csg/serialize.ts
  tests/csg/csgChamfer.test.ts
  tests/csg/csgSerializeDag.test.ts
Due: eslint --fix, prettier --write

chore(playground): regenerate bim and families ambient types
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  apps/playground/src/types/brepjs-families-ambient.d.ts
Due: none

chore(playground): regenerate bim and families ambient types (#2218)
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  apps/playground/src/types/brepjs-families-ambient.d.ts
Due: none

feat(topology): scale-relative default mesh deflection on the eager path
  apps/playground/src/types/brepjs-ambient.d.ts
  src/csg/evaluate.ts
  src/topology/meshFns.ts
  tests/helpers/kernelDivergences.ts
  tests/meshFns.test.ts
Due: eslint --fix, prettier --write

test(topology): using-dispose owned shapes in the scale-relative mesh tests
  tests/meshFns.test.ts
Due: eslint --fix, prettier --write

feat(topology): scale-relative default mesh deflection on the eager path (#2219)
  apps/playground/src/types/brepjs-ambient.d.ts
  src/csg/evaluate.ts
  src/topology/meshFns.ts
  tests/helpers/kernelDivergences.ts
  tests/meshFns.test.ts
Due: eslint --fix, prettier --write

docs(families): document voids and openings in JSX authoring
  apps/docs/families/jsx.md
  packages/brepjs-families/tests/familiesJsx.test.tsx
Due: prettier --write

chore(config): silence vite config-loader and transformer warnings
  packages/brepjs-bim/vite.config.ts
  packages/brepjs-bim/vitest.config.ts
  packages/brepjs-cad/vite.config.ts
  packages/brepjs-cad/vitest.config.ts
  packages/brepjs-families/vitest.config.ts
  packages/brepjs-sheetmetal/vite.config.ts
  packages/brepjs-sheetmetal/vitest.config.ts
  packages/brepjs-viewer/vite.config.ts
  packages/brepjs-viewer/vitest.config.ts
  packages/brepjs-vscode/webview/vite.config.ts
  vite.config.ts
  vitest.bench.config.ts
  vitest.config.ts
  vitest.stress.config.ts
Due: prettier --write

feat(families): route BIM export on a declared archetype, not the family name
  apps/docs/families/copy-in.md
  apps/docs/families/ifc-export.md
  apps/docs/reference/errors.md
  apps/docs/reference/glossary.md
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  apps/playground/src/types/brepjs-families-ambient.d.ts
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-cad/skills/implement/references/families-bim.md
  packages/brepjs-families/README.md
  packages/brepjs-families/registry/families/beam.ts
  packages/brepjs-families/registry/families/column.ts
  packages/brepjs-families/registry/families/roof.ts
  packages/brepjs-families/registry/families/slab.ts
  packages/brepjs-families/registry/families/stair.ts
  packages/brepjs-families/registry/families/storey.ts
  packages/brepjs-families/registry/families/wall.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
Due: prettier --write

test(families): restore the jsx pragma the root suite needs
  packages/brepjs-families/tests/familiesJsx.test.tsx
Due: none

fix(bim): route wall openings and fills on archetype too
  apps/docs/families/ifc-export.md
  apps/docs/reference/errors.md
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-cad/skills/implement/references/families-bim.md
  packages/brepjs-families/registry/families/door.ts
  packages/brepjs-families/registry/families/window.ts
  packages/brepjs-families/registry/manifest.json
Due: prettier --write

docs(families): document voids in JSX authoring; fix vite config warnings (#2221)
  apps/docs/families/jsx.md
  packages/brepjs-bim/vite.config.ts
  packages/brepjs-bim/vitest.config.ts
  packages/brepjs-cad/vite.config.ts
  packages/brepjs-cad/vitest.config.ts
  packages/brepjs-families/tests/familiesJsx.test.tsx
  packages/brepjs-families/vitest.config.ts
  packages/brepjs-sheetmetal/vite.config.ts
  packages/brepjs-sheetmetal/vitest.config.ts
  packages/brepjs-viewer/vite.config.ts
  packages/brepjs-viewer/vitest.config.ts
  packages/brepjs-vscode/webview/vite.config.ts
  vite.config.ts
  vitest.bench.config.ts
  vitest.config.ts
  vitest.stress.config.ts
Due: prettier --write

feat(families): route BIM export on a declared archetype, not the family name (#2222)
  apps/docs/families/copy-in.md
  apps/docs/families/ifc-export.md
  apps/docs/reference/errors.md
  apps/docs/reference/glossary.md
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  apps/playground/src/types/brepjs-families-ambient.d.ts
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-cad/skills/implement/references/families-bim.md
  packages/brepjs-families/README.md
  packages/brepjs-families/registry/families/beam.ts
  packages/brepjs-families/registry/families/column.ts
  packages/brepjs-families/registry/families/door.ts
  packages/brepjs-families/registry/families/roof.ts
  packages/brepjs-families/registry/families/slab.ts
  packages/brepjs-families/registry/families/stair.ts
  packages/brepjs-families/registry/families/storey.ts
  packages/brepjs-families/registry/families/wall.ts
  packages/brepjs-families/registry/families/window.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/src/element.ts
  packages/brepjs-families/src/resolve.ts
  packages/brepjs-families/tests/families.test.ts
Due: prettier --write

feat(brepjs-cad): transpiling loader for multi-file TS/TSX projects + working watch
  .github/workflows/ci.yml
  packages/brepjs-cad/eslint.config.js
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/cli/watch.ts
  packages/brepjs-cad/src/loader/brepjsResolve.mjs
  packages/brepjs-cad/src/verify/brepjsRuntime.ts
  packages/brepjs-cad/src/verify/runPart.ts
  packages/brepjs-cad/src/verify/typecheck.ts
  packages/brepjs-cad/tests/fixtures/tsxProject/dims.ts
  packages/brepjs-cad/tests/fixtures/tsxProject/main.tsx
  packages/brepjs-cad/tests/fixtures/tsxProject/panel.tsx
  packages/brepjs-cad/tests/fixtures/tsxProject/tsconfig.json
  packages/brepjs-cad/tests/loader.test.ts
  packages/brepjs-cad/tests/watch.test.ts
Due: none

fix(brepjs-cad): serialize watch runs and invalidate jsx config per rerun
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/cli/watch.ts
  packages/brepjs-cad/src/loader/brepjsResolve.mjs
  packages/brepjs-cad/tests/loader.test.ts
  packages/brepjs-cad/tests/watch.test.ts
Due: none

fix(brepjs-cad): root the watch tree at the project, not the entry dir
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/cli/watch.ts
  packages/brepjs-cad/tests/watch.test.ts
Due: none

feat(brepjs-cad): transpiling loader for multi-file TS/TSX projects + working watch (#2228)
  .github/workflows/ci.yml
  packages/brepjs-cad/eslint.config.js
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/cli/watch.ts
  packages/brepjs-cad/src/loader/brepjsResolve.mjs
  packages/brepjs-cad/src/verify/brepjsRuntime.ts
  packages/brepjs-cad/src/verify/runPart.ts
  packages/brepjs-cad/src/verify/typecheck.ts
  packages/brepjs-cad/tests/fixtures/tsxProject/dims.ts
  packages/brepjs-cad/tests/fixtures/tsxProject/main.tsx
  packages/brepjs-cad/tests/fixtures/tsxProject/panel.tsx
  packages/brepjs-cad/tests/fixtures/tsxProject/tsconfig.json
  packages/brepjs-cad/tests/loader.test.ts
  packages/brepjs-cad/tests/watch.test.ts
Due: none

feat(brepjs-cad): brep preview — element-aware model viewer with live watch
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/cli/watch.ts
  packages/brepjs-cad/src/preview/evaluate.ts
  packages/brepjs-cad/src/preview/preview.ts
  packages/brepjs-cad/src/preview/server.ts
  packages/brepjs-cad/src/snapshot/static.ts
  packages/brepjs-cad/src/verify/runPart.ts
  packages/brepjs-cad/tests/fixtures/tsxProject/model.tsx
  packages/brepjs-cad/tests/preview.test.ts
  packages/brepjs-cad/viewer/main.tsx
  packages/brepjs-cad/viewer/src/useModel.ts
  packages/brepjs-cad/vite.config.ts
  packages/brepjs-viewer/src/Renderer.tsx
  packages/brepjs-viewer/src/index.ts
  packages/brepjs-viewer/src/model.ts
  packages/brepjs-viewer/src/payload.ts
  packages/brepjs-viewer/tests/model.test.ts
  packages/brepjs-viewer/tests/payload.test.ts
Due: prettier --write

feat(brepjs-bim): route footing, pile, railing, ramp, covering, curtain wall, and space through familiesToBim
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
Due: none

fix(brepjs-cad): preview accepts component-rooted trees and resolves families from the model
  packages/brepjs-cad/src/preview/evaluate.ts
  packages/brepjs-cad/src/verify/typecheck.ts
  packages/brepjs-cad/tests/fixtures/tsxProject/component.tsx
  packages/brepjs-cad/tests/preview.test.ts
  packages/brepjs-cad/vitest.config.ts
Due: prettier --write

test(brepjs-bim): make placement-fold assertions unambiguous vs axis tuples
  packages/brepjs-bim/tests/familiesAdapter.test.ts
Due: none

feat(brepjs-cad): brep preview — element-aware model viewer with live watch (#2231)
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/cli/watch.ts
  packages/brepjs-cad/src/preview/evaluate.ts
  packages/brepjs-cad/src/preview/preview.ts
  packages/brepjs-cad/src/preview/server.ts
  packages/brepjs-cad/src/snapshot/static.ts
  packages/brepjs-cad/src/verify/runPart.ts
  packages/brepjs-cad/src/verify/typecheck.ts
  packages/brepjs-cad/tests/fixtures/tsxProject/component.tsx
  packages/brepjs-cad/tests/fixtures/tsxProject/model.tsx
  packages/brepjs-cad/tests/preview.test.ts
  packages/brepjs-cad/viewer/main.tsx
  packages/brepjs-cad/viewer/src/useModel.ts
  packages/brepjs-cad/vite.config.ts
  packages/brepjs-cad/vitest.config.ts
  packages/brepjs-viewer/src/Renderer.tsx
  packages/brepjs-viewer/src/index.ts
  packages/brepjs-viewer/src/model.ts
  packages/brepjs-viewer/src/payload.ts
  packages/brepjs-viewer/tests/model.test.ts
  packages/brepjs-viewer/tests/payload.test.ts
Due: prettier --write

feat(brepjs-bim): route footing, pile, railing, ramp, covering, curtain wall, and space through familiesToBim (#2232)
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
Due: none

feat(create-brepjs): tsx template with preview, ifc export, tests, and agent docs
  .github/workflows/ci.yml
  packages/create-brepjs/bin/create-brepjs.mjs
  packages/create-brepjs/templates/AGENTS.md
  packages/create-brepjs/templates/CLAUDE.md
  packages/create-brepjs/templates/README.md
  packages/create-brepjs/templates/package.json.tpl
  packages/create-brepjs/templates/scripts/exportIfc.ts
  packages/create-brepjs/templates/scripts/report.ts
  packages/create-brepjs/templates/src/main.ts
  packages/create-brepjs/templates/src/main.tsx
  packages/create-brepjs/templates/tests/model.test.ts
  packages/create-brepjs/templates/tsconfig.json
  packages/create-brepjs/tests/scaffold.test.ts
Due: prettier --write

fix(create-brepjs): slab spec requires an explicit predefinedType
  packages/create-brepjs/templates/src/main.tsx
Due: none

test: root scaffold test follows the template entry rename to main.tsx
  tests/createBrepjs.test.ts
Due: eslint --fix, prettier --write

fix(create-brepjs): npm start exits nonzero when an element fails to mesh
  packages/create-brepjs/templates/scripts/report.ts
Due: none

feat(create-brepjs): tsx template with preview, ifc export, tests, and agent docs (#2237)
  .github/workflows/ci.yml
  packages/create-brepjs/bin/create-brepjs.mjs
  packages/create-brepjs/templates/AGENTS.md
  packages/create-brepjs/templates/CLAUDE.md
  packages/create-brepjs/templates/README.md
  packages/create-brepjs/templates/package.json.tpl
  packages/create-brepjs/templates/scripts/exportIfc.ts
  packages/create-brepjs/templates/scripts/report.ts
  packages/create-brepjs/templates/src/main.ts
  packages/create-brepjs/templates/src/main.tsx
  packages/create-brepjs/templates/tests/model.test.ts
  packages/create-brepjs/templates/tsconfig.json
  packages/create-brepjs/tests/scaffold.test.ts
  tests/createBrepjs.test.ts
Due: eslint --fix, prettier --write

feat(brepjs-cad): brep export --3dm — element-aware Rhino export
  package-lock.json
  packages/brepjs-cad/package.json
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/export3dm/export3dm.ts
  packages/brepjs-cad/src/preview/evaluate.ts
  packages/brepjs-cad/tests/export3dm.test.ts
  packages/brepjs-cad/vite.config.ts
Due: prettier --write

fix(brepjs-cad): release rhino wasm objects on exceptional paths too
  packages/brepjs-cad/src/export3dm/export3dm.ts
Due: none

fix(brepjs-cad): 3dm export creates the out dir and frees rhino wasm objects
  packages/brepjs-cad/src/export3dm/export3dm.ts
  packages/brepjs-cad/tests/export3dm.test.ts
Due: none

docs(brepjs-cad): families skill covers new routes and the preview/export workflow
  packages/brepjs-cad/skills/implement/references/families-bim.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
