Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat(sweep): add multi-section sweep via positioned loft
  src/index.ts
  src/operations/multiSweepFns.ts
  tests/fn-multiSweepFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(sweep): add guide curve sweep via MakePipeShell
  src/index.ts
  src/operations/guidedSweepFns.ts
  tests/fn-guidedSweepFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(tags): add face naming and metadata with operation propagation
  src/index.ts
  src/topology/booleanFns.ts
  src/topology/faceTagFns.ts
  src/topology/modifierFns.ts
  tests/fn-faceTagFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(assembly): add mate constraints with analytical solver
  src/index.ts
  src/kernel/solverAdapter.ts
  src/operations/assemblyFns.ts
  src/operations/mateFns.ts
  tests/fn-mateFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

docs: add OpenSCAD parity batch 2 design
  docs/plans/2026-02-17-openscad-parity-2-design.md
Due: prettier --write

docs: add OpenSCAD parity batch 2 implementation plan
  docs/plans/2026-02-17-openscad-parity-2-plan.md
Due: prettier --write

feat: add fill() to remove holes from 2D faces
  src/index.ts
  src/topology/surfaceBuilders.ts
  tests/fn-fill.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat: add sectionToFace() for filled 2D cross-sections
  src/index.ts
  src/topology/api.ts
  src/topology/booleanFns.ts
  tests/fn-sectionToFace.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat: add OBJ import for mesh geometry
  src/core/errors.ts
  src/index.ts
  src/io/objImportFns.ts
  tests/fixtures/test-cube.obj
  tests/fn-objImport.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat: add 3MF import for mesh geometry
  src/core/errors.ts
  src/index.ts
  src/io/threemfImportFns.ts
  tests/fn-threemfImport.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat: add textMetrics() and fontMetrics() for text measurement
  src/index.ts
  src/text/textBlueprints.ts
  tests/fn-textMetrics.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat: add roof() with straight skeleton algorithm
  src/core/errors.ts
  src/index.ts
  src/operations/roofFns.ts
  src/operations/straightSkeleton.ts
  tests/fn-roof.test.ts
  tests/fn-straightSkeleton.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat: add surfaceFromImage() for heightmap-from-image surfaces
  src/index.ts
  src/topology/surfaceFns.ts
  tests/fn-straightSkeleton.test.ts
  tests/fn-surfaceFromImage.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(brepjs-opencascade): correct license to LGPL-2.1-only
  packages/brepjs-opencascade/LICENSE
  packages/brepjs-opencascade/NOTICE
  packages/brepjs-opencascade/package.json
Due: none

chore(brepjs-opencascade): remove WASM binaries from git tracking
  .gitignore
  packages/brepjs-opencascade/src/brepjs_single.d.ts
  packages/brepjs-opencascade/src/brepjs_single.js
  packages/brepjs-opencascade/src/brepjs_single.wasm
  packages/brepjs-opencascade/src/brepjs_threaded.d.ts
  packages/brepjs-opencascade/src/brepjs_threaded.js
  packages/brepjs-opencascade/src/brepjs_threaded.wasm
  packages/brepjs-opencascade/src/brepjs_threaded.worker.js
  packages/brepjs-opencascade/src/brepjs_with_exceptions.d.ts
  packages/brepjs-opencascade/src/brepjs_with_exceptions.js
  packages/brepjs-opencascade/src/brepjs_with_exceptions.wasm
Due: none

fix: address PR review feedback
  src/io/objImportFns.ts
  src/io/threemfImportFns.ts
  src/operations/roofFns.ts
  src/operations/straightSkeleton.ts
  src/topology/booleanFns.ts
Due: eslint --fix, prettier --write

fix(site): fix game die demo and remove broken spur gear demo
  scripts/generate-example-previews.ts
  site/src/lib/examples.ts
Due: none

fix(ci): remove brepjs-opencascade publish from release-please
  .github/workflows/release-please.yml
Due: none

fix: address PR review comments (round 2)
  src/io/threemfImportFns.ts
  src/operations/roofFns.ts
  src/topology/booleanFns.ts
  tests/fn-roof.test.ts
  tests/fn-sectionToFace.test.ts
  tests/fn-straightSkeleton.test.ts
  tests/fn-threemfImport.test.ts
Due: eslint --fix, prettier --write

fix(examples): rewrite die demo with sequential cylinder cuts
  scripts/generate-example-previews.ts
  site/src/lib/examples.ts
Due: none

fix: address PR review comments (round 3)
  src/io/objImportFns.ts
  src/operations/straightSkeleton.ts
  tests/fn-objImport.test.ts
Due: eslint --fix, prettier --write

fix(site): remove die demo and improve mesh quality
  scripts/generate-example-previews.ts
  site/src/lib/examples.ts
  site/src/workers/cad.worker.ts
Due: none

fix: keep .d.ts type declarations tracked for CI typecheck
  .gitignore
  packages/brepjs-opencascade/src/brepjs_single.d.ts
  packages/brepjs-opencascade/src/brepjs_threaded.d.ts
  packages/brepjs-opencascade/src/brepjs_with_exceptions.d.ts
Due: none

fix(io): replace regex XML parsing with indexOf for CodeQL safety
  src/io/threemfImportFns.ts
Due: eslint --fix, prettier --write

fix(ci): download WASM runtime files from npm for tests
  .github/workflows/ci.yml
Due: none

fix: address PR review findings and fix textMetrics test portability
  src/io/objImportFns.ts
  src/io/threemfImportFns.ts
  src/operations/roofFns.ts
  src/topology/booleanFns.ts
  tests/fn-textMetrics.test.ts
Due: eslint --fix, prettier --write

fix(ci): add WASM download step to release-please workflow
  .github/workflows/release-please.yml
Due: none

fix(ci): add postinstall script to ensure WASM runtime files exist
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  package.json
  scripts/ensure-wasm.sh
Due: none

chore(deps): update typedoc and add brepjs-opencascade 0.8.x peer dep support
  package-lock.json
  package.json
Due: none

chore(site): update brepjs dependency to ^8.4.0
  package-lock.json
  site/package.json
Due: none

fix(ci): bump validate-pack MAX_FILES from 400 to 450
  scripts/validate-pack.sh
Due: none

docs(readme): update features, examples, and docs for v8.7.5
  README.md
Due: prettier --write

docs(readme): trim verbose descriptions
  README.md
Due: prettier --write

docs(claude): add hooks, coverage thresholds, monorepo info
  CLAUDE.md
Due: prettier --write

test: systematic coverage sweep across 16 test files
  tests/2d.test.ts
  tests/fn-autoHeal.test.ts
  tests/fn-booleanFns.test.ts
  tests/fn-cast.test.ts
  tests/fn-dxfImport.test.ts
  tests/fn-hullFns.test.ts
  tests/fn-loftFns.test.ts
  tests/fn-make2dOffset.test.ts
  tests/fn-modifierFns.test.ts
  tests/fn-sketchFns.test.ts
  tests/fn-svgPath.test.ts
  tests/fn-workerHandler.test.ts
  tests/operations-exporters.test.ts
  tests/projection.test.ts
  tests/sketcher2d.test.ts
  tests/wrapperFns.test.ts
Due: eslint --fix, prettier --write

fix(test): address PR review comments
  tests/fn-workerHandler.test.ts
  tests/projection.test.ts
Due: eslint --fix, prettier --write

ci: parallelize CI into 5 independent jobs with gate
  .github/workflows/ci.yml
Due: none

ci: add ensure-wasm.sh to quality job
  .github/workflows/ci.yml
Due: none
