Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

style: fix formatting in shapes.ts
  src/topology/shapes.ts
Due: eslint --fix, prettier --write

refactor!: remove all deprecated legacy APIs (#37)
  CHANGELOG.md
  src/2d/blueprints/Blueprint.ts
  src/2d/curves.ts
  src/index.ts
  src/operations/extrude.ts
  src/operations/loft.ts
  src/projection/ProjectionCamera.ts
  src/query/definitions.ts
  src/query/edgeFinder.ts
  src/query/faceFinder.ts
  src/query/generic3dfinder.ts
  src/sketching/Sketch.ts
  src/sketching/Sketcher.ts
  src/sketching/Sketcher2d.ts
  src/sketching/cannedSketches.ts
  src/topology/shapeHelpers.ts
  src/topology/shapes.ts
  tests/boolean.test.ts
  tests/edgeFinder.test.ts
  tests/faceFinder.test.ts
  tests/fn-finderFns.test.ts
  tests/geometry.test.ts
  tests/helpers.test.ts
  tests/import-export.test.ts
  tests/memory.test.ts
  tests/operations-batch.test.ts
  tests/operations-exporters.test.ts
  tests/operations.test.ts
  tests/projection.test.ts
  tests/query.test.ts
  tests/shapes.test.ts
  tests/topology.test.ts
Due: eslint --fix, prettier --write

refactor!: remove deprecated geometry classes from internal usage
  src/2d/blueprints/Blueprint.ts
  src/2d/blueprints/Blueprints.ts
  src/2d/blueprints/CompoundBlueprint.ts
  src/2d/blueprints/blueprintFns.ts
  src/2d/blueprints/lib.ts
  src/2d/curves.ts
  src/core/geometry.ts
  src/core/geometryHelpers.ts
  src/core/planeOps.ts
  src/operations/extrude.ts
  src/projection/ProjectionCamera.ts
  src/query/definitions.ts
  src/query/edgeFinder.ts
  src/query/faceFinder.ts
  src/query/generic3dfinder.ts
  src/sketching/CompoundSketch.ts
  src/sketching/Sketch.ts
  src/sketching/Sketcher.ts
  src/sketching/Sketches.ts
  src/sketching/cannedSketches.ts
  src/sketching/draw.ts
  src/sketching/drawFns.ts
  src/sketching/sketchFns.ts
  src/sketching/sketchLib.ts
  src/sketching/sketchUtils.ts
  src/text/textBlueprints.ts
  src/topology/shapes.ts
  tests/geometry.test.ts
  tests/operations.test.ts
Due: eslint --fix, prettier --write

test: add coverage tests for functional API migration
  tests/2d.test.ts
  tests/fn-blueprintFns.test.ts
  tests/fn-planeOps.test.ts
  tests/operations.test.ts
Due: prettier --write

refactor!: remove deprecated geometry classes from internal usage (#40)
  src/2d/blueprints/Blueprint.ts
  src/2d/blueprints/Blueprints.ts
  src/2d/blueprints/CompoundBlueprint.ts
  src/2d/blueprints/blueprintFns.ts
  src/2d/blueprints/lib.ts
  src/2d/curves.ts
  src/core/geometry.ts
  src/core/geometryHelpers.ts
  src/core/planeOps.ts
  src/operations/extrude.ts
  src/projection/ProjectionCamera.ts
  src/query/definitions.ts
  src/query/edgeFinder.ts
  src/query/faceFinder.ts
  src/query/generic3dfinder.ts
  src/sketching/CompoundSketch.ts
  src/sketching/Sketch.ts
  src/sketching/Sketcher.ts
  src/sketching/Sketches.ts
  src/sketching/cannedSketches.ts
  src/sketching/draw.ts
  src/sketching/drawFns.ts
  src/sketching/sketchFns.ts
  src/sketching/sketchLib.ts
  src/sketching/sketchUtils.ts
  src/text/textBlueprints.ts
  src/topology/shapes.ts
  tests/2d.test.ts
  tests/fn-blueprintFns.test.ts
  tests/fn-planeOps.test.ts
  tests/geometry.test.ts
  tests/operations.test.ts
Due: eslint --fix, prettier --write

chore: bump brepjs-opencascade peer dep to 0.4.1
  package-lock.json
  package.json
Due: none

chore: add publish automation script
  scripts/publish-all.sh
Due: none

chore: add monorepo release-please config
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

chore: enable auto-merge for release-please PRs
  .github/workflows/release-please.yml
Due: none

fix(brepjs-opencascade): add repository field for npm provenance
  packages/brepjs-opencascade/package.json
Due: none

chore: add node-workspace plugin for peer dep updates
  release-please-config.json
Due: none

chore: refine release strategy for monorepo
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

fix: use OCCT shape type enum for isShape3D checks to avoid minification issues
  src/topology/booleanFns.ts
  src/topology/shapeBooleans.ts
Due: eslint --fix, prettier --write

test: add compound shape verification tests for minification-resistant checks
  tests/fn-booleanFns.test.ts
  tests/topology.test.ts
Due: prettier --write

4.0.2
  package-lock.json
  package.json
Due: none

fix: format BrepError in unwrap() for readable error messages
  src/core/result.ts
Due: eslint --fix, prettier --write

4.0.3
  package-lock.json
  package.json
Due: none

docs: update documentation for v4.0.0
  README.md
  SECURITY.md
  docs/architecture.md
  docs/compatibility.md
  docs/errors.md
  docs/memory-management.md
  docs/performance.md
Due: prettier --write

docs: update documentation for v4.0.0 (#48)
  README.md
  SECURITY.md
  docs/architecture.md
  docs/compatibility.md
  docs/errors.md
  docs/memory-management.md
  docs/performance.md
Due: prettier --write

fix: critical bug fixes from code review - batch 1
  src/2d/lib/definitions.ts
  src/io/importFns.ts
  src/operations/extrudeFns.ts
  src/sketching/draw.ts
  src/topology/shapeHelpers.ts
Due: eslint --fix, prettier --write

fix: critical bug fixes from code review - batch 2
  src/operations/batchBooleans.ts
  src/sketching/Sketcher2d.ts
  src/sketching/draw.ts
  src/sketching/sketcherlib.ts
Due: eslint --fix, prettier --write

test: add test coverage for type guard element validation
  tests/definitions.test.ts
Due: prettier --write

fix: add IsDone checks, error handling, and input validation
  src/operations/extrude.ts
  src/operations/loft.ts
  src/operations/loftFns.ts
  src/projection/cameraFns.ts
  src/text/textBlueprints.ts
Due: eslint --fix, prettier --write

docs: update code review summary with additional fixes
  CODE_REVIEW_SUMMARY.md
Due: prettier --write

fix: core layer defensive validations
  src/core/memory.ts
  src/core/planeOps.ts
  src/core/vecOps.ts
Due: eslint --fix, prettier --write

docs: update review summary with core layer fixes
  CODE_REVIEW_SUMMARY.md
Due: prettier --write

docs: clarify Wire.offset2D mutation behavior from topology review
  CODE_REVIEW_SUMMARY.md
Due: prettier --write

fix: clean up temporary files on export failure
  src/kernel/ioOps.ts
Due: eslint --fix, prettier --write

docs: add kernel file cleanup fix to review summary
  CODE_REVIEW_SUMMARY.md
Due: prettier --write

chore: remove code review summary document
  CODE_REVIEW_SUMMARY.md
Due: prettier --write

fix: revert WrappingObj setter change to preserve resurrection behavior
  src/core/memory.ts
Due: eslint --fix, prettier --write

fix: revert vecOps and planeOps validation changes
  src/core/planeOps.ts
  src/core/vecOps.ts
Due: eslint --fix, prettier --write

fix: revert operations layer IsDone/validation changes
  src/operations/extrude.ts
  src/operations/loft.ts
  src/operations/loftFns.ts
Due: eslint --fix, prettier --write

fix: revert remaining source changes causing CI failures
  src/kernel/ioOps.ts
  src/projection/cameraFns.ts
  src/text/textBlueprints.ts
Due: eslint --fix, prettier --write

ci: pin to ubuntu-22.04 to fix WASM memory errors
  .github/workflows/ci.yml
Due: none

ci: pin to ubuntu-22.04 to fix WASM memory errors (#50)
  .github/workflows/ci.yml
Due: none

fix: critical bug fixes from code review - batch 1
  src/2d/lib/definitions.ts
  src/io/importFns.ts
  src/operations/extrudeFns.ts
  src/sketching/draw.ts
Due: eslint --fix, prettier --write
