Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

docs: fix brepkit-wasm init pattern in kernel docs
  apps/docs/concepts/kernels.md
  apps/docs/reference/errors.md
  docs/kernel-swap.md
  src/kernel/README.md
  src/kernel/brepkit/brepkitAdapter.ts
Due: eslint --fix, prettier --write

fix(kernel): sync brepkit to 2.112.0, guard empty projection, recover gridfinity tests
  docs/kernel-conformance.md
  package-lock.json
  package.json
  src/2d/lib/stitching.ts
  src/kernel/brepkit/brepkitWasmTypes.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

fix(viewer): add repository field for provenance publishing
  packages/brepjs-viewer/package.json
Due: none

fix(verify): unpin brepjs-viewer devDep to workspace wildcard
  package-lock.json
  packages/brepjs-verify/package.json
Due: none

fix(deps): point brepjs-verify's brepjs-viewer devDep at the workspace
  package-lock.json
  packages/brepjs-verify/package.json
Due: none

ci: hold verify/viewer release PRs from auto-merge to stop release loop
  .github/workflows/release-please.yml
Due: none

fix(ci): unbreak main — unpin viewer devDep and clear OSV vulns
  osv-scanner.toml
  package-lock.json
  package.json
  packages/brepjs-verify/package.json
Due: none

fix(ci): use caret ranges for js-yaml/markdown-it overrides
  package.json
Due: none

ci: serialize release-please runs and stop coverage gating docs deploy
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
Due: none

fix(brepkit): build CCW circular arcs as exact Circle edges
  docs/kernel-conformance.md
  src/kernel/brepkit/constructionOps.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

test(parity): un-skip 7 sketcher3d divergences now passing on brepkit 2.112.0
  docs/kernel-conformance.md
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

chore(release): unmanage brepjs-viewer from release-please
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

test(coverage): cover analytic SDF primitives to restore functions floor
  tests/implicitCore.test.ts
Due: eslint --fix, prettier --write

chore(hooks): drop full test suite from pre-push, rely on CI
  .husky/pre-push
  CLAUDE.md
Due: prettier --write

feat(occt-wasm): wire NURBS curve edit/construct + Bézier pole read
  package-lock.json
  package.json
  src/kernel/occtWasm/curveOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/occtWasmTypes.ts
  tests/occtWasmCurveOps.test.ts
Due: eslint --fix, prettier --write

chore(knip): clear the unused-exports gate
  knip.config.ts
  src/2d/lib/definitions.ts
  src/core/kernelBoundary.ts
  src/core/planeOps.ts
  src/core/shapeTypeCache.ts
  src/core/typeDiscriminants.ts
  src/measurement/measureCache.ts
  src/operations/exporters.ts
  src/utils/vec2d.ts
Due: eslint --fix, prettier --write

fix(brepkit-adapter): correct ellipse-arc 2D direction + reverseCurve2d
  src/kernel/brepkit/kernel2dOps.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

docs(landing): bespoke landing page — design system + full copy (phase 1)
  apps/docs/.vitepress/config.ts
  apps/docs/.vitepress/theme/Layout.vue
  apps/docs/.vitepress/theme/components/Landing.vue
  apps/docs/.vitepress/theme/playgroundLink.ts
  apps/docs/index.md
Due: prettier --write

docs(landing): reduced-motion hero, a11y + OG polish (phases 3–4)
  apps/docs/.vitepress/theme/components/Landing.vue
  apps/docs/.vitepress/theme/components/heroCubeRenderer.ts
  apps/docs/public/og.png
Due: none

docs(landing): code-as-CAD hero — build a real Gridfinity bin, step by step
  apps/docs/.vitepress/theme/Layout.vue
  apps/docs/.vitepress/theme/components/CodeCadHero.vue
  apps/docs/.vitepress/theme/components/HeroCube.vue
  apps/docs/.vitepress/theme/components/Landing.vue
  apps/docs/.vitepress/theme/components/codeCadRenderer.ts
  apps/docs/.vitepress/theme/components/heroCubeGeometry.ts
  apps/docs/.vitepress/theme/components/heroCubeRenderer.ts
  apps/docs/public/hero-frames.json
  package.json
  scripts/genHeroFrames.ts
Due: none

docs(landing): hero bin → 1×1, socket→body→lip build order, fixes
  apps/docs/.vitepress/theme/components/CodeCadHero.vue
  apps/docs/.vitepress/theme/components/codeCadRenderer.ts
  apps/docs/public/hero-frames.json
  scripts/genHeroFrames.ts
Due: none

docs(landing): upright bin, exact B-Rep edges, correct lip, char typing
  apps/docs/.vitepress/theme/components/CodeCadHero.vue
  apps/docs/.vitepress/theme/components/codeCadRenderer.ts
  apps/docs/public/hero-frames.json
  scripts/genHeroFrames.ts
Due: none

docs(landing): simulate TypeScript IntelliSense in the hero
  apps/docs/.vitepress/theme/components/CodeCadHero.vue
Due: none

docs(landing): iso ortho view + orbit, hover IntelliSense, play-once + replay
  apps/docs/.vitepress/theme/components/CodeCadHero.vue
  apps/docs/.vitepress/theme/components/codeCadRenderer.ts
  apps/docs/public/hero-frames.json
  scripts/genHeroFrames.ts
Due: none

docs(landing): real geometry for the exact-vs-faceted + verify sections
  apps/docs/.vitepress/theme/components/Landing.vue
  apps/docs/public/images/landing/exact.png
  apps/docs/public/images/landing/faceted.png
  apps/docs/public/images/landing/snap-front.png
  apps/docs/public/images/landing/snap-iso.png
  apps/docs/public/images/landing/snap-right.png
  apps/docs/public/images/landing/snap-top.png
  package.json
  scripts/genLandingImages.ts
Due: none

docs(landing): show the real tsc error in the type-safety card
  apps/docs/.vitepress/theme/components/Landing.vue
Due: none

docs(landing): accessibility polish — AA contrast + target size
  apps/docs/.vitepress/theme/components/CodeCadHero.vue
Due: none

docs(landing): copy sweep — broaden B-Rep scope, fix footer + loop
  apps/docs/.vitepress/theme/components/Landing.vue
Due: none

docs(landing): real syntax highlighting, left-align content, trim AI copy
  apps/docs/.vitepress/theme/components/CodeCadHero.vue
  apps/docs/.vitepress/theme/components/Landing.vue
  apps/docs/.vitepress/theme/components/codeHighlight.ts
Due: none

docs: broaden the B-Rep lens in README + Why brepjs
  README.md
  apps/docs/introduction/why-brepjs.md
Due: prettier --write

docs(landing): footer blurb — accurate library tagline (brepjs is not a kernel)
  apps/docs/.vitepress/theme/components/Landing.vue
Due: none

docs(landing): drop redundant five-line-loop section, fix closing CTA
  apps/docs/.vitepress/theme/components/Landing.vue
Due: none

docs(landing): elevate the native-stack + interop sections
  apps/docs/.vitepress/theme/components/Landing.vue
Due: none

fix(landing): hero typing no longer scrolls the page back to the top
  apps/docs/.vitepress/theme/components/CodeCadHero.vue
Due: none

fix(landing): wrap static code cards so they don't clip on mobile
  apps/docs/.vitepress/theme/components/Landing.vue
Due: none

docs(landing): add drawRoundedRectangle completion dwell + actionable AI CTA
  apps/docs/.vitepress/theme/components/CodeCadHero.vue
  apps/docs/.vitepress/theme/components/Landing.vue
Due: none

docs(playground): add a parametric Gridfinity bin example
  apps/playground/public/example-thumbs/gridfinity-bin.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

fix(landing): reset hero step guard on replay so step 0 re-renders
  apps/docs/.vitepress/theme/components/codeCadRenderer.ts
Due: none

chore(analytics): add PostHog to brepjs.dev and playground
  apps/docs/.env.example
  apps/docs/.vitepress/theme/index.ts
  apps/docs/package.json
  apps/playground/.env.example
  apps/playground/package.json
  apps/playground/src/hooks/usePlaygroundActions.ts
  apps/playground/src/lib/posthog.ts
  apps/playground/src/main.tsx
  apps/playground/src/vite-env.d.ts
  package-lock.json
  vercel.json
Due: none

chore(analytics): proxy PostHog through a Vercel rewrite
  apps/docs/.env.example
  apps/docs/.vitepress/theme/index.ts
  apps/playground/.env.example
  apps/playground/src/lib/posthog.ts
  vercel.json
Due: none
