Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(2d): remaining correctness, performance, and API completeness fixes
  .pattern-baseline.json
  src/2d.ts
  src/2d/blueprints/blueprintOffset.ts
  src/2d/blueprints/intersectionSegments.ts
  src/2d/curve2dGeometryFns.ts
  src/2d/curves.ts
  src/kernel/geometry2d.ts
  tests/boolean2dRegression.test.ts
Due: eslint --fix, prettier --write

fix(2d): address PR review feedback
  src/2d.ts
  src/2d/curve2dGeometryFns.ts
  src/kernel/geometry2d.ts
Due: eslint --fix, prettier --write

fix(2d): merge collinear line segments after boolean operations
  src/2d/blueprints/segmentAssembly.ts
Due: eslint --fix, prettier --write

fix(boolean): add console.warn to boolean fallback paths
  src/topology/booleanFns.ts
Due: eslint --fix, prettier --write

fix(boolean): retry without history when OCCT boolean produces null result
  src/topology/booleanFns.ts
  tests/gridfinity-lip-regression.test.ts
Due: eslint --fix, prettier --write

Revert "perf: cache vertex positions and hash codes across WASM boundary (#701)"
  .pattern-baseline.json
  src/core/shapePropertyCache.ts
  src/topology/adjacencyFns.ts
  src/topology/booleanFns.ts
  src/topology/evolutionFns.ts
  src/topology/metadata/colorFns.ts
  src/topology/metadata/faceTagFns.ts
  src/topology/metadata/metadataPropagation.ts
  src/topology/metadata/originTrackingFns.ts
  src/topology/modifierFns.ts
  src/topology/shapeFns.ts
  src/topology/topologyQueryFns.ts
Due: eslint --fix, prettier --write

revert: undo pure-TS geometry2d.ts rewrite (#700)
  .pattern-baseline.json
  benchmarks/geometry2d.bench.test.ts
  src/kernel/geometry2d.ts
  src/kernel/occt/defaultAdapter.ts
  src/kernel/occt/kernel2dOps.ts
  tests/gridfinity-lip-debug.test.ts
  tests/gridfinity-lip-regression.test.ts
  tests/helpers/kernelDivergences.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: remove superpowers plan and spec docs
  docs/superpowers/plans/2026-03-20-branded-types-phase3.md
  docs/superpowers/plans/2026-03-20-expose-occt-functionality.md
  docs/superpowers/plans/2026-03-22-occt-batch-extractors-perf.md
  docs/superpowers/plans/2026-03-25-boolean-pipeline-perf.md
  docs/superpowers/plans/2026-03-25-mesh-performance.md
  docs/superpowers/plans/2026-03-25-stream-io-remaining.md
  docs/superpowers/plans/2026-03-25-v8-new-capabilities.md
  docs/superpowers/plans/2026-03-25-v8-performance-optimizations.md
  docs/superpowers/plans/2026-03-25-v8-step-metadata-export.md
  docs/superpowers/plans/2026-03-27-kernel-testing-architecture.md
  docs/superpowers/specs/2026-03-21-2d-geometry-api-design.md
  docs/superpowers/specs/2026-03-21-api-ergonomics-design.md
  docs/superpowers/specs/2026-03-27-kernel-testing-architecture-design.md
Due: prettier --write

fix: bump brepjs/2d size limit for restored OCCT wrappers
  .size-limit.json
Due: none

fix(kernel): fix OCCT enum unwrap bugs and handle leak in kernel2dOps
  src/kernel/occt/kernel2dOps.ts
Due: eslint --fix, prettier --write

fix(kernel): address PR review — try-finally cleanup, restore timeout
  src/kernel/occt/kernel2dOps.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore(deps): bump occt-wasm 1.2.1 → 1.4.0
  package-lock.json
  package.json
Due: none

test: add Node worker_threads shim for OcctWorker integration tests
  tests/helpers/nodeWorkerShim.ts
Due: eslint --fix, prettier --write

fix: update knip config for occt-wasm 1.4.0 worker adapter
  knip.config.ts
Due: prettier --write

feat(core): wire OcctError mapping into kernelCall error pipeline
  src/core/kernelCall.ts
Due: eslint --fix, prettier --write

feat(kernel): add AsyncKernelAdapter mapped type
  src/kernel/interfaces/asyncAdapter.ts
  src/kernel/interfaces/index.ts
Due: eslint --fix, prettier --write

feat(kernel): add OcctWasmWorkerAdapter (AsyncKernelAdapter over OcctWorker)
  src/kernel/occtWasm/occtWasmWorkerAdapter.ts
  tests/asyncKernelAdapter.test.ts
Due: eslint --fix, prettier --write

feat(core): add OcctError → BrepError mapping for occt-wasm 1.4.0
  src/core/occtErrorMapping.ts
  tests/occtErrorMapping.test.ts
Due: eslint --fix, prettier --write

feat: export AsyncKernelAdapter and createWorkerAdapter publicly
  src/index.ts
  src/kernel/index.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix: address PR review feedback for occt-wasm 1.4.0
  src/core/errors.ts
  src/core/kernelCall.ts
  src/core/occtErrorMapping.ts
  src/kernel/occtWasm/occtWasmWorkerAdapter.ts
  tests/helpers/nodeWorkerShim.ts
  tests/occtErrorMapping.test.ts
Due: eslint --fix, prettier --write

test: add sweepSketch regression test for #744
  tests/sweep-repro.test.ts
Due: eslint --fix, prettier --write

fix(test): address PR review — initKernel, camelCase, volume assertions
  tests/sweepRepro.test.ts
Due: eslint --fix, prettier --write

fix(sketching): handle Sketches return in sweepSketch callback (#744)
  src/sketching/sketch.ts
  tests/sweepRepro.test.ts
Due: eslint --fix, prettier --write

fix: address PR review — duck-type check, dispose unused sketches
  src/sketching/sketch.ts
Due: eslint --fix, prettier --write

feat(ci): add performance regression gate with benchmark PR comments
  .github/workflows/ci.yml
  benchmarks/regression.bench.test.ts
Due: none

fix(ci): fix benchmark JSON extraction and handle missing baseline
  .github/workflows/ci.yml
Due: none

fix(sketching): handle CompoundSketch in sweepSketch callback (#744)
  src/sketching/sketch.ts
  tests/sweepDrawingBoolean.test.ts
Due: eslint --fix, prettier --write

fix: address PR review — dispose WASM shapes, paginate comments
  .github/workflows/ci.yml
  benchmarks/regression.bench.test.ts
Due: none

fix(kernel): restore pure-TS geometry2d for OCCT 2D ops (#744)
  .pattern-baseline.json
  benchmarks/geometry2d.bench.test.ts
  brepjs-15.1.13.tgz
  src/kernel/geometry2d.ts
  src/kernel/occt/defaultAdapter.ts
  src/kernel/occt/kernel2dOps.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

perf(geometry2d): analytic bounding boxes + hoisted AABB loop
  brepjs-14.1.2.tgz
  brepjs-15.1.13.tgz
  brepjs-15.2.0.tgz
  src/kernel/geometry2d.ts
Due: eslint --fix, prettier --write

perf(2d): skip FinalizationRegistry for pure-TS curve handles
  brepjs-15.2.0.tgz
  src/2d/lib/curve2D.ts
Due: eslint --fix, prettier --write

fix: resolve strict typecheck errors in geometry2d Float64Array access
  src/kernel/geometry2d.ts
Due: eslint --fix, prettier --write

fix(sketching): correct sweepSketch xDir sign to sweep profiles inward (#753)
  src/sketching/sketch.ts
  tests/helpers/kernelDivergences.ts
  tests/sweepSketchOrientation.test.ts
Due: eslint --fix, prettier --write

fix(ci): clear stale Vite transform cache before test and benchmark
  .github/workflows/ci.yml
Due: none

fix(bench): mirror lip profile for corrected sweepSketch xDir
  benchmarks/regression.bench.test.ts
Due: none

fix(test): address PR review — split divergence keys, align test name
  tests/helpers/kernelDivergences.ts
  tests/sweepSketchOrientation.test.ts
Due: eslint --fix, prettier --write

fix(bench): rename benchmark to reset baseline after xDir geometry change
  benchmarks/regression.bench.test.ts
Due: none

fix(test): skip orientation tests on occt kernel (CI divergence)
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

fix(sketching): revert sweepSketch xDir sign change that broke lip geometry
  src/sketching/sketch.ts
  tests/gridfinity-smoke.test.ts
  tests/helpers/kernelDivergences.ts
  tests/sweepSketchOrientation.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
