Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

perf(occt): build two-operand booleans once on opencascade.js
  src/kernel/occt/booleanOps.ts
  src/kernel/occt/historyOps.ts
Due: eslint --fix, prettier --write

fix(occt): release the boolean op when operand setup throws
  src/kernel/occt/booleanOps.ts
Due: eslint --fix, prettier --write

fix(occt): free boolean ops on every exit path
  src/kernel/occt/booleanOps.ts
  src/kernel/occt/historyOps.ts
Due: eslint --fix, prettier --write

perf(occt): build two-operand booleans once on opencascade.js (#2358)
  src/kernel/occt/booleanOps.ts
  src/kernel/occt/historyOps.ts
Due: eslint --fix, prettier --write

feat(occt-wasm): honour boolean options and track n-way history via booleanOp
  src/kernel/interfaces/evolutionOps.ts
  src/kernel/occtWasm/booleanOps.ts
  src/kernel/occtWasm/evolutionOps.ts
  src/kernel/occtWasm/helpers.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/occtWasmTypes.ts
  src/topology/booleanFns.ts
Due: eslint --fix, prettier --write

test(occt-wasm): cover boolean options and n-way history on occt-wasm 5.6.0
  package-lock.json
  package.json
  tests/occtWasmBooleanOp.test.ts
Due: eslint --fix, prettier --write

fix(bim): address ProductBody review findings
  apps/docs/bim/elements.md
  packages/brepjs-bim/docs/architecture-migration.md
  packages/brepjs-bim/examples/interopFixture.mjs
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/examples/sampleBuildingFamilies.ts
  packages/brepjs-bim/src/elementFns/curtainWallFns.ts
  packages/brepjs-bim/src/elementFns/cutOpeningSolid.ts
  packages/brepjs-bim/src/familiesProductBody.ts
  packages/brepjs-bim/src/import/cutImportedSolids.ts
  packages/brepjs-bim/src/ownedSolidChildren.ts
  packages/brepjs-bim/src/types/productBody.ts
  packages/brepjs-bim/tests/curtainWallProfileOwnership.test.ts
  packages/brepjs-bim/tests/cutOpeningNativeOwnership.test.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-bim/tests/familiesBodyPlacement.test.ts
  packages/brepjs-bim/tests/familiesProductBody.test.ts
  packages/brepjs-bim/tests/familiesUncachedBody.test.ts
  packages/brepjs-bim/tests/geometryCleanupDiagnostics.test.ts
  packages/brepjs-bim/tests/importedOpeningNativeCast.test.ts
  packages/brepjs-bim/tests/modelGenerationFailures.test.ts
  packages/brepjs-bim/tests/modelOwnership.test.ts
  packages/brepjs-bim/tests/modelOwnershipCoverage.test.ts
  packages/brepjs-bim/tests/modelRetirement.test.ts
  packages/brepjs-bim/tests/productBody.test.ts
  packages/brepjs-bim/tests/productBodyNativeFailures.test.ts
  packages/brepjs-bim/tests/productBodySpace.test.ts
  packages/brepjs-bim/tests/psetTemplates.test.ts
  packages/brepjs-bim/tests/railingOwnership.test.ts
  packages/brepjs-bim/tests/wallQuantityEligibility.test.ts
  packages/brepjs-bim/tsconfig.modelOwnership.json
  packages/brepjs-bim/tsconfig.productBody.json
  packages/brepjs-bim/vitest.config.ts
Due: prettier --write

fix(occt-wasm): expand compound operands and pass through empty n-way inputs
  src/kernel/occtWasm/booleanOps.ts
  src/kernel/occtWasm/evolutionOps.ts
  tests/occtWasmBooleanOp.test.ts
Due: eslint --fix, prettier --write

feat(occt-wasm): honour boolean options and track n-way history via booleanOp (#2366)
  package-lock.json
  package.json
  src/kernel/interfaces/evolutionOps.ts
  src/kernel/occtWasm/booleanOps.ts
  src/kernel/occtWasm/evolutionOps.ts
  src/kernel/occtWasm/helpers.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/occtWasmTypes.ts
  src/topology/booleanFns.ts
  tests/occtWasmBooleanOp.test.ts
Due: eslint --fix, prettier --write

fix(patterns): union overlapping pattern copies correctly
  src/kernel/manifold/transformOps.ts
  src/kernel/occtWasm/transformOps.ts
  src/kernel/types.ts
  src/operations/patternFns.ts
  tests/patterns.test.ts
Due: eslint --fix, prettier --write

test(patterns): compare the overlapping union to two decimals
  tests/patterns.test.ts
Due: eslint --fix, prettier --write

fix(bim): compare product Bodies without glue
  packages/brepjs-bim/src/familiesProductBody.ts
  packages/brepjs-bim/tests/familiesProductBody.test.ts
Due: none

fix(patterns): union overlapping pattern copies correctly (#2368)
  src/kernel/manifold/transformOps.ts
  src/kernel/occtWasm/transformOps.ts
  src/kernel/types.ts
  src/operations/patternFns.ts
  tests/patterns.test.ts
Due: eslint --fix, prettier --write

perf(occt-wasm): keep a compound of disjoint solids as one boolean operand
  src/kernel/occtWasm/booleanOps.ts
  tests/occtWasmBooleanOp.test.ts
Due: eslint --fix, prettier --write

fix(occt-wasm): send a whole multi-solid cut tool through booleanOp
  src/kernel/occtWasm/booleanOps.ts
  src/kernel/occtWasm/evolutionOps.ts
  tests/occtWasmBooleanOp.test.ts
Due: eslint --fix, prettier --write

perf(occt-wasm): keep a compound of disjoint solids as one boolean operand (#2371)
  src/kernel/occtWasm/booleanOps.ts
  src/kernel/occtWasm/evolutionOps.ts
  tests/occtWasmBooleanOp.test.ts
Due: eslint --fix, prettier --write

fix(bim): compare product Bodies without glue (#2369)
  packages/brepjs-bim/src/familiesProductBody.ts
  packages/brepjs-bim/tests/familiesProductBody.test.ts
Due: none

chore(bim): move ci and families test edits to a separate change
  .github/workflows/ci.yml
  packages/brepjs-families/tests/families.test.ts
  packages/brepjs-families/tests/registry.test.ts
  packages/brepjs-families/tsconfig.test.json
Due: none

chore(deps): hoist jsdom 30.1.1 to the root of the lockfile
  package-lock.json
Due: none

chore(security): swap monaco DOMPurify ignores for GHSA-p98j-92pf-mc4p
  osv-scanner.toml
Due: none

test: typecheck bim consumers in ci and families tests against source
  .github/workflows/ci.yml
  packages/brepjs-families/tests/families.test.ts
  packages/brepjs-families/tests/registry.test.ts
  packages/brepjs-families/tsconfig.test.json
Due: none

chore(deps): regenerate families IFC fixture for web-ifc 0.0.78
  packages/brepjs-bim/examples/sample-building-families.ifc
Due: none

test(families): typecheck tests in the package typecheck script
  packages/brepjs-families/package.json
Due: none

test: typecheck bim consumers in ci and families tests against source (#2378)
  .github/workflows/ci.yml
  packages/brepjs-families/package.json
  packages/brepjs-families/tests/families.test.ts
  packages/brepjs-families/tests/registry.test.ts
  packages/brepjs-families/tsconfig.test.json
Due: none

chore(deps-dev): bump size-limit and @size-limit/file to 14.0.0
  package-lock.json
  package.json
Due: none

fix(kernel): keep one copy of each output when chaining a compound boolean's evolution
  src/kernel/brepkit/evolutionOps.ts
  tests/brepkitEvolutionChain.test.ts
Due: eslint --fix, prettier --write

test(kernel): check the evolution chain every step and pin the generated merge
  src/kernel/brepkit/evolutionOps.ts
  tests/brepkitEvolutionChain.test.ts
Due: eslint --fix, prettier --write

fix(kernel): keep one copy of each output when chaining a compound boolean's evolution (#2379)
  src/kernel/brepkit/evolutionOps.ts
  tests/brepkitEvolutionChain.test.ts
Due: eslint --fix, prettier --write

fix(kernel): read a JS-side compound's solids in brepkit booleans
  src/kernel/brepkit/booleanOps.ts
  src/kernel/brepkit/evolutionOps.ts
  src/kernel/brepkit/helpers.ts
  tests/brepkitSyntheticCompoundBooleans.test.ts
Due: eslint --fix, prettier --write

fix(kernel): intersect a compound tool's solids as one union in brepkit history booleans
  src/kernel/brepkit/evolutionOps.ts
  tests/brepkitSyntheticCompoundBooleans.test.ts
Due: eslint --fix, prettier --write

fix(kernel): keep a compound tool's face history through the union an intersect takes
  src/kernel/brepkit/evolutionOps.ts
  tests/brepkitSyntheticCompoundBooleans.test.ts
Due: eslint --fix, prettier --write

test(kernel): cut all by two tools so the batch compound cut runs
  tests/brepkitSyntheticCompoundBooleans.test.ts
Due: eslint --fix, prettier --write

fix(kernel): read a JS-side compound's solids in brepkit booleans (#2384)
  src/kernel/brepkit/booleanOps.ts
  src/kernel/brepkit/evolutionOps.ts
  src/kernel/brepkit/helpers.ts
  tests/brepkitSyntheticCompoundBooleans.test.ts
Due: eslint --fix, prettier --write

test(patterns): check circularPattern copy placement against hand-rotated copies
  tests/patterns.test.ts
Due: eslint --fix, prettier --write

fix(brepkit): lift a sketched Bezier from its own poles
  src/kernel/brepkit/kernel2dOps.ts
  tests/brepkitBezierLift.test.ts
Due: eslint --fix, prettier --write

test(patterns): check circularPattern copy placement against hand-rotated copies (#2389)
  tests/patterns.test.ts
Due: eslint --fix, prettier --write

test(brepkit): lift a clamped B-spline with interior knots onto its own curve
  tests/brepkitBezierLift.test.ts
Due: eslint --fix, prettier --write

fix(brepkit): lift a sketched Bezier from its own poles (#2390)
  src/kernel/brepkit/kernel2dOps.ts
  tests/brepkitBezierLift.test.ts
Due: eslint --fix, prettier --write

test(brepkit): dispose the Bezier lift test's ramp
  tests/brepkitBezierLift.test.ts
Due: eslint --fix, prettier --write
