Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(landing): show finished hero state on mobile, hide Replay
  apps/docs/.vitepress/theme/components/CodeCadHero.vue
Due: none

docs(readme): add Vercel OSS Program badge
  README.md
Due: prettier --write

feat(sketching): unify chainable surface and accept Shape3D in batch booleans
  src/index.ts
  src/sketching/compoundSketch.ts
  src/sketching/sketch.ts
  src/sketching/sketchFns.ts
  src/sketching/sketches.ts
  src/topology/api.ts
  tests/sketchChainable.test.ts
Due: eslint --fix, prettier --write

feat(playground): type-check examples against editor types
  apps/playground/package.json
  apps/playground/scripts/checkExamples.ts
  apps/playground/scripts/generate-ambient-types.ts
  apps/playground/src/lib/ambientModule.ts
  apps/playground/src/lib/examples/mechanical.ts
  apps/playground/src/lib/monacoSetup.ts
  apps/playground/src/types/brepjs-ambient.d.ts
Due: none

docs(landing): hero Open in Playground loads the full gridfinity example
  apps/docs/.vitepress/theme/components/CodeCadHero.vue
Due: none

fix(sketching): address review on chainable surface
  apps/playground/scripts/checkExamples.ts
  apps/playground/src/types/brepjs-ambient.d.ts
  src/sketching/compoundSketch.ts
  src/sketching/sketchFns.ts
Due: eslint --fix, prettier --write

docs(og): refresh Open Graph card with brand-aligned design
  apps/docs/public/og.png
  apps/docs/public/og.svg
  package.json
  scripts/gen-og-docs.mjs
  scripts/gen-og.sh
Due: none

docs(seo): add robots.txt and homepage structured data
  apps/docs/.vitepress/config.ts
  apps/docs/public/robots.txt
Due: none

docs(seo): trim truncated descriptions and add breadcrumb data
  apps/docs/.vitepress/config.ts
  apps/docs/advanced/csg-caching.md
  apps/docs/agent/cli.md
  apps/docs/agent/eval.md
  apps/docs/agent/examples.md
  apps/docs/agent/overview.md
  apps/docs/agent/the-loop.md
  apps/docs/concepts/csg-ir.md
  apps/docs/index.md
  apps/docs/migration/manual-csg-cache.md
Due: prettier --write

chore(knip): ignore sharp, used only by the local OG generator
  knip.config.ts
Due: prettier --write

chore(og): make OG generator Chrome path portable
  scripts/gen-og-docs.mjs
Due: none

docs(seo): add brepjs vs Replicad comparison page
  apps/docs/.vitepress/config.ts
  apps/docs/compare/brepjs-vs-replicad.md
  apps/docs/migration/replicad.md
  apps/docs/public/og/compare/brepjs-vs-replicad.png
  scripts/gen-og-docs.mjs
Due: prettier --write

docs(seo): clarify Replicad's own OCCT-WASM build
  apps/docs/compare/brepjs-vs-replicad.md
Due: prettier --write

docs(seo): add brepjs vs OpenSCAD comparison page
  apps/docs/.vitepress/config.ts
  apps/docs/compare/brepjs-vs-openscad.md
  apps/docs/migration/openscad.md
  apps/docs/public/og/compare/brepjs-vs-openscad.png
Due: prettier --write

chore: ignore generated example outputs and nested agent memory
  .gitignore
Due: none

docs(seo): fix kernel attribution in OpenSCAD fillet note
  apps/docs/compare/brepjs-vs-openscad.md
Due: prettier --write

ci(publish): add dispatch publish workflows + LICENSE/README for brepjs-bim and brepjs-sheetmetal
  .github/workflows/publish-brepjs-bim.yml
  .github/workflows/publish-brepjs-sheetmetal.yml
  packages/brepjs-bim/LICENSE
  packages/brepjs-bim/README.md
  packages/brepjs-sheetmetal/LICENSE
Due: prettier --write

feat(playground): add 8 mechanical examples from BOSL2 + YAPP_Box
  apps/playground/public/example-thumbs/ball-bearing.webp
  apps/playground/public/example-thumbs/cube-truss-frame.webp
  apps/playground/public/example-thumbs/dovetail-joint.webp
  apps/playground/public/example-thumbs/knuckle-hinge.webp
  apps/playground/public/example-thumbs/linear-bearing-block.webp
  apps/playground/public/example-thumbs/nema-stepper.webp
  apps/playground/public/example-thumbs/project-enclosure.webp
  apps/playground/public/example-thumbs/tx-enclosure.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

docs: mark brepjs-bim and brepjs-sheetmetal as published
  CLAUDE.md
  packages/brepjs-bim/README.md
  packages/brepjs-sheetmetal/README.md
Due: prettier --write

feat(playground): expose brepjs-bim and brepjs-sheetmetal to the worker
  .github/workflows/ci.yml
  apps/playground/package.json
  apps/playground/src/workers/cad.worker.ts
  package-lock.json
  vercel.json
Due: none

fix(playground): weld tx-enclosure standoffs into the base shell
  apps/playground/public/example-thumbs/tx-enclosure.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

feat(playground): add Sheet Metal and BIM example categories with editor types
  apps/playground/public/example-thumbs/bim-steel-beam.webp
  apps/playground/public/example-thumbs/sheet-metal-bracket.webp
  apps/playground/scripts/checkExamples.ts
  apps/playground/scripts/generate-ambient-types.ts
  apps/playground/src/lib/ambientModule.ts
  apps/playground/src/lib/examples/bim.ts
  apps/playground/src/lib/examples/index.ts
  apps/playground/src/lib/examples/sheetMetal.ts
  apps/playground/src/lib/monacoSetup.ts
  apps/playground/src/types/brepjs-ambient.d.ts
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  apps/playground/src/types/brepjs-sheetmetal-ambient.d.ts
  tests/helpers/playgroundExampleEval.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

ci(vercel): factor site build into a build:site script
  package.json
  vercel.json
Due: none

fix(playground): weld 4 examples into single solids (fuseAll → pairwise fuse)
  apps/playground/public/example-thumbs/cube-truss-frame.webp
  apps/playground/public/example-thumbs/knuckle-hinge.webp
  apps/playground/public/example-thumbs/linear-bearing-block.webp
  apps/playground/public/example-thumbs/nema-stepper.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

feat(playground): add U-channel, louvered panel, and hemmed-edge sheet-metal examples
  apps/playground/public/example-thumbs/sheet-metal-hemmed-panel.webp
  apps/playground/public/example-thumbs/sheet-metal-louvered-panel.webp
  apps/playground/public/example-thumbs/sheet-metal-u-channel.webp
  apps/playground/src/lib/examples/sheetMetal.ts
Due: none

feat(playground): add wall-with-openings and curtain-wall BIM examples
  apps/playground/public/example-thumbs/bim-curtain-wall.webp
  apps/playground/public/example-thumbs/bim-wall-openings.webp
  apps/playground/src/lib/examples/bim.ts
Due: none

feat(playground): downloadable DXF for sheet-metal flat patterns
  apps/playground/src/components/playground/PlaygroundPage.tsx
  apps/playground/src/components/playground/Toolbar.tsx
  apps/playground/src/hooks/useCodeExecution.ts
  apps/playground/src/hooks/usePlaygroundActions.ts
  apps/playground/src/lib/ambientModule.ts
  apps/playground/src/lib/examples/sheetMetal.ts
  apps/playground/src/stores/playgroundStore.ts
  apps/playground/src/workers/cad.worker.ts
  apps/playground/src/workers/workerProtocol.ts
  tests/helpers/playgroundExampleEval.ts
Due: eslint --fix, prettier --write

ci(release): manage + auto-publish brepjs-bim and brepjs-sheetmetal
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

fix(playground): guard satellite lazy-loaders against concurrent double-load
  apps/playground/src/workers/cad.worker.ts
Due: none

feat(playground): add flanged pipe tee mechanical example
  apps/playground/public/example-thumbs/flanged-tee.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

feat(playground): add 8 mechanical examples from BOSL2 + gridfinity + YAPP
  apps/playground/public/example-thumbs/divided-gridfinity-bin.webp
  apps/playground/public/example-thumbs/gridfinity-baseplate.webp
  apps/playground/public/example-thumbs/modular-hose-segment.webp
  apps/playground/public/example-thumbs/tripod-rc2-plate.webp
  apps/playground/public/example-thumbs/v-groove-slider-rail.webp
  apps/playground/public/example-thumbs/vented-louvre-case.webp
  apps/playground/public/example-thumbs/wall-mount-flanged-junction-box.webp
  apps/playground/public/example-thumbs/wall-ring-hook.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

feat(bim): add toTreeSummary, a BIM tree panel, and architectural-scale camera
  apps/playground/public/example-thumbs/bim-curtain-wall.webp
  apps/playground/public/example-thumbs/bim-steel-beam.webp
  apps/playground/public/example-thumbs/bim-wall-openings.webp
  apps/playground/public/example-thumbs/sheet-metal-louvered-panel.webp
  apps/playground/src/components/playground/BimTreePanel.tsx
  apps/playground/src/components/playground/DesktopLayout.tsx
  apps/playground/src/components/playground/ViewerPanel.tsx
  apps/playground/src/hooks/useCodeExecution.ts
  apps/playground/src/lib/ambientModule.ts
  apps/playground/src/lib/examples/bim.ts
  apps/playground/src/stores/playgroundStore.ts
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  apps/playground/src/workers/cad.worker.ts
  apps/playground/src/workers/workerProtocol.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/src/model/treeSummary.ts
  packages/brepjs-bim/tests/bimModel.test.ts
  vitest.config.ts
Due: prettier --write

docs(playground): explain branch-flange radius in pipe tee example
  apps/playground/src/lib/examples/mechanical.ts
Due: none

fix(bim): count tree nodes for elementCount; add aria-expanded to panel toggle
  apps/playground/src/components/playground/BimTreePanel.tsx
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/src/model/treeSummary.ts
  packages/brepjs-bim/tests/bimModel.test.ts
Due: none

fix(playground): fix divided-bin scoop and louvre honeycomb pitch (Greptile)
  apps/playground/public/example-thumbs/divided-gridfinity-bin.webp
  apps/playground/public/example-thumbs/vented-louvre-case.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

feat(sheetmetal): add flatPatternToPolylines + playground flat-pattern 2D overlay
  apps/playground/src/components/playground/DesktopLayout.tsx
  apps/playground/src/components/playground/FlatPatternPanel.tsx
  apps/playground/src/hooks/useCodeExecution.ts
  apps/playground/src/lib/ambientModule.ts
  apps/playground/src/lib/examples/sheetMetal.ts
  apps/playground/src/stores/playgroundStore.ts
  apps/playground/src/types/brepjs-sheetmetal-ambient.d.ts
  apps/playground/src/workers/cad.worker.ts
  apps/playground/src/workers/workerProtocol.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/polygonFns.ts
  packages/brepjs-sheetmetal/tests/flatPatternPolylines.test.ts
Due: none

fix(playground): evenodd flat-pattern fill + move panel off the BIM slot
  apps/playground/src/components/playground/FlatPatternPanel.tsx
Due: none

feat(bim): add optional root fillets to I-beam profiles
  packages/brepjs-bim/src/elementFns/profileFns.ts
  packages/brepjs-bim/src/ifc-writer/geometryWriter.ts
  packages/brepjs-bim/src/specs/profile.ts
  packages/brepjs-bim/tests/beamFns.test.ts
  packages/brepjs-bim/tests/profile.test.ts
Due: none

feat(playground): make truss, I-beam, and enclosure examples true to life
  apps/playground/src/lib/examples/bim.ts
  apps/playground/src/lib/examples/mechanical.ts
  apps/playground/src/types/brepjs-bim-ambient.d.ts
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
