Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat(sheetmetal): cutouts & holes that survive fold/unfold
  packages/brepjs-sheetmetal/.claude/agent-memory-local/engineer/MEMORY.md
  packages/brepjs-sheetmetal/.claude/agent-memory-local/engineer/project_sheetmetal_reliefs_pr3.md
  packages/brepjs-sheetmetal/.claude/agent-memory-local/reviewer/MEMORY.md
  packages/brepjs-sheetmetal/.claude/agent-memory-local/reviewer/project_sheetmetal_relief_review.md
  packages/brepjs-sheetmetal/README.md
  packages/brepjs-sheetmetal/harness/snapshot.ts
  packages/brepjs-sheetmetal/src/api.ts
  packages/brepjs-sheetmetal/src/authorFns.ts
  packages/brepjs-sheetmetal/src/cutoutFns.ts
  packages/brepjs-sheetmetal/src/dxfFns.ts
  packages/brepjs-sheetmetal/src/facade.ts
  packages/brepjs-sheetmetal/src/foldFns.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/tests/cutout.test.ts
  packages/brepjs-sheetmetal/tests/dxf.test.ts
Due: prettier --write

refactor(sheetmetal): dedupe feature-tree walk in addCutout, document base aliases
  packages/brepjs-sheetmetal/src/authorFns.ts
  packages/brepjs-sheetmetal/src/cutoutFns.ts
  packages/brepjs-sheetmetal/src/types.ts
Due: none

feat(sheetmetal): tabs, tab-and-slot joints, louvers, dimples/embosses
  packages/brepjs-sheetmetal/README.md
  packages/brepjs-sheetmetal/harness/snapshot.ts
  packages/brepjs-sheetmetal/src/api.ts
  packages/brepjs-sheetmetal/src/cutoutFns.ts
  packages/brepjs-sheetmetal/src/dxfFns.ts
  packages/brepjs-sheetmetal/src/facade.ts
  packages/brepjs-sheetmetal/src/foldFns.ts
  packages/brepjs-sheetmetal/src/formFns.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/tabFns.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/tests/dxf.test.ts
  packages/brepjs-sheetmetal/tests/formfeatures.test.ts
Due: prettier --write

refactor(sheetmetal): polish form-feature review nits
  packages/brepjs-sheetmetal/src/tabFns.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/tests/formfeatures.test.ts
Due: none

feat(sheetmetal): contour flanges and lofted/ruled transition flanges
  packages/brepjs-sheetmetal/README.md
  packages/brepjs-sheetmetal/harness/snapshot.ts
  packages/brepjs-sheetmetal/src/api.ts
  packages/brepjs-sheetmetal/src/contourFlangeFns.ts
  packages/brepjs-sheetmetal/src/dxfFns.ts
  packages/brepjs-sheetmetal/src/facade.ts
  packages/brepjs-sheetmetal/src/featureTreeFns.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/loftedFlangeFns.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/tests/contourloft.test.ts
Due: prettier --write

feat(sheetmetal): foreign-solid import & unfold via numerical cylinder fitting
  packages/brepjs-sheetmetal/README.md
  packages/brepjs-sheetmetal/harness/snapshot.ts
  packages/brepjs-sheetmetal/src/api.ts
  packages/brepjs-sheetmetal/src/facade.ts
  packages/brepjs-sheetmetal/src/foreignUnfoldFns.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/tests/foreignUnfold.test.ts
Due: prettier --write

chore: add GitHub Sponsors funding link
  .github/FUNDING.yml
Due: none

fix(sheetmetal): honest foreign-unfold warnings (area fallback, dedicated codes)
  packages/brepjs-sheetmetal/src/foreignUnfoldFns.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/tests/foreignUnfold.test.ts
Due: none

feat(sheetmetal): bend tables with allowance/deduction lookup + interpolation
  packages/brepjs-sheetmetal/README.md
  packages/brepjs-sheetmetal/harness/snapshot.ts
  packages/brepjs-sheetmetal/src/allowanceFns.ts
  packages/brepjs-sheetmetal/src/api.ts
  packages/brepjs-sheetmetal/src/bendTableFns.ts
  packages/brepjs-sheetmetal/src/foreignUnfoldFns.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/tests/bendTable.test.ts
Due: prettier --write

fix(sheetmetal): dedicated TABLE_CLAMP warning code, drop dead registry guard
  packages/brepjs-sheetmetal/src/bendTableFns.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/tests/bendTable.test.ts
Due: none

feat(sheetmetal): hems (closed/open/teardrop/rolled) + jogs
  packages/brepjs-sheetmetal/README.md
  packages/brepjs-sheetmetal/harness/snapshot.ts
  packages/brepjs-sheetmetal/src/api.ts
  packages/brepjs-sheetmetal/src/contourFlangeFns.ts
  packages/brepjs-sheetmetal/src/facade.ts
  packages/brepjs-sheetmetal/src/featureTreeFns.ts
  packages/brepjs-sheetmetal/src/hemFns.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/jogFns.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/src/unfoldFns.ts
  packages/brepjs-sheetmetal/tests/hemjog.test.ts
Due: prettier --write

fix(sheetmetal): correct hem gap/closed-radius semantics + allow multiple per edge
  packages/brepjs-sheetmetal/src/hemFns.ts
  packages/brepjs-sheetmetal/src/jogFns.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/tests/hemjog.test.ts
Due: none

feat(sheetmetal): bounding-box nesting of flat patterns onto stock sheets
  packages/brepjs-sheetmetal/README.md
  packages/brepjs-sheetmetal/harness/snapshot.ts
  packages/brepjs-sheetmetal/src/api.ts
  packages/brepjs-sheetmetal/src/dxfFns.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/nestFns.ts
  packages/brepjs-sheetmetal/src/types.ts
  packages/brepjs-sheetmetal/tests/nest.test.ts
Due: prettier --write

fix(sheetmetal): harden nest validation + dedupe nest API surface
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/nestFns.ts
  packages/brepjs-sheetmetal/tests/nest.test.ts
Due: none

feat(sheetmetal): true-shape (no-fit-polygon) nesting for interlocking parts
  packages/brepjs-sheetmetal/README.md
  packages/brepjs-sheetmetal/harness/snapshot.ts
  packages/brepjs-sheetmetal/src/api.ts
  packages/brepjs-sheetmetal/src/index.ts
  packages/brepjs-sheetmetal/src/nestFns.ts
  packages/brepjs-sheetmetal/src/polygonFns.ts
  packages/brepjs-sheetmetal/tests/nfpNest.test.ts
Due: prettier --write

docs(sheetmetal): correct transformPolygon / pointInPolygon docstrings
  packages/brepjs-sheetmetal/src/polygonFns.ts
Due: none

test: cover findCurveType, ioFilename, capability guards, importGLB error
  tests/ioFilename.test.ts
  tests/kernelCapabilityGuards.test.ts
  tests/typeDiscriminants.test.ts
Due: eslint --fix, prettier --write

test: cover multiSectionSweep and guidedSweep on default kernel
  tests/multiGuidedSweepNative.test.ts
Due: eslint --fix, prettier --write

test: cover CompoundSketch instance methods and 2D curve trim/copy/split
  tests/curve2dGeometry.test.ts
  tests/sketchFns.test.ts
Due: eslint --fix, prettier --write

test: cover Result flatten/mapBoth and disposal stats helpers
  tests/disposalStats.test.ts
  tests/result.test.ts
Due: eslint --fix, prettier --write

test: cover stretch2D and 2D blueprint sketching projections
  tests/blueprintFns.test.ts
Due: eslint --fix, prettier --write

test: cover resolve3D, castShape3D, and drawText
  tests/apiCastResolve.test.ts
  tests/textBlueprints.test.ts
Due: eslint --fix, prettier --write

chore(coverage): drop non-functioning v8 ignore-file headers from occt-wasm adapter
  src/kernel/occtWasm/adapterShims.ts
  src/kernel/occtWasm/booleanOps.ts
  src/kernel/occtWasm/constructionOps.ts
  src/kernel/occtWasm/curveOps.ts
  src/kernel/occtWasm/evolutionOps.ts
  src/kernel/occtWasm/helpers.ts
  src/kernel/occtWasm/hullOps.ts
  src/kernel/occtWasm/ioOps.ts
  src/kernel/occtWasm/kernel2dOps.ts
  src/kernel/occtWasm/measureOps.ts
  src/kernel/occtWasm/meshOps.ts
  src/kernel/occtWasm/modifierOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/primitiveOps.ts
  src/kernel/occtWasm/repairOps.ts
  src/kernel/occtWasm/surfaceOps.ts
  src/kernel/occtWasm/sweepOps.ts
  src/kernel/occtWasm/topologyOps.ts
  src/kernel/occtWasm/transformOps.ts
Due: eslint --fix, prettier --write

test: address review — dispose sweep fixtures, robust reset-stats assertion
  tests/disposalStats.test.ts
  tests/multiGuidedSweepNative.test.ts
Due: eslint --fix, prettier --write

chore(brepjs-cad): make package npm-publishable
  package-lock.json
  packages/brepjs-cad/package.json
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/tests/snapshotImportGuard.test.ts
Due: none

ci(brepjs-cad): wire release-please publishing (manual-dispatch, held)
  .github/workflows/publish-brepjs-cad.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

test(brepjs-cad): restore stderr spy after snapshot guard suite
  packages/brepjs-cad/tests/snapshotImportGuard.test.ts
Due: none

fix(brepjs-cad): keep verify stdout a single JSON document
  packages/brepjs-cad/src/cli/main.ts
Due: none

feat(brepjs-cad): add init/watch/export cli subcommands and finish dist rename
  packages/brepjs-cad/package.json
  packages/brepjs-cad/src/cli/exportPart.ts
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/cli/scaffold.ts
  packages/brepjs-cad/src/cli/watch.ts
  packages/brepjs-cad/tests/cli.test.ts
  packages/brepjs-cad/tests/exportPart.test.ts
  packages/brepjs-cad/tests/scaffold.test.ts
  packages/brepjs-cad/tests/watch.test.ts
  packages/brepjs-cad/vite.config.ts
Due: prettier --write

feat(brepjs-cad): add code-keyed verify hints with actionable fixes
  packages/brepjs-cad/src/verify/checks.ts
  packages/brepjs-cad/src/verify/report.ts
  packages/brepjs-cad/src/verify/runPart.ts
  packages/brepjs-cad/tests/fixtures/filletNoEdges.brep.ts
  packages/brepjs-cad/tests/fixtures/invalidFilletRadius.brep.ts
  packages/brepjs-cad/tests/report.test.ts
  packages/brepjs-cad/tests/runPart.test.ts
Due: none

feat(brepjs-cad): gridfinity-seeded examples + deterministic eval harness
  .github/workflows/ci.yml
  packages/brepjs-cad/bench/run.ts
  packages/brepjs-cad/bench/tsconfig.json
  packages/brepjs-cad/eslint.config.js
  packages/brepjs-cad/package.json
  packages/brepjs-cad/skill/examples/chamfered-block.brep.ts
  packages/brepjs-cad/skill/examples/chamfered-block.expected.json
  packages/brepjs-cad/skill/examples/extruded-bracket.brep.ts
  packages/brepjs-cad/skill/examples/extruded-bracket.expected.json
  packages/brepjs-cad/skill/examples/flanged-coupler.brep.ts
  packages/brepjs-cad/skill/examples/flanged-coupler.expected.json
  packages/brepjs-cad/skill/examples/gridfinity-baseplate.brep.ts
  packages/brepjs-cad/skill/examples/gridfinity-baseplate.expected.json
  packages/brepjs-cad/skill/examples/gridfinity-bin.brep.ts
  packages/brepjs-cad/skill/examples/gridfinity-bin.expected.json
  packages/brepjs-cad/skill/examples/gridfinity-divider.brep.ts
  packages/brepjs-cad/skill/examples/gridfinity-divider.expected.json
  packages/brepjs-cad/skill/examples/hollow-enclosure.brep.ts
  packages/brepjs-cad/skill/examples/hollow-enclosure.expected.json
  packages/brepjs-cad/skill/examples/mounting-bracket.brep.ts
  packages/brepjs-cad/skill/examples/mounting-bracket.expected.json
  packages/brepjs-cad/skill/examples/revolved-pulley.brep.ts
  packages/brepjs-cad/skill/examples/revolved-pulley.expected.json
  packages/brepjs-cad/skill/examples/rounded-block.brep.ts
  packages/brepjs-cad/skill/examples/rounded-block.expected.json
  packages/brepjs-cad/skill/examples/swept-gasket.brep.ts
  packages/brepjs-cad/skill/examples/swept-gasket.expected.json
  packages/brepjs-cad/skill/examples/transform-bracket.brep.ts
  packages/brepjs-cad/skill/examples/transform-bracket.expected.json
  packages/brepjs-cad/src/verify/runPart.ts
Due: none

docs(brepjs-cad): document CLI subcommands + examples + eval
  packages/brepjs-cad/README.md
  packages/brepjs-cad/skill/SKILL.md
Due: prettier --write

fix(brepjs-cad): dispose WASM shapes + harden watch signals
  packages/brepjs-cad/bench/run.ts
  packages/brepjs-cad/src/cli/exportPart.ts
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/disposeShape.ts
  packages/brepjs-cad/src/verify/checks.ts
Due: none

fix(brepjs-cad): run CLI when invoked via the bin symlink
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/tests/entrypoint.test.ts
Due: none

refactor(brepjs-cad): address quality-pass findings
  packages/brepjs-cad/src/cli/exportPart.ts
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/verify/diff.ts
Due: none

refactor(brepjs-cad): optimize cli/verify internals
  packages/brepjs-cad/bench/run.ts
  packages/brepjs-cad/src/cli/exportPart.ts
  packages/brepjs-cad/src/cli/watch.ts
  packages/brepjs-cad/src/disposeShape.ts
  packages/brepjs-cad/src/snapshot/registry.ts
  packages/brepjs-cad/src/snapshot/static.ts
  packages/brepjs-cad/src/verify/report.ts
  packages/brepjs-cad/src/verify/runPart.ts
Due: none

refactor(brepjs-cad): simplify cli/verify code
  packages/brepjs-cad/src/cli/main.ts
Due: none

fix(brepjs-cad): address round-2 quality findings
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/verify/runPart.ts
Due: none

fix(brepjs-cad): keep --json file and stdout in sync on write failure
  packages/brepjs-cad/src/cli/main.ts
Due: none
