Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

chore(site): configure Vercel deployment for collective-context team
  site/.gitignore
  site/vercel.json
Due: none

chore(site): configure Vercel deployment (#118)
  site/.gitignore
  site/vercel.json
Due: none

docs: fill remaining TSDoc gaps across utils, core, topology, and more
  src/2d/curves.ts
  src/core/geometry.ts
  src/io/importers.ts
  src/kernel/index.ts
  src/oclib.ts
  src/projection/makeProjectedEdges.ts
  src/projection/projectionPlanes.ts
  src/query/definitions.ts
  src/query/generic3dfinder.ts
  src/query/helpers.ts
  src/sketching/sketchLib.ts
  src/topology/shapeHelpers.ts
  src/utils/bug.ts
  src/utils/precisionRound.ts
  src/utils/range.ts
  src/utils/round2.ts
  src/utils/round5.ts
  src/utils/uuid.ts
  src/utils/zip.ts
  src/worker/taskQueue.ts
  src/worker/workerClient.ts
  src/worker/workerHandler.ts
Due: eslint --fix, prettier --write

docs: fix Blueprint @example to use correct SketchData return type
  src/2d/blueprints/Blueprint.ts
Due: eslint --fix, prettier --write

fix(site): use npm packages for Vercel deployment
  .gitignore
  site/package-lock.json
  site/package.json
  site/scripts/copy-wasm.sh
  site/vercel.json
Due: none

refactor(site): replace copy-wasm.sh with Vite plugin
  site/package.json
  site/scripts/copy-wasm.sh
  site/vite.config.ts
Due: prettier --write

fix(site): correct dependency versions and peer dep range
  package.json
  site/package-lock.json
  site/package.json
  site/vercel.json
Due: none

fix(site): use npm packages for Vercel deployment (#120)
  .gitignore
  package.json
  site/package-lock.json
  site/package.json
  site/scripts/copy-wasm.sh
  site/vercel.json
  site/vite.config.ts
Due: prettier --write

chore: remove standalone deprecated items (Phase 1)
  site/scripts/precompute-hero-mesh.ts
  site/scripts/test-examples.ts
  site/src/workers/cad.worker.ts
  src/core/geometry.ts
  src/core/memory.ts
  src/index.ts
  src/io/importers.ts
  src/measurement/measureShape.ts
  src/oclib.ts
  src/query/faceFinder.ts
  src/topology/faceFns.ts
  src/topology/index.ts
  src/topology/meshCache.ts
  tests/fn-disposal.test.ts
  tests/fn-faceFns.test.ts
  tests/geometry.test.ts
  tests/measurement.test.ts
  tests/memory.test.ts
  tests/meshCache.test.ts
  tests/public-api-types.test.ts
  tests/setup.ts
Due: eslint --fix, prettier --write

chore: clean up kernel re-export comments (Phase 2)
  src/kernel/booleanOps.ts
  src/kernel/constructorOps.ts
  src/kernel/ioOps.ts
  src/kernel/measureOps.ts
  src/kernel/meshOps.ts
  src/kernel/modifierOps.ts
  src/kernel/sweepOps.ts
  src/kernel/topologyOps.ts
  src/kernel/transformOps.ts
Due: eslint --fix, prettier --write

feat(site): playground UX overhaul — resizable panels, shortcuts, viewer toolbar, STEP export
  package-lock.json
  site/package-lock.json
  site/package.json
  site/src/components/playground/CollapsedConsoleBar.tsx
  site/src/components/playground/EdgeRenderer.tsx
  site/src/components/playground/EditorPanel.tsx
  site/src/components/playground/PlaygroundPage.tsx
  site/src/components/playground/ShapeRenderer.tsx
  site/src/components/playground/Toolbar.tsx
  site/src/components/playground/ViewerPanel.tsx
  site/src/components/playground/ViewerToolbar.tsx
  site/src/components/shared/SceneSetup.tsx
  site/src/components/shared/ToastContainer.tsx
  site/src/hooks/useCodeExecution.ts
  site/src/hooks/useKeyboardShortcuts.ts
  site/src/lib/shortcuts.ts
  site/src/stores/playgroundStore.ts
  site/src/stores/toastStore.ts
  site/src/stores/viewerStore.ts
  site/src/styles/globals.css
  site/src/workers/cad.worker.ts
  site/src/workers/workerProtocol.ts
Due: none

fix(site): relax dev-server CSP for Vite HMR and drei HDRI loading
  site/vite.config.ts
Due: prettier --write

fix(site): remove drei Environment to avoid HDRI CSP issues
  site/src/components/shared/SceneSetup.tsx
  site/vite.config.ts
Due: prettier --write

fix(site): allow Monaco CSS from jsdelivr in dev CSP style-src
  site/vite.config.ts
Due: prettier --write

fix(site): remove CSP from dev server — production uses vercel.json
  site/vite.config.ts
Due: prettier --write

feat(site): add collapse toggle button to console panel header
  site/src/components/playground/OutputPanel.tsx
  site/src/components/playground/PlaygroundPage.tsx
Due: none

chore: remove deprecated Shape instance methods (Phase 3)
  benchmarks/boolean.bench.test.ts
  benchmarks/comparison.bench.test.ts
  benchmarks/edge-mesh.bench.test.ts
  benchmarks/meshing.bench.test.ts
  benchmarks/model.bench.test.ts
  benchmarks/scaling.bench.test.ts
  benchmarks/topology.bench.test.ts
  src/sketching/CompoundSketch.ts
  src/sketching/Sketch.ts
  src/sketching/Sketcher.ts
  src/sketching/Sketcher2d.ts
  src/sketching/draw.ts
  src/topology/shapeBooleans.ts
  src/topology/shapes.ts
  tests/boolean.test.ts
  tests/fn-loftFns.test.ts
  tests/fn-shapeFns.test.ts
  tests/import-export.test.ts
  tests/operations-batch.test.ts
  tests/operations.test.ts
  tests/topology.test.ts
Due: eslint --fix, prettier --write

chore: remove ProjectionCamera class, migrate to functional Camera API (Phase 4b)
  src/index.ts
  src/projection/ProjectionCamera.ts
  src/projection/cameraFns.ts
  src/projection/makeProjectedEdges.ts
  src/sketching/draw.ts
  tests/fn-cameraFns.test.ts
  tests/projection.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

chore: remove WrappingObj from non-Shape subclasses (Phase 4)
  src/2d/blueprints/Blueprint.ts
  src/2d/curves.ts
  src/index.ts
  src/operations/exporters.ts
  src/query/generic3dfinder.ts
  src/topology/shapeHelpers.ts
  tests/operations-exporters.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(site): overhaul 3D viewer scene — dark studio lighting, custom grid, camera presets
  site/src/components/landing/HeroViewer.tsx
  site/src/components/playground/EdgeRenderer.tsx
  site/src/components/playground/ShapeRenderer.tsx
  site/src/components/playground/ViewerPanel.tsx
  site/src/components/playground/ViewerToolbar.tsx
  site/src/components/shared/CameraReset.tsx
  site/src/components/shared/GradientBackground.tsx
  site/src/components/shared/InfiniteGrid.tsx
  site/src/components/shared/SceneLighting.tsx
  site/src/components/shared/SceneSetup.tsx
  site/src/hooks/useCameraPresets.ts
  site/src/stores/viewerStore.ts
Due: none

feat(site): playground UX overhaul (#122)
  package-lock.json
  site/package-lock.json
  site/package.json
  site/src/components/landing/HeroViewer.tsx
  site/src/components/playground/CollapsedConsoleBar.tsx
  site/src/components/playground/EdgeRenderer.tsx
  site/src/components/playground/EditorPanel.tsx
  site/src/components/playground/OutputPanel.tsx
  site/src/components/playground/PlaygroundPage.tsx
  site/src/components/playground/ShapeRenderer.tsx
  site/src/components/playground/Toolbar.tsx
  site/src/components/playground/ViewerPanel.tsx
  site/src/components/playground/ViewerToolbar.tsx
  site/src/components/shared/CameraReset.tsx
  site/src/components/shared/GradientBackground.tsx
  site/src/components/shared/InfiniteGrid.tsx
  site/src/components/shared/SceneLighting.tsx
  site/src/components/shared/SceneSetup.tsx
  site/src/components/shared/ToastContainer.tsx
  site/src/hooks/useCameraPresets.ts
  site/src/hooks/useCodeExecution.ts
  site/src/hooks/useKeyboardShortcuts.ts
  site/src/lib/shortcuts.ts
  site/src/stores/playgroundStore.ts
  site/src/stores/toastStore.ts
  site/src/stores/viewerStore.ts
  site/src/styles/globals.css
  site/src/workers/cad.worker.ts
  site/src/workers/workerProtocol.ts
  site/vite.config.ts
Due: prettier --write

fix(site): address PR #122 feedback — SSR guard, STEP shortcut, gradient tuning
  site/src/components/playground/PlaygroundPage.tsx
  site/src/components/playground/Toolbar.tsx
  site/src/components/shared/GradientBackground.tsx
  site/src/lib/shortcuts.ts
Due: none

fix(site): address PR #122 feedback (#125)
  site/src/components/playground/PlaygroundPage.tsx
  site/src/components/playground/Toolbar.tsx
  site/src/components/shared/GradientBackground.tsx
  site/src/lib/shortcuts.ts
Due: none

chore(site): update brepjs dependency to ^4.17.1
  site/package-lock.json
  site/package.json
Due: none

chore(site): update brepjs to 4.17.1 (#126)
  site/package-lock.json
  site/package.json
Due: none

Add context7.json configuration file
  context7.json
Due: none

Add context7 configuration file (#127)
  context7.json
Due: none

chore: final cleanup — remove dead code, update docs, bump to v5.0.0 (Phase 10)
  CLAUDE.md
  README.md
  llms.txt
  package.json
  src/core/memory.ts
  src/index.ts
  src/operations/extrude.ts
  src/topology/faceFns.ts
  src/topology/index.ts
  src/topology/shapeBooleans.ts
  src/topology/shapeModifiers.ts
  tests/public-api-types.test.ts
  tests/topology.test.ts
Due: eslint --fix, prettier --write

fix: type OcType | null for nullable transformation in curves.ts
  src/2d/curves.ts
Due: eslint --fix, prettier --write

chore: remove WrappingObj, fix lint warnings, update llms.txt
  knip.config.ts
  llms.txt
  src/2d/lib/BoundingBox2d.ts
  src/2d/lib/Curve2D.ts
  src/core/disposal.ts
  src/core/memory.ts
  src/index.ts
  tests/memory.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

chore: remove WrappingObj, fix lint warnings, update llms.txt (#128)
  knip.config.ts
  llms.txt
  src/2d/lib/BoundingBox2d.ts
  src/2d/lib/Curve2D.ts
  src/core/disposal.ts
  src/core/memory.ts
  src/index.ts
  tests/memory.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

chore: remove stale JSDoc @see refs to deleted OOP classes
  src/2d/curves.ts
  src/core/README.md
  src/core/disposal.ts
  src/io/README.md
  src/measurement/README.md
  src/measurement/measureFns.ts
  src/projection/README.md
  src/projection/cameraFns.ts
  src/projection/projectionPlanes.ts
  src/topology/booleanFns.ts
  src/topology/curveFns.ts
  src/topology/faceFns.ts
  src/topology/meshFns.ts
Due: eslint --fix, prettier --write

chore: remove stale JSDoc @see refs to deleted OOP classes (#129)
  src/2d/curves.ts
  src/core/README.md
  src/core/disposal.ts
  src/io/README.md
  src/measurement/README.md
  src/measurement/measureFns.ts
  src/projection/README.md
  src/projection/cameraFns.ts
  src/projection/projectionPlanes.ts
  src/topology/booleanFns.ts
  src/topology/curveFns.ts
  src/topology/faceFns.ts
  src/topology/meshFns.ts
Due: eslint --fix, prettier --write

chore: migrate poolOptions to top-level for Vitest 4
  vitest.config.ts
Due: prettier --write

chore: migrate poolOptions to top-level for Vitest 4 (#130)
  vitest.config.ts
Due: prettier --write
