Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

docs: add 5 advanced cookbook recipes
  docs/cookbook.md
Due: prettier --write

docs: update assessment after cookbook expansion
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

feat: add .done() method to wrapper as alias for .val
  src/topology/wrapperFns.ts
  tests/wrapperFns.test.ts
Due: eslint --fix, prettier --write

docs: update assessment after adding .done() method
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

feat: add suggestion field to BrepError
  src/core/errors.ts
  src/topology/modifierFns.ts
  src/topology/wrapperFns.ts
  tests/fn-errorSuggestions.test.ts
Due: eslint --fix, prettier --write

docs: update assessment after adding suggestion field
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

docs: clean up completed planning documents
  docs/function-lookup.md
  docs/plans/2026-02-07-public-api-assessment.md
Due: prettier --write

docs: document coverage requirements
  CONTRIBUTING.md
  README.md
Due: prettier --write

feat: add smart test selection script
  package.json
Due: none

perf: parallelize pre-commit checks and add smart test selection
  .husky/pre-commit
  scripts/pre-commit-help.sh
Due: none

feat: add pre-push hook for comprehensive checks
  .husky/pre-push
Due: none

fix: revert incorrect unused variable renames in tests
  tests/2d.test.ts
  tests/fn-blueprintFns.test.ts
  tests/fn-boolean2dFns.test.ts
  tests/fn-curve2dFns.test.ts
  tests/fn-drawFns.test.ts
  tests/fn-importFns.test.ts
  tests/fn-workerClient.test.ts
Due: prettier --write

chore: remove unused deprecated type aliases
  src/operations/exporters.ts
  src/operations/loft.ts
  src/topology/primitiveFns.ts
  src/topology/shapeHelpers.ts
Due: eslint --fix, prettier --write

fix: use POSIX-compliant test syntax in pre-commit hook
  .husky/pre-commit
Due: none

feat: pre-commit hook improvements to close quality gaps and improve performance (#195)
  .github/workflows/ci.yml
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  CONTRIBUTING.md
  README.md
  docs/function-lookup.md
  docs/plans/2026-02-07-public-api-assessment.md
  eslint.config.js
  package.json
  scripts/pre-commit-help.sh
  src/operations/exporters.ts
  src/operations/loft.ts
  src/topology/primitiveFns.ts
  src/topology/shapeHelpers.ts
  tsconfig.tests.json
Due: eslint --fix, prettier --write

docs: add gallery design for landing page showcase
  docs/plans/2026-02-07-gallery-design.md
Due: prettier --write

feat: add interactive gallery with 13 impressive examples
  package-lock.json
  site/package.json
  site/src/components/landing/CodeSnippet.tsx
  site/src/components/landing/ExamplesGallery.tsx
  site/src/components/landing/ExamplesPreview.tsx
  site/src/components/landing/GalleryCard.tsx
  site/src/components/landing/LandingPage.tsx
  site/src/components/landing/LiveViewer3D.tsx
  site/src/hooks/useShapePrecompilation.ts
  site/src/lib/examples.ts
Due: none

refactor: remove code snippets from gallery cards
  site/index.html
  site/public/favicon.svg
  site/public/logo.svg
  site/src/components/landing/ExamplesGallery.tsx
  site/src/components/landing/GalleryCard.tsx
  site/src/components/shared/Logo.tsx
  site/src/lib/examples.ts
Due: none

refactor: use playground's scene components in gallery
  site/src/components/landing/LiveViewer3D.tsx
Due: none

feat: upgrade gallery examples to showcase advanced brepjs features
  site/src/lib/gallery-examples-draft.ts
Due: none

fix: simplify hex bolt geometry to remove broken thread grooves
  site/src/lib/examples.ts
Due: none

feat: add realistic thread grooves to hex bolt
  site/src/lib/examples.ts
Due: none

refactor: simplify gallery to single spiral staircase example
  site/src/components/landing/ExamplesGallery.tsx
  site/src/lib/examples.ts
Due: none

fix: adjust spiral staircase camera position to center in gallery card
  site/src/lib/examples.ts
Due: none

fix: remove custom camera settings to use auto-fit for spiral staircase
  site/src/lib/examples.ts
Due: none

fix: set spiral staircase to side view in gallery
  site/src/lib/examples.ts
Due: none

fix: use auto-fit camera with slow rotation for spiral staircase
  site/src/lib/examples.ts
Due: none

fix: update HERO_CODE to include handrail sweep and ball endcaps
  site/src/lib/constants.ts
Due: none

feat: add edge outlines and hero camera perspective to gallery
  site/src/components/landing/LiveViewer3D.tsx
Due: none

feat: disable line highlighting in code editor
  site/src/components/playground/EditorPanel.tsx
Due: none

fix: remove line background highlights from code display
  site/src/components/landing/CodeDisplay.tsx
Due: none

refactor: convert hero code to use new chaining API
  site/scripts/precompute-hero-mesh.ts
  site/src/components/landing/CodeDisplay.tsx
  site/src/lib/constants.ts
Due: none

fix: improve line number alignment in code display
  site/src/components/landing/CodeDisplay.tsx
Due: none

Polish landing page: gallery, code display, and chaining API (#196)
  docs/plans/2026-02-07-gallery-design.md
  package-lock.json
  site/index.html
  site/package.json
  site/public/favicon.svg
  site/public/logo.svg
  site/scripts/precompute-hero-mesh.ts
  site/src/components/landing/CodeDisplay.tsx
  site/src/components/landing/CodeSnippet.tsx
  site/src/components/landing/ExamplesGallery.tsx
  site/src/components/landing/ExamplesPreview.tsx
  site/src/components/landing/GalleryCard.tsx
  site/src/components/landing/LandingPage.tsx
  site/src/components/landing/LiveViewer3D.tsx
  site/src/components/playground/EditorPanel.tsx
  site/src/components/shared/Logo.tsx
  site/src/hooks/useShapePrecompilation.ts
  site/src/lib/constants.ts
  site/src/lib/examples.ts
  site/src/lib/gallery-examples-draft.ts
Due: prettier --write

Revamp README: remove SVG gallery, let code speak for itself
  README.md
  docs/images/examples/2d-profile.svg
  docs/images/examples/boolean-ops.svg
  docs/images/examples/bracket.svg
  docs/images/examples/hello-world.svg
  docs/images/examples/pipe-fitting.svg
  examples/README.md
Due: prettier --write

Fix README to use actual public API names and full capabilities
  README.md
Due: prettier --write

Restructure README with best-in-class patterns
  README.md
Due: prettier --write

docs: update CLAUDE.md with comprehensive codebase documentation
  CLAUDE.md
Due: prettier --write
