Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

docs: add a Get in touch page and contact form
  README.md
  apps/docs/.vitepress/config.ts
  apps/docs/.vitepress/theme/components/ContactForm.vue
  apps/docs/.vitepress/theme/index.ts
  apps/docs/support.md
Due: prettier --write

docs: make contact form work without JS and announce errors
  apps/docs/.vitepress/theme/components/ContactForm.vue
Due: none

docs: harden contact form submit handling
  apps/docs/.vitepress/theme/components/ContactForm.vue
Due: none

fix(brepkit): harden rotation/scale matrix builders against non-Vec3 axis/center
  src/kernel/brepkit/helpers.ts
  tests/brepkitMatrixHelpers.test.ts
Due: eslint --fix, prettier --write

fix(brepkit): fall back to +Z for a degenerate zero-length rotation axis
  src/kernel/brepkit/helpers.ts
  tests/brepkitMatrixHelpers.test.ts
Due: eslint --fix, prettier --write

test(brepkit): wire BrepkitAdapter mock unit tests into the gate and fix drift
  tests/brepkitAdapter.test.ts
  tests/helpers/kernelRegistry.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

docs(concepts): add Composing Complex Parts concept page
  apps/docs/.vitepress/config.ts
  apps/docs/concepts/composing-complex-parts.md
Due: prettier --write

fix(kernel): resolve optional backends via variable specifier (#1726)
  scripts/build-quick.js
  src/kernel/index.ts
  src/kernel/optionalBackend.ts
  src/quick.ts
  tests/optionalBackendImport.test.ts
Due: eslint --fix, prettier --write

feat(brepjs-cad): grade judge quality against a reference exemplar
  packages/brepjs-cad/bench/judge.ts
  packages/brepjs-cad/bench/live.ts
  packages/brepjs-cad/bench/loop.ts
  packages/brepjs-cad/bench/playgroundCorpus.ts
  packages/brepjs-cad/bench/prompts.ts
  packages/brepjs-cad/bench/score.ts
  packages/brepjs-cad/tests/liveEvalLoop.test.ts
  packages/brepjs-cad/tests/manufacturability.test.ts
Due: none

chore(lint): ban enum and require exhaustive switches
  CLAUDE.md
  eslint.config.js
Due: prettier --write

fix(brepjs-cad): address cubic review on the graded judge
  packages/brepjs-cad/bench/judge.ts
  packages/brepjs-cad/bench/loop.ts
  packages/brepjs-cad/bench/score.ts
  packages/brepjs-cad/tests/liveEvalLoop.test.ts
  packages/brepjs-cad/tests/liveEvalScore.test.ts
Due: none

docs(brepjs-cad): explain the reference render path (cubic live.ts review)
  packages/brepjs-cad/bench/live.ts
Due: none

docs(skills): add engineering skill library under .claude/skills
  .claude/skills/adding-operations/SKILL.md
  .claude/skills/architecture-navigation/SKILL.md
  .claude/skills/assembly-solver/SKILL.md
  .claude/skills/brepjs-verify
  .claude/skills/ci-triage/SKILL.md
  .claude/skills/companion-packages/SKILL.md
  .claude/skills/companion-packages/references/publish-pipeline.md
  .claude/skills/debugging-geometry/SKILL.md
  .claude/skills/debugging-geometry/references/boolean-failures.md
  .claude/skills/debugging-geometry/references/healing.md
  .claude/skills/debugging-geometry/references/kernel-divergence.md
  .claude/skills/git-pr-workflow/SKILL.md
  .claude/skills/kernel-abstraction/SKILL.md
  .claude/skills/kernel-abstraction/references/adapter-wiring.md
  .claude/skills/memory-and-disposal/SKILL.md
  .claude/skills/memory-and-disposal/references/kernel-memory-models.md
  .claude/skills/playground-examples/SKILL.md
  .claude/skills/quality-gates/SKILL.md
  .claude/skills/release-publishing/SKILL.md
  .claude/skills/result-error-handling/SKILL.md
  .claude/skills/shaperef-lineage/SKILL.md
  .claude/skills/wasm-interop/SKILL.md
  .claude/skills/wasm-interop/references/opencascade-build.md
  .claude/skills/writing-tests/SKILL.md
  .claude/skills/writing-tests/references/multi-kernel.md
Due: prettier --write

docs(kernel): correct MeshOptions.angularTolerance cross-kernel note
  src/kernel/types.ts
Due: eslint --fix, prettier --write

docs(skills): address review — symbol anchors and clearer private-tier wording
  .claude/skills/ci-triage/SKILL.md
  .claude/skills/companion-packages/SKILL.md
  .claude/skills/debugging-geometry/SKILL.md
  .claude/skills/debugging-geometry/references/boolean-failures.md
  .claude/skills/debugging-geometry/references/healing.md
  .claude/skills/debugging-geometry/references/kernel-divergence.md
  .claude/skills/memory-and-disposal/SKILL.md
  .claude/skills/memory-and-disposal/references/kernel-memory-models.md
  .claude/skills/playground-examples/SKILL.md
  .claude/skills/result-error-handling/SKILL.md
  .claude/skills/wasm-interop/SKILL.md
Due: prettier --write

docs(skills): address cubic review — release/publish accuracy + stale CLAUDE.md
  .claude/skills/debugging-geometry/references/healing.md
  .claude/skills/release-publishing/SKILL.md
  CLAUDE.md
Due: prettier --write

chore(deps): sync package-lock with minor-and-patch group bump
  package-lock.json
Due: none

chore(deps): ignore brepjs-voxel-wasm in knip for stricter 6.17
  knip.config.ts
Due: prettier --write

fix(origins): recover split coplanar face origins across boolean seams
  src/topology/metadata/originTrackingFns.ts
  tests/helpers/kernelDivergences.ts
  tests/originGeometricFallback.test.ts
Due: eslint --fix, prettier --write

fix(origins): gate coplanar origin fallback to planar faces, near-first
  src/topology/metadata/originTrackingFns.ts
Due: eslint --fix, prettier --write

chore(size): raise total-JS budget to 342 kB
  .size-limit.json
  src/topology/metadata/originTrackingFns.ts
Due: eslint --fix, prettier --write

fix(deps): restore dropped @emnapi/* lockfile entries
  package-lock.json
Due: none

chore: remove accidentally committed local scratch files
  branding/fonts/.gitignore
  branding/reddit/banner-desktop.png
  branding/reddit/banner-mobile.png
  branding/reddit/part/part-teal-preview.png
  branding/reddit/part/part-teal.png
  branding/reddit/part/pipe-tee.brep.ts
  branding/reddit/part/pipe-tee.step
  branding/reddit/part/processPart.mjs
  branding/reddit/part/render.mjs
  branding/reddit/part/report.json
  branding/reddit/part/shots-clean/iso.png
  branding/reddit/part/shots/front.png
  branding/reddit/part/shots/iso.png
  branding/reddit/part/shots/right.png
  branding/reddit/part/shots/top.png
  branding/type-specimen.html
  packages/brepjs-cad/_meshlite.mts
  scripts/gen-reddit-banner.mjs
Due: none

chore(deps): restore dropped @emnapi peer-dep lockfile entries
  package-lock.json
Due: none

chore(deps): declare tsx as root devDependency
  package-lock.json
  package.json
Due: none

fix(topology): release orphaned WASM shape handles in boolean/evolution helpers
  src/kernel/occtWasm/booleanOps.ts
  src/topology/booleanFns.ts
  src/topology/evolutionFns.ts
  src/topology/metadata/metadataPropagation.ts
  src/topology/metadata/originTrackingFns.ts
  src/topology/shapeRef/shapeRefFns.ts
  tests/evolutionHandleLeaks.test.ts
Due: eslint --fix, prettier --write

refactor(topology): extend handle-leak fix to sibling ops via shared helper
  src/core/shapeTypes.ts
  src/kernel/occtWasm/booleanOps.ts
  src/kernel/occtWasm/evolutionOps.ts
  src/topology/booleanFns.ts
  src/topology/evolutionFns.ts
  src/topology/metadata/metadataPropagation.ts
  src/topology/modifierFns.ts
  src/topology/shapeRef/shapeRefFns.ts
  src/topology/transformFns.ts
  tests/evolutionHandleLeaks.test.ts
Due: eslint --fix, prettier --write

refactor(topology): extract disposeTransientSubShape for assignRoles cleanup
  src/core/shapeTypes.ts
  src/topology/shapeRef/shapeRefFns.ts
Due: eslint --fix, prettier --write

fix(topology): plug error-path handle leaks in not-3D reject branches
  src/core/shapeTypes.ts
  src/topology/booleanFns.ts
  src/topology/evolutionFns.ts
  src/topology/modifierFns.ts
  tests/errorPathDisposal.test.ts
Due: eslint --fix, prettier --write

fix(topology): complete castResultShape/disposeResultShape migration across remaining ops (#1755)
  src/operations/convexHullFns.ts
  src/operations/extrudeFns.ts
  src/operations/loftFns.ts
  src/operations/patternFns.ts
  src/operations/sweepFns.ts
  src/topology/booleanFns.ts
  src/topology/chamferAngleFns.ts
  src/topology/curveFns.ts
  src/topology/hullFns.ts
  src/topology/minkowskiFns.ts
  src/topology/polyhedronFns.ts
  src/topology/positionFns.ts
  src/topology/surfaceFns.ts
  tests/castResultShapeMigration.test.ts
Due: eslint --fix, prettier --write

chore: bump total-JS size budget to 343 kB for #1755 disposal code
  .size-limit.json
Due: none

chore(tooling): run typechecks on the native TypeScript 7 compiler
  package-lock.json
  package.json
Due: none

chore(hooks): skip pre-commit changed-file tests when no code is staged
  .husky/pre-commit
Due: none

chore(tooling): run workspace typechecks on native TypeScript 7
  apps/playground/package.json
  packages/brepjs-bim/package.json
  packages/brepjs-cad/package.json
  packages/brepjs-sheetmetal/package.json
  packages/brepjs-viewer/package.json
  packages/brepjs-vscode/package.json
Due: none

fix(topology): clone via a real copyShape, not an aliasing downcast
  src/kernel/brepkit/topologyOps.ts
  src/kernel/interfaces/topologyOps.ts
  src/kernel/manifold/topologyOps.ts
  src/kernel/occt/geometryQueryOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
  src/kernel/occtWasm/topologyOps.ts
  src/sketching/draw3d.ts
  src/sketching/faceSketcher.ts
  src/sketching/sketch.ts
  src/sketching/sketchFns.ts
  src/topology/cast.ts
  src/topology/shapeFns.ts
  tests/shapeFns.test.ts
Due: eslint --fix, prettier --write

fix(core): make using/Symbol.dispose reclaim occt-wasm arena slots
  src/core/disposal.ts
  src/core/kernelCall.ts
  src/core/shapeTypes.ts
  src/topology/topologyQueryFns.ts
  tests/wasmArenaDisposal.test.ts
Due: eslint --fix, prettier --write

test(core): assert booleans are leak-free in the arena harness
  tests/wasmArenaDisposal.test.ts
Due: eslint --fix, prettier --write

fix(topology): stop adjacency queries leaking occt-wasm arena slots
  src/topology/adjacencyFns.ts
  tests/wasmArenaDisposal.test.ts
Due: eslint --fix, prettier --write

chore: bump total bundle size-limit 343->344 kB for adjacency leak fix
  .size-limit.json
Due: none
