Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix: replace regex-based SVG tag extraction with indexOf for O(n) guarantee
  src/io/svgImportFns.ts
Due: eslint --fix, prettier --write

fix: resolve CodeQL security alerts (#131)
  src/io/svgImportFns.ts
Due: eslint --fix, prettier --write

fix: narrow AnyShape params to precise branded types
  docs/api-review.md
  llms.txt
  src/topology/booleanFns.ts
  src/topology/modifierFns.ts
  src/topology/pipeFns.ts
  tests/boolean.test.ts
  tests/fn-kernelCall.test.ts
  tests/fn-modifierFns.test.ts
  tests/operations.test.ts
  tests/topology.test.ts
Due: eslint --fix, prettier --write

fix: narrow AnyShape params to precise branded types (#133)
  docs/api-review.md
  llms.txt
  src/topology/booleanFns.ts
  src/topology/modifierFns.ts
  src/topology/pipeFns.ts
  tests/boolean.test.ts
  tests/fn-kernelCall.test.ts
  tests/fn-modifierFns.test.ts
  tests/operations.test.ts
  tests/topology.test.ts
Due: eslint --fix, prettier --write

fix: improve naming clarity — remove castShape ceremony, consolidate compound fns
  README.md
  docs/api-review.md
  examples/README.md
  examples/basic-primitives.ts
  examples/import-export.ts
  examples/mechanical-part.ts
  examples/text-engraving.ts
  llms.txt
  src/operations/batchBooleans.ts
  src/sketching/CompoundSketch.ts
  src/sketching/Sketches.ts
  src/topology/booleanFns.ts
  src/topology/shapeBooleans.ts
  src/topology/shapeHelpers.ts
Due: eslint --fix, prettier --write

fix: improve naming clarity, remove castShape ceremony (#135)
  README.md
  docs/api-review.md
  examples/README.md
  examples/basic-primitives.ts
  examples/import-export.ts
  examples/mechanical-part.ts
  examples/text-engraving.ts
  llms.txt
  src/operations/batchBooleans.ts
  src/sketching/CompoundSketch.ts
  src/sketching/Sketches.ts
  src/topology/booleanFns.ts
  src/topology/shapeBooleans.ts
  src/topology/shapeHelpers.ts
Due: eslint --fix, prettier --write

fix: return Result<T> from chamferDistAngleShape and makeBezierCurve
  docs/api-review.md
  llms.txt
  src/core/errors.ts
  src/sketching/Sketcher.ts
  src/topology/chamferAngleFns.ts
  src/topology/shapeHelpers.ts
  tests/fn-chamferAngle.test.ts
  tests/topology.test.ts
Due: eslint --fix, prettier --write

fix: consistent Result returns for error handling (#137)
  docs/api-review.md
  llms.txt
  src/core/errors.ts
  src/sketching/Sketcher.ts
  src/topology/chamferAngleFns.ts
  src/topology/shapeHelpers.ts
  tests/fn-chamferAngle.test.ts
  tests/topology.test.ts
Due: eslint --fix, prettier --write

fix: unify finder API with immutable cornerFinder() factory
  docs/api-review.md
  llms.txt
  src/2d/blueprints/customCorners.ts
  src/index.ts
  src/query/cornerFinder.ts
  src/query/edgeFinder.ts
  src/query/faceFinder.ts
  src/query/finderFns.ts
  src/query/helpers.ts
  src/sketching/draw.ts
  src/sketching/drawFns.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix: unify finder API with immutable cornerFinder() factory (#139)
  docs/api-review.md
  llms.txt
  src/2d/blueprints/customCorners.ts
  src/index.ts
  src/query/cornerFinder.ts
  src/query/edgeFinder.ts
  src/query/faceFinder.ts
  src/query/finderFns.ts
  src/query/helpers.ts
  src/sketching/draw.ts
  src/sketching/drawFns.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

docs: add Getting Started tutorial and B-Rep Concepts guide
  README.md
  docs/api-review.md
  docs/concepts.md
  docs/getting-started.md
Due: prettier --write

docs: add Getting Started tutorial and B-Rep Concepts guide (#141)
  README.md
  docs/api-review.md
  docs/concepts.md
  docs/getting-started.md
Due: prettier --write

docs: add progressive examples, tsconfig, npm script, rendering guide
  README.md
  docs/api-review.md
  examples/README.md
  examples/hello-world.ts
  examples/parametric-part.ts
  examples/threejs-rendering.ts
  examples/tsconfig.json
  package.json
Due: prettier --write

docs: add progressive examples, runnable scripts, rendering guide (#142)
  README.md
  docs/api-review.md
  examples/README.md
  examples/hello-world.ts
  examples/parametric-part.ts
  examples/threejs-rendering.ts
  examples/tsconfig.json
  package.json
Due: prettier --write

feat: add sub-path imports and "Which API?" guide for discoverability
  README.md
  docs/api-review.md
  docs/which-api.md
  package.json
  src/2d.ts
  src/io.ts
  src/operations.ts
  src/sketching.ts
  src/topology.ts
  vite.config.ts
Due: eslint --fix, prettier --write

feat: add sub-path imports and Which API guide (Discoverability 7→10) (#143)
  README.md
  docs/api-review.md
  docs/which-api.md
  package.json
  src/2d.ts
  src/io.ts
  src/operations.ts
  src/sketching.ts
  src/topology.ts
  vite.config.ts
Due: eslint --fix, prettier --write

docs: update Learning Curve assessment and add troubleshooting (6→10)
  docs/api-review.md
  docs/getting-started.md
Due: prettier --write

docs: update Learning Curve assessment and add troubleshooting (6→10) (#145)
  docs/api-review.md
  docs/getting-started.md
Due: prettier --write

feat(site): auto-generate ambient types with TSDoc for playground
  site/package.json
  site/scripts/generate-ambient-types.ts
  site/src/components/landing/CodeDisplay.tsx
  site/src/lib/constants.ts
  site/src/lib/monacoSetup.ts
  site/src/types/brepjs-ambient.d.ts
Due: none

fix: use fileURLToPath pattern for Node.js compatibility
  site/scripts/generate-ambient-types.ts
Due: none

chore(site): update brepjs to 4.18.5, regenerate ambient types
  site/package.json
  site/src/types/brepjs-ambient.d.ts
Due: none

fix: resolve knip CI failures
  knip.config.ts
  site/package-lock.json
Due: prettier --write

fix(site): use translateShape instead of .translate() in hero code
  site/src/lib/constants.ts
Due: none

feat: split find() into findAll() and findUnique() for type-safe finders (Type Safety 8→10)
  docs/api-review.md
  llms.txt
  src/query/README.md
  src/query/edgeFinder.ts
  src/query/faceFinder.ts
  src/query/finderFns.ts
  src/query/helpers.ts
  tests/fn-finderFns.test.ts
  tests/fn-vertexFinder.test.ts
  tests/fn-wireFinder.test.ts
Due: eslint --fix, prettier --write

feat: split find() into findAll() and findUnique() (Type Safety 8→10) (#147)
  docs/api-review.md
  llms.txt
  src/query/README.md
  src/query/edgeFinder.ts
  src/query/faceFinder.ts
  src/query/finderFns.ts
  src/query/helpers.ts
  tests/fn-finderFns.test.ts
  tests/fn-vertexFinder.test.ts
  tests/fn-wireFinder.test.ts
Due: eslint --fix, prettier --write

feat(site): auto-generate ambient types with TSDoc for playground (#146)
  knip.config.ts
  site/package-lock.json
  site/package.json
  site/scripts/generate-ambient-types.ts
  site/src/components/landing/CodeDisplay.tsx
  site/src/lib/constants.ts
  site/src/lib/monacoSetup.ts
  site/src/types/brepjs-ambient.d.ts
Due: prettier --write

feat: symmetric boolean naming and remove deprecated barrel exports (Naming 9→10)
  docs/api-review.md
  docs/architecture.md
  docs/getting-started.md
  docs/memory-management.md
  docs/performance.md
  docs/which-api.md
  llms.txt
  src/index.ts
  src/operations.ts
  src/query.ts
  src/topology.ts
  src/topology/README.md
  src/topology/booleanFns.ts
  src/topology/index.ts
  src/topology/pipeFns.ts
  tests/boolean.test.ts
  tests/cornerFinder.test.ts
  tests/edgeFinder.test.ts
  tests/faceFinder.test.ts
  tests/fn-booleanFns.test.ts
  tests/fn-functionalApi.test.ts
  tests/fn-shapeFns.test.ts
  tests/helpers.test.ts
  tests/operations-batch.test.ts
  tests/operations.test.ts
  tests/public-api-types.test.ts
  tests/query.test.ts
  tests/topology.test.ts
Due: eslint --fix, prettier --write

feat: symmetric boolean naming and remove deprecated barrel exports (Naming 9→10) (#148)
  docs/api-review.md
  docs/architecture.md
  docs/getting-started.md
  docs/memory-management.md
  docs/performance.md
  docs/which-api.md
  llms.txt
  src/index.ts
  src/operations.ts
  src/query.ts
  src/topology.ts
  src/topology/README.md
  src/topology/booleanFns.ts
  src/topology/index.ts
  src/topology/pipeFns.ts
  tests/boolean.test.ts
  tests/cornerFinder.test.ts
  tests/edgeFinder.test.ts
  tests/faceFinder.test.ts
  tests/fn-booleanFns.test.ts
  tests/fn-functionalApi.test.ts
  tests/fn-shapeFns.test.ts
  tests/helpers.test.ts
  tests/operations-batch.test.ts
  tests/operations.test.ts
  tests/public-api-types.test.ts
  tests/query.test.ts
  tests/topology.test.ts
Due: eslint --fix, prettier --write

feat: add pre-validation and improve error context (Error Handling 8→10)
  docs/api-review.md
  llms.txt
  src/core/errors.ts
  src/operations/extrudeFns.ts
  src/topology/booleanFns.ts
  src/topology/healingFns.ts
  src/topology/modifierFns.ts
  tests/fn-autoHeal.test.ts
  tests/fn-booleanFns.test.ts
  tests/fn-healingFns.test.ts
  tests/fn-modifierFns.test.ts
Due: eslint --fix, prettier --write

feat: add pre-validation and improve error context (Error Handling 8→10) (#149)
  docs/api-review.md
  llms.txt
  src/core/errors.ts
  src/operations/extrudeFns.ts
  src/topology/booleanFns.ts
  src/topology/healingFns.ts
  src/topology/modifierFns.ts
  tests/fn-autoHeal.test.ts
  tests/fn-booleanFns.test.ts
  tests/fn-healingFns.test.ts
  tests/fn-modifierFns.test.ts
Due: eslint --fix, prettier --write

chore: improve npm publishing strategy
  .github/workflows/publish-opencascade.yml
  .github/workflows/release-please.yml
  .npmrc
  package-lock.json
  package.json
  packages/brepjs-opencascade/package.json
  scripts/publish-all.sh
  scripts/validate-pack.sh
  site/package-lock.json
  site/package.json
  vercel.json
Due: none

fix: use POSIX-compatible parsing in validate-pack.sh
  scripts/validate-pack.sh
Due: none

fix: update knip config for npm workspaces
  knip.config.ts
Due: prettier --write

chore: improve npm publishing strategy (#151)
  .github/workflows/publish-opencascade.yml
  .github/workflows/release-please.yml
  .npmrc
  knip.config.ts
  package-lock.json
  package.json
  packages/brepjs-opencascade/package.json
  scripts/publish-all.sh
  scripts/validate-pack.sh
  site/package-lock.json
  site/package.json
  vercel.json
Due: prettier --write

feat: null-shape pre-validation for measurement and interference (Type Safety 9→10)
  docs/api-review.md
  llms.txt
  src/measurement/interferenceFns.ts
  src/measurement/measureFns.ts
  tests/fn-interferenceFns.test.ts
  tests/fn-measureFns.test.ts
Due: eslint --fix, prettier --write

feat: null-shape pre-validation for measurement and interference (Type Safety 9→10) (#152)
  docs/api-review.md
  llms.txt
  src/measurement/interferenceFns.ts
  src/measurement/measureFns.ts
  tests/fn-interferenceFns.test.ts
  tests/fn-measureFns.test.ts
Due: eslint --fix, prettier --write

fix(vercel): use cd instead of -w flag for build command
  vercel.json
Due: none

fix: address Vercel build warnings
  package-lock.json
  package.json
  site/vite.config.ts
Due: prettier --write

fix(ci): use correct release-please output key for root package
  .github/workflows/release-please.yml
Due: none

docs: configure Context7 indexing for API documentation
  context7.json
Due: none
