Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(brepjs-cad): use sketch.extrude form in twisted-impeller example
  packages/brepjs-cad/skills/implement/SKILL.md
Due: prettier --write

fix(brepjs-cad): exploded-joint legibility + disjoint-compound caveat (basics eval)
  packages/brepjs-cad/skills/implement/references/booleans.md
  packages/brepjs-cad/skills/implement/references/transforms.md
Due: prettier --write

docs(brepjs-cad): use full getSolids(part).length notation consistently (Greptile)
  packages/brepjs-cad/skills/implement/references/booleans.md
Due: prettier --write

feat(brepjs-cad): add airfoils.md feature recipe (swept fans/props/impellers)
  packages/brepjs-cad/skills/implement/SKILL.md
  packages/brepjs-cad/skills/implement/references/airfoils.md
Due: prettier --write

docs(brepjs-cad): use scalar sketchOnPlane origin in airfoils recipe (Greptile)
  packages/brepjs-cad/skills/implement/references/airfoils.md
Due: prettier --write

fix(playground): replace 7 flawed examples with healed-skill author parts
  apps/playground/public/example-thumbs/din-rail-clip-enclosure.webp
  apps/playground/public/example-thumbs/finger-tab-split-joint.webp
  apps/playground/public/example-thumbs/geneva-drive.webp
  apps/playground/public/example-thumbs/gt2-pulley.webp
  apps/playground/public/example-thumbs/modular-hose-segment.webp
  apps/playground/public/example-thumbs/stud-brick.webp
  apps/playground/public/example-thumbs/vented-louvre-case.webp
  apps/playground/src/lib/constants.ts
  apps/playground/src/lib/examples/mechanical.ts
Due: none

fix(playground): remove dead halfX in vented-louvre-case (Greptile)
  apps/playground/src/lib/examples/mechanical.ts
Due: none

fix(brepjs-cad): heal 6 implement-skill findings from the full-flywheel re-run
  packages/brepjs-cad/skills/implement/SKILL.md
  packages/brepjs-cad/skills/implement/references/booleans.md
  packages/brepjs-cad/skills/implement/references/gears.md
  packages/brepjs-cad/skills/implement/references/threads.md
Due: prettier --write

docs(brepjs-cad): correct the misleading Result-default-export pitfall (Greptile)
  packages/brepjs-cad/skills/implement/references/booleans.md
Due: prettier --write

fix(playground): fix fragmented examples found by a verify --metrics audit
  apps/playground/public/example-thumbs/axial-fan.webp
  apps/playground/public/example-thumbs/fan-guard.webp
  apps/playground/public/example-thumbs/flanged-tee.webp
  apps/playground/public/example-thumbs/gt2-pulley.webp
  apps/playground/src/lib/examples/mechanical.ts
  tests/playgroundExamples.test.ts
Due: eslint --fix, prettier --write

fix(playground): drop dead torus import in fan-guard (Greptile)
  apps/playground/src/lib/examples/mechanical.ts
Due: none

fix(brepjs-cad): add a triangular-gusset recipe to the implement skill (bracket/enclosure eval)
  packages/brepjs-cad/skills/implement/references/sketching-2d.md
Due: prettier --write

docs(brepjs-cad): fix polish gusset recipe — polygon has no .extrude() (Greptile)
  packages/brepjs-cad/skills/polish/references/design-polish.md
Due: prettier --write

fix(playground): corpus-wide connectivity gate + fix 8 examples a render-audit found
  apps/playground/public/example-thumbs/bench-vise.webp
  apps/playground/public/example-thumbs/rack-and-pinion.webp
  apps/playground/public/example-thumbs/rotary-potentiometer.webp
  apps/playground/public/example-thumbs/stud-brick.webp
  apps/playground/public/example-thumbs/tripod-rc2-plate.webp
  apps/playground/public/example-thumbs/universal-joint.webp
  apps/playground/public/example-thumbs/vented-louvre-case.webp
  apps/playground/public/example-thumbs/wall-mount-flanged-junction-box.webp
  apps/playground/src/lib/constants.ts
  apps/playground/src/lib/examples/mechanical.ts
  tests/helpers/playgroundExampleEval.ts
  tests/playgroundExamples.test.ts
Due: eslint --fix, prettier --write

fix(playground): fix 3 examples the re-audit caught (scotch-yoke, rack-and-pinion, rotary-pot)
  apps/playground/public/example-thumbs/rack-and-pinion.webp
  apps/playground/public/example-thumbs/rotary-potentiometer.webp
  apps/playground/public/example-thumbs/scotch-yoke.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

revert(playground): restore all examples to last known good (pre-#1567)
  apps/playground/public/example-thumbs/axial-fan.webp
  apps/playground/public/example-thumbs/bench-vise.webp
  apps/playground/public/example-thumbs/din-rail-clip-enclosure.webp
  apps/playground/public/example-thumbs/fan-guard.webp
  apps/playground/public/example-thumbs/finger-tab-split-joint.webp
  apps/playground/public/example-thumbs/flanged-tee.webp
  apps/playground/public/example-thumbs/geneva-drive.webp
  apps/playground/public/example-thumbs/gt2-pulley.webp
  apps/playground/public/example-thumbs/modular-hose-segment.webp
  apps/playground/public/example-thumbs/rack-and-pinion.webp
  apps/playground/public/example-thumbs/rotary-potentiometer.webp
  apps/playground/public/example-thumbs/scotch-yoke.webp
  apps/playground/public/example-thumbs/stud-brick.webp
  apps/playground/public/example-thumbs/tripod-rc2-plate.webp
  apps/playground/public/example-thumbs/universal-joint.webp
  apps/playground/public/example-thumbs/vented-louvre-case.webp
  apps/playground/public/example-thumbs/wall-mount-flanged-junction-box.webp
  apps/playground/src/lib/constants.ts
  apps/playground/src/lib/examples/mechanical.ts
  tests/helpers/playgroundExampleEval.ts
  tests/playgroundExamples.test.ts
Due: eslint --fix, prettier --write

fix(playground): rebuild bench-vise example to fix visual defects
  apps/playground/public/example-thumbs/bench-vise.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

feat(operations): add flat-crest (Acme/trapezoidal) thread profile
  src/operations/threadFns.ts
  tests/threadFns.test.ts
Due: eslint --fix, prettier --write

fix(playground): redesign bench-vise as a box-way machine vise
  apps/playground/public/example-thumbs/bench-vise.webp
  apps/playground/src/lib/examples/mechanical.ts
  apps/playground/src/types/brepjs-ambient.d.ts
Due: none

fix(playground): cantilever the vise crank off the bed front edge
  apps/playground/public/example-thumbs/bench-vise.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

fix(playground): vise lead screw + crank polish
  apps/playground/public/example-thumbs/bench-vise.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

docs(playground): keep revolve angle ambient docstring unchanged
  apps/playground/src/types/brepjs-ambient.d.ts
Due: none

chore(deps): restore @emnapi/core and @emnapi/runtime lockfile entries
  package-lock.json
Due: none

fix(kernel): forward angularTolerance to brepkit meshEdges
  src/kernel/brepkit/brepkitWasmTypes.ts
  src/kernel/brepkit/meshOps.ts
Due: eslint --fix, prettier --write

docs(kernel): meshEdges now honors angularTolerance across kernels
  src/kernel/interfaces/meshOps.ts
Due: eslint --fix, prettier --write

chore(deps): bump brepkit-wasm to 2.115.8 and resync types
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

docs(brepjs-cad): document non-interactive claude plugin/mcp CLI
  README.md
  apps/docs/agent/cli.md
  apps/docs/agent/overview.md
  packages/brepjs-cad/README.md
Due: prettier --write

docs(brepjs-cad): lead with install + prompting; sharpen brainstorm auto-trigger
  README.md
  apps/docs/agent/cli.md
  apps/docs/agent/overview.md
  packages/brepjs-cad/README.md
  packages/brepjs-cad/skills/brainstorm/SKILL.md
Due: prettier --write

chore(bench): rerun cross-kernel comparison and add kernel-subset mode
  benchmarks/results/latest.md
  benchmarks/setup.ts
Due: prettier --write

chore(bench): harden kernel-subset init and fix near-parity labels
  benchmarks/harness.ts
  benchmarks/results/latest.md
  benchmarks/setup.ts
Due: prettier --write

docs(landing): make the agent hero terminal prompt-first
  apps/docs/.vitepress/theme/components/Landing.vue
Due: none

chore(bench): fix parity-label rounding and zero-baseline edge cases
  benchmarks/harness.ts
  benchmarks/results/latest.md
Due: prettier --write

chore(bench): never drop a kernel from the report; guard empty subsets
  benchmarks/harness.ts
  benchmarks/setup.ts
Due: none

fix(brepjs-cad): bore detector misses full-cylinder through-holes (#1551)
  packages/brepjs-cad/src/verify/manufacturability.ts
  packages/brepjs-cad/tests/manufacturability.test.ts
Due: none

chore(bench): dedupe subset ids and verify real kernel availability
  benchmarks/setup.ts
Due: none

refactor(brepjs-cad): evaluate bore normal at the sampled wall point
  packages/brepjs-cad/src/verify/manufacturability.ts
Due: none

fix(brepkit): lift 2D ellipse arcs to exact EdgeCurve::Ellipse edges
  src/kernel/brepkit/kernel2dOps.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

ci(tech-debt): regenerate pattern baseline and enforce check:patterns in CI
  .github/workflows/ci.yml
  .pattern-baseline.json
Due: none

test(tech-debt): re-enable stale-RC-skipped tests that pass on occt-wasm 3.4.0
  tests/helpers/kernelDivergences.ts
  tests/importFns.test.ts
  tests/kernel-ops.test.ts
  tests/modifierFns.test.ts
  tests/multiSweepFns.test.ts
  tests/topology.test.ts
  tests/variableFillet.test.ts
Due: eslint --fix, prettier --write

refactor(tech-debt): consolidate KernelType alias and remove four misused `any` escapes
  src/core/kernelBoundary.ts
  src/io/dxfImportFns.ts
  src/io/threemfExportFns.ts
  src/operations/extrudeUtils.ts
  src/operations/sweepFns.ts
  src/topology/booleanFns.ts
  src/topology/cast.ts
  src/topology/evolutionFns.ts
  src/topology/surfaceBuilders.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
