Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

perf: second batch — modifiers, meshing, measurements, and interference
  benchmarks/optimization-targets.bench.test.ts
  src/kernel/meshOps.ts
  src/measurement/interferenceFns.ts
  src/measurement/measureFns.ts
  src/topology/meshCache.ts
  src/topology/meshFns.ts
  src/topology/modifierFns.ts
  src/topology/shapeFns.ts
  tests/meshCache.test.ts
Due: eslint --fix, prettier --write

perf(kernel): add SetUseOBB, fuzzyValue, and applyBooleanDefaults
  src/kernel/booleanOps.ts
  src/kernel/historyOps.ts
  src/kernel/types.ts
  src/topology/booleanFns.ts
Due: eslint --fix, prettier --write

perf(kernel): move early-return guard above Map/Set allocations in buildEvolution
  src/kernel/evolutionOps.ts
Due: eslint --fix, prettier --write

perf(wasm): add C++ extractors, build flag optimizations, and UV mesh support
  packages/brepjs-opencascade/build-config/custom_build_single.yml
  packages/brepjs-opencascade/build-config/custom_build_threaded.yml
  packages/brepjs-opencascade/build-config/custom_build_with_exceptions.yml
  packages/brepjs-opencascade/build-source/defaults.yml
  packages/brepjs-opencascade/package.json
  packages/brepjs-opencascade/src/brepjs_single.d.ts
  packages/brepjs-opencascade/src/brepjs_threaded.d.ts
  packages/brepjs-opencascade/src/brepjs_with_exceptions.d.ts
  src/kernel/evolutionOps.ts
  src/kernel/index.ts
  src/kernel/meshOps.ts
Due: eslint --fix, prettier --write

fix(wasm): delete compound WASM object in evolution extractor cleanup
  src/kernel/evolutionOps.ts
Due: eslint --fix, prettier --write

chore(deps): support brepjs-opencascade 0.9.0 peer dependency
  package.json
  packages/brepjs-opencascade/package.json
Due: none

chore(coverage): raise thresholds to match current coverage floor
  vitest.config.ts
Due: prettier --write

feat(history): add BREP serialization round-trip for parametric history
  src/index.ts
  src/operations/historyFns.ts
  tests/fn-historyFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(assembly): report unsupported constraints instead of silently ignoring
  src/kernel/solverAdapter.ts
  src/operations/mateFns.ts
  tests/fn-mateFns.test.ts
Due: eslint --fix, prettier --write

fix(assembly,history): harden error handling from review findings
  src/kernel/solverAdapter.ts
  src/operations/historyFns.ts
  src/operations/mateFns.ts
  tests/fn-historyFns.test.ts
  tests/fn-mateFns.test.ts
Due: eslint --fix, prettier --write

feat(core): add missing Result<T> combinators
  src/core/result.ts
  src/index.ts
  tests/public-api-types.test.ts
  tests/result.test.ts
Due: eslint --fix, prettier --write

docs(2d): document offset self-intersection limitation with regression test
  src/2d/lib/offset.ts
  tests/fn-make2dOffset.test.ts
Due: eslint --fix, prettier --write

test(2d): add blueprint functions test coverage
  tests/fn-blueprintFns.test.ts
Due: eslint --fix, prettier --write

fix(2d): correct reverse-orientation check in isCommonSegmentMatch
  src/2d/blueprints/intersectionSegments.ts
  tests/2d.test.ts
Due: eslint --fix, prettier --write

test(coverage): add tests for untested exports
  tests/errors.test.ts
  tests/fn-extrudeFns.test.ts
  tests/fn-primitiveFns.test.ts
Due: eslint --fix, prettier --write

fix(assembly): address PR review — surface DOF in error, clarify concentric else
  src/operations/mateFns.ts
Due: eslint --fix, prettier --write

perf(wasm): build flags, C++ extractors, and command buffer design
  docs/command-buffer-architecture.md
  packages/brepjs-opencascade/build-config/custom_build_single.yml
  packages/brepjs-opencascade/build-config/custom_build_threaded.yml
  packages/brepjs-opencascade/build-config/custom_build_with_exceptions.yml
  packages/brepjs-opencascade/build-source/custom_build_single.yml
  packages/brepjs-opencascade/build-source/custom_build_threaded.yml
  packages/brepjs-opencascade/build-source/custom_build_with_exceptions.yml
  packages/brepjs-opencascade/build-source/defaults.yml
  src/kernel/index.ts
  src/kernel/measureOps.ts
  src/kernel/transformOps.ts
  tests/fn-batchOps.test.ts
Due: eslint --fix, prettier --write

fix(wasm): filter -fwasm-exceptions from with_exceptions template
  packages/brepjs-opencascade/build-source/custom_build_with_exceptions.yml
Due: none

fix(bench): handle wasm-pack nodejs target in WASM init
  benchmarks/kernel-comparison.bench.test.ts
Due: none

test(brepkit): add brepkit-wasm validation suite and benchmark results
  benchmarks/results/latest.md
  package.json
  tests/brepkit-validation.test.ts
Due: eslint --fix, prettier --write

fix(tests): address PR review issues in brepkit-validation
  tests/brepkit-validation.test.ts
Due: eslint --fix, prettier --write

chore: fix release-please manifest for brepjs-opencascade (0.8.4 → 0.9.0)
  .release-please-manifest.json
Due: none

fix(deps): correct brepkit-wasm version to ^0.1.0 (^0.4.0 not published)
  package.json
Due: none

fix: correct six bugs found in comprehensive codebase audit
  docs/function-lookup.md
  src/io/svgImportFns.ts
  src/kernel/advancedOps.ts
  src/kernel/brepkitAdapter.ts
  src/kernel/defaultAdapter.ts
  src/kernel/types.ts
  src/operations/loftFns.ts
  src/operations/multiSweepFns.ts
  src/operations/roofFns.ts
Due: eslint --fix, prettier --write

fix(roofFns): normalise polygon winding in ear-clip triangulator
  src/operations/roofFns.ts
Due: eslint --fix, prettier --write

fix(deps): regenerate lock file to include brepkit-wasm@0.1.0
  package-lock.json
Due: none

feat(kernel): integrate brepkit-wasm 0.4.3 with new operations and tighter tolerances
  package-lock.json
  package.json
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
  src/kernel/types.ts
  src/operations.ts
  src/operations/patternFns.ts
  tests/brepkit-validation.test.ts
  tests/brepkitAdapter.test.ts
Due: eslint --fix, prettier --write

fix(kernel): address PR review — error logging and intersect test coverage
  src/kernel/brepkitAdapter.ts
  tests/brepkit-validation.test.ts
Due: eslint --fix, prettier --write

fix(kernel): brepkit adapter loft, sweep, and handle fixes
  src/kernel/brepkit2d.ts
  src/kernel/brepkitAdapter.ts
  tests/gridfinity-smoke.test.ts
Due: eslint --fix, prettier --write

fix: address PR review feedback
  src/kernel/brepkitAdapter.ts
  tests/gridfinity-smoke.test.ts
Due: eslint --fix, prettier --write

chore(deps): update brepkit-wasm to 0.5.0
  package-lock.json
  package.json
Due: none

feat(tests): dual-kernel test matrix via vitest projects
  package.json
  tests/gridfinity-smoke.test.ts
  tests/setup-kernel.ts
  tests/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix(tests): address PR review comments on setup-kernel
  tests/fn-errorSuggestions.test.ts
  tests/setup-kernel.ts
Due: eslint --fix, prettier --write

chore: add Greptile code review configuration
  .greptile/config.json
  .greptile/files.json
  src/2d/.greptile/config.json
  src/core/.greptile/config.json
  src/io/.greptile/config.json
  src/kernel/.greptile/config.json
  src/measurement/.greptile/config.json
  src/operations/.greptile/config.json
  src/query/.greptile/config.json
  src/topology/.greptile/config.json
  src/utils/.greptile/config.json
  src/worker/.greptile/config.json
Due: none

fix: add missing disabledRules to kernel greptile config
  src/kernel/.greptile/config.json
Due: none

fix(kernel): brepkit adapter round 2 — rotation, mesh, closure, periodic fixes
  package-lock.json
  package.json
  src/2d/lib/BoundingBox2d.ts
  src/2d/lib/Curve2D.ts
  src/kernel/brepkit2d.ts
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
  tests/wrapperFns.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix(kernel): respect trim range in decomposeBSpline2dToBeziers
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

feat(kernel): integrate brepkit-wasm 0.5.2 APIs — native evolution, loft, thicken, curvature
  package-lock.json
  package.json
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write
