Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(tests): address review feedback on brepkit test unblocking
  tests/fn-booleanFns.test.ts
  tests/fn-compoundOpsFns.test.ts
  tests/fn-modifierFns.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix(brepkit): resolve 12 test failures across 6 files
  src/kernel/brepkitAdapter.ts
  tests/cannedSketches.test.ts
  tests/gridfinity-smoke.test.ts
  tests/kernel-ops.test.ts
  tests/operations.test.ts
Due: eslint --fix, prettier --write

docs: create AI-DISCLOSURE.md
  AI-DISCLOSURE.md
Due: prettier --write

fix: normalize arc angle parameters to prevent wrong-direction interpolation
  src/index.ts
  src/kernel/brepkitAdapter.ts
  src/topology.ts
  src/topology/shapeFns.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

chore: address PR review comments
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

refactor: consolidate test skip patterns and remove dead NURBS fallback
  src/kernel/brepkitAdapter.ts
  tests/cannedSketches.test.ts
  tests/fn-booleanFns.test.ts
  tests/fn-compoundOpsFns.test.ts
  tests/fn-modifierFns.test.ts
  tests/gridfinity-smoke.test.ts
  tests/helpers/kernelEnv.ts
  tests/kernel-ops.test.ts
  tests/operations.test.ts
Due: eslint --fix, prettier --write

refactor: address review feedback — complete migration, remove unused export
  tests/docs-examples.test.ts
  tests/faceFinder.test.ts
  tests/fn-brepkitExtended.test.ts
  tests/fn-kernelCall.test.ts
  tests/helpers/kernelEnv.ts
Due: eslint --fix, prettier --write

refactor(sketching): rewrite Sketcher to extend BaseSketcher2d
  src/sketching/Sketcher.ts
  src/sketching/draw.ts
  src/sketching/sketcherlib.ts
  tests/sketcher3d.test.ts
Due: eslint --fix, prettier --write

fix(sketching): address Greptile review feedback on Sketcher refactor
  src/sketching/Sketcher.ts
  src/sketching/Sketcher2d.ts
  src/sketching/sketcherlib.ts
Due: eslint --fix, prettier --write

chore(deps): upgrade brepkit-wasm 1.0.5 → 1.0.8
  package-lock.json
  package.json
  src/kernel/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

fix(types): mark new brepkit-wasm 1.0.8 methods as optional
  src/kernel/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

fix(kernel): use meshEdgesAll for cross-kernel edge parity (#490)
  docs/decisions/0006-domain-boundaries.md
  src/kernel/brepkitAdapter.ts
  tests/brepkitAdapter.test.ts
Due: eslint --fix, prettier --write

fix(test): clarify meshEdges fallback comment per PR review
  tests/brepkitAdapter.test.ts
Due: eslint --fix, prettier --write

chore: add tech-debt slash command for incremental debt reduction
  .claude/commands/tech-debt.md
Due: prettier --write

fix: correct test script consolidation descriptions in tech-debt playbook
  .claude/commands/tech-debt.md
Due: prettier --write

chore(tech-debt): relax Node.js engine constraint to >=24
  package.json
Due: none

refactor(tech-debt): migrate test skip logic from vitest config to per-file guards
  tests/fn-applyMatrix.test.ts
  tests/fn-batchOps.test.ts
  tests/fn-blueprintFns.test.ts
  tests/fn-cast.test.ts
  tests/fn-disposal.test.ts
  tests/fn-examples.test.ts
  tests/fn-exporterFns.test.ts
  tests/fn-extrudeFns.test.ts
  tests/fn-guidedSweepFns.test.ts
  tests/fn-hullFns.test.ts
  tests/fn-igesFns.test.ts
  tests/fn-interferenceFns.test.ts
  tests/fn-kernelExpansion.test.ts
  tests/fn-measureFns.test.ts
  tests/fn-meshFns.test.ts
  tests/fn-minkowskiFns.test.ts
  tests/fn-multiSweepFns.test.ts
  tests/fn-occtBoundary.test.ts
  tests/fn-offsetWire2D.test.ts
  tests/fn-sectionToFace.test.ts
  tests/fn-variableFillet.test.ts
  tests/geometry.test.ts
  tests/setup-kernel.ts
  tests/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: add skipIf guard to findCurveType describe in geometry.test.ts
  tests/geometry.test.ts
Due: eslint --fix, prettier --write

feat(kernel): delegate makeTangentArc to brepkit-wasm 1.1.0
  package-lock.json
  package.json
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

refactor(tech-debt): replace non-null assertions in boolean2D.ts (#494)
  src/2d/blueprints/boolean2D.ts
  src/core/errors.ts
Due: eslint --fix, prettier --write

refactor(tech-debt): replace non-null assertions in lib.ts (#495)
  src/2d/blueprints/lib.ts
Due: eslint --fix, prettier --write

refactor(tech-debt): replace non-null assertions in offset.ts with safeIndex
  src/2d/blueprints/offset.ts
Due: eslint --fix, prettier --write

fix: mark makeTangentArc3d optional with version guard
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

refactor(tech-debt): blueprint type safety - lib.ts (#495) (#509)
  src/2d/blueprints/lib.ts
Due: eslint --fix, prettier --write

refactor(tech-debt): replace non-null assertions in offset.ts (#510)
  src/2d/blueprints/offset.ts
Due: eslint --fix, prettier --write

fix(tech-debt): use bounds check in safeIndex, add braces to if guard
  src/2d/blueprints/boolean2D.ts
  src/core/errors.ts
Due: eslint --fix, prettier --write

chore: format test files (pre-existing prettier violations)
  tests/fn-applyMatrix.test.ts
  tests/fn-cast.test.ts
  tests/fn-disposal.test.ts
  tests/fn-extrudeFns.test.ts
  tests/fn-guidedSweepFns.test.ts
  tests/fn-hullFns.test.ts
  tests/fn-igesFns.test.ts
  tests/fn-interferenceFns.test.ts
  tests/fn-kernelExpansion.test.ts
  tests/fn-measureFns.test.ts
  tests/fn-meshFns.test.ts
  tests/fn-minkowskiFns.test.ts
  tests/fn-multiSweepFns.test.ts
Due: eslint --fix, prettier --write

refactor(tech-debt): reduce type casts in shapeFns.ts via readonly tuple params
  src/kernel/brepkitAdapter.ts
  src/kernel/historyOps.ts
  src/kernel/types.ts
  src/topology/shapeFns.ts
Due: eslint --fix, prettier --write

refactor(tech-debt): widen non-history rotate/mirror/scale interface params to readonly
  src/core/geometryHelpers.ts
  src/kernel/types.ts
Due: eslint --fix, prettier --write

refactor(tech-debt): consolidate test scripts from 5 to 3
  .claude/commands/tech-debt.md
  .claude/commands/verify.md
  .github/workflows/ci.yml
  .husky/pre-commit
  .husky/pre-push
  CLAUDE.md
  CONTRIBUTING.md
  package.json
  scripts/pre-commit-help.sh
  scripts/validate-change.sh
Due: prettier --write

refactor(tech-debt): fix stale echo label and rewrite skill as generic process doc
  .claude/commands/tech-debt.md
  scripts/validate-change.sh
Due: prettier --write

chore(build): add per-entry size-limit ratchets and document minify:false
  .size-limit.json
  vite.config.ts
Due: prettier --write

fix: use correct Bash(pattern) format in settings.json deny list
  .claude/settings.json
Due: none

fix(test): resolve brepkit-wasm to Node CJS entry in vitest
  vitest.config.ts
Due: prettier --write

chore: ignore brepkit-wasm in knip (resolved via vitest alias)
  knip.config.ts
Due: prettier --write

fix(test): resolve brepkit-wasm to Node CJS entry in vitest
  knip.config.ts
  vitest.config.ts
Due: prettier --write

docs: regenerate function-lookup.md after ops file changes
  docs/function-lookup.md
Due: prettier --write

chore(test): exclude brepkit module files from coverage
  vitest.config.ts
Due: prettier --write

chore: exclude brepkit module files from knip unused detection
  knip.config.ts
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
