Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(bim): keep element placement through the IFC round trip (#2273)
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/src/ifc-writer/geometryWriter.ts
  packages/brepjs-bim/src/ifc-writer/openingWriter.ts
  packages/brepjs-bim/src/import/geometryRead.ts
  packages/brepjs-bim/src/import/spfReader.ts
  packages/brepjs-bim/tests/placementRoundTrip.test.ts
Due: none

ci: check PR titles from the base branch with a commitlint-only install
  .github/workflows/pr-title.yml
Due: none

ci: lint pull request titles with commitlint (#2275)
  .github/workflows/pr-title.yml
Due: none

fix(bim): import every Product Body representation item
  apps/docs/bim/ifc.md
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/README.md
  packages/brepjs-bim/src/import/fromIfc.ts
  packages/brepjs-bim/src/import/geometryRead.ts
  packages/brepjs-bim/src/import/importedModel.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/tests/importedBodyItems.test.ts
Due: prettier --write

fix(bim): preserve multi-item imported geometry
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/src/import/fromIfc.ts
  packages/brepjs-bim/src/import/importedModel.ts
  packages/brepjs-bim/tests/importedBodyItems.test.ts
Due: none

docs(bim): clarify imported geometry guarantees
  apps/docs/bim/ifc.md
  packages/brepjs-bim/README.md
Due: prettier --write

fix(bim): import every Product Body representation item (#2278)
  apps/docs/bim/ifc.md
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/README.md
  packages/brepjs-bim/src/import/fromIfc.ts
  packages/brepjs-bim/src/import/geometryRead.ts
  packages/brepjs-bim/src/import/importedModel.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/tests/importedBodyItems.test.ts
Due: prettier --write

fix(transform): keep rounded rotations on the rigid path in applyMatrix
  src/kernel/occtWasm/transformOps.ts
  src/topology/transformFns.ts
  tests/applyMatrix.test.ts
Due: eslint --fix, prettier --write

fix(transform): guard non-finite Gram trace in orthogonal classifier
  src/topology/transformFns.ts
  tests/applyMatrix.test.ts
Due: eslint --fix, prettier --write

fix(transform): keep rounded rotations on the rigid path in applyMatrix (#2284)
  src/kernel/occtWasm/transformOps.ts
  src/topology/transformFns.ts
  tests/applyMatrix.test.ts
Due: eslint --fix, prettier --write

feat(bim)!: support authoritative exact Product Bodies
  apps/docs/bim/elements.md
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/README.md
  packages/brepjs-bim/src/elementFns/placedGeometry.ts
  packages/brepjs-bim/src/errors/bimError.ts
  packages/brepjs-bim/src/ifc-writer/ifcWriter.ts
  packages/brepjs-bim/src/ifc-writer/psetWriter.ts
  packages/brepjs-bim/src/ifc-writer/tessellationWriter.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/src/rigidPlacement.ts
  packages/brepjs-bim/src/serialize/exactBodyPreflight.ts
  packages/brepjs-bim/src/serialize/exactWallQuantities.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/src/types/bimTypes.ts
  packages/brepjs-bim/src/types/productBody.ts
  packages/brepjs-bim/tests/bimModel.test.ts
  packages/brepjs-bim/tests/exactProductBodyIfc.test.ts
  packages/brepjs-bim/tests/exactProductBodyTakeover.test.ts
  packages/brepjs-bim/tests/exactWallQuantityOmission.test.ts
Due: prettier --write

fix(bim): guard exact Body measurement and ownership
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/src/serialize/exactWallQuantities.ts
  packages/brepjs-bim/tests/exactProductBodyIfc.test.ts
  packages/brepjs-bim/tests/exactProductBodyTakeover.test.ts
Due: none

fix(bim): preflight every exact Body before IFC writes
  packages/brepjs-bim/src/ifc-writer/ifcWriter.ts
  packages/brepjs-bim/src/ifc-writer/tessellationWriter.ts
  packages/brepjs-bim/src/serialize/exactBodyPreflight.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/tests/exactProductBodyTakeover.test.ts
Due: none

test(bim): restore IFC writer mocks after failures
  packages/brepjs-bim/tests/exactProductBodyIfc.test.ts
Due: none

fix(bim)!: preserve authoritative exact Product Bodies (#2286)
  apps/docs/bim/elements.md
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/README.md
  packages/brepjs-bim/src/elementFns/placedGeometry.ts
  packages/brepjs-bim/src/errors/bimError.ts
  packages/brepjs-bim/src/ifc-writer/ifcWriter.ts
  packages/brepjs-bim/src/ifc-writer/psetWriter.ts
  packages/brepjs-bim/src/ifc-writer/tessellationWriter.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/model/bimModel.ts
  packages/brepjs-bim/src/rigidPlacement.ts
  packages/brepjs-bim/src/serialize/exactBodyPreflight.ts
  packages/brepjs-bim/src/serialize/exactWallQuantities.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/src/types/bimTypes.ts
  packages/brepjs-bim/src/types/productBody.ts
  packages/brepjs-bim/tests/bimModel.test.ts
  packages/brepjs-bim/tests/exactProductBodyIfc.test.ts
  packages/brepjs-bim/tests/exactProductBodyTakeover.test.ts
  packages/brepjs-bim/tests/exactWallQuantityOmission.test.ts
Due: prettier --write

fix(create-brepjs): track brepjs 19 in the scaffold template
  packages/create-brepjs/templates/package.json.tpl
Due: none

fix(create-brepjs): track brepjs 19 in the scaffold template (#2289)
  packages/create-brepjs/templates/package.json.tpl
Due: none

chore(release): exclude every satellite package from the root release train
  .claude/skills/companion-packages/SKILL.md
  .claude/skills/companion-packages/references/publish-pipeline.md
  .claude/skills/git-pr-workflow/SKILL.md
  .claude/skills/release-publishing/SKILL.md
  release-please-config.json
Due: prettier --write

chore(release): exclude every satellite package from the root release train (#2293)
  .claude/skills/companion-packages/SKILL.md
  .claude/skills/companion-packages/references/publish-pipeline.md
  .claude/skills/git-pr-workflow/SKILL.md
  .claude/skills/release-publishing/SKILL.md
  release-please-config.json
Due: prettier --write

ci(release): merge a release PR directly when auto-merge is rejected as clean
  .github/workflows/release-please.yml
Due: none

ci(release): merge a release PR directly when auto-merge is rejected as clean (#2294)
  .github/workflows/release-please.yml
Due: none

fix(bim): preserve authoritative civil Product Bodies
  apps/docs/bim/elements.md
  apps/docs/bim/overview.md
  apps/docs/families/ifc-export.md
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/README.md
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/familiesProductBody.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-bim/tests/familiesProductBody.test.ts
  packages/brepjs-bim/tests/typedCivilExactBody.test.ts
Due: prettier --write

fix(bim): compare civil Body volumes relatively
  apps/docs/bim/elements.md
  apps/docs/bim/overview.md
  apps/docs/families/ifc-export.md
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/README.md
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/familiesProductBody.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-bim/tests/familiesProductBody.test.ts
Due: prettier --write

fix(bim): preserve authoritative civil Product Bodies (#2295)
  apps/docs/bim/elements.md
  apps/docs/bim/overview.md
  apps/docs/families/ifc-export.md
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/README.md
  packages/brepjs-bim/src/familiesAdapter.ts
  packages/brepjs-bim/src/familiesProductBody.ts
  packages/brepjs-bim/tests/familiesAdapter.test.ts
  packages/brepjs-bim/tests/familiesProductBody.test.ts
  packages/brepjs-bim/tests/typedCivilExactBody.test.ts
Due: prettier --write

fix(deps): accept occt-wasm v5 in the peer range
  package-lock.json
  package.json
  packages/brepjs-cad/package.json
  packages/create-brepjs/templates/package.json.tpl
Due: none

test(cad): expect Solid from the fillet/chamfer examples
  packages/brepjs-cad/skills/implement/examples/chamfered-block.expected.json
  packages/brepjs-cad/skills/implement/examples/flanged-coupler.expected.json
  packages/brepjs-cad/skills/implement/examples/rounded-block.expected.json
Due: none

fix(deps): accept occt-wasm v5 in the peer range (#2304)
  package-lock.json
  package.json
  packages/brepjs-cad/package.json
  packages/brepjs-cad/skills/implement/examples/chamfered-block.expected.json
  packages/brepjs-cad/skills/implement/examples/flanged-coupler.expected.json
  packages/brepjs-cad/skills/implement/examples/rounded-block.expected.json
  packages/create-brepjs/templates/package.json.tpl
Due: none

fix(cad): read the packed tarball name on npm 12
  packages/brepjs-cad/scripts/smokeStandalone.mjs
Due: none

chore: sync the lockfile to the released workspace versions
  package-lock.json
Due: none

fix(cad): read the packed tarball name on npm 12 (#2308)
  package-lock.json
  packages/brepjs-cad/scripts/smokeStandalone.mjs
Due: none

docs(bim): propose Body and Placement architecture
  packages/brepjs-bim/CONTEXT.md
  packages/brepjs-bim/docs/adr/0001-independent-product-representation-and-placement.md
  packages/brepjs-bim/docs/adr/0002-authored-body-authority.md
  packages/brepjs-bim/docs/adr/0003-geometry-ownership-and-material-operations.md
  packages/brepjs-bim/docs/adr/0004-document-resolved-placement-and-datum.md
  packages/brepjs-bim/docs/adr/0005-families-projection-into-bim.md
  packages/brepjs-bim/docs/adr/0006-ifc-exchange-adapter.md
  packages/brepjs-bim/docs/adr/0007-ifc-import-fidelity-and-item-outcomes.md
  packages/brepjs-bim/docs/adr/0008-explicit-bim-type-identity.md
  packages/brepjs-bim/docs/architecture-migration.md
  packages/brepjs-bim/docs/exchange-qualification.md
Due: prettier --write

fix(kernel): drop redundant void operators flagged by eslint
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/manifold/kernel2dNative.ts
  src/kernel/manifold/manifoldAdapter.ts
  src/kernel/occt/defaultAdapter.ts
Due: eslint --fix, prettier --write

fix(kernel): keep compile-time guards live under noUnusedLocals
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/manifold/kernel2dNative.ts
  src/kernel/manifold/manifoldAdapter.ts
  src/kernel/occt/defaultAdapter.ts
Due: eslint --fix, prettier --write

docs(bim): propose Body and Placement architecture (#2313)
  packages/brepjs-bim/CONTEXT.md
  packages/brepjs-bim/docs/adr/0001-independent-product-representation-and-placement.md
  packages/brepjs-bim/docs/adr/0002-authored-body-authority.md
  packages/brepjs-bim/docs/adr/0003-geometry-ownership-and-material-operations.md
  packages/brepjs-bim/docs/adr/0004-document-resolved-placement-and-datum.md
  packages/brepjs-bim/docs/adr/0005-families-projection-into-bim.md
  packages/brepjs-bim/docs/adr/0006-ifc-exchange-adapter.md
  packages/brepjs-bim/docs/adr/0007-ifc-import-fidelity-and-item-outcomes.md
  packages/brepjs-bim/docs/adr/0008-explicit-bim-type-identity.md
  packages/brepjs-bim/docs/architecture-migration.md
  packages/brepjs-bim/docs/exchange-qualification.md
Due: prettier --write

fix(brepkit): keep conics exact under similarity transforms and mesh nested compounds
  src/kernel/brepkit/constructionOps.ts
  src/kernel/brepkit/kernel2dOps.ts
  tests/brepkitCompoundOfCompounds.test.ts
  tests/brepkitDrawingSimilarity.test.ts
Due: eslint --fix, prettier --write

fix(brepkit): judge similarity relative to the column lengths
  src/kernel/brepkit/kernel2dOps.ts
  tests/brepkitDrawingSimilarity.test.ts
Due: eslint --fix, prettier --write

test(brepkit): pin the tiny anisotropic matrix directly
  tests/brepkitDrawingSimilarity.test.ts
Due: eslint --fix, prettier --write

fix(brepkit): keep conics exact under similarity transforms and mesh nested compounds (#2314)
  src/kernel/brepkit/constructionOps.ts
  src/kernel/brepkit/kernel2dOps.ts
  tests/brepkitCompoundOfCompounds.test.ts
  tests/brepkitDrawingSimilarity.test.ts
Due: eslint --fix, prettier --write

test(bim): initialize kernel selection in root test runs
  packages/brepjs-bim/tests/kernelSelection.test.ts
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
