Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(bim): clear the gherkin-layer findings and gate them locally (#2157)
  .prettierignore
  apps/playground/src/types/brepjs-bim-ambient.d.ts
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-bim/eslint.config.js
  packages/brepjs-bim/examples/interop-fixture.ifc
  packages/brepjs-bim/examples/interopFixture.mjs
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/examples/sample-building.ifc
  packages/brepjs-bim/examples/sampleBuilding.mjs
  packages/brepjs-bim/scripts/generateQtoDefinitions.py
  packages/brepjs-bim/src/ifc-writer/headerWriter.ts
  packages/brepjs-bim/src/ifc-writer/psetWriter.ts
  packages/brepjs-bim/src/ifc-writer/stairWriter.ts
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/src/serialize/toIfc.ts
  packages/brepjs-bim/src/specs/spatialSpec.ts
  packages/brepjs-bim/src/validation/gherkinChecks.ts
  packages/brepjs-bim/src/validation/qtoDefinitions.generated.ts
  packages/brepjs-bim/tests/gherkinChecks.test.ts
Due: prettier --write

feat(bim): run the complete official validation rule catalog locally
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/examples/sampleBuildingFamilies.ts
  packages/brepjs-bim/scripts/setupGherkinRunner.sh
Due: prettier --write

fix(bim): pin every runner dependency to the proven-working set
  packages/brepjs-bim/scripts/setupGherkinRunner.sh
Due: none

feat(bim): run the complete official validation rule catalog locally (#2160)
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-bim/examples/sample-building-families.ifc
  packages/brepjs-bim/examples/sampleBuildingFamilies.ts
  packages/brepjs-bim/scripts/setupGherkinRunner.sh
Due: prettier --write

docs: sync families and create-brepjs package docs, validation deps
  .claude/skills/companion-packages/SKILL.md
  CLAUDE.md
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-bim/examples/sampleBuildingFamilies.ts
Due: prettier --write

docs: correct workspace and release-component counts in companion-packages
  .claude/skills/companion-packages/SKILL.md
  .claude/skills/companion-packages/references/publish-pipeline.md
Due: prettier --write

docs: sync families and create-brepjs package docs, validation deps (#2162)
  .claude/skills/companion-packages/SKILL.md
  .claude/skills/companion-packages/references/publish-pipeline.md
  CLAUDE.md
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-bim/examples/sampleBuildingFamilies.ts
Due: prettier --write

feat(playground): families example category with runtime and editor wiring
  apps/docs/families/first-building.md
  apps/docs/families/overview.md
  apps/playground/package.json
  apps/playground/public/example-thumbs/families-building.webp
  apps/playground/public/example-thumbs/families-dedup.webp
  apps/playground/public/example-thumbs/families-ifc.webp
  apps/playground/public/example-thumbs/families-room.webp
  apps/playground/scripts/checkExamples.ts
  apps/playground/scripts/generate-ambient-types.ts
  apps/playground/src/lib/ambientModule.ts
  apps/playground/src/lib/examples/families.ts
  apps/playground/src/lib/examples/index.ts
  apps/playground/src/lib/monacoSetup.ts
  apps/playground/src/types/brepjs-ambient.d.ts
  apps/playground/src/types/brepjs-families-ambient.d.ts
  apps/playground/src/workers/cad.worker.ts
  package-lock.json
  tests/helpers/playgroundExampleEval.ts
Due: eslint --fix, prettier --write

feat(playground): families example category with runtime and editor wiring (#2163)
  apps/docs/families/first-building.md
  apps/docs/families/overview.md
  apps/playground/package.json
  apps/playground/public/example-thumbs/families-building.webp
  apps/playground/public/example-thumbs/families-dedup.webp
  apps/playground/public/example-thumbs/families-ifc.webp
  apps/playground/public/example-thumbs/families-room.webp
  apps/playground/scripts/checkExamples.ts
  apps/playground/scripts/generate-ambient-types.ts
  apps/playground/src/lib/ambientModule.ts
  apps/playground/src/lib/examples/families.ts
  apps/playground/src/lib/examples/index.ts
  apps/playground/src/lib/monacoSetup.ts
  apps/playground/src/types/brepjs-ambient.d.ts
  apps/playground/src/types/brepjs-families-ambient.d.ts
  apps/playground/src/workers/cad.worker.ts
  package-lock.json
  tests/helpers/playgroundExampleEval.ts
Due: eslint --fix, prettier --write

docs: sync playground-examples skill with the families wiring
  .claude/skills/playground-examples/SKILL.md
Due: prettier --write

docs: sync playground-examples skill with the families wiring (#2165)
  .claude/skills/playground-examples/SKILL.md
Due: prettier --write

test(docs): run families doc snippets and gate them in ci
  .claude/skills/playground-examples/SKILL.md
  .github/workflows/ci.yml
  apps/docs/families/first-building.md
  apps/docs/families/identity.md
  apps/docs/families/openings.md
  apps/docs/families/overview.md
  apps/docs/families/props-and-validation.md
  scripts/extract-doc-tests.ts
Due: prettier --write

test(docs): gate doc snippets on docs-only changes too
  .github/workflows/ci.yml
Due: none

test(docs): run families doc snippets and gate them in ci (#2166)
  .claude/skills/playground-examples/SKILL.md
  .github/workflows/ci.yml
  apps/docs/families/first-building.md
  apps/docs/families/identity.md
  apps/docs/families/openings.md
  apps/docs/families/overview.md
  apps/docs/families/props-and-validation.md
  scripts/extract-doc-tests.ts
Due: prettier --write

test: record the csg path orientation-probe divergences
  tests/csg/csgPath.test.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

docs: regenerate the kernel conformance matrix
  docs/kernel-conformance.md
Due: prettier --write

test: record the csg path orientation-probe divergences (#2167)
  docs/kernel-conformance.md
  tests/csg/csgPath.test.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

fix(2d): geometric ellipse arc flags and honored ellipse-arc trims
  src/2d/lib/ellipseArcFlags.ts
  src/2d/lib/svgPath.ts
  src/kernel/occtWasm/kernel2dOps.ts
  src/sketching/blueprintContourFns.ts
  tests/svgPathRegression.test.ts
Due: eslint --fix, prettier --write

fix(2d): scale-free degeneracy guard for ellipse arc flags
  src/2d/lib/ellipseArcFlags.ts
Due: eslint --fix, prettier --write

fix(2d): exact-zero denominator guard so micro-scale arcs stay arcs
  src/2d/lib/ellipseArcFlags.ts
  tests/svgPathRegression.test.ts
Due: eslint --fix, prettier --write

fix(2d): geometric ellipse arc flags and honored ellipse-arc trims (#2168)
  src/2d/lib/ellipseArcFlags.ts
  src/2d/lib/svgPath.ts
  src/kernel/occtWasm/kernel2dOps.ts
  src/sketching/blueprintContourFns.ts
  tests/svgPathRegression.test.ts
Due: eslint --fix, prettier --write

docs: correct stale bim and families facts
  apps/docs/bim/validation.md
  apps/docs/families/first-building.md
  apps/docs/families/for-bim-professionals.md
  apps/docs/families/ifc-export.md
  apps/docs/families/overview.md
  packages/brepjs-bim/README.md
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-families/README.md
Due: prettier --write

docs: state which ifc validation gates run in ci
  apps/docs/families/for-bim-professionals.md
Due: prettier --write

docs: correct stale bim and families facts (#2170)
  apps/docs/bim/validation.md
  apps/docs/families/first-building.md
  apps/docs/families/for-bim-professionals.md
  apps/docs/families/ifc-export.md
  apps/docs/families/overview.md
  packages/brepjs-bim/README.md
  packages/brepjs-bim/VALIDATION.md
  packages/brepjs-families/README.md
Due: prettier --write

fix(playground): correct bim placement defects and cover the mapped catalog
  apps/docs/families/overview.md
  apps/playground/public/example-thumbs/bim-curtain-wall.webp
  apps/playground/public/example-thumbs/families-ifc.webp
  apps/playground/public/example-thumbs/families-room.webp
  apps/playground/public/example-thumbs/families-structure.webp
  apps/playground/src/lib/examples/bim.ts
  apps/playground/src/lib/examples/families.ts
  packages/brepjs-families/registry/families/room.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/tests/registry.test.ts
Due: prettier --write

fix(playground): drop an inaccurate dedup claim from the room example
  apps/playground/src/lib/examples/families.ts
Due: none

fix(playground): correct bim placement defects and cover the mapped catalog (#2171)
  apps/docs/families/overview.md
  apps/playground/public/example-thumbs/bim-curtain-wall.webp
  apps/playground/public/example-thumbs/families-ifc.webp
  apps/playground/public/example-thumbs/families-room.webp
  apps/playground/public/example-thumbs/families-structure.webp
  apps/playground/src/lib/examples/bim.ts
  apps/playground/src/lib/examples/families.ts
  packages/brepjs-families/registry/families/room.ts
  packages/brepjs-families/registry/manifest.json
  packages/brepjs-families/tests/registry.test.ts
Due: prettier --write

feat(playground): add a profile gallery and correct the profile-def docs
  apps/docs/bim/elements.md
  apps/playground/public/example-thumbs/bim-profile-gallery.webp
  apps/playground/src/lib/examples/bim.ts
Due: prettier --write

feat(playground): add a profile gallery and correct the profile-def docs (#2174)
  apps/docs/bim/elements.md
  apps/playground/public/example-thumbs/bim-profile-gallery.webp
  apps/playground/src/lib/examples/bim.ts
Due: prettier --write

feat(playground): let examples attach named files for download
  apps/playground/src/components/playground/MobileActionSheet.tsx
  apps/playground/src/components/playground/PlaygroundPage.tsx
  apps/playground/src/components/playground/Toolbar.tsx
  apps/playground/src/hooks/useCodeExecution.ts
  apps/playground/src/hooks/usePlaygroundActions.ts
  apps/playground/src/lib/ambientModule.ts
  apps/playground/src/workers/cad.worker.ts
  apps/playground/src/workers/workerProtocol.ts
Due: none

fix(playground): drop superseded file downloads mid-stagger
  apps/playground/src/hooks/useCodeExecution.ts
Due: none

feat(playground): let examples attach named files for download (#2175)
  apps/playground/src/components/playground/MobileActionSheet.tsx
  apps/playground/src/components/playground/PlaygroundPage.tsx
  apps/playground/src/components/playground/Toolbar.tsx
  apps/playground/src/hooks/useCodeExecution.ts
  apps/playground/src/hooks/usePlaygroundActions.ts
  apps/playground/src/lib/ambientModule.ts
  apps/playground/src/workers/cad.worker.ts
  apps/playground/src/workers/workerProtocol.ts
Due: none

feat(playground): add validation, interop and round-trip examples
  apps/playground/public/example-thumbs/bim-interop.webp
  apps/playground/public/example-thumbs/bim-round-trip.webp
  apps/playground/public/example-thumbs/bim-validation.webp
  apps/playground/src/lib/examples/bim.ts
Due: none

fix(playground): release the imported model and correct the blocking claim
  apps/playground/src/lib/examples/bim.ts
Due: none

feat(playground): add validation, interop and round-trip examples (#2176)
  apps/playground/public/example-thumbs/bim-interop.webp
  apps/playground/public/example-thumbs/bim-round-trip.webp
  apps/playground/public/example-thumbs/bim-validation.webp
  apps/playground/src/lib/examples/bim.ts
Due: none

feat(playground): add bim-professional examples, fix placedSolids gaps
  apps/docs/bim/elements.md
  apps/playground/public/example-thumbs/bim-finishes.webp
  apps/playground/public/example-thumbs/bim-foundations.webp
  apps/playground/public/example-thumbs/bim-spaces-zones.webp
  apps/playground/public/example-thumbs/bim-takeoff.webp
  apps/playground/src/lib/examples/bim.ts
  packages/brepjs-bim/README.md
  packages/brepjs-bim/src/elementFns/placedGeometry.ts
  packages/brepjs-bim/tests/placedGeometry.test.ts
Due: prettier --write

fix(playground): build takeoff solids once instead of twice
  apps/playground/src/lib/examples/bim.ts
Due: none

feat(playground): add bim-professional examples, fix placedSolids gaps (#2177)
  apps/docs/bim/elements.md
  apps/playground/public/example-thumbs/bim-finishes.webp
  apps/playground/public/example-thumbs/bim-foundations.webp
  apps/playground/public/example-thumbs/bim-spaces-zones.webp
  apps/playground/public/example-thumbs/bim-takeoff.webp
  apps/playground/src/lib/examples/bim.ts
  packages/brepjs-bim/README.md
  packages/brepjs-bim/src/elementFns/placedGeometry.ts
  packages/brepjs-bim/tests/placedGeometry.test.ts
Due: prettier --write

fix(bim): return proxy solids from placedSolids
  packages/brepjs-bim/src/elementFns/placedGeometry.ts
  packages/brepjs-bim/tests/placedGeometry.test.ts
Due: none

fix(bim): return proxy solids from placedSolids (#2180)
  packages/brepjs-bim/src/elementFns/placedGeometry.ts
  packages/brepjs-bim/tests/placedGeometry.test.ts
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
