Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix(playground): rework BIM examples for correct, connected geometry
  apps/playground/public/example-thumbs/bim-building-shell.webp
  apps/playground/public/example-thumbs/bim-roof-gallery.webp
  apps/playground/public/example-thumbs/bim-space-volume.webp
  apps/playground/public/example-thumbs/bim-steel-frame.webp
  apps/playground/public/example-thumbs/bim-switchback-stair.webp
  apps/playground/src/lib/examples/bim.ts
Due: none

fix(docs): check blob hostname, not URL substring, for token auth
  scripts/provision-fonts.mjs
Due: none

fix(playground): correct building-shell description, rename shadowed top var
  apps/playground/src/lib/examples/bim.ts
Due: none

fix(docs): fail font provisioning on an incomplete set
  scripts/provision-fonts.mjs
Due: none

feat(docs): extend Signifier + landing palette to the docs site
  apps/docs/.vitepress/config.ts
  apps/docs/.vitepress/theme/components/Landing.vue
  apps/docs/.vitepress/theme/custom.css
Due: none

perf(docs): load DM Mono non-render-blocking (Greptile P2)
  apps/docs/.vitepress/config.ts
Due: none

chore(deps): restore @emnapi/{core,runtime} lockfile entries
  package-lock.json
Due: none

chore: sync manifest with merged brepjs-bim 0.3.0
  .release-please-manifest.json
Due: none

chore: sync manifest with merged brepjs-bim 0.3.0 + sheetmetal 0.3.0
  .release-please-manifest.json
Due: none

ci(release): auto-merge brepjs-bim + brepjs-sheetmetal release PRs
  .github/workflows/release-please.yml
Due: none

feat(viewer): touch long-press context menu + finger-sized controls
  packages/brepjs-viewer/src/EdgeRenderer.tsx
  packages/brepjs-viewer/src/Renderer.tsx
  packages/brepjs-viewer/src/ViewerControls.tsx
  packages/brepjs-viewer/src/longPress.ts
Due: none

feat(playground): improve mobile web UX
  apps/playground/index.html
  apps/playground/src/components/playground/EditorPanel.tsx
  apps/playground/src/components/playground/ExampleGallery.tsx
  apps/playground/src/components/playground/MobileActionSheet.tsx
  apps/playground/src/components/playground/MobileLayout.tsx
  apps/playground/src/components/playground/PlaygroundPage.tsx
  apps/playground/src/components/playground/Toolbar.tsx
  apps/playground/src/components/playground/ViewerToolbar.tsx
  apps/playground/src/hooks/usePlaygroundActions.ts
  apps/playground/src/hooks/useUrlState.ts
  apps/playground/src/stores/playgroundStore.ts
  apps/playground/src/styles/globals.css
Due: none

feat(brepjs-verify): looped skill eval + Langfuse v5 telemetry
  .github/workflows/eval-nightly.yml
  package-lock.json
  packages/brepjs-verify/bench/langfuse.ts
  packages/brepjs-verify/bench/live.ts
  packages/brepjs-verify/bench/loop.ts
  packages/brepjs-verify/bench/score.ts
  packages/brepjs-verify/bench/skillVersion.ts
  packages/brepjs-verify/package.json
  packages/brepjs-verify/src/sandbox/runProgram.ts
  packages/brepjs-verify/tests/langfuseShim.test.ts
  packages/brepjs-verify/tests/liveEvalLoop.test.ts
  packages/brepjs-verify/tests/liveEvalScore.test.ts
  packages/brepjs-verify/tests/runProgram.test.ts
  packages/brepjs-verify/tests/skillVersion.test.ts
Due: none

chore: add langfuse agent skill tooling
  .gitignore
  skills-lock.json
Due: none

fix(playground): never auto-open the console on mobile
  apps/playground/src/components/playground/MobileLayout.tsx
  apps/playground/src/hooks/useCodeExecution.ts
  apps/playground/src/stores/playgroundStore.ts
Due: none

fix(playground): only count a share after the native sheet completes
  apps/playground/src/hooks/usePlaygroundActions.ts
Due: none

fix(brepjs-verify): never re-invoke the eval if telemetry rejects
  packages/brepjs-verify/bench/langfuse.ts
Due: none

ci(eval): nightly warns-and-skips instead of failing on missing key/build
  .github/workflows/eval-nightly.yml
Due: none

feat(brepjs-verify): decouple the judge model from the author (--judge-model)
  .github/workflows/eval-nightly.yml
  packages/brepjs-verify/bench/live.ts
  packages/brepjs-verify/bench/score.ts
Due: none

fix(brepjs-verify): score bounds by extent, not absolute placement
  packages/brepjs-verify/bench/score.ts
  packages/brepjs-verify/tests/liveEvalScore.test.ts
Due: none

fix(operations): revolve angle is radians; default to a full turn (2π)
  src/operations/api.ts
  src/operations/extrudeFns.ts
  tests/extrudeFns.test.ts
  tests/operations.test.ts
Due: eslint --fix, prettier --write

feat(brepjs-verify): add /eval-skill manual loop; drop the billed nightly Action
  .claude/commands/eval-skill.md
  .github/workflows/eval-nightly.yml
  packages/brepjs-verify/README.md
  packages/brepjs-verify/bench/live.ts
Due: prettier --write

feat(brepjs-verify): skill fixes from the eval (box-centering, hemisphere recipe, obround)
  .claude/skills/brepjs-verify/SKILL.md
  packages/brepjs-verify/skill/SKILL.md
  packages/brepjs-verify/skill/examples/dome-cap.brep.ts
  packages/brepjs-verify/skill/examples/dome-cap.expected.json
  packages/brepjs-verify/skill/references/sketching-2d.md
Due: prettier --write

feat(brepjs-verify): /eval-skill evals against the playground examples as the quality bar
  .claude/commands/eval-skill.md
Due: prettier --write

feat(brepjs-verify): skill fixes from the playground-quality eval (6 designed parts)
  .claude/skills/brepjs-verify/SKILL.md
  packages/brepjs-verify/skill/SKILL.md
  packages/brepjs-verify/skill/references/assemblies-motion.md
  packages/brepjs-verify/skill/references/booleans.md
  packages/brepjs-verify/skill/references/design-polish.md
  packages/brepjs-verify/skill/references/measurement-validation.md
Due: prettier --write

chore(brepjs-verify): symlink .claude/skills to the canonical skill (kill the stale duplicate)
  .claude/skills/brepjs-verify
  .claude/skills/brepjs-verify/SKILL.md
  .claude/skills/brepjs-verify/references/booleans.md
  .claude/skills/brepjs-verify/references/export.md
  .claude/skills/brepjs-verify/references/getting-started.md
  .claude/skills/brepjs-verify/references/measurement-validation.md
  .claude/skills/brepjs-verify/references/modifiers.md
  .claude/skills/brepjs-verify/references/primitives.md
  .claude/skills/brepjs-verify/references/sketching-2d.md
  .claude/skills/brepjs-verify/references/transforms.md
Due: prettier --write

fix(brepjs-verify): round-2 eval findings (measureVolume doc, dedupe points, flutes)
  llms-full.txt
  packages/brepjs-verify/skill/references/design-polish.md
  packages/brepjs-verify/skill/references/sketching-2d.md
Due: prettier --write

feat(landing): enlarge mobile hero, de-duplicate section eyebrows
  apps/docs/.vitepress/theme/components/Landing.vue
Due: none

docs(brepjs-verify): description = triggering conditions, not a workflow summary
  packages/brepjs-verify/skill/SKILL.md
Due: prettier --write

style(landing): use two-value padding shorthand for mobile hero
  apps/docs/.vitepress/theme/components/Landing.vue
Due: none

feat(brepjs-verify): push run-level eval scores to Langfuse (eval:push)
  .claude/commands/eval-skill.md
  packages/brepjs-verify/bench/langfuse.ts
  packages/brepjs-verify/bench/pushScorecard.ts
  packages/brepjs-verify/bench/score.ts
  packages/brepjs-verify/package.json
  packages/brepjs-verify/tests/liveEvalScore.test.ts
Due: prettier --write

feat(brepjs-verify): sync playground corpus to a Langfuse dataset (eval:dataset:sync)
  packages/brepjs-verify/bench/syncDataset.ts
  packages/brepjs-verify/package.json
Due: none

fix(brepjs-verify): route dataset sync via client.api.* (langfuse v5 flat aliases are unbound)
  packages/brepjs-verify/bench/syncDataset.ts
Due: none

feat(brepjs-verify): record each eval run as a langfuse dataset experiment (eval:push)
  packages/brepjs-verify/bench/langfuse.ts
  packages/brepjs-verify/bench/pushScorecard.ts
  packages/brepjs-verify/bench/score.ts
  packages/brepjs-verify/tests/liveEvalScore.test.ts
Due: none

docs(eval-skill): document the dataset experiment + Langfuse env bridge in the push step
  .claude/commands/eval-skill.md
Due: prettier --write

feat(brepjs-verify): on-demand CI eval against the playground corpus (workflow_dispatch)
  .github/workflows/eval-on-demand.yml
  packages/brepjs-verify/bench/live.ts
  packages/brepjs-verify/bench/playgroundCorpus.ts
  packages/brepjs-verify/bench/prompts.ts
Due: none

feat(brepjs-verify): trace MCP run_program executions to Langfuse (optional, lazy)
  packages/brepjs-verify/src/mcp/telemetry.ts
  packages/brepjs-verify/src/mcp/tools.ts
  packages/brepjs-verify/vite.config.ts
Due: prettier --write

fix(brepjs-verify): drop await on sync startActiveObservation (await-thenable)
  packages/brepjs-verify/bench/langfuse.ts
  packages/brepjs-verify/src/mcp/telemetry.ts
Due: none
