Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix(tech-debt): thread kernel error cause through Result.Err builders
  src/2d/lib/makeCurves.ts
  src/io/importFns.ts
  src/io/ioUtils.ts
  src/topology/cast.ts
  src/topology/curveBuilders.ts
  src/topology/surfaceBuilders.ts
Due: eslint --fix, prettier --write

ci(tech-debt): baseline liftCurve2dToPlane long-function from #1588
  .pattern-baseline.json
Due: none

refactor(tech-debt): keep entityToEdge return type as unknown (review)
  src/io/dxfImportFns.ts
Due: eslint --fix, prettier --write

refactor(tech-debt): hoist duplicated 2D arc builders into geometry2d
  src/kernel/brepkit/kernel2dOps.ts
  src/kernel/geometry2d.ts
  src/kernel/occt/kernel2dOps.ts
Due: eslint --fix, prettier --write

refactor(tech-debt): type occtWasm 2D curve casts as Curve2dObj
  src/kernel/occtWasm/kernel2dOps.ts
Due: eslint --fix, prettier --write

test(tech-debt): assert tangent-arc geometry, not internal delegation (review)
  tests/brepkitAdapter.test.ts
Due: eslint --fix, prettier --write

chore(tech-debt): regenerate stale function-lookup.md + gate it in CI
  .github/workflows/ci.yml
Due: none

ci(tech-debt): prettier-normalize function-lookup before the staleness diff
  .github/workflows/ci.yml
Due: none

docs(tech-debt): correct misleading 'WASM array indices' comments in geometry2d
  src/kernel/geometry2d.ts
Due: eslint --fix, prettier --write

test(shaperef): un-skip shapeRef tests for brepkit faithful evolution
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

chore(deps): bump brepkit-wasm to 2.116.0 for faithful shape-evolution
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

test(kernel): cover brepkit fillet/revolve divergences (#967, #968)
  tests/helpers/kernelDivergences.ts
  tests/kernelDivergenceCoverage.test.ts
Due: eslint --fix, prettier --write

test(kernel): gate fillet/revolve coverage on manifold mesh kernel
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

chore(deps): bump brepkit-wasm to 2.116.1, un-skip fixed divergences
  docs/kernel-conformance.md
  package-lock.json
  package.json
  src/kernel/brepkit/brepkitWasmTypes.ts
  tests/helpers/kernelDivergences.ts
  tests/kernelDivergenceCoverage.test.ts
Due: eslint --fix, prettier --write

feat(csg): add opt-in LRU eviction to the evaluator cache
  src/csg/evaluate.ts
  tests/csg/cacheEviction.test.ts
  tests/csg/csgEvaluator.test.ts
Due: eslint --fix, prettier --write

fix(csg): skip cache eviction on the error path
  src/csg/evaluate.ts
  tests/csg/cacheEviction.test.ts
Due: eslint --fix, prettier --write

fix(csg): make bounded eviction transactional and reentrancy-safe
  src/csg/evaluate.ts
  tests/csg/cacheEviction.test.ts
Due: eslint --fix, prettier --write

fix(csg): protect the returned root from eviction under onStep reentrancy
  src/csg/evaluate.ts
  tests/csg/cacheEviction.test.ts
Due: eslint --fix, prettier --write

refactor(csg): make bounded eviction non-reentrant and transactional
  .size-limit.json
  src/csg/evaluate.ts
  tests/csg/cacheEviction.test.ts
Due: eslint --fix, prettier --write

chore(size): raise total-JS budget to 340 kB for the perf pass
  .size-limit.json
Due: none

chore(size): add per-entry budgets for untracked public exports
  .size-limit.json
Due: none

test(benchmarks): compare gridPattern vs hand-rolled array fuse
  benchmarks/gridPattern.bench.test.ts
Due: none

test(benchmarks): dispose shapes per iteration in gridPattern bench
  benchmarks/gridPattern.bench.test.ts
Due: none

feat(operations): transform-only instancing layer
  src/index.ts
  src/operations/instanceFns.ts
  tests/instanceFns.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(operations): address review on the instancing layer
  src/operations/instanceFns.ts
  tests/instanceFns.test.ts
Due: eslint --fix, prettier --write

fix(operations): keep the result-aliased copy in materialize fuse
  src/operations/instanceFns.ts
  tests/instanceFns.test.ts
Due: eslint --fix, prettier --write

feat(viewer): instanced-mesh render path for instanced shapes
  packages/brepjs-viewer/src/geometry.ts
  packages/brepjs-viewer/src/index.ts
  packages/brepjs-viewer/tests/geometry.test.ts
Due: none

fix(viewer): instance-aware bounds + viewer-mode parity for buildInstancedMesh
  packages/brepjs-viewer/src/geometry.ts
  packages/brepjs-viewer/tests/geometry.test.ts
Due: none

feat(csg): add an Instance node to the CSG IR
  src/csg/builders.ts
  src/csg/edit.ts
  src/csg/evaluate.ts
  src/csg/evaluators/instance.ts
  src/csg/index.ts
  src/csg/optimize.ts
  src/csg/serialize.ts
  src/csg/types.ts
  tests/csg/csgInstance.test.ts
Due: eslint --fix, prettier --write

fix(csg): harden the Instance node per review
  src/csg/builders.ts
  src/csg/serialize.ts
  src/csg/types.ts
  tests/csg/csgInstance.test.ts
Due: eslint --fix, prettier --write

feat(worker): add worker pool with least-loaded dispatch
  docs/function-lookup.md
  src/index.ts
  src/worker/index.ts
  src/worker/workerPool.ts
  tests/public-api-types.test.ts
  tests/workerPool.test.ts
Due: eslint --fix, prettier --write

fix(worker): make pool dispose idempotent
  src/worker/workerPool.ts
  tests/workerPool.test.ts
Due: eslint --fix, prettier --write

fix(worker): dispose the pool when init partially fails
  src/worker/workerPool.ts
  tests/workerPool.test.ts
Due: eslint --fix, prettier --write

feat(meshing): add N-level scale-relative LOD meshing
  apps/docs/advanced/performance.md
  src/index.ts
  src/topology/meshFns.ts
  src/topology/threeHelpers.ts
  tests/meshLODs.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(meshing): harden LOD ordering and distance validation
  src/topology/meshFns.ts
  src/topology/threeHelpers.ts
  tests/meshLODs.test.ts
Due: eslint --fix, prettier --write

feat(worker): add batched-op message API
  src/index.ts
  src/worker/index.ts
  src/worker/protocol.ts
  src/worker/workerClient.ts
  src/worker/workerHandler.ts
  tests/public-api-types.test.ts
  tests/workerBatch.test.ts
Due: eslint --fix, prettier --write

docs: regenerate function-lookup for the isBatchRequest export
  docs/function-lookup.md
Due: prettier --write

fix(worker): validate batch response shape in executeBatch
  src/worker/workerClient.ts
  tests/workerBatch.test.ts
Due: eslint --fix, prettier --write

fix(worker): snapshot batch length before the async response
  src/worker/workerClient.ts
  tests/workerBatch.test.ts
Due: eslint --fix, prettier --write

feat(meshing): add progressive (async) LOD refine
  apps/docs/advanced/performance.md
  src/index.ts
  src/topology/meshFns.ts
  tests/meshLODsProgressive.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write
