Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(brepjs-verify): address three deferred eval follow-ups
  packages/brepjs-verify/bench/langfuse.ts
  packages/brepjs-verify/bench/live.ts
  packages/brepjs-verify/bench/pushScorecard.ts
  packages/brepjs-verify/bench/score.ts
  packages/brepjs-verify/tests/liveEvalScore.test.ts
Due: none

fix(brepjs-verify): add SKILL.md import rule (self-heal first-try TYPECHECK failures)
  packages/brepjs-verify/skill/SKILL.md
Due: prettier --write

feat(brepjs-verify): push request + authored code on experiment traces (for Langfuse evaluators)
  packages/brepjs-verify/bench/langfuse.ts
  packages/brepjs-verify/bench/loop.ts
  packages/brepjs-verify/bench/score.ts
Due: none

test(brepjs-verify): cover EvalResult prompt/code + symmetric guards (Greptile 4/5)
  packages/brepjs-verify/bench/loop.ts
  packages/brepjs-verify/tests/liveEvalLoop.test.ts
Due: none

feat(brepjs-verify): fan out the eval across sharded CI runners (map-reduce)
  .github/workflows/eval-on-demand.yml
  packages/brepjs-verify/bench/combineShards.ts
  packages/brepjs-verify/bench/live.ts
  packages/brepjs-verify/bench/score.ts
  packages/brepjs-verify/package.json
  packages/brepjs-verify/tests/liveEvalScore.test.ts
Due: none

fix(brepjs-verify): guard combine dataset push by corpus + error on bad --shard (Greptile 4/5)
  packages/brepjs-verify/bench/combineShards.ts
  packages/brepjs-verify/bench/live.ts
  packages/brepjs-verify/bench/score.ts
  packages/brepjs-verify/tests/liveEvalScore.test.ts
Due: none

fix(brepjs-verify): de-risk chamfer + map TS2322 to unwrap in SKILL.md (self-heal)
  packages/brepjs-verify/skill/SKILL.md
Due: prettier --write

docs(brepjs-verify): caveat the chamfered-block example entry (Greptile)
  packages/brepjs-verify/skill/SKILL.md
Due: prettier --write

feat(playground): add measuring-cup, pegboard-shelf, rugged-case examples
  apps/playground/public/example-thumbs/measuring-cup.webp
  apps/playground/public/example-thumbs/pegboard-shelf.webp
  apps/playground/public/example-thumbs/rugged-case.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

fix(brepjs-verify): heal 3 eval-surfaced SKILL.md gaps (bounds, finders, materials)
  llms-full.txt
  llms.txt
  packages/brepjs-verify/skill/SKILL.md
  packages/brepjs-verify/skill/references/booleans.md
  packages/brepjs-verify/skill/references/measurement-validation.md
Due: prettier --write

docs(brepjs-verify): drop stale llms-full cross-reference (Greptile)
  packages/brepjs-verify/skill/SKILL.md
Due: prettier --write

chore(commands): add /heal-skill — autonomous skill self-heal loop
  .claude/commands/heal-skill.md
Due: prettier --write

docs(commands): clarify step-8 reference + scope sandbox-disable (Greptile)
  .claude/commands/heal-skill.md
Due: prettier --write

fix(playground): correct pegboard honeycomb wall thickness
  apps/playground/public/example-thumbs/pegboard-shelf.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

feat(brepjs-verify): blind LLM-as-judge for the eval design signal
  .claude/commands/eval-skill.md
  .claude/commands/heal-skill.md
  packages/brepjs-verify/bench/blind-judge.md
Due: prettier --write

docs(brepjs-verify): tighten blind-judge protocol (Greptile)
  packages/brepjs-verify/bench/blind-judge.md
Due: prettier --write

docs(brepjs-verify): close 3 blind-judge protocol gaps (Greptile r2)
  .claude/commands/eval-skill.md
  .claude/commands/heal-skill.md
  packages/brepjs-verify/bench/blind-judge.md
Due: prettier --write

docs(brepjs-verify): define per-label panel aggregation (Greptile r3)
  packages/brepjs-verify/bench/blind-judge.md
Due: prettier --write

docs(brepjs-verify): one A/B map for the whole panel (Greptile r4)
  packages/brepjs-verify/bench/blind-judge.md
Due: prettier --write

revert(playground): drop measuring-cup, pegboard-shelf, rugged-case examples (#1508)
  apps/playground/public/example-thumbs/measuring-cup.webp
  apps/playground/public/example-thumbs/pegboard-shelf.webp
  apps/playground/public/example-thumbs/rugged-case.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

fix(brepjs-verify): heal sketch-extrude→modifier ValidSolid type gap
  packages/brepjs-verify/skill/SKILL.md
  packages/brepjs-verify/skill/references/modifiers.md
Due: prettier --write

fix(brepjs-verify): heal polygon().extrude() gap — point to drawPolysides
  packages/brepjs-verify/skill/references/sketching-2d.md
Due: prettier --write

fix(brepjs-verify): heal pen .fillet/.chamfer gap — name customCorner
  llms-full.txt
  llms.txt
  packages/brepjs-verify/skill/references/sketching-2d.md
Due: prettier --write

feat(brepjs-cad): rename CLI to brep + expect-code/snapshot/fresh-render (phase C)
  -
  .claude/commands/eval-skill.md
  .claude/commands/heal-skill.md
  .github/workflows/ci.yml
  .github/workflows/eval-on-demand.yml
  .github/workflows/publish-brepjs-cad.yml
  .github/workflows/release-please.yml
  package-lock.json
  packages/brepjs-cad/bench/combineShards.ts
  packages/brepjs-cad/bench/live.ts
  packages/brepjs-cad/bench/pushScorecard.ts
  packages/brepjs-cad/bench/syncDataset.ts
  packages/brepjs-cad/package.json
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/cli/scaffold.ts
  packages/brepjs-cad/src/mcp/server.ts
  packages/brepjs-cad/src/snapshot/registry.ts
  packages/brepjs-cad/src/verify/brepjsRuntime.ts
  release-please-config.json
Due: prettier --write

feat(brepjs-cad): add worker agents + /brepjs:cad orchestrator (phase D)
  packages/brepjs-cad/agents/brepjs-implementer.md
  packages/brepjs-cad/agents/brepjs-polisher.md
  packages/brepjs-cad/agents/brepjs-verifier.md
  packages/brepjs-cad/agents/skill-reviewer.md
  packages/brepjs-cad/commands/cad.md
Due: prettier --write

feat(brepjs-cad): parametrize heal by target + verify precision/recall harness (phase E)
  .claude/commands/eval-skill.md
  .claude/commands/heal-skill.md
  .gitignore
  packages/brepjs-cad/bench/blind-judge-polish.md
  packages/brepjs-cad/bench/mutate.ts
  packages/brepjs-cad/bench/specFixtures.ts
  packages/brepjs-cad/bench/verifyEval.ts
  packages/brepjs-cad/package.json
Due: prettier --write

fix(brepjs-vscode): point at renamed brep CLI / brepjs-cad package (phase F)
  benchmarks/results/latest.md
  packages/brepjs-vscode/package.json
  packages/brepjs-vscode/src/cli.ts
Due: prettier --write

fix(brepjs-cad): heal EXTRUDE_ZERO_VECTOR hint gap found by verify-heal cycle
  packages/brepjs-cad/bench/mutate.ts
  packages/brepjs-cad/src/verify/report.ts
  packages/brepjs-cad/tests/report.test.ts
Due: none

feat(playground): add planetary gear reducer example
  apps/playground/public/example-thumbs/planetary-gear-reducer.turntable.webp
  apps/playground/public/example-thumbs/planetary-gear-reducer.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

docs(brepjs-cad): finish brep/brepjs-cad rename across docs + vercel/smoke fixups
  .claude/commands/heal-skill.md
  .github/workflows/ci.yml
  .github/workflows/eval-on-demand.yml
  CLAUDE.md
  README.md
  apps/docs/.vitepress/theme/components/Landing.vue
  apps/docs/agent/cli.md
  apps/docs/agent/eval.md
  apps/docs/agent/examples.md
  apps/docs/agent/overview.md
  apps/docs/agent/the-loop.md
  apps/docs/compare/brepjs-vs-replicad.md
  apps/playground/src/types/brepjs-ambient.d.ts
  branding/type-specimen.html
  knip.config.ts
  llms-full.txt
  llms.txt
  packages/brepjs-cad/README.md
  packages/brepjs-cad/bench/langfuse.ts
  packages/brepjs-cad/bench/run.ts
  packages/brepjs-cad/bench/score.ts
  packages/brepjs-cad/scripts/copyReference.mjs
  packages/brepjs-cad/scripts/smokeStandalone.mjs
  packages/brepjs-cad/skills/implement/references/getting-started.md
  packages/brepjs-cad/skills/implement/references/measurement-validation.md
  packages/brepjs-cad/skills/polish/references/export.md
  packages/brepjs-cad/skills/verify/SKILL.md
  packages/brepjs-cad/src/loader/brepjsResolve.mjs
  packages/brepjs-cad/src/mcp/server.ts
  packages/brepjs-cad/src/verify/brepjsRuntime.ts
  packages/brepjs-cad/src/verify/report.ts
  packages/brepjs-cad/viewer/src/loaders.ts
  packages/brepjs-vscode/src/types.ts
  scripts/gen-reddit-banner.mjs
  src/io/gltfExportFns.ts
  vercel.json
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: drop files accidentally swept in by git add -A
  -
  branding/fonts/.gitignore
  branding/reddit/banner-desktop.png
  branding/reddit/banner-mobile.png
  branding/reddit/part/part-teal-preview.png
  branding/reddit/part/part-teal.png
  branding/reddit/part/pipe-tee.brep.ts
  branding/reddit/part/pipe-tee.step
  branding/reddit/part/processPart.mjs
  branding/reddit/part/render.mjs
  branding/reddit/part/report.json
  branding/reddit/part/shots-clean/iso.png
  branding/reddit/part/shots/front.png
  branding/reddit/part/shots/iso.png
  branding/reddit/part/shots/right.png
  branding/reddit/part/shots/top.png
  branding/type-specimen.html
  scripts/gen-reddit-banner.mjs
Due: none

feat(brepjs-cad): batch verify glob + review-pass fixes
  .claude/commands/eval-skill.md
  packages/brepjs-cad/README.md
  packages/brepjs-cad/bench/mutate.ts
  packages/brepjs-cad/bench/verifyEval.ts
  packages/brepjs-cad/skills/verify/SKILL.md
  packages/brepjs-cad/src/cli/main.ts
Due: prettier --write

fix(topology): generated boolean faces inherit parent origin
  src/topology/metadata/originTrackingFns.ts
  tests/metadataPropagation.test.ts
Due: eslint --fix, prettier --write

test(topology): guard generated-seam origin with untagged-body fuse
  tests/metadataPropagation.test.ts
Due: eslint --fix, prettier --write

fix(playground): correct planetary gear involute flanks + add root fillets
  apps/playground/public/example-thumbs/planetary-gear-reducer.turntable.webp
  apps/playground/public/example-thumbs/planetary-gear-reducer.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

fix(brepjs-verify): correct spur-gear example flanks + add root fillet
  packages/brepjs-verify/skill/examples/spur-gear.brep.ts
  packages/brepjs-verify/skill/examples/spur-gear.expected.json
  packages/brepjs-verify/skill/references/gears.md
Due: prettier --write

chore(brepjs-cad): scrub stale brepjs-verify references
  packages/brepjs-cad/bench/live.ts
  packages/brepjs-cad/package.json
  packages/brepjs-cad/src/snapshot/registry.ts
  packages/brepjs-cad/src/snapshot/static.ts
  packages/brepjs-cad/tests/cli.test.ts
  packages/brepjs-cad/tests/exportPart.test.ts
  packages/brepjs-cad/tests/runProgram.test.ts
  packages/brepjs-cad/tests/scaffold.test.ts
  packages/brepjs-cad/tests/snapshot/static.test.ts
  packages/brepjs-cad/vite.config.ts
Due: prettier --write

fix(playground): scale planetary lightening holes with module + planetCount
  apps/playground/public/example-thumbs/planetary-gear-reducer.turntable.webp
  apps/playground/public/example-thumbs/planetary-gear-reducer.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
