Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix(booleans): address Greptile review on PR #1040
  src/topology/booleanBatchFns.ts
  tests/booleanBatchFns.test.ts
Due: eslint --fix, prettier --write

fix(csg): address Greptile on PR #1039
  benchmarks/csg.bench.test.ts
  tests/csg/csgPerf.test.ts
Due: eslint --fix, prettier --write

fix(deps): bump nested mermaid → dompurify 3.4.2 to 3.4.5
  package-lock.json
Due: none

fix(deps): bump brace-expansion 5.0.4 to 5.0.6
  package-lock.json
Due: none

chore(deps): drop dead minimatch override
  package.json
Due: none

docs(csg): add concepts, walkthrough, caching, and migration pages
  apps/docs/.vitepress/config.ts
  apps/docs/advanced/csg-caching.md
  apps/docs/concepts/csg-ir.md
  apps/docs/migration/manual-csg-cache.md
  apps/docs/tasks/parametric-csg.md
  src/csg/evaluate.ts
Due: eslint --fix, prettier --write

docs(csg): clarify that entries is a live snapshot, not running total
  apps/docs/advanced/csg-caching.md
Due: prettier --write

chore: harden supply chain against npm + actions attacks
  .github/dependabot.yml
  .github/workflows/osv-scan.yml
  .npmrc
  SECURITY.md
Due: prettier --write

fix: drop min-release-age from .npmrc
  .npmrc
  SECURITY.md
Due: prettier --write

fix: address Greptile findings
  .github/dependabot.yml
  .github/workflows/osv-scan.yml
Due: none

fix: tighten osv-scan.yml + dependabot.yml comments
  .github/dependabot.yml
  .github/workflows/osv-scan.yml
Due: none

fix(dependabot): semver-major-days not supported for github-actions
  .github/dependabot.yml
Due: none

fix(deps): sync lockfile with missing @emnapi/* transitive deps
  package-lock.json
Due: none

fix(deps): bump root @types/three to 0.184.1 to match workspaces
  package-lock.json
Due: none

docs(topology): refresh README + CLAUDE.md to match functional API
  CLAUDE.md
  src/topology/README.md
Due: prettier --write

refactor(topology): consolidate trust casts and decompose Wrapped3D factory
  .pattern-baseline.json
  src/topology/wrapperFns.ts
Due: eslint --fix, prettier --write

docs(topology): correct metadata filenames in module map
  src/topology/README.md
Due: prettier --write

refactor(operations): flatten solveAssembly mate-to-constraint loop
  src/operations/mateFns.ts
Due: eslint --fix, prettier --write

refactor(brepkit): extract face-resolution helpers from shell()
  src/kernel/brepkit/modifierOps.ts
Due: eslint --fix, prettier --write

refactor(topology): inline trustAsWrappedT to remove loose type bound
  src/topology/wrapperFns.ts
Due: eslint --fix, prettier --write

chore: regenerate pattern baseline after refactors
  .pattern-baseline.json
Due: none

refactor(brepkit): flatten iterShapes via dispatch + extract sew loop body
  src/kernel/brepkit/topologyOps.ts
Due: eslint --fix, prettier --write

refactor(brepkit): extract helpers from matchFacesGeometrically and flatten booleanWithHistoryImpl
  src/kernel/brepkit/evolutionOps.ts
Due: eslint --fix, prettier --write

refactor(brepkit): decompose sweepPipeShell into transition + per-segment helpers
  src/kernel/brepkit/sweepOps.ts
Due: eslint --fix, prettier --write

chore: regenerate pattern baseline after brepkit wave 2 refactors
  .pattern-baseline.json
Due: none

fix(brepkit): restore try/catch fallback in resolveContactModeEdge
  src/kernel/brepkit/sweepOps.ts
Due: eslint --fix, prettier --write

fix(security): patch dompurify/esbuild/brace-expansion and harden eval worker
  apps/playground/src/workers/cad.worker.ts
  package-lock.json
  package.json
Due: none

fix(brepkit): warn on resolveContactModeEdge fallback for consistency
  src/kernel/brepkit/sweepOps.ts
Due: eslint --fix, prettier --write

fix: sync lockfile and restore defensive JSON.stringify in worker
  apps/playground/src/workers/cad.worker.ts
  package-lock.json
Due: none

fix: restore platform-optional lockfile entries dropped by local install
  package-lock.json
Due: none

fix: bump all 25 vitepress @esbuild/* platform binaries to 0.25.10
  package-lock.json
Due: none

refactor(io): decompose 3mf builders into per-zip-entry and per-section helpers
  src/io/threemfExportFns.ts
Due: eslint --fix, prettier --write

refactor(occt): extract helpers from surfaceCurvature and exportSTEPConfigured
  src/kernel/occt/advancedOps.ts
Due: eslint --fix, prettier --write

refactor(topology): extract argument normalization from fillet and draft
  src/topology/modifierFns.ts
Due: eslint --fix, prettier --write

refactor(io): decompose gltf builder functions into per-section helpers
  src/io/gltfExportFns.ts
Due: eslint --fix, prettier --write

chore: regenerate pattern baseline after wave 3 refactors
  .pattern-baseline.json
Due: none

fix(io): derive gltf accessor / bufferView indices instead of hardcoding
  src/io/gltfExportFns.ts
Due: eslint --fix, prettier --write

feat(bim): scaffold packages/brepjs-bim workspace package
  package-lock.json
  package.json
  packages/brepjs-bim/eslint.config.js
  packages/brepjs-bim/package.json
  packages/brepjs-bim/src/index.ts
  packages/brepjs-bim/tests/setup.ts
  packages/brepjs-bim/tsconfig.json
  packages/brepjs-bim/vite.config.ts
  packages/brepjs-bim/vitest.config.ts
  vitest.config.ts
Due: prettier --write

fix(bim): harden brepjs-bim package config (execArgv, devDeps, bundle zod)
  package-lock.json
  packages/brepjs-bim/package.json
  packages/brepjs-bim/vite.config.ts
  packages/brepjs-bim/vitest.config.ts
Due: prettier --write
