Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(sketching): revert sweepSketch xDir sign that broke lip geometry
  src/sketching/sketch.ts
  tests/gridfinity-smoke.test.ts
  tests/helpers/kernelDivergences.ts
  tests/sweepSketchOrientation.test.ts
Due: eslint --fix, prettier --write

fix(sketching): revert sweepSketch xDir sign to restore outward convention (#753)
  src/sketching/sketch.ts
  tests/gridfinity-smoke.test.ts
  tests/helpers/kernelDivergences.ts
  tests/sweepSketchOrientation.test.ts
Due: eslint --fix, prettier --write

fix(test): dispose ephemeral Sketch to prevent WASM memory leak
  tests/gridfinity-smoke.test.ts
Due: eslint --fix, prettier --write

fix(site): restore broken demos and hero viewer (#761)
  package-lock.json
  site/package.json
  site/scripts/precompute-hero-mesh.ts
  site/src/types/brepjs-ambient.d.ts
  vercel.json
Due: none

chore(site): merge main into fix/761-demos-dont-work
  .github/workflows/publish-opencascade.yml
  package-lock.json
  package.json
  site/package.json
Due: none

fix(site): unbreak Monaco type checking in playground (#761 follow-up)
  site/src/lib/monacoSetup.ts
Due: none

fix: replace exact float equality with tolerance-based checks in geometry code
  src/core/vecOps.ts
  src/io/svgImportFns.ts
  src/operations/roofFns.ts
  src/operations/sweepFns.ts
  src/sketching/sketcherlib.ts
  src/topology/modifierFns.ts
Due: eslint --fix, prettier --write

docs: regenerate function lookup
  docs/function-lookup.md
Due: prettier --write

fix(sketching): remove redundant Math.abs() on already-positive radii
  src/sketching/sketcherlib.ts
Due: eslint --fix, prettier --write

fix: improve error handling across operations and queries
  .pattern-baseline.json
  src/operations/extrudeUtils.ts
  src/operations/loftFns.ts
  src/operations/roofFns.ts
  src/operations/sweepFns.ts
  src/query/shapeFinders.ts
  src/topology/modifierFns.ts
Due: eslint --fix, prettier --write

fix(operations): use consistent 1e-10 threshold in buildLawFromProfile
  src/operations/extrudeUtils.ts
Due: eslint --fix, prettier --write

fix(operations): clarify error message for extrusion length threshold
  src/operations/extrudeUtils.ts
Due: eslint --fix, prettier --write

fix(operations): fix geometry bugs in sweep and loft pipeline
  .pattern-baseline.json
  src/kernel/occt/advancedOps.ts
  src/kernel/occt/sweepOps.ts
  src/operations/loftFns.ts
  src/operations/sweepFns.ts
Due: eslint --fix, prettier --write

fix(operations): fix pocket/boss positioning, extrude validation, and revolve error handling
  src/operations/compoundOpsFns.ts
  src/operations/extrudeFns.ts
  tests/compoundOps.test.ts
  tests/compoundOpsFns.test.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

chore(deps): sync lockfile for emnapi 1.10.0 transitive deps
  package-lock.json
Due: none

docs(kernel): refresh conformance matrix
  docs/kernel-conformance.md
Due: prettier --write

fix(kernel): apply direction rotation in occt-wasm makeCone/makeTorus
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/kernel-ops.test.ts
Due: eslint --fix, prettier --write

feat(kernel): implement exportSTEP{Assembly,Configured} on occt-wasm
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

fix(kernel): dispose XCAF document handle in occt-wasm STEP exports
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

feat(kernel): implement exportOBJ on occt-wasm
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/meshFns.test.ts
Due: eslint --fix, prettier --write

feat(kernel): add face-group markers and assertion guard for OBJ export
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/meshFns.test.ts
Due: eslint --fix, prettier --write

feat(kernel): implement exportPLY on occt-wasm
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/meshFns.test.ts
Due: eslint --fix, prettier --write

feat(kernel): implement exportGLB on occt-wasm
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/meshFns.test.ts
Due: eslint --fix, prettier --write

fix(kernel): bind GLB NORMAL accessor count to actual normal count
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

chore(kernel): align occt-wasm mesh-format throws with OCCT default adapter
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

feat(kernel): implement createPoint2d/Direction2d/Vector2d on occt-wasm
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/curve2dFns.test.ts
Due: eslint --fix, prettier --write

chore(kernel): replace iterShapeList stub with informative throw on occt-wasm
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

fix(kernel): real per-face evolution in occt-wasm applyComposedTransformWithHistory
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/transformCopy.test.ts
Due: eslint --fix, prettier --write

chore(kernel): replace helicalSweep stub with informative throw on occt-wasm
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/sweepFns.test.ts
Due: eslint --fix, prettier --write

chore(kernel): remove leaky STEP-helper methods from KernelIOOps
  src/kernel/README.md
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/brepkit/ioOps.ts
  src/kernel/interfaces/ioOps.ts
  src/kernel/occt/defaultAdapter.ts
  src/kernel/occt/exportOps.ts
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

chore(deps): regenerate package-lock.json with npm 11.11.0
  package-lock.json
Due: none

fix(kernel): real witness points, principal directions, surface centroid in occt-wasm
  src/kernel/occtWasm/occtWasmAdapter.ts
  tests/measureFns.test.ts
Due: eslint --fix, prettier --write

chore: bump total size limit from 235 kB to 240 kB
  .size-limit.json
Due: none

fix(kernel): address PR review on occt-wasm measurement quality
  src/kernel/occtWasm/occtWasmAdapter.ts
Due: eslint --fix, prettier --write

chore: clean up redundant type assertions flagged by typescript-eslint 8.59.0
  .pattern-baseline.json
  src/core/shapeTypes.ts
  src/kernel/brepkit/kernel2dOps.ts
  src/kernel/occt/kernel2dOps.ts
  src/kernel/occt/meshOps.ts
  src/operations/compoundOpsFns.ts
  src/operations/historyFns.ts
  src/operations/patternFns.ts
  src/query/helpers.ts
  src/sketching/sketch.ts
  src/topology/api.ts
  src/topology/booleanFns.ts
  src/topology/chamferAngleFns.ts
  src/topology/hullFns.ts
  src/topology/wrapperFns.ts
Due: eslint --fix, prettier --write

chore: prettier format after eslint --fix in #809
  src/query/helpers.ts
  src/topology/wrapperFns.ts
Due: eslint --fix, prettier --write

feat(site): match gridfinity bin-designer 3D preview look-and-feel
  site/src/components/playground/EdgeRenderer.tsx
  site/src/components/playground/ShapeRenderer.tsx
  site/src/components/playground/ViewerPanel.tsx
  site/src/components/shared/GradientBackground.tsx
  site/src/components/shared/SceneLighting.tsx
  site/src/components/shared/SceneSetup.tsx
  site/src/hooks/useTouchDevice.ts
Due: none

fix(deps): add missing @emnapi optional peer entries
  package-lock.json
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
