Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

chore(2d): export createCurve2DHandle from brepjs/2d
  src/2d.ts
Due: eslint --fix, prettier --write

fix: use CURVE2D_QUERY_FAILED for projectPointOnCurve2d
  src/2d/curve2dGeometryFns.ts
Due: eslint --fix, prettier --write

docs: add API ergonomics quick wins design spec
  docs/superpowers/specs/2026-03-21-api-ergonomics-design.md
Due: prettier --write

feat(errors): add actionable suggestions to high-frequency error codes
  src/core/errors.ts
  src/core/kernelCall.ts
  src/core/kernelErrorTranslation.ts
Due: eslint --fix, prettier --write

feat(result)!: migrate clone/simplify/toBREP to Result<T>
  site/src/lib/constants.ts
  src/measurement/measureFns.ts
  src/operations/historyFns.ts
  src/topology/api.ts
  src/topology/shapeFns.ts
  src/topology/wrapperFns.ts
  tests/api.test.ts
  tests/boolean.test.ts
  tests/cast.test.ts
  tests/gridfinity-smoke.test.ts
  tests/import-export.test.ts
  tests/shapeFns.test.ts
  tests/topology.test.ts
  tests/transformCopy.test.ts
Due: eslint --fix, prettier --write

feat(api): add namespace re-exports for grouped discoverability
  docs/function-lookup.md
  scripts/check-layer-boundaries.sh
  src/index.ts
  src/ns/booleans.ts
  src/ns/construction.ts
  src/ns/ioNs.ts
  src/ns/measurement.ts
  src/ns/modifiers.ts
  src/ns/patterns.ts
  src/ns/primitives.ts
  src/ns/query.ts
  src/ns/transforms.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix: wrap centerOfMass calls in kernelCallRaw for Result contract
  src/core/errors.ts
  src/measurement/measureFns.ts
Due: eslint --fix, prettier --write

refactor(brepkit): wire extracted adapter modules, dedup helpers
  knip.config.ts
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/brepkit/evolutionOps.ts
  src/kernel/index.ts
Due: eslint --fix, prettier --write

fix: remove unused _unwrap import from brepkitAdapter
  src/kernel/brepkit/brepkitAdapter.ts
Due: eslint --fix, prettier --write

refactor: remove unused imports, extract resolveUniformAngle helper
  src/kernel/brepkit/brepkitAdapter.ts
Due: eslint --fix, prettier --write

chore: bump total size limit to 215 kB for adapter modularization
  .size-limit.json
Due: none

feat(shapeRef): add parametric face reference system
  package.json
  src/index.ts
  src/shapeRef.ts
  src/topology/shapeRef/index.ts
  src/topology/shapeRef/scoring.ts
  src/topology/shapeRef/shapeRefFns.ts
  src/topology/shapeRef/shapeRefTypes.ts
  tests/public-api-types.test.ts
  tests/shapeRef.test.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix: remove unused heuristic confidence, filter ambiguous candidates
  src/topology/shapeRef/shapeRefFns.ts
  src/topology/shapeRef/shapeRefTypes.ts
Due: eslint --fix, prettier --write

fix: cache scorer results, document split-face and box-role limitations
  src/topology/shapeRef/shapeRefFns.ts
Due: eslint --fix, prettier --write

test(shapeRef): add WithHistory integration tests
  tests/shapeRefIntegration.test.ts
Due: eslint --fix, prettier --write

fix: add updateRoles exact resolution test, strengthen assertions
  tests/shapeRefIntegration.test.ts
Due: eslint --fix, prettier --write

fix(build): bump max package files to 600 for shapeRef module
  scripts/validate-pack.sh
Due: none

fix(build): use static import for BrepkitAdapter
  src/kernel/index.ts
Due: eslint --fix, prettier --write

feat(kernel): add operation-level performance instrumentation
  src/index.ts
  src/kernel/index.ts
  src/kernel/occt/booleanOps.ts
  src/kernel/occt/meshOps.ts
  src/kernel/occt/modifierOps.ts
  src/kernel/occt/sweepOps.ts
  src/kernel/occt/transformOps.ts
  src/kernel/perfStats.ts
  tests/perfStats.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(kernel): wire up BooleanBatch C++ extractor for fuseAll/cutAll
  src/kernel/index.ts
  src/kernel/occt/booleanBatchOps.ts
  src/kernel/occt/booleanOps.ts
Due: eslint --fix, prettier --write

feat(kernel): add batch C++ extractors for loft, extrude, shell, fillet
  packages/brepjs-opencascade/build-source/defaults.yml
  src/kernel/index.ts
  src/kernel/interfaces/modifierOps.ts
  src/kernel/interfaces/sweepOps.ts
  src/kernel/occt/defaultAdapter.ts
  src/kernel/occt/modifierOps.ts
  src/kernel/occt/sweepOps.ts
Due: eslint --fix, prettier --write

feat: add loftAll() and extrudeAll() public batch APIs
  src/index.ts
  src/operations/extrudeFns.ts
  src/operations/loftFns.ts
  tests/batchExtractors.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

feat(kernel): add auto-fuzzy value for multi-shape boolean operations
  src/kernel/occt/booleanOps.ts
Due: eslint --fix, prettier --write

chore(opencascade): regenerate build-config with batch extractor classes
  packages/brepjs-opencascade/build-config/custom_build_single.yml
  packages/brepjs-opencascade/build-config/custom_build_threaded.yml
  packages/brepjs-opencascade/build-config/custom_build_with_exceptions.yml
  packages/brepjs-opencascade/build-source/defaults.yml
Due: none

fix(test): relax extrudeAll perf count for C++ batch path
  tests/batchExtractors.test.ts
Due: eslint --fix, prettier --write

fix(opencascade): switch to wasm-exceptions Docker image, fix draft binding
  .github/workflows/publish-opencascade.yml
  packages/brepjs-opencascade/package.json
  src/kernel/occt/historyOps.ts
  tests/brepkitExtended.test.ts
Due: eslint --fix, prettier --write

fix(ci): use ghcr.io registry for opencascade.js Docker image
  .github/workflows/publish-opencascade.yml
Due: none

fix(ci): add GHCR login step to pull private Docker image
  .github/workflows/publish-opencascade.yml
Due: none

fix(ci): use GHCR_TOKEN secret for private container registry
  .github/workflows/publish-opencascade.yml
Due: none

fix(ci): allow exceptions/threaded builds to fail (single is primary)
  .github/workflows/publish-opencascade.yml
Due: none

fix: address PR review feedback
  packages/brepjs-opencascade/build-config/custom_build_single.yml
  packages/brepjs-opencascade/build-config/custom_build_threaded.yml
  packages/brepjs-opencascade/build-config/custom_build_with_exceptions.yml
  packages/brepjs-opencascade/build-source/defaults.yml
  packages/brepjs-opencascade/src/brepjs_single.d.ts
  src/kernel/index.ts
  src/kernel/occt/booleanOps.ts
  src/kernel/occt/meshOps.ts
  src/kernel/occt/modifierOps.ts
  src/kernel/occt/sweepOps.ts
  src/kernel/occt/transformOps.ts
  src/operations/loftFns.ts
Due: eslint --fix, prettier --write

fix(ci): use npm OIDC publishing (no NPM_TOKEN needed)
  .github/workflows/publish-opencascade.yml
Due: none

chore(deps): support brepjs-opencascade ^0.11.0 peer dep
  package.json
Due: none

perf: add trackEvolution option to skip face history tracking
  .pattern-baseline.json
  src/kernel/types.ts
  src/topology/booleanFns.ts
  src/topology/modifierFns.ts
Due: eslint --fix, prettier --write

perf(ci): add wasm-opt -O4 step to WASM publish pipeline
  .github/workflows/publish-opencascade.yml
Due: none

fix(ci): remove broken threaded/exceptions WASM builds from pipeline
  .github/workflows/publish-opencascade.yml
Due: none

chore(deps): bump brepkit-wasm 2.26.0 → 2.33.0
  package-lock.json
  package.json
Due: none

feat: add sync-brepkit-types script, regenerate types for 2.33.0
  package.json
  scripts/sync-brepkit-types.ts
  src/kernel/brepkit/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

feat(sketch): fix sketchDof return type, add sketchAddArc support
  src/kernel/brepkit/brepkitAdapter.ts
  src/kernel/brepkit/sketchOps.ts
  src/kernel/types.ts
Due: eslint --fix, prettier --write
