Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

feat(kernel): route occt-wasm sweeps through sweepAdvanced
  docs/kernel-conformance.md
  package-lock.json
  package.json
  src/kernel/occtWasm/occtWasmTypes.ts
  src/kernel/occtWasm/sweepOps.ts
  tests/guidedSweepFns.test.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

fix(kernel): fall back when occt-wasm predates sweepAdvanced
  src/kernel/occtWasm/occtWasmTypes.ts
  src/kernel/occtWasm/sweepOps.ts
Due: eslint --fix, prettier --write

feat(kernel): route occt-wasm sweeps through sweepAdvanced (#1963)
  docs/kernel-conformance.md
  package-lock.json
  package.json
  src/kernel/occtWasm/occtWasmTypes.ts
  src/kernel/occtWasm/sweepOps.ts
  tests/guidedSweepFns.test.ts
  tests/helpers/kernelDivergences.ts
Due: eslint --fix, prettier --write

feat(kernel): route BooleanOptions.simplify through brepkit boolean WithOptions
  package-lock.json
  package.json
  src/kernel/brepkit/booleanOps.ts
  src/kernel/brepkit/brepkitWasmTypes.ts
  src/kernel/brepkit/helpers.ts
  tests/booleanSimplify.test.ts
  tests/brepkitAdapter.test.ts
Due: eslint --fix, prettier --write

refactor(kernel): drop hasBooleanOptions, superseded by hasIgnoredBooleanOptions
  src/kernel/brepkit/helpers.ts
Due: eslint --fix, prettier --write

feat(kernel): route BooleanOptions.simplify through brepkit boolean WithOptions (#1966)
  package-lock.json
  package.json
  src/kernel/brepkit/booleanOps.ts
  src/kernel/brepkit/brepkitWasmTypes.ts
  src/kernel/brepkit/helpers.ts
  tests/booleanSimplify.test.ts
  tests/brepkitAdapter.test.ts
Due: eslint --fix, prettier --write

chore(deps): bump nanoid past GHSA-2v37-7h3g-55p8
  package-lock.json
Due: none

ci(cla): stop the CLA action locking merged pull requests
  .github/workflows/cla.yml
Due: none

ci: unblock the OSV push scan and stop merged PRs being locked (#1967)
  .github/workflows/cla.yml
  package-lock.json
Due: none

feat(kernel): honour sweep law, support and budget on occt-wasm
  docs/kernel-conformance.md
  package-lock.json
  package.json
  src/kernel/occtWasm/occtWasmTypes.ts
  src/kernel/occtWasm/sweepOps.ts
  tests/helpers/kernelDivergences.ts
  tests/operations-extrude.test.ts
Due: eslint --fix, prettier --write

fix(kernel): name the budget options the legacy sweep tier drops
  src/kernel/occtWasm/sweepOps.ts
Due: eslint --fix, prettier --write

feat(kernel): honour sweep law, support and budget on occt-wasm (#1970)
  docs/kernel-conformance.md
  package-lock.json
  package.json
  src/kernel/occtWasm/occtWasmTypes.ts
  src/kernel/occtWasm/sweepOps.ts
  tests/helpers/kernelDivergences.ts
  tests/operations-extrude.test.ts
Due: eslint --fix, prettier --write

fix(manifold): sweep along the real spine and trim the extrusion law
  docs/kernel-conformance.md
  src/kernel/manifold/sweepOps.ts
  tests/helpers/kernelDivergences.ts
  tests/operations-extrude.test.ts
Due: eslint --fix, prettier --write

fix(manifold): sweep along the real spine and trim the extrusion law (#1974)
  docs/kernel-conformance.md
  src/kernel/manifold/sweepOps.ts
  tests/helpers/kernelDivergences.ts
  tests/operations-extrude.test.ts
Due: eslint --fix, prettier --write

feat(manifold): implement the 2D curve ops natively
  src/kernel/manifold/kernel2dNative.ts
Due: eslint --fix, prettier --write

fix(manifold): correct delegation, projection and overlap in the 2D ops
  src/kernel/manifold/kernel2dNative.ts
Due: eslint --fix, prettier --write

fix(manifold): derive projection resolution and state the accuracy limit
  src/kernel/manifold/kernel2dNative.ts
Due: eslint --fix, prettier --write

fix(manifold): report a fully coincident closed curve as a segment
  src/kernel/manifold/kernel2dNative.ts
Due: eslint --fix, prettier --write

fix(2d): keep a closed common segment instead of demoting it to a point
  src/2d/lib/intersections.ts
Due: eslint --fix, prettier --write

feat(manifold): implement the 2D curve ops natively (#1978)
  src/2d/lib/intersections.ts
  src/kernel/manifold/kernel2dNative.ts
Due: eslint --fix, prettier --write

fix(manifold): transform profile shapes by baking the matrix into their points
  src/kernel/manifold/transformOps.ts
Due: eslint --fix, prettier --write

test(manifold): register a B-rep kernel alongside manifold in the test gate
  tests/helpers/kernelInit.ts
Due: eslint --fix, prettier --write

fix(manifold): transform the profile curve descriptor, not just its points
  src/kernel/manifold/transformOps.ts
  tests/manifoldProfileTransform.test.ts
Due: eslint --fix, prettier --write

test(manifold): register a B-rep kernel alongside manifold in the test gate (#1983)
  tests/helpers/kernelInit.ts
Due: eslint --fix, prettier --write

fix(security): document GHSA-55q2-fjhq-7xh7 as unreachable via monaco
  osv-scanner.toml
Due: none

fix(security): document GHSA-55q2-fjhq-7xh7 as unreachable via monaco (#1984)
  osv-scanner.toml
Due: none

fix(manifold): make the descriptor-less profile fallback follow the samples
  src/kernel/manifold/measureOps.ts
  src/kernel/manifold/replay.ts
  tests/manifoldProfileTransform.test.ts
Due: eslint --fix, prettier --write

chore(deps-dev): bump size-limit and @size-limit/file to 13.0.1 together
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

fix(manifold): close replayed profile curves without relying on periodic
  src/kernel/manifold/replay.ts
  tests/manifoldProfileTransform.test.ts
Due: eslint --fix, prettier --write

chore(deps-dev): bump size-limit and @size-limit/file to 13.0.1 together (#1992)
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

fix(manifold): transform profile shapes by baking the matrix into their points (#1982)
  src/kernel/manifold/measureOps.ts
  src/kernel/manifold/replay.ts
  src/kernel/manifold/transformOps.ts
  tests/manifoldProfileTransform.test.ts
Due: eslint --fix, prettier --write

fix(brepkit): cutAll accepts a compound base so its output can be chained
  src/kernel/brepkit/booleanOps.ts
  tests/brepkitAdapter.test.ts
Due: eslint --fix, prettier --write

refactor(brepkit): pass the tool id array to compoundCut without a per-child copy
  src/kernel/brepkit/booleanOps.ts
Due: eslint --fix, prettier --write

fix(brepkit): cutAll accepts a compound base so its output can be chained (#1996)
  src/kernel/brepkit/booleanOps.ts
  tests/brepkitAdapter.test.ts
Due: eslint --fix, prettier --write

fix(playground): hoist @react-three/fiber so vercel builds resolve drei
  apps/playground/vite.config.ts
  package-lock.json
Due: prettier --write

fix(playground): hoist @react-three/fiber so vercel builds resolve drei (#1998)
  apps/playground/vite.config.ts
  package-lock.json
Due: prettier --write

fix(ci): deploy vercel from npm ci so production matches the tested tree
  .github/workflows/ci.yml
  vercel.json
Due: none

fix(ci): cover every build:site input in the site paths filter
  .github/workflows/ci.yml
Due: none

fix(ci): deploy vercel from npm ci so production matches the tested tree (#2001)
  .github/workflows/ci.yml
  vercel.json
Due: none

fix(ci): install the playground smoke runner with npm ci
  .github/workflows/playground-smoke.yml
Due: none
