Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(brepjs-cad): heal implement + polish skills from clean-room eval
  packages/brepjs-cad/skills/implement/SKILL.md
  packages/brepjs-cad/skills/implement/references/modifiers.md
  packages/brepjs-cad/skills/implement/references/sketching-2d.md
  packages/brepjs-cad/skills/polish/SKILL.md
  packages/brepjs-cad/skills/polish/references/design-polish.md
Due: prettier --write

fix(brepjs-cad): scope the obround degeneration rule to square slots
  packages/brepjs-cad/skills/implement/references/sketching-2d.md
Due: prettier --write

fix(brepjs-cad): correct spur-gear example flanks + add root fillet
  packages/brepjs-cad/skills/implement/examples/spur-gear.brep.ts
  packages/brepjs-cad/skills/implement/examples/spur-gear.expected.json
  packages/brepjs-cad/skills/implement/references/gears.md
Due: prettier --write

fix(brepjs-cad): heal implement skill — deep-stack bounds extremes aren't datums
  packages/brepjs-cad/skills/implement/SKILL.md
  packages/brepjs-cad/skills/implement/references/measurement-validation.md
Due: prettier --write

docs(brepjs-cad): harmonize "placed there" wording across implement skill docs
  packages/brepjs-cad/skills/implement/SKILL.md
Due: prettier --write

fix(brepjs-cad): make blind-judge reference adaptation render multi-body parts at scale
  packages/brepjs-cad/bench/adaptReference.ts
  packages/brepjs-cad/bench/blind-judge.md
  packages/brepjs-cad/tests/adaptReference.test.ts
Due: prettier --write

fix(brepjs-cad): end-anchor adaptReference default-export regex (Greptile P2)
  packages/brepjs-cad/bench/adaptReference.ts
  packages/brepjs-cad/tests/adaptReference.test.ts
Due: none

feat(brepjs-cad): deterministic body/interference metrics for the design judge (Phase 1)
  packages/brepjs-cad/bench/blind-judge.md
  packages/brepjs-cad/bench/judge.ts
  packages/brepjs-cad/bench/live.ts
  packages/brepjs-cad/bench/loop.ts
  packages/brepjs-cad/bench/metrics.ts
  packages/brepjs-cad/bench/score.ts
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/sandbox/runProgram.ts
  packages/brepjs-cad/src/verify/checks.ts
  packages/brepjs-cad/src/verify/manufacturability.ts
  packages/brepjs-cad/src/verify/report.ts
  packages/brepjs-cad/src/verify/runPart.ts
  packages/brepjs-cad/tests/manufacturability.test.ts
Due: prettier --write

feat(playground): add universal joint, Geneva drive, and bench vise examples
  apps/playground/public/example-thumbs/bench-vise.webp
  apps/playground/public/example-thumbs/geneva-drive.webp
  apps/playground/public/example-thumbs/universal-joint.webp
  apps/playground/src/lib/examples/mechanical.ts
Due: none

chore(playground): keep example diff additive (drop prettier churn)
  apps/playground/src/lib/examples/mechanical.ts
Due: none

fix(playground): correct disconnected/interpenetrating geometry in the new mechanisms
  apps/playground/public/example-thumbs/bench-vise.webp
  apps/playground/public/example-thumbs/geneva-drive.webp
  apps/playground/public/example-thumbs/universal-joint.webp
  apps/playground/src/lib/examples/mechanical.ts
  tests/helpers/playgroundExampleEval.ts
  tests/playgroundExamples.test.ts
Due: eslint --fix, prettier --write

fix(playground): disambiguate viewer mesh keys for repeated bodies
  apps/playground/src/components/playground/ViewerPanel.tsx
Due: none

build(playground): rebuild workspace deps before dev/build
  apps/playground/package.json
Due: none

feat(playground): add scotch yoke, worm gear, rack & pinion, and 3-jaw chuck examples
  apps/playground/public/example-thumbs/rack-and-pinion.webp
  apps/playground/public/example-thumbs/scotch-yoke.webp
  apps/playground/public/example-thumbs/three-jaw-chuck.webp
  apps/playground/public/example-thumbs/worm-gear-drive.webp
  apps/playground/src/lib/examples/mechanical.ts
  tests/playgroundExamples.test.ts
Due: eslint --fix, prettier --write

chore(playground): drop unused RATIO const in worm-gear-drive
  apps/playground/src/lib/examples/mechanical.ts
Due: none

fix(playground): serve favicons in dev and fix manifest icon paths
  apps/playground/public/site.webmanifest
  apps/playground/vite.config.ts
Due: prettier --write

fix(playground): don't serve site.webmanifest at root in dev
  apps/playground/vite.config.ts
Due: prettier --write

feat(brepjs-cad): decomposed, cross-checked design-judge rubric (Phase 1.5)
  packages/brepjs-cad/bench/blind-judge.md
  packages/brepjs-cad/bench/judge.ts
  packages/brepjs-cad/bench/live.ts
  packages/brepjs-cad/tests/manufacturability.test.ts
Due: prettier --write

feat(brepjs-cad): xray internal-reveal shot for the design judge (Phase 2a)
  packages/brepjs-cad/bench/blind-judge.md
  packages/brepjs-cad/bench/judge.ts
  packages/brepjs-cad/src/snapshot/shoot.ts
  packages/brepjs-cad/viewer/main.tsx
  packages/brepjs-cad/viewer/src/screenshotApi.ts
  packages/brepjs-cad/viewer/tests/screenshotApi.test.ts
Due: prettier --write

fix(playground): make worm-gear-drive and three-jaw-chuck functional mechanisms
  apps/playground/public/example-thumbs/three-jaw-chuck.webp
  apps/playground/public/example-thumbs/worm-gear-drive.webp
  apps/playground/src/lib/examples/mechanical.ts
  tests/playgroundExamples.test.ts
Due: eslint --fix, prettier --write

feat(brepjs-cad): reliable internal-bore detection for the design judge (keystone)
  packages/brepjs-cad/bench/judge.ts
  packages/brepjs-cad/bench/metrics.ts
  packages/brepjs-cad/src/verify/manufacturability.ts
  packages/brepjs-cad/src/verify/report.ts
  packages/brepjs-cad/tests/manufacturability.test.ts
Due: none

fix(brepjs-cad): bore-specific radius in digest + derive count from bores[] (Greptile)
  packages/brepjs-cad/bench/metrics.ts
  packages/brepjs-cad/src/verify/manufacturability.ts
  packages/brepjs-cad/src/verify/report.ts
  packages/brepjs-cad/tests/manufacturability.test.ts
Due: none

feat(brepjs-cad): aimed section cut for the design judge (Phase 3)
  packages/brepjs-cad/bench/blind-judge.md
  packages/brepjs-cad/bench/judge.ts
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/snapshot/aiming.ts
  packages/brepjs-cad/src/snapshot/shoot.ts
  packages/brepjs-cad/tests/aiming.test.ts
  packages/brepjs-cad/viewer/main.tsx
  packages/brepjs-cad/viewer/src/screenshotApi.ts
Due: prettier --write

fix(brepjs-cad): keep iso section view (Greptile) — flat-on shows the closed far half
  packages/brepjs-cad/src/snapshot/shoot.ts
Due: none

fix(brepjs-cad): teach worm-wheel and rack tooth recipes; fix gear-build contradiction
  packages/brepjs-cad/skills/implement/references/gears.md
Due: prettier --write

docs(brepjs-cad): clarify rack mesh translation is in radians (Greptile P2)
  packages/brepjs-cad/skills/implement/references/gears.md
Due: prettier --write

docs(playground): fix inaccurate "T-slot" wording and PA/FLANK duplication (Greptile P2)
  apps/playground/src/lib/examples/mechanical.ts
Due: none

feat(brepjs-cad): kernel-anchored Set-of-Marks for the design judge
  packages/brepjs-cad/bench/blind-judge.md
  packages/brepjs-cad/bench/judge.ts
  packages/brepjs-cad/src/cli/main.ts
  packages/brepjs-cad/src/snapshot/aiming.ts
  packages/brepjs-cad/src/snapshot/shoot.ts
  packages/brepjs-cad/tests/aiming.test.ts
  packages/brepjs-cad/viewer/main.tsx
  packages/brepjs-cad/viewer/src/screenshotApi.ts
Due: prettier --write

fix(brepjs-cad): index-align body marks to the facts digest (Greptile)
  packages/brepjs-cad/bench/judge.ts
  packages/brepjs-cad/src/snapshot/aiming.ts
  packages/brepjs-cad/tests/aiming.test.ts
Due: none

fix(brepjs-cad): handle brepjs/playground refs + summarize body relations in the digest
  packages/brepjs-cad/bench/adaptReference.ts
  packages/brepjs-cad/bench/metrics.ts
  packages/brepjs-cad/tests/adaptReference.test.ts
  packages/brepjs-cad/tests/manufacturability.test.ts
Due: none

fix(brepjs-cad): close gear-teeth edge cases found by /eval-skill (ring, worm tip relief, GT2)
  packages/brepjs-cad/skills/implement/references/booleans.md
  packages/brepjs-cad/skills/implement/references/gears.md
Due: prettier --write

docs(brepjs-cad): fix 'negative backlash' misnomer + planet/ring motion spec (Greptile)
  packages/brepjs-cad/skills/implement/references/gears.md
Due: prettier --write

fix(brepjs-cad): code + hint the degenerate-edge (duplicate-vertex) verify failure
  packages/brepjs-cad/bench/mutate.ts
  packages/brepjs-cad/src/verify/report.ts
  packages/brepjs-cad/src/verify/runPart.ts
  packages/brepjs-cad/tests/report.test.ts
Due: none

fix(brepjs-cad): address Greptile — drop dead doc-link, unverified regex branch, untested classifier
  packages/brepjs-cad/src/verify/report.ts
  packages/brepjs-cad/src/verify/runPart.ts
  packages/brepjs-cad/tests/report.test.ts
Due: none

fix(brepjs-cad): heal implement skill from the eval flywheel (3 findings)
  packages/brepjs-cad/skills/implement/SKILL.md
  packages/brepjs-cad/skills/implement/references/booleans.md
Due: prettier --write

fix(brepjs-cad): polish skill — bosses on shells must fuse, or they float (eval finding)
  packages/brepjs-cad/skills/polish/references/design-polish.md
Due: prettier --write

fix(brepjs-cad): heal implement skill from the full-corpus eval flywheel (4 findings)
  packages/brepjs-cad/skills/implement/SKILL.md
  packages/brepjs-cad/skills/implement/references/gears.md
  packages/brepjs-cad/skills/implement/references/modifiers.md
Due: prettier --write

feat(brepjs-cad): surface fragmentation in verify --check (the #1 design defect)
  packages/brepjs-cad/skills/implement/SKILL.md
  packages/brepjs-cad/src/verify/checks.ts
  packages/brepjs-cad/src/verify/report.ts
  packages/brepjs-cad/tests/checks.test.ts
Due: prettier --write

fix(eval-skill): rebuild the snapshot viewer when stale, and from the right package
  .claude/commands/eval-skill.md
  .claude/commands/heal-skill.md
Due: prettier --write

fix(brepjs-cad): add the "realize the designed object" bar to the implement skill
  packages/brepjs-cad/skills/implement/SKILL.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
