Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: update llms-full.txt, sub-path barrels, and method counts for v11
  docs/codebase-map.md
  docs/concepts.md
  docs/function-lookup.md
  docs/kernel-swap.md
  llms-full.txt
  llms.txt
  src/core.ts
  src/kernel/README.md
  src/topology.ts
Due: eslint --fix, prettier --write

docs: fix stale return type comment in getting-started.md
  docs/getting-started.md
Due: prettier --write

fix: improve docs-examples test coverage and brepkit compat
  tests/docs-examples.test.ts
Due: eslint --fix, prettier --write

docs: fix PR review comments from Greptile
  docs/cheat-sheet.md
  docs/concepts.md
  docs/getting-started.md
  llms-full.txt
  llms.txt
  src/operations/README.md
Due: prettier --write

docs: add ADR-0006 domain boundaries between brepjs and brepkit
  docs/decisions/0002-kernel-abstraction.md
  docs/decisions/0006-domain-boundaries.md
Due: prettier --write

docs(adr-0006): fix projection description per review feedback
  docs/decisions/0006-domain-boundaries.md
Due: prettier --write

docs(adr-0006): acknowledge existing Kernel2D infrastructure in phase 1
  docs/decisions/0006-domain-boundaries.md
Due: prettier --write

docs: clarify brepkit is an external npm package, not built-in
  CLAUDE.md
  docs/architecture.md
  docs/kernel-swap.md
  llms-full.txt
  llms.txt
  src/kernel/README.md
Due: prettier --write

perf: add V8 CPU profile for Blueprint boolean operations
  .gitignore
  benchmarks/profile-blueprint-booleans.ts
  benchmarks/results/blueprint-boolean-profile.md
Due: prettier --write

refactor: extract 2D vector math to src/utils/vec2d.ts (Layer 0)
  src/2d/lib/definitions.ts
  src/2d/lib/precision.ts
  src/2d/lib/vectorOperations.ts
  src/kernel/brepkit2d.ts
  src/utils/vec2d.ts
Due: eslint --fix, prettier --write

fix: remove unused _normalize2dBase import
  src/2d/lib/vectorOperations.ts
  src/utils/vec2d.ts
Due: eslint --fix, prettier --write

feat(errors): add UNSUPPORTED error kind and unsupportedError constructor
  src/core.ts
  src/core/errors.ts
  src/core/kernelCall.ts
  src/index.ts
  tests/errors.test.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(review): address Greptile feedback on UNSUPPORTED error pattern
  src/core/kernelCall.ts
  tests/errors.test.ts
Due: eslint --fix, prettier --write

refactor(mesh): extract per-face mesh logic into _meshFace helper
  src/kernel/meshOps.ts
Due: eslint --fix, prettier --write

docs(projection): add ADR-0006 citation to cameraFns.ts
  src/projection/cameraFns.ts
Due: eslint --fix, prettier --write

docs(adr): update ADR-0006 status to Accepted with v11 progress
  docs/decisions/0006-domain-boundaries.md
Due: prettier --write

feat!: remove JS mesh fallback, require C++ MeshExtractor
  src/kernel/README.md
  src/kernel/index.ts
  src/kernel/meshOps.ts
Due: eslint --fix, prettier --write

docs(adr): mark ADR-0006 Phase 2 as complete
  docs/decisions/0006-domain-boundaries.md
Due: prettier --write

docs: complete Phase 1 and Phase 3 boundary audit (ADR-0006)
  docs/decisions/0006-domain-boundaries.md
  src/io/objImportFns.ts
  src/io/svgImportFns.ts
  src/operations/roofFns.ts
  src/query/edgeFinder.ts
  src/query/faceFinder.ts
Due: eslint --fix, prettier --write

feat: phase 4 capability audit with behavioral diff matrix and parity tests (ADR-0006)
  docs/decisions/0006-domain-boundaries.md
  tests/kernel-agreement.test.ts
Due: eslint --fix, prettier --write

feat(kernel): add one-time warnings for brepkit silent degradations (ADR-0006)
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

fix(kernel): address greptile review on degradation warnings
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

fix(kernel): warn on cross-kernel BREP format incompatibility (ADR-0006)
  src/kernel/brepkitAdapter.ts
  src/kernel/types.ts
Due: eslint --fix, prettier --write

fix(kernel): remove isValid volume fallback, add strictness JSDoc (ADR-0006)
  src/kernel/brepkitAdapter.ts
  src/kernel/types.ts
Due: eslint --fix, prettier --write

fix(kernel): drop interpolated error count from isValid warnOnce
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

fix: honor caller-provided tolerances in brepkit adapter
  src/kernel/brepkitAdapter.ts
  src/kernel/types.ts
Due: eslint --fix, prettier --write

chore: relicense from Apache-2.0 to AGPL-3.0-only
  LICENSE
  README.md
  package.json
  site/src/components/landing/LandingPage.tsx
Due: prettier --write

chore: add copyright notice to LICENSE
  LICENSE
Due: none

chore: update author name to Andy Aragon
  package.json
  packages/brepjs-opencascade/package.json
Due: none

chore(kernel): upgrade brepkit-wasm from 0.7.3 to 0.10.1
  docs/decisions/0006-domain-boundaries.md
  eslint.config.js
  package-lock.json
  package.json
  src/core/shapeTypes.ts
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
  src/kernel/types.ts
  tests/brepkit-validation.test.ts
Due: eslint --fix, prettier --write

chore(kernel): add Array.from() conversion note for Float64Array WASM returns
  src/kernel/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

fix(kernel): declare brepkit-wasm as optional peer dependency
  package.json
Due: none

fix(kernel): export BrepkitAdapter from main entry point
  src/index.ts
  tests/public-api-types.test.ts
Due: eslint --fix, prettier --write

fix(kernel): consolidate BrepkitHandle type export
  src/index.ts
Due: eslint --fix, prettier --write

perf(kernel): batch tessellation via tessellateSolidGrouped
  src/kernel/brepkitAdapter.ts
  tests/brepkitAdapter.test.ts
Due: eslint --fix, prettier --write

fix(kernel): address review — log fallback, guard faceOffsets/faceIds mismatch
  src/kernel/brepkitAdapter.ts
  tests/brepkitAdapter.test.ts
Due: eslint --fix, prettier --write

perf(kernel): pass compound operands directly to brepkit-wasm booleans
  src/kernel/brepkitAdapter.ts
  src/kernel/brepkitWasmTypes.ts
Due: eslint --fix, prettier --write

chore: bump size-limit to 160 kB
  .size-limit.json
Due: none

fix(kernel): avoid wasteful Float32Array allocation in meshSolidGrouped
  src/kernel/brepkitAdapter.ts
Due: eslint --fix, prettier --write

fix: update brepkit-wasm peer dep range to include v1.0.0
  package.json
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.ts) or (any of: tests/**/*.ts)
  prettier --write: (((any of: src/**/*.ts) or (any of: tests/**/*.ts)) or (any of: *.config.ts)) or (any of: *.md)
