Repository andymai/brepjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts": ["eslint --fix", "prettier --write"],
  "tests/**/*.ts": ["eslint --fix", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "*.md": ["prettier --write"]
}

fix(brepjs-cad): load .ts parts via native type-stripping
  .github/workflows/ci.yml
  package-lock.json
  packages/brepjs-cad/package.json
  packages/brepjs-cad/src/verify/runPart.ts
Due: none

test(brepjs-cad): harden TS-load guard + smoke assertion
  packages/brepjs-cad/package.json
  packages/brepjs-cad/src/verify/runPart.ts
Due: none

ci(brepjs-cad): build root + viewer prerequisites before publish
  .github/workflows/publish-brepjs-cad.yml
Due: none

ci(brepjs-cad): retry WASM restore in publish workflow
  .github/workflows/publish-brepjs-cad.yml
Due: none

feat(brepjs-verify): bundle engine + prefer-local resolve hook
  package-lock.json
  packages/brepjs-verify/eslint.config.js
  packages/brepjs-verify/package.json
  packages/brepjs-verify/src/cli/exportPart.ts
  packages/brepjs-verify/src/loader/brepjsResolve.mjs
  packages/brepjs-verify/src/verify/brepjsRuntime.ts
  packages/brepjs-verify/src/verify/checks.ts
  packages/brepjs-verify/src/verify/diff.ts
  packages/brepjs-verify/src/verify/measure.ts
  packages/brepjs-verify/src/verify/runPart.ts
  packages/brepjs-verify/tests/checks.test.ts
  packages/brepjs-verify/vite.config.ts
Due: prettier --write

feat(brepjs-verify): add --check typecheck pre-pass + expected-dim assertions
  packages/brepjs-verify/bench/run.ts
  packages/brepjs-verify/package.json
  packages/brepjs-verify/src/cli/main.ts
  packages/brepjs-verify/src/index.ts
  packages/brepjs-verify/src/verify/brepjsRuntime.ts
  packages/brepjs-verify/src/verify/expected.ts
  packages/brepjs-verify/src/verify/report.ts
  packages/brepjs-verify/src/verify/runPart.ts
  packages/brepjs-verify/src/verify/typecheck.ts
  packages/brepjs-verify/tests/check.test.ts
  packages/brepjs-verify/tests/expected.test.ts
  packages/brepjs-verify/tests/fixtures/expectedPass.brep.ts
  packages/brepjs-verify/tests/fixtures/expectedWrong.brep.ts
  packages/brepjs-verify/tests/fixtures/typeWrong.brep.ts
  packages/brepjs-verify/vite.config.ts
Due: prettier --write

test(brepjs-verify): clean-room standalone-install regression guard
  .github/workflows/ci.yml
  packages/brepjs-verify/package.json
  packages/brepjs-verify/scripts/smokeStandalone.mjs
Due: none

fix(brepjs-verify): explicit sole occt-wasm init + drop stray brepjs-cad refs
  packages/brepjs-verify/bench/run.ts
  packages/brepjs-verify/src/snapshot/registry.ts
  packages/brepjs-verify/src/snapshot/static.ts
  packages/brepjs-verify/src/verify/brepjsRuntime.ts
  packages/brepjs-verify/src/verify/report.ts
  packages/brepjs-verify/src/verify/runPart.ts
  packages/brepjs-verify/tests/cli.test.ts
  packages/brepjs-verify/tests/exportPart.test.ts
  packages/brepjs-verify/tests/scaffold.test.ts
  packages/brepjs-verify/tests/snapshot/static.test.ts
Due: none

test(brepjs-verify): dispose live shape in --check passing test
  packages/brepjs-verify/tests/check.test.ts
Due: none

docs(brepjs-verify): rewrite skill around the verify loop
  .claude/skills/brepjs-verify/SKILL.md
  packages/brepjs-verify/skill/SKILL.md
Due: prettier --write

docs(brepjs-verify): consistent CLI invocation + document errorInfos
  .claude/skills/brepjs-verify/SKILL.md
  packages/brepjs-verify/skill/SKILL.md
Due: prettier --write

docs(brepjs-verify): show expected as a valid value literal
  .claude/skills/brepjs-verify/SKILL.md
  packages/brepjs-verify/skill/SKILL.md
Due: prettier --write

docs(brepjs-verify): prefix every loop command with npx -y brepjs-verify
  .claude/skills/brepjs-verify/SKILL.md
  packages/brepjs-verify/skill/SKILL.md
Due: prettier --write

feat(brepjs-verify): live text-to-cad eval flywheel
  package-lock.json
  packages/brepjs-verify/README.md
  packages/brepjs-verify/bench/judge.ts
  packages/brepjs-verify/bench/live.ts
  packages/brepjs-verify/bench/prompts.ts
  packages/brepjs-verify/bench/score.ts
  packages/brepjs-verify/package.json
  packages/brepjs-verify/tests/liveEvalScore.test.ts
Due: prettier --write

fix(brepjs-verify): stream + time-bound the live-eval model calls
  packages/brepjs-verify/bench/judge.ts
  packages/brepjs-verify/bench/live.ts
Due: none

fix(brepjs-verify): isolate judge failures from the auto result
  packages/brepjs-verify/bench/live.ts
Due: none

docs(brepjs-verify): add comprehensive plugin + CLI instructions
  README.md
  apps/docs/.vitepress/config.ts
  apps/docs/agent/cli.md
  apps/docs/agent/eval.md
  apps/docs/agent/examples.md
  apps/docs/agent/overview.md
  apps/docs/agent/the-loop.md
  llms-full.txt
  llms.txt
Due: prettier --write

fix(brepjs-verify): correct fillet/chamfer arg order in no-edges hints
  packages/brepjs-verify/src/verify/report.ts
Due: none

feat(brepjs-verify): eval-driven skill, hint, and reference improvements
  .gitignore
  llms-full.txt
  llms.txt
  packages/brepjs-verify/README.md
  packages/brepjs-verify/package.json
  packages/brepjs-verify/scripts/copyReference.mjs
  packages/brepjs-verify/skill/SKILL.md
  packages/brepjs-verify/skill/examples/revolved-pulley.brep.ts
  packages/brepjs-verify/skill/references/modifiers.md
  packages/brepjs-verify/skill/references/sketching-2d.md
  packages/brepjs-verify/src/verify/expected.ts
  packages/brepjs-verify/src/verify/report.ts
  packages/brepjs-verify/src/verify/runPart.ts
  packages/brepjs-verify/tests/expected.test.ts
  packages/brepjs-verify/tests/fixtures/filletFailed.brep.ts
  packages/brepjs-verify/tests/runPart.test.ts
Due: prettier --write

feat(brepjs-verify): rounds 4-6 — async parts, --check Node types, unit/volume guidance
  packages/brepjs-verify/package.json
  packages/brepjs-verify/skill/SKILL.md
  packages/brepjs-verify/src/verify/typecheck.ts
  packages/brepjs-verify/tests/fixtures/nodeBuiltins.brep.ts
  packages/brepjs-verify/tests/typecheck.test.ts
Due: prettier --write

feat(brepjs-verify): rounds 7-8 — loud expected-shape errors + validity-type audit fix
  llms-full.txt
  llms.txt
  packages/brepjs-verify/skill/SKILL.md
  packages/brepjs-verify/skill/references/export.md
  packages/brepjs-verify/src/verify/expected.ts
  packages/brepjs-verify/src/verify/report.ts
  packages/brepjs-verify/src/verify/runPart.ts
  packages/brepjs-verify/tests/expected.test.ts
  packages/brepjs-verify/tests/fixtures/expectedUnknownKeys.brep.ts
Due: prettier --write

fix(brepjs-verify): address Greptile review (P2s)
  packages/brepjs-verify/scripts/copyReference.mjs
  packages/brepjs-verify/src/verify/runPart.ts
  packages/brepjs-verify/tests/runPart.test.ts
Due: none

fix(manifold): native shapeType + occt-family resolution
  src/kernel/manifold/meshHandle.ts
  src/kernel/manifold/topologyOps.ts
Due: eslint --fix, prettier --write

refactor(manifold): hoist topologyOps helpers to module scope
  src/kernel/manifold/topologyOps.ts
Due: eslint --fix, prettier --write

fix(manifold): route 2D-op delegation through resolveOcct (occt-family)
  src/kernel/manifold/kernel2dOps.ts
Due: eslint --fix, prettier --write

feat(manifold): native 2D curve algebra (line/arc/conic/bezier + affine + lift)
  src/kernel/manifold/kernel2dNative.ts
Due: eslint --fix, prettier --write

fix(manifold): orientPositive — flip inverted extrude/loft solids (geometry debug)
  src/kernel/manifold/approximations.ts
  src/kernel/manifold/sweepOps.ts
Due: eslint --fix, prettier --write

fix(manifold): exactOptionalPropertyTypes for CrossSection.holes
  src/kernel/manifold/approximations.ts
Due: eslint --fix, prettier --write

feat(manifold): discretize OCCT wires in makeFace/makeWire (M2.2)
  src/kernel/manifold/profileOps.ts
  src/kernel/manifold/sweepOps.ts
  tests/parity/roundedRectRepro.test.ts
Due: eslint --fix, prettier --write

feat(manifold): face-query support via replay — unblocks faceFinder (shell/scoops)
  src/kernel/manifold/geometryOps.ts
  src/kernel/manifold/helpers.ts
  src/kernel/manifold/measureOps.ts
  src/kernel/manifold/modifierOps.ts
  src/kernel/manifold/replay.ts
  src/kernel/manifold/sweepOps.ts
  src/kernel/manifold/topologyOps.ts
Due: eslint --fix, prettier --write

feat(manifold): hybrid native/OCCT 2D dispatch + tangent-arc fix + oracle
  src/kernel/manifold/kernel2dNative.ts
  src/kernel/manifold/kernel2dOps.ts
  tests/parity/native2d.test.ts
Due: eslint --fix, prettier --write

feat(manifold): record outline+frame on profileWire (loft) + coarser preview sampling (M3)
  src/kernel/manifold/profileOps.ts
Due: eslint --fix, prettier --write

feat(manifold): native planar-profile builders (M1: line/arc/circle → extrude)
  src/kernel/manifold/builderOps.ts
  src/kernel/manifold/geometryOps.ts
  src/kernel/manifold/profileOps.ts
  tests/parity/profileExtrude.test.ts
Due: eslint --fix, prettier --write

feat(manifold): faces-with-holes for native extrude (M2.1)
  src/kernel/manifold/approximations.ts
  src/kernel/manifold/builderOps.ts
  src/kernel/manifold/profileOps.ts
  src/kernel/manifold/sweepOps.ts
  tests/parity/profileExtrude.test.ts
Due: eslint --fix, prettier --write

fix(manifold): loft handles mismatched section vertex counts
  src/kernel/manifold/approximations.ts
  src/kernel/manifold/sweepOps.ts
Due: eslint --fix, prettier --write

style(manifold): lint cleanup for native 2D (drop redundant casts/generic)
  src/kernel/manifold/kernel2dNative.ts
  src/kernel/manifold/kernel2dOps.ts
Due: eslint --fix, prettier --write

feat(manifold): native face extraction — faceFinder without OCCT replay (Gap 2)
  src/kernel/manifold/geometryOps.ts
  src/kernel/manifold/measureOps.ts
  src/kernel/manifold/nativeFaces.ts
  src/kernel/manifold/topologyOps.ts
  tests/parity/nativeFaces.test.ts
Due: eslint --fix, prettier --write

fix(manifold): preserve this-binding in 2D delegate + distance-parametrize native lines
  src/kernel/manifold/kernel2dNative.ts
Due: eslint --fix, prettier --write

feat(manifold): native edge + vertex extraction — edgeFinder without OCCT replay
  src/kernel/manifold/geometryOps.ts
  src/kernel/manifold/measureOps.ts
  src/kernel/manifold/nativeEdges.ts
  src/kernel/manifold/topologyOps.ts
  tests/parity/nativeEdges.test.ts
  tests/sketchOnPlaneArcs.test.ts
Due: eslint --fix, prettier --write
